<div class="container error_page">
	<!-- <div class="template-page__header">
		<h1 class="template-page__title text-small">Page not found</h1>
	</div> -->
	<div class="template-404__container">
		<div class="template-404__column template-404__column--image" style="background-image: url(../assets/error_img.jpg)">
			 
		</div>
		<div class="template-404__column template-404__column--content">
			<div class="section">
				<div class="text-block align-center">
					<p class="text">
						이용에 불편을 드려 대단히 죄송합니다.<br> 현재 일시적인 장애로 인해 정상적인 화면이 호출되지 않고 있습니다. <br>인터넷 창을 다시 띄우시거나, 잠시 후 다시 접속하여 주시기 바랍니다. <br><br>서비스 이용에 불편을 드려 죄송합니다. <br>자세한 문의는 고객센터로 연락해 주세요. <br>1800-2765 / <a href="mailto:shop@toteme-studio.com"> shop@toteme-studio.com</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>