<div class="container mypage checkout">
	<div class="template-account__header">
		안녕하세요, 이현대님
	</div>
	<div class="template-account__wrapper">
		 <div class="template-account__left"></div>
		 <div class="template-account__content">
			<div class="template-account__text_hdtype_1 alert title" style="display: none;">
				<div class="rte">
					<p class="error">받는 사람을 입력해 주세요.</p>
				</div>
			</div>
			<div class="template-mypage__form-wrapper cash-receipts">
				<div class="button-block auth-join-button loading-wrap">
					<input class="button button--primary button--block button--large m-font-14 modal_trigger" type="button" value="팝업열기" data-modal="size-guide-modal">
				 </div>
			</div>
					 
		 </div>
	</div>

</div>
<div class="modal modal--light size-guide size-guide-modal size-guide-denim4" role="dialog" tabindex="-1">
	<div class="modal__overlay" tabindex="-1">
		<div class="modal__card">
			<div class="modal__header">
				<h5 class="modal__title size-guide__title">사이즈 가이드 : Barrel leg 데님</h5>
				<div class="size-guide__unit-toggle-container">
					<button class="size-guide__unit-toggle text-xsmall" data-unit="in">
						inches
					</button> <span class="size-guide__unit-separator text-xsmall">/</span> <button class="size-guide__unit-toggle text-xsmall is-active" data-unit="cm">
						cm
					</button>
				</div> 
				<button class="modal__close">
					<span class="visually-hidden">
						Close
					</span> <svg class="icon icon--large icon__close" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M23 12c0-6.075-4.925-11-11-11S1 5.925 1 12s4.925 11 11 11 11-4.925 11-11zM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12zm6.593-2.7l.707-.707 2.7 2.7 2.7-2.7.707.707-2.7 2.7 2.7 2.7-.707.707-2.7-2.7-2.7 2.7-.707-.707 2.7-2.7-2.7-2.7z"></path>
					</svg> </button>
			</div>
			<div class="size-guide__body modal__body">
				<div class="size-guide__table-container text-xsmall" data-show-unit="cm">
					<div class="table-wrapper">
						<table>
							<tbody>
								<tr>
									<td width="80">사이즈</td>
									<td width="69">23</td>
									<td width="69">24</td>
									<td width="69">25</td>
									<td width="69">26</td>
									<td width="69">27</td>
									<td width="69">28</td>
									<td width="69">29</td>
									<td width="69">30</td>
									<td width="77">31</td>
									<td width="69">32</td>
								</tr>
								<tr>
									<td>허리</td>
									<td>
										<span class="in">23,6</span>
										<span class="cm">60</span>
									</td>
									<td>
										<span class="in">24,6</span>
										<span class="cm">62,5</span>
									</td>
									<td>
										<span class="in">25,6</span>
										<span class="cm">65</span>
									</td>
									<td>
										<span class="in">26,6</span>
										<span class="cm">67,5</span>
									</td>
									<td>
										<span class="in">27,6</span>
										<span class="cm">70</span>
									</td>
									<td>
										<span class="in">28,5</span>
										<span class="cm">72,5</span>
									</td>
									<td>
										<span class="in">29,5</span>
										<span class="cm">75</span>
									</td>
									<td>
										<span class="in">30,5</span>
										<span class="cm">77,5</span>
									</td>
									<td>
										<span class="in">31,5</span>
										<span class="cm">80</span>
									</td>
									<td>
										<span class="in">32,5</span>
										<span class="cm">82,5</span>
									</td>
								</tr>
								<tr>
									<td>엉덩이</td>
									<td>
										<span class="in">32,1</span>
										<span class="cm">81,5</span>
									</td>
									<td>
										<span class="in">33,1</span>
										<span class="cm">84</span>
									</td>
									<td>
										<span class="in">34,1</span>
										<span class="cm">86,5</span>
									</td>
									<td>
										<span class="in">35,0</span>
										<span class="cm">89</span>
									</td>
									<td>
										<span class="in">36,0</span>
										<span class="cm">91,5</span>
									</td>
									<td>
										<span class="in">37,0</span>
										<span class="cm">94</span>
									</td>
									<td>
										<span class="in">38,0</span>
										<span class="cm">96,5</span>
									</td>
									<td>
										<span class="in">39,0</span>
										<span class="cm">99</span>
									</td>
									<td>
										<span class="in">40,0</span>
										<span class="cm">101,5</span>
									</td>
									<td>
										<span class="in">40,9</span>
										<span class="cm">104</span>
									</td>
								</tr>
								<tr>
									<td>허벅지</td>
									<td>
										<span class="in">20,3</span>
										<span class="cm">51,5</span>
									</td>
									<td>
										<span class="in">20,9</span>
										<span class="cm">53</span>
									</td>
									<td>
										<span class="in">21,5</span>
										<span class="cm">54,5</span>
									</td>
									<td>
										<span class="in">22,0</span>
										<span class="cm">56</span>
									</td>
									<td>
										<span class="in">22,6</span>
										<span class="cm">57,5</span>
									</td>
									<td>
										<span class="in">23,2</span>
										<span class="cm">59</span>
									</td>
									<td>
										<span class="in">23,8</span>
										<span class="cm">60,5</span>
									</td>
									<td>
										<span class="in">24,4</span>
										<span class="cm">62</span>
									</td>
									<td>
										<span class="in">25,0</span>
										<span class="cm">63,5</span>
									</td>
									<td>
										<span class="in">25,6</span>
										<span class="cm">65</span>
									</td>
								</tr>
								<tr>
									<td>인심 길이 30"</td>
									<td>
										<span class="in">26,4</span>
										<span class="cm">67</span>
									</td>
									<td>
										<span class="in">26,4</span>
										<span class="cm">67</span>
									</td>
									<td>
										<span class="in">26,4</span>
										<span class="cm">67</span>
									</td>
									<td>
										<span class="in">26,4</span>
										<span class="cm">67</span>
									</td>
									<td>
										<span class="in">26,4</span>
										<span class="cm">67</span>
									</td>
									<td>
										<span class="in">26,4</span>
										<span class="cm">67</span>
									</td>
									<td>
										<span class="in">26,4</span>
										<span class="cm">67</span>
									</td>
									<td>
										<span class="in">26,4</span>
										<span class="cm">67</span>
									</td>
									<td>
										<span class="in">26,4</span>
										<span class="cm">67</span>
									</td>
									<td>
										<span class="in">26,4</span>
										<span class="cm">67</span>
									</td>
								</tr>
								<tr>
									<td>인심 길이 32"</td>
									<td>
										<span class="in">28,3</span>
										<span class="cm">72</span>
									</td>
									<td>
										<span class="in">28,3</span>
										<span class="cm">72</span>
									</td>
									<td>
										<span class="in">28,3</span>
										<span class="cm">72</span>
									</td>
									<td>
										<span class="in">28,3</span>
										<span class="cm">72</span>
									</td>
									<td>
										<span class="in">28,3</span>
										<span class="cm">72</span>
									</td>
									<td>
										<span class="in">28,3</span>
										<span class="cm">72</span>
									</td>
									<td>
										<span class="in">28,3</span>
										<span class="cm">72</span>
									</td>
									<td>
										<span class="in">28,3</span>
										<span class="cm">72</span>
									</td>
									<td>
										<span class="in">28,3</span>
										<span class="cm">72</span>
									</td>
									<td>
										<span class="in">28,3</span>
										<span class="cm">72</span>
									</td>
								</tr>
								<tr>
									<td>인심 길이 34"</td>
									<td>
										<span class="in">30,3</span>
										<span class="cm">77</span>
									</td>
									<td>
										<span class="in">30,3</span>
										<span class="cm">77</span>
									</td>
									<td>
										<span class="in">30,3</span>
										<span class="cm">77</span>
									</td>
									<td>
										<span class="in">30,3</span>
										<span class="cm">77</span>
									</td>
									<td>
										<span class="in">30,3</span>
										<span class="cm">77</span>
									</td>
									<td>
										<span class="in">30,3</span>
										<span class="cm">77</span>
									</td>
									<td>
										<span class="in">30,3</span>
										<span class="cm">77</span>
									</td>
									<td>
										<span class="in">30,3</span>
										<span class="cm">77</span>
									</td>
									<td>
										<span class="in">30,3</span>
										<span class="cm">77</span>
									</td>
									<td>
										<span class="in">30,3</span>
										<span class="cm">77</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="size-guide__footer text-xsmall">
					<div class="size-guide__footer-column size-guide__details">
						<ul>
							<li>모델은 179cm(5'10") 이며, S사이즈를 착용하고 있습니다.</li>
							<li>블랙</li>
							<li>100% 오가닉 코튼</li>
							<li>30°C  기계 세탁 가능</li>
							<li>정사이즈</li>
							<li>제조국 : 포르투갈</li>
						</ul>
					</div>
					<div class="size-guide__footer-column size-guide__contact">
						<p class="size-guide__contact-title text-xsmall">
							Totême 온라인 고객 센터 <br>월요일 - 일요일 : 09:00 - 21:00 KST
						</p>
						<ul class="size-guide__contact-list">
							<li class="size-guide__contact-item">
								<a class="size-guide__contact-link text-link text-link--static" href="mailto:shop.kr@toteme-studio.com">shop.kr@toteme-studio.com<br></a>
							</li>
							<li class="size-guide__contact-item">
								<a class="size-guide__contact-link text-link text-link--static" href="tel:+82-1522-0274">1522-0274 (유료)</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	setTimeout(function(){
		$('input[data-modal="size-guide-modal"]').click();
	},1000)
</script>