<div class="container error_page">
	<!-- <div class="template-page__header">
		<h1 class="template-page__title text-small">Page not found</h1>
	</div> -->
	<div class="template-404__container">
		<div class="template-404__column template-404__column--image" style="background-image: url(../assets/error_img.jpg)">
			 
		</div>
		<div class="template-404__column template-404__column--content">
			<div class="section">
				<div class="text-block align-center">
					<p class="text">
						사이트 점검 관계로 인해 
						서비스가 잠시 중단되었습니다.<br> 
						고객님의 깊은 양해 부탁 드리며 
						더 편리하고 즐거운 쇼핑을 위해<br>
						최대한 빨리 서비스 오픈에 힘쓰겠습니다.
				  </p>
					<p class="text">
						작업일시<br> 05.05(금) / 10:00 ~ 13:00
					</p>
					<div class="text">
						시스템 점검 목적
						<ul>
							<li>&middot; 각종 장비 가동율을 극대화하여 최선의 서비스가 이루어지도록 합니다.</li>
							<li>&middot; 장애발생 시 신속한 복구를 위한 체계를 마련하여 가용성을 높입니다.</li>
							<li>&middot; 정기점검과 예방정비는 시스템의 무중단 운영과 장애를 사전에 예방합니다.</li>
						</ul>
					</div>
					<p class="text">
						자세한 문의는 고객센터로 연락해 주세요. <br><a href="tel:1522-0274">1522-0274</a> / <a href="mailto:shop.kr@toteme-studio.com"> shop.kr@toteme-studio.com</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>