	<!-- BEGIN content_for_index -->
	<div id="shopify-section-1619092398bae48507" class="shopify-section">
		<section class="
				custom-module
				custom-module--1-bkgd-1-section
				custom-module--has-background
				custom-module--text-color-light
		custom-module--border-inner-dark
		custom-module--border-outer-dark
		
		
			hide-desktop
		
	
		
			custom-module--no-crop
		
	
			" data-section-id="" data-section-type="custom-module" data-header-theme="light" data-header-transparent="false"
			js-custom-module="container">
			<div class="custom-module__background custom-module__background--is-full
	">
				<div class="responsive-image__wrapper custom-module__background-image-wrapper" data-image-id="511862603942">
					<span style="display: block; padding-top:162.08871303623488%;" aria-hidden="true">
					</span>
					<img class="responsive-image__image custom-module__background-image" alt=""
						src="../assets/col1_mo1.jpg">
				</div>
			</div>
			<div class="custom-module__container">
				<div class="
					custom-module__content
					custom-module__content--section-1
					custom-module__content--col-24
					
	
				">
					<a class="custom-module__content-link" href="/collections/new-in">
						<div class="custom-module__content-wrapper">
							<div class="
									custom-module__content-description
									is-bottom is-left
								">
								<span class="custom-module__content-description-text text-large">
								</span>
							</div>
							<div class="
									custom-module__content-title
									is-bottom is-left
								">
								<span class="custom-module__text-link">
									<svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
									</svg>
									New in
								</span>
							</div>
						</div>
					</a>
				</div>
			</div>
		</section>
	</div>
	<div id="shopify-section-16190923306e4dcda4" class="shopify-section">
		<section class="
				custom-module
				custom-module--1-bkgd-1-section
				custom-module--has-background
				custom-module--text-color-dark
		custom-module--border-inner-dark
		custom-module--border-outer-dark
		
			hide-mobile
		
		
	
		
			custom-module--no-crop
		
	
			" data-section-id="" data-section-type="custom-module" data-header-theme="light" data-header-transparent="false"
			js-custom-module="container">
			<div class="custom-module__background custom-module__background--is-full
	">
				<div class="responsive-image__wrapper custom-module__background-image-wrapper" data-image-id="511862571174">
					<span style="display: block; padding-top:56.24684598905023%;" aria-hidden="true">
					</span>
					<img class="responsive-image__image blur-up custom-module__background-image lazyautosizes lazyloaded" alt=""
						src="../assets/col1_pc1.png">
				</div>
			</div>
			<div class="custom-module__container">
				<div class="
					custom-module__content
					custom-module__content--section-1
					custom-module__content--col-24
					
	
				">
					<a class="custom-module__content-link" href="/collections/new-in">
						<div class="custom-module__content-wrapper">
							<div class="
									custom-module__content-description
									is-bottom is-left
								">
								<span class="custom-module__content-description-text text-large">
								</span>
							</div>
							<div class="
									custom-module__content-title
									is-bottom is-left
								">
								<span class="custom-module__text-link">
									<svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
									</svg>
									New in
								</span>
							</div>
						</div>
					</a>
				</div>
			</div>
		</section>
	</div>
	<div id="shopify-section-161839118225d4018b" class="shopify-section">
		<section class="custom-module custom-module--image-full custom-module--border-inner-dark
		custom-module--border-outer-dark
		
		
	
		
			custom-module--no-crop
		
	" data-section-id="" data-section-type="custom-module" data-header-theme="light" data-header-transparent="false"
			js-custom-module="container">
			<div class="custom-module__container">
				<div class="
					custom-module__content
					custom-module__content--section-1
					
	
		
		
		
	
		custom-module__content--text-color-dark
	
				">
					<a class="custom-module__content-link" href="/pages/tie-it-like-toteme">
						<div class="custom-module__content-wrapper">
							<div class="responsive-image__wrapper custom-module__content-image-wrapper 
	" data-image-id="511862472870">
								<span style="display: block; padding-top:125.0%;" aria-hidden="true">
								</span>
								<img class="responsive-image__image blur-up custom-module__content-image lazyautosizes lazyloaded"
									alt="" src="../assets/col2_1.jpg">
							</div>
							<div class="
									custom-module__content-description
									is-bottom is-left
								">
								<span class="custom-module__content-description-text text-large">
								</span>
							</div>
							<div class="
									custom-module__content-title
									is-bottom is-left
								">
								<span class="custom-module__text-link">
									<svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
									</svg>
									Tie it like Totême
								</span>
							</div>
						</div>
					</a>
				</div>
				<div class="
					custom-module__content
					custom-module__content--section-2
					
	
		
		
		
	
		custom-module__content--text-color-dark
	
				">
					<a class="custom-module__content-link" href="/pages/tie-it-like-toteme">
						<div class="custom-module__content-wrapper">
							<div class="responsive-image__wrapper custom-module__content-image-wrapper 
	" data-image-id="509634478246">
								<span style="display: block; padding-top:125.0%;" aria-hidden="true">
								</span>
								<img class="responsive-image__image blur-up custom-module__content-image lazyautosizes lazyloaded"
									alt=""
									src="../assets/col2_2.jpg">
							</div>
							<div class="
									custom-module__content-description
									is-bottom is-left
								">
								<span class="custom-module__content-description-text text-large">
								</span>
							</div>
						</div>
					</a>
				</div>
			</div>
		</section>
	</div>
	<div id="shopify-section-1617278089e2ff8bfd" class="shopify-section">
		<section class="
				custom-module
				custom-module--1-bkgd-1-section
				custom-module--has-background
				custom-module--text-color-light
		custom-module--border-inner-dark
		custom-module--border-outer-dark
		
		
	
		
	
			" data-section-id="" data-section-type="custom-module" data-header-theme="light" data-header-transparent="false"
			js-custom-module="container">
			<div class="custom-module__background custom-module__background--is-full
	">
				<div class="responsive-image__wrapper custom-module__background-image-wrapper" data-image-id="511862440102">
					<span style="display: block; padding-top:56.25%;" aria-hidden="true">
					</span>
					<img class="responsive-image__image blur-up custom-module__background-image lazyautosizes lazyloaded" alt=""
						src="../assets/col1_pc2.jpg">
				</div>
			</div>
			<div class="custom-module__container">
				<div class="
					custom-module__content
					custom-module__content--section-1
					custom-module__content--col-24
					
	
				">
					<a class="custom-module__content-link" href="/pages/crinkle-silk-edit">
						<div class="custom-module__content-wrapper">
							<div class="
									custom-module__content-description
									is-bottom is-left
								">
								<span class="custom-module__content-description-text text-large">
								</span>
							</div>
							<div class="
									custom-module__content-title
									is-bottom is-left
								">
								<span class="custom-module__text-link">
									<svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
									</svg>
									Crinkle silk edit
								</span>
							</div>
						</div>
					</a>
				</div>
			</div>
		</section>
	</div><!-- END content_for_index -->