	<!-- BEGIN content_for_index -->
	<div id="shopify-section-1619092398bae48507" class="shopify-section">
		<section class="
				custom-module
				custom-module--1-bkgd-1-section
				custom-module--has-background
				custom-module--text-color-light
		custom-module--border-inner-dark
		custom-module--border-outer-dark
		
		
			hide-desktop
		
	
		
			custom-module--no-crop
		
	
			" data-section-id="" data-section-type="custom-module" data-header-theme="light" data-header-transparent="false"
			js-custom-module="container">
			<div class="custom-module__background custom-module__background--is-full
	">
				<div class="responsive-image__wrapper custom-module__background-image-wrapper" data-image-id="511862603942">
					<span style="display: block; padding-top:162.08871303623488%;" aria-hidden="true">
					</span>
					<img class="responsive-image__image custom-module__background-image" alt=""
						src="//cdn.shopify.com/s/files/1/0475/3067/2294/files/Frame_8_1_2048x2048.jpg?v=1619092424">
				</div>
			</div>
			<div class="custom-module__container">
				<div class="
					custom-module__content
					custom-module__content--section-1
					custom-module__content--col-24
					
	
				">
					<a class="custom-module__content-link" href="/collections/new-in">
						<div class="custom-module__content-wrapper">
							<div class="
									custom-module__content-description
									is-bottom is-left
								">
								<span class="custom-module__content-description-text text-large">
								</span>
							</div>
							<div class="
									custom-module__content-title
									is-bottom is-left
								">
								<span class="custom-module__text-link">
									<svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
									</svg>
									New in
								</span>
							</div>
						</div>
					</a>
				</div>
			</div>
		</section>
	</div>
	<div id="shopify-section-16190923306e4dcda4" class="shopify-section">
		<section class="
				custom-module
				custom-module--1-bkgd-1-section
				custom-module--has-background
				custom-module--text-color-dark
		custom-module--border-inner-dark
		custom-module--border-outer-dark
		
			hide-mobile
		
		
	
		
			custom-module--no-crop
		
	
			" data-section-id="" data-section-type="custom-module" data-header-theme="light" data-header-transparent="false"
			js-custom-module="container">
			<div class="custom-module__background custom-module__background--is-full
	">
				<div class="responsive-image__wrapper custom-module__background-image-wrapper" data-image-id="511862571174">
					<span style="display: block; padding-top:56.24684598905023%;" aria-hidden="true">
					</span>
					<img class="responsive-image__image blur-up custom-module__background-image lazyautosizes lazyloaded" alt=""
						src="//cdn.shopify.com/s/files/1/0475/3067/2294/files/Frame_2_6_2048x2048.png?v=1619092360">
				</div>
				<noscript>
					<img class="custom-module__background-image" alt=""
						src="//cdn.shopify.com/s/files/1/0475/3067/2294/files/Frame_2_6_2048x2048.png?v=1619092360">
				</noscript>
			</div>
			<div class="custom-module__container">
				<div class="
					custom-module__content
					custom-module__content--section-1
					custom-module__content--col-24
					
	
				">
					<a class="custom-module__content-link" href="/collections/new-in">
						<div class="custom-module__content-wrapper">
							<div class="
									custom-module__content-description
									is-bottom is-left
								">
								<span class="custom-module__content-description-text text-large">
								</span>
							</div>
							<div class="
									custom-module__content-title
									is-bottom is-left
								">
								<span class="custom-module__text-link">
									<svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
									</svg>
									New in
								</span>
							</div>
						</div>
					</a>
				</div>
			</div>
		</section>
	</div>
	<div id="shopify-section-161839118225d4018b" class="shopify-section">
		<section class="custom-module custom-module--image-full custom-module--border-inner-dark
		custom-module--border-outer-dark
		
		
	
		
			custom-module--no-crop
		
	" data-section-id="" data-section-type="custom-module" data-header-theme="light" data-header-transparent="false"
			js-custom-module="container">
			<div class="custom-module__container">
				<div class="
					custom-module__content
					custom-module__content--section-1
					
	
		
		
		
	
		custom-module__content--text-color-dark
	
				">
					<a class="custom-module__content-link" href="/pages/tie-it-like-toteme">
						<div class="custom-module__content-wrapper">
							<div class="responsive-image__wrapper custom-module__content-image-wrapper 
	" data-image-id="511862472870">
								<span style="display: block; padding-top:125.0%;" aria-hidden="true">
								</span>
								<img class="responsive-image__image blur-up custom-module__content-image lazyautosizes lazyloaded"
									alt="" src="//cdn.shopify.com/s/files/1/0475/3067/2294/files/210421_2_100x.jpg?v=1619092312"
									tabindex="-1" data-aspectratio="0.8" data-sizes="auto"
									data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2160, 2376, 2592, 2808, 3024]"
									data-srcset="//cdn.shopify.com/s/files/1/0475/3067/2294/files/210421_2_180x.jpg?v=1619092312 180w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/210421_2_360x.jpg?v=1619092312 360w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/210421_2_540x.jpg?v=1619092312 540w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/210421_2_720x.jpg?v=1619092312 720w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/210421_2_900x.jpg?v=1619092312 900w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/210421_2_1080x.jpg?v=1619092312 1080w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/210421_2_1296x.jpg?v=1619092312 1296w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/210421_2_1512x.jpg?v=1619092312 1512w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/210421_2_1728x.jpg?v=1619092312 1728w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/210421_2_1944x.jpg?v=1619092312 1944w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/210421_2_2160x.jpg?v=1619092312 2160w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/210421_2_2376x.jpg?v=1619092312 2376w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/210421_2_2592x.jpg?v=1619092312 2592w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/210421_2_2808x.jpg?v=1619092312 2808w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/210421_2_3024x.jpg?v=1619092312 3024w"
									sizes="1106px"
									srcset="//cdn.shopify.com/s/files/1/0475/3067/2294/files/210421_2_180x.jpg?v=1619092312 180w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/210421_2_360x.jpg?v=1619092312 360w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/210421_2_540x.jpg?v=1619092312 540w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/210421_2_720x.jpg?v=1619092312 720w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/210421_2_900x.jpg?v=1619092312 900w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/210421_2_1080x.jpg?v=1619092312 1080w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/210421_2_1296x.jpg?v=1619092312 1296w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/210421_2_1512x.jpg?v=1619092312 1512w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/210421_2_1728x.jpg?v=1619092312 1728w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/210421_2_1944x.jpg?v=1619092312 1944w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/210421_2_2160x.jpg?v=1619092312 2160w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/210421_2_2376x.jpg?v=1619092312 2376w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/210421_2_2592x.jpg?v=1619092312 2592w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/210421_2_2808x.jpg?v=1619092312 2808w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/210421_2_3024x.jpg?v=1619092312 3024w">
							</div>
							<noscript>
								<img class="custom-module__content-image" alt=""
									src="//cdn.shopify.com/s/files/1/0475/3067/2294/files/210421_2_2048x2048.jpg?v=1619092312">
							</noscript>
							<div class="
									custom-module__content-description
									is-bottom is-left
								">
								<span class="custom-module__content-description-text text-large">
								</span>
							</div>
							<div class="
									custom-module__content-title
									is-bottom is-left
								">
								<span class="custom-module__text-link">
									<svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
									</svg>
									Tie it like Totême
								</span>
							</div>
						</div>
					</a>
				</div>
				<div class="
					custom-module__content
					custom-module__content--section-2
					
	
		
		
		
	
		custom-module__content--text-color-dark
	
				">
					<a class="custom-module__content-link" href="/pages/tie-it-like-toteme">
						<div class="custom-module__content-wrapper">
							<div class="responsive-image__wrapper custom-module__content-image-wrapper 
	" data-image-id="509634478246">
								<span style="display: block; padding-top:125.0%;" aria-hidden="true">
								</span>
								<img class="responsive-image__image blur-up custom-module__content-image lazyautosizes lazyloaded"
									alt=""
									src="//cdn.shopify.com/s/files/1/0475/3067/2294/files/1_e315a6d6-78a7-41e2-850d-b19bb501a3d0_100x.jpg?v=1618235332"
									tabindex="-1" data-aspectratio="0.8" data-sizes="auto"
									data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2160, 2376, 2592, 2808, 3024]"
									data-srcset="//cdn.shopify.com/s/files/1/0475/3067/2294/files/1_e315a6d6-78a7-41e2-850d-b19bb501a3d0_180x.jpg?v=1618235332 180w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/1_e315a6d6-78a7-41e2-850d-b19bb501a3d0_360x.jpg?v=1618235332 360w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/1_e315a6d6-78a7-41e2-850d-b19bb501a3d0_540x.jpg?v=1618235332 540w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/1_e315a6d6-78a7-41e2-850d-b19bb501a3d0_720x.jpg?v=1618235332 720w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/1_e315a6d6-78a7-41e2-850d-b19bb501a3d0_900x.jpg?v=1618235332 900w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/1_e315a6d6-78a7-41e2-850d-b19bb501a3d0_1080x.jpg?v=1618235332 1080w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/1_e315a6d6-78a7-41e2-850d-b19bb501a3d0_1296x.jpg?v=1618235332 1296w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/1_e315a6d6-78a7-41e2-850d-b19bb501a3d0_1512x.jpg?v=1618235332 1512w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/1_e315a6d6-78a7-41e2-850d-b19bb501a3d0_1728x.jpg?v=1618235332 1728w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/1_e315a6d6-78a7-41e2-850d-b19bb501a3d0_1944x.jpg?v=1618235332 1944w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/1_e315a6d6-78a7-41e2-850d-b19bb501a3d0_2160x.jpg?v=1618235332 2160w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/1_e315a6d6-78a7-41e2-850d-b19bb501a3d0_2376x.jpg?v=1618235332 2376w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/1_e315a6d6-78a7-41e2-850d-b19bb501a3d0_2592x.jpg?v=1618235332 2592w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/1_e315a6d6-78a7-41e2-850d-b19bb501a3d0_2808x.jpg?v=1618235332 2808w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/1_e315a6d6-78a7-41e2-850d-b19bb501a3d0_3024x.jpg?v=1618235332 3024w"
									sizes="1106px"
									srcset="//cdn.shopify.com/s/files/1/0475/3067/2294/files/1_e315a6d6-78a7-41e2-850d-b19bb501a3d0_180x.jpg?v=1618235332 180w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/1_e315a6d6-78a7-41e2-850d-b19bb501a3d0_360x.jpg?v=1618235332 360w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/1_e315a6d6-78a7-41e2-850d-b19bb501a3d0_540x.jpg?v=1618235332 540w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/1_e315a6d6-78a7-41e2-850d-b19bb501a3d0_720x.jpg?v=1618235332 720w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/1_e315a6d6-78a7-41e2-850d-b19bb501a3d0_900x.jpg?v=1618235332 900w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/1_e315a6d6-78a7-41e2-850d-b19bb501a3d0_1080x.jpg?v=1618235332 1080w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/1_e315a6d6-78a7-41e2-850d-b19bb501a3d0_1296x.jpg?v=1618235332 1296w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/1_e315a6d6-78a7-41e2-850d-b19bb501a3d0_1512x.jpg?v=1618235332 1512w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/1_e315a6d6-78a7-41e2-850d-b19bb501a3d0_1728x.jpg?v=1618235332 1728w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/1_e315a6d6-78a7-41e2-850d-b19bb501a3d0_1944x.jpg?v=1618235332 1944w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/1_e315a6d6-78a7-41e2-850d-b19bb501a3d0_2160x.jpg?v=1618235332 2160w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/1_e315a6d6-78a7-41e2-850d-b19bb501a3d0_2376x.jpg?v=1618235332 2376w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/1_e315a6d6-78a7-41e2-850d-b19bb501a3d0_2592x.jpg?v=1618235332 2592w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/1_e315a6d6-78a7-41e2-850d-b19bb501a3d0_2808x.jpg?v=1618235332 2808w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/1_e315a6d6-78a7-41e2-850d-b19bb501a3d0_3024x.jpg?v=1618235332 3024w">
							</div>
							<noscript>
								<img class="custom-module__content-image" alt=""
									src="//cdn.shopify.com/s/files/1/0475/3067/2294/files/1_e315a6d6-78a7-41e2-850d-b19bb501a3d0_2048x2048.jpg?v=1618235332">
							</noscript>
							<div class="
									custom-module__content-description
									is-bottom is-left
								">
								<span class="custom-module__content-description-text text-large">
								</span>
							</div>
						</div>
					</a>
				</div>
			</div>
		</section>
	</div>
	<div id="shopify-section-1617278089e2ff8bfd" class="shopify-section">
		<section class="
				custom-module
				custom-module--1-bkgd-1-section
				custom-module--has-background
				custom-module--text-color-light
		custom-module--border-inner-dark
		custom-module--border-outer-dark
		
		
	
		
	
			" data-section-id="" data-section-type="custom-module" data-header-theme="light" data-header-transparent="false"
			js-custom-module="container">
			<div class="custom-module__background custom-module__background--is-full
	">
				<div class="responsive-image__wrapper custom-module__background-image-wrapper" data-image-id="511862440102">
					<span style="display: block; padding-top:56.25%;" aria-hidden="true">
					</span>
					<img class="responsive-image__image blur-up custom-module__background-image lazyautosizes lazyloaded" alt=""
						src="//cdn.shopify.com/s/files/1/0475/3067/2294/files/Front_page_Crinkle_new_5f32e2a1-1345-4de7-895b-50ed4a1883db_100x.jpg?v=1619092287"
						tabindex="-1" data-aspectratio="1.7777777777777777" data-sizes="auto"
						data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2160, 2376, 2592, 2808, 3024]"
						data-srcset="//cdn.shopify.com/s/files/1/0475/3067/2294/files/Front_page_Crinkle_new_5f32e2a1-1345-4de7-895b-50ed4a1883db_180x.jpg?v=1619092287 180w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/Front_page_Crinkle_new_5f32e2a1-1345-4de7-895b-50ed4a1883db_360x.jpg?v=1619092287 360w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/Front_page_Crinkle_new_5f32e2a1-1345-4de7-895b-50ed4a1883db_540x.jpg?v=1619092287 540w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/Front_page_Crinkle_new_5f32e2a1-1345-4de7-895b-50ed4a1883db_720x.jpg?v=1619092287 720w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/Front_page_Crinkle_new_5f32e2a1-1345-4de7-895b-50ed4a1883db_900x.jpg?v=1619092287 900w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/Front_page_Crinkle_new_5f32e2a1-1345-4de7-895b-50ed4a1883db_1080x.jpg?v=1619092287 1080w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/Front_page_Crinkle_new_5f32e2a1-1345-4de7-895b-50ed4a1883db_1296x.jpg?v=1619092287 1296w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/Front_page_Crinkle_new_5f32e2a1-1345-4de7-895b-50ed4a1883db_1512x.jpg?v=1619092287 1512w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/Front_page_Crinkle_new_5f32e2a1-1345-4de7-895b-50ed4a1883db_1728x.jpg?v=1619092287 1728w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/Front_page_Crinkle_new_5f32e2a1-1345-4de7-895b-50ed4a1883db_1944x.jpg?v=1619092287 1944w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/Front_page_Crinkle_new_5f32e2a1-1345-4de7-895b-50ed4a1883db_2160x.jpg?v=1619092287 2160w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/Front_page_Crinkle_new_5f32e2a1-1345-4de7-895b-50ed4a1883db_2376x.jpg?v=1619092287 2376w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/Front_page_Crinkle_new_5f32e2a1-1345-4de7-895b-50ed4a1883db_2592x.jpg?v=1619092287 2592w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/Front_page_Crinkle_new_5f32e2a1-1345-4de7-895b-50ed4a1883db_2808x.jpg?v=1619092287 2808w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/Front_page_Crinkle_new_5f32e2a1-1345-4de7-895b-50ed4a1883db_3024x.jpg?v=1619092287 3024w"
						sizes="2215px"
						srcset="//cdn.shopify.com/s/files/1/0475/3067/2294/files/Front_page_Crinkle_new_5f32e2a1-1345-4de7-895b-50ed4a1883db_180x.jpg?v=1619092287 180w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/Front_page_Crinkle_new_5f32e2a1-1345-4de7-895b-50ed4a1883db_360x.jpg?v=1619092287 360w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/Front_page_Crinkle_new_5f32e2a1-1345-4de7-895b-50ed4a1883db_540x.jpg?v=1619092287 540w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/Front_page_Crinkle_new_5f32e2a1-1345-4de7-895b-50ed4a1883db_720x.jpg?v=1619092287 720w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/Front_page_Crinkle_new_5f32e2a1-1345-4de7-895b-50ed4a1883db_900x.jpg?v=1619092287 900w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/Front_page_Crinkle_new_5f32e2a1-1345-4de7-895b-50ed4a1883db_1080x.jpg?v=1619092287 1080w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/Front_page_Crinkle_new_5f32e2a1-1345-4de7-895b-50ed4a1883db_1296x.jpg?v=1619092287 1296w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/Front_page_Crinkle_new_5f32e2a1-1345-4de7-895b-50ed4a1883db_1512x.jpg?v=1619092287 1512w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/Front_page_Crinkle_new_5f32e2a1-1345-4de7-895b-50ed4a1883db_1728x.jpg?v=1619092287 1728w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/Front_page_Crinkle_new_5f32e2a1-1345-4de7-895b-50ed4a1883db_1944x.jpg?v=1619092287 1944w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/Front_page_Crinkle_new_5f32e2a1-1345-4de7-895b-50ed4a1883db_2160x.jpg?v=1619092287 2160w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/Front_page_Crinkle_new_5f32e2a1-1345-4de7-895b-50ed4a1883db_2376x.jpg?v=1619092287 2376w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/Front_page_Crinkle_new_5f32e2a1-1345-4de7-895b-50ed4a1883db_2592x.jpg?v=1619092287 2592w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/Front_page_Crinkle_new_5f32e2a1-1345-4de7-895b-50ed4a1883db_2808x.jpg?v=1619092287 2808w, //cdn.shopify.com/s/files/1/0475/3067/2294/files/Front_page_Crinkle_new_5f32e2a1-1345-4de7-895b-50ed4a1883db_3024x.jpg?v=1619092287 3024w">
				</div>
				<noscript>
					<img class="custom-module__background-image" alt=""
						src="//cdn.shopify.com/s/files/1/0475/3067/2294/files/Front_page_Crinkle_new_5f32e2a1-1345-4de7-895b-50ed4a1883db_2048x2048.jpg?v=1619092287">
				</noscript>
			</div>
			<div class="custom-module__container">
				<div class="
					custom-module__content
					custom-module__content--section-1
					custom-module__content--col-24
					
	
				">
					<a class="custom-module__content-link" href="/pages/crinkle-silk-edit">
						<div class="custom-module__content-wrapper">
							<div class="
									custom-module__content-description
									is-bottom is-left
								">
								<span class="custom-module__content-description-text text-large">
								</span>
							</div>
							<div class="
									custom-module__content-title
									is-bottom is-left
								">
								<span class="custom-module__text-link">
									<svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none"
										xmlns="http://www.w3.org/2000/svg">
										<path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
									</svg>
									Crinkle silk edit
								</span>
							</div>
						</div>
					</a>
				</div>
			</div>
		</section>
	</div><!-- END content_for_index -->