<!-- BEGIN content_for_index -->
<main id="MainContent" class="main-content critical-clear">
	<section style='display:none' class="custom-module custom-module--page-header custom-module--border-inner-dark custom-module--border-outer-dark custom-module--no-cropk c" data-section-id="" data-section-type="custom-module" data-header-theme="light" data-header-transparent="false" js-custom-module="container">
		<div class="custom-module__header">
			<h1 class="custom-module__title text-small">
				무료배송, 무료반품으로 쇼핑할 수 있습니다.
			</h1>
		</div>
	</section>
	<section class="
		custom-module
		custom-module--1-bkgd-1-section
		custom-module--has-background
		custom-module--text-color-dark custom-module--border-inner-dark custom-module--border-outer-darkk c
		" data-section-id="" data-section-type="custom-module" data-header-theme="light" data-header-transparent="false" js-custom-module="container">
		<div class="custom-module__background custom-module__background--is-full
			">
			<div class="responsive-image__wrapper custom-module__background-image-wrapper" data-image-id="506214580375"> <span style="display: block; padding-top:56.25%;" aria-hidden="true">
				</span>
				<img class="responsive-image__image blur-up custom-module__background-image lazyautosizes" alt="" src="../assets/col1_pc2.jpg" tabindex="-1" data-aspectratio="1.7777777777777777" data-sizes="auto" sizes="1443px">
			</div>
		</div>
		<div class="custom-module__container">
			<div class="
				custom-module__content
				custom-module__content--section-1
				custom-module__content--col-24
				">
				<div class="custom-module__content-wrapper">
					<div class="responsive-image__wrapper custom-module__content-image-wrapper is-center
						" style="max-width: 1428.5714285714287px;" data-image-id="504783732887"> <span style="display: block; padding-top:140.0%;" aria-hidden="true">
						</span>
						<img class="responsive-image__image blur-up custom-module__content-image lazyautosizes lazyloaded" alt="" src="../assets/col2_inside1.jpg">
					</div>
					<div class="
						custom-module__content-title
						is-bottom is-left
						">
						<span class="custom-module__text-link">
							<svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
							</svg>
							1
						</span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="
		custom-module
		custom-module--1-bkgd-2-sections
		custom-module--has-background
		custom-module--text-color-dark custom-module--border-inner-dark custom-module--border-outer-darkk c
		" data-section-id="" data-section-type="custom-module" data-header-theme="light" data-header-transparent="false" js-custom-module="container">
		<div class="custom-module__background custom-module__background--is-full
			">
			<div class="custom-module__video-wrapper">
				<video class="custom-module__video" autoplay="1" loop="1" muted="1" playsinline="1" preload="1" js-video-hero="video">
					<source src="../assets/col1.mp4" type="video/mp4">
				</video>
			</div>
		</div>
		<div class="custom-module__container">
			<div class="
				custom-module__content
				custom-module__content--section-1
				k c
				">
				<div class="custom-module__content-wrapper">
					<div class="responsive-image__wrapper custom-module__content-image-wrapper is-center
						" style="max-width: 1428.5714285714287px;" data-image-id="504783732887"> <span style="display: block; padding-top:140.0%;" aria-hidden="true">
						</span>
						<img class="responsive-image__image blur-up custom-module__content-image lazyautosizes ls-is-cached lazyloaded" alt="" src="../assets/col2_inside1.jpg">
					</div>
					<div class="
						custom-module__content-description
						is-bottom is-left
						"> <span class="custom-module__content-description-text text-large">
						Preorder
						</span>
					</div>
					<div class="
						custom-module__content-title
						is-bottom is-left
						">
						<span class="custom-module__text-link">
							<svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
							</svg>
							Look 01
						</span>
					</div>
				</div>
			</div>
			<div class="
				custom-module__content
				custom-module__content--section-2
				k c
				">
				<div class="custom-module__content-wrapper">
					<div class="responsive-image__wrapper custom-module__content-image-wrapper is-center
						" style="max-width: 1428.5714285714287px;" data-image-id="504782749847"> <span style="display: block; padding-top:140.0%;" aria-hidden="true">
						</span>
						<img class="responsive-image__image blur-up custom-module__content-image lazyautosizes lazyloaded" alt="" src="../assets/col2_inside2.jpg">
					</div>
					<div class="
						custom-module__content-description
						is-bottom is-left
						"> <span class="custom-module__content-description-text text-large">
						Coming Soon
						</span>
					</div>
					<div class="
						custom-module__content-title
						is-bottom is-left
						">
						<span class="custom-module__text-link">
							<svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
							</svg>
							Look 02
						</span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="
		custom-module
		custom-module--1-bkgd-2-sections
		custom-module--has-2-backgrounds
		custom-module--text-color-dark custom-module--border-inner-dark custom-module--border-outer-darkk c
		" data-section-id="" data-section-type="custom-module" data-header-theme="light" data-header-transparent="false" js-custom-module="container">
		<div class="custom-module__container">
			<div class="
				custom-module__content
				custom-module__content--section-1
				k c
				">
				<div class="custom-module__background custom-module__background--
					">
					<div class="responsive-image__wrapper custom-module__background-image-wrapper" data-image-id="506214580375"> <span style="display: block; padding-top:56.25%;" aria-hidden="true">
						</span>
						<img class="responsive-image__image blur-up custom-module__background-image lazyautosizes lazyloaded" alt="" src="../assets/col2_1.jpg">
					</div>
				</div>
				<div class="custom-module__content-wrapper">
					<div class="responsive-image__wrapper custom-module__content-image-wrapper is-center
						" style="max-width: 1428.5714285714287px;" data-image-id="504783732887"> <span style="display: block; padding-top:140.0%;" aria-hidden="true">
						</span>
						<img class="responsive-image__image blur-up custom-module__content-image lazyautosizes ls-is-cached lazyloaded" alt="" src="../assets/col2_inside1.jpg">
					</div>
					<div class="
						custom-module__content-description
						is-bottom is-left
						"> <span class="custom-module__content-description-text text-large">
						Preorder
						</span>
					</div>
					<div class="
						custom-module__content-title
						is-bottom is-left
						">
						<span class="custom-module__text-link">
							<svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
							</svg>
							Look 03
						</span>
					</div>
				</div>
			</div>
			<div class="
				custom-module__content
				custom-module__content--section-2
				k c
				">
				<div class="custom-module__background custom-module__background--
					">
					<div class="custom-module__video-wrapper">
						<video class="custom-module__video" autoplay="1" loop="1" muted="1" playsinline="1" preload="1" js-video-hero="video">
							<source src="../assets/col2.mp4" type="video/mp4">
						</video>
					</div>
				</div>
				<div class="custom-module__content-wrapper">
					<div class="responsive-image__wrapper custom-module__content-image-wrapper is-center
						" style="max-width: 1428.5714285714287px;" data-image-id="504782749847"> <span style="display: block; padding-top:140.0%;" aria-hidden="true">
						</span>
						<img class="responsive-image__image blur-up custom-module__content-image lazyautosizes ls-is-cached lazyloaded" alt="" src="../assets/col2_inside2.jpg">
					</div>
					<div class="
						custom-module__content-description
						is-bottom is-left
						"> <span class="custom-module__content-description-text text-large">
						Coming Soon
						</span>
					</div>
					<div class="
						custom-module__content-title
						is-bottom is-left
						">
						<span class="custom-module__text-link">
							<svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
							</svg>
							Look 04
						</span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="custom-module custom-module--image-full custom-module--border-inner-dark custom-module--border-outer-darkk c
		custom-module--no-crop
		" data-section-id="" data-section-type="custom-module" data-header-theme="light" data-header-transparent="false" js-custom-module="container">
		<div class="custom-module__container">
			<div class="
				custom-module__content
				custom-module__content--section-1
				k c  
				custom-module__content--text-color-dark
				">
				<div class="custom-module__content-wrapper">
					<div class="responsive-image__wrapper custom-module__content-image-wrapper 
						" data-image-id="504783634583"> <span style="display: block; padding-top:140.0%;" aria-hidden="true">
						</span>
						<img class="responsive-image__image blur-up custom-module__content-image lazyautosizes lazyloaded" alt="" src="../assets/col2_1.jpg">
					</div>
					<div class="
						custom-module__content-description
						is-bottom is-left
						"> <span class="custom-module__content-description-text text-large">
						Preorder
						</span>
					</div>
					<div class="
						custom-module__content-title
						is-bottom is-left
						">
						<span class="custom-module__text-link">
							<svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
							</svg>
							Look 01
						</span>
					</div>
				</div>
			</div>
			<div class="
				custom-module__content
				custom-module__content--section-2
				k c  
				custom-module__content--text-color-dark
				">
				<div class="custom-module__content-wrapper">
					<div class="responsive-image__wrapper custom-module__content-image-wrapper 
						" data-image-id="504782684311"> <span style="display: block; padding-top:140.0%;" aria-hidden="true">
						</span>
						<img class="responsive-image__image blur-up custom-module__content-image lazyautosizes lazyloaded" alt="" src="../assets/col2_2.jpg">
					</div>
					<div class="
						custom-module__content-description
						is-bottom is-left
						"> <span class="custom-module__content-description-text text-large">
						Coming soon
						</span>
					</div>
					<div class="
						custom-module__content-title
						is-bottom is-left
						">
						<span class="custom-module__text-link">
							<svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
							</svg>
							Look 02
						</span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="custom-module custom-module--image-full custom-module--3-sections custom-module--border-inner-dark custom-module--border-outer-darkk c
		custom-module--no-crop
		" data-section-id="" data-section-type="custom-module" data-header-theme="light" data-header-transparent="false" js-custom-module="container">
		<div class="custom-module__container">
			<div class="
				custom-module__content
				custom-module__content--col-8
				custom-module__content--section-1
				k c  
				custom-module__content--text-color-dark
				">
				<div class="custom-module__content-wrapper">
					<div class="responsive-image__wrapper custom-module__content-image-wrapper 
						" data-image-id="504782782615"> <span style="display: block; padding-top:140.0%;" aria-hidden="true">
						</span>
						<img class="responsive-image__image blur-up custom-module__content-image lazyautosizes lazyloaded" alt="" src="../assets/col3_1.jpg">
					</div>
					<div class="
						custom-module__content-description
						is-bottom is-left
						"> <span class="custom-module__content-description-text text-large">
						Preorder 
						</span>
					</div>
					<div class="
						custom-module__content-title
						is-bottom is-left
						">
						<span class="custom-module__text-link">
							<svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
							</svg>
							Look 01
						</span>
					</div>
				</div>
			</div>
			<div class="
				custom-module__content
				custom-module__content--col-8
				custom-module__content--section-2
				k c  
				custom-module__content--text-color-dark
				">
				<div class="custom-module__content-wrapper">
					<div class="responsive-image__wrapper custom-module__content-image-wrapper 
						" data-image-id="504782586007"> <span style="display: block; padding-top:140.0%;" aria-hidden="true">
						</span>
						<img class="responsive-image__image blur-up custom-module__content-image lazyautosizes lazyloaded" alt="" src="../assets/col3_2.jpg">
					</div>
					<div class=" custom-module__content-description is-bottom is-left ">
						<span class="custom-module__content-description-text text-large ">
						Preorder
						</span>
					</div>
					<div class=" custom-module__content-title is-bottom is-left ">
						<span class="custom-module__text-link ">
							<svg class="icon icon--small icon__arrow--right " viewBox="0 0 8 8 " fill="none " xmlns="http://www.w3.org/2000/svg ">
								<path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z "></path>
							</svg>
							Look 02
						</span>
					</div>
				</div>
			</div>
			<div class=" custom-module__content custom-module__content--col-8 custom-module__content--section-3 k c custom-module__content--text-color-dark ">
				<div class="custom-module__content-wrapper ">
					<div class="responsive-image__wrapper custom-module__content-image-wrapper " data-image-id="504782520471 ">
						<span style="display: block; padding-top:140.0%; " aria-hidden="true ">
						</span>
						<img class="responsive-image__image blur-up custom-module__content-image lazyautosizes lazyloaded " alt=" " 
							src="../assets/col3_3.jpg">
					</div>
					<div class=" custom-module__content-description is-bottom is-left ">
						<span class="custom-module__content-description-text text-large ">
						Comming Soon 
						</span>
					</div>
					<div class=" custom-module__content-title is-bottom is-left ">
						<span class="custom-module__text-link ">
							<svg class="icon icon--small icon__arrow--right " viewBox="0 0 8 8 " fill="none " xmlns="http://www.w3.org/2000/svg ">
								<path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z "></path>
							</svg>
							Look 03
						</span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="custom-module custom-module--video-section custom-module--border-inner-dark custom-module--border-outer-dark custom-module--has-videok c " data-section-id=" " data-section-type="custom-module " data-header-theme="light " data-header-transparent="false " js-custom-module="container ">
		<div class="custom-module__container">
			<div class=" custom-module__content custom-module__content--section-1 custom-module__content--col-24 ">
				<a class="custom-module__content-link " href="/pages/coming-soon ">
					<div class="custom-module__content-wrapper ">
						<div class="custom-module__video-wrapper ">
							<video class="custom-module__video " autoplay="1 " loop="1 " muted="1 " playsinline="1 " preload="1 " js-video-hero="video ">
								<source src="../assets/col1.mp4" type="video/mp4 ">
							</video>
						</div>
					</div>
				</a>
			</div>
		</div>
	</section>
	<section class=" custom-module custom-module--1-bkgd-1-section custom-module--has-background custom-module--text-color-dark custom-module--border-inner-dark custom-module--border-outer-darkk c " data-section-id=" " data-section-type="custom-module " data-header-theme="light " data-header-transparent="false " js-custom-module="container ">
		<div class="custom-module__background custom-module__background--is-full ">
			<div class="custom-module__video-wrapper ">
				<video class="custom-module__video " autoplay="1 " loop="1 " muted="1 " playsinline="1 " preload="1 " js-video-hero="video ">
					<source src="../assets/col1.mp4" type="video/mp4 ">
				</video>
			</div>
		</div>
		<div class="custom-module__container ">
			<div class=" custom-module__content custom-module__content--section-1 custom-module__content--col-24 ">
				<a class="custom-module__content-link " href="/pages/coming-soon ">
					<div class="custom-module__content-wrapper ">
						<div class=" custom-module__content-description is-bottom is-left ">
							<span class="custom-module__content-description-text text-large ">
							Comming Soon
							</span>
						</div>
						<div class=" custom-module__content-title is-bottom is-left ">
							<span class="custom-module__text-link ">
								<svg class="icon icon--small icon__arrow--right " viewBox="0 0 8 8 " fill="none " xmlns="http://www.w3.org/2000/svg ">
									<path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z "></path>
								</svg>
								Look 01
							</span>
						</div>
					</div>
				</a>
			</div>
		</div>
	</section>
	<section class="custom-module custom-module--product-list-section custom-module--border-inner-dark custom-module--border-outer-dark custom-module--no-crop " data-section-id=" " data-section-type="custom-module " data-header-theme="light " data-header-transparent="false " js-custom-module="container ">
		<div class="custom-module__container ">
		</div>
	</section>
	<section class="custom-module custom-module--product-list-section custom-module--border-inner-dark custom-module--border-outer-dark custom-module--no-crop " data-section-id=" " data-section-type="custom-module " data-header-theme="light " data-header-transparent="false " js-custom-module="container ">
		<div class="custom-module__container ">
			<div class=" custom-module__content custom-module__content--section-1 custom-module__content--col-8 ">
				<a class="product-card product-card--has-hover-text " href="/products/alpaca-knit-top-black " data-cy="productCard " js-product-link=" ">
					<div class="product-card__thumbnail-container ">
						<div class="responsive-card-image__wrapper product-card__thumbnail product-card__thumbnail--primary " data-image-id="26993817092247 " js-responsive-image=" ">
							<img class="responsive-card-image__image" alt="Alpaca knit top black " 
								src="../assets/col3_1.jpg" tabindex="-1 " data-aspectratio="0.7142857142857143 " >
						</div>
					</div>
					<div class="product-card__footer ">
						<span class="product-card__title " js-product-link="product-title ">
							알파카 니트 탑 블랙
						</span>
						<div class="product-card__details ">
							<div class="product-price " js-recommended-products="productPrices ">
								<span data-product-id="6067114770583 " data-variant-id="37703055310999 " data-price="33000 " js-product-form="price " js-currency="price ">
								<span class="money notranslate " data-gip-price-id="qPHkGYTdwvLH57mt " data-gip-original-value="330 " data-gip-converted="true ">465,000원</span>
								</span>
							</div>
							<div class="product-card__sizes " js-recommended-products="productSizes ">
								사이즈:
								M,
								L
							</div>
						</div>
					</div>
					<div class="product-card__wishlist ">
						<!-- start: include 'wishlist-button-collection' with '6067114770583' -->
						<button type="button " class="wk-button-collection wk-add-product " title="위시리스트에 추가 " data-wk-add-product="6067114770583 ">
							<div class="wk-icon ">
								<span class="icon__star ">
									<svg version="1.1 " xmlns="https://www.w3.org/2000/svg " width="64 " height="60.9 " viewBox="0 0 64 64 ">
										<path d="M63.92,23.25a1.5,1.5,0,0,0-1.39-1H40.3L33.39,1.08A1.5,1.5,0,0,0,32,0h0a1.49,1.49,0,0,0-1.39,1L23.7,22.22H1.47a1.49,1.49,0,0,0-1.39,1A1.39,1.39,0,0,0,.6,24.85l18,13L11.65,59a1.39,1.39,0,0,0,.51,1.61,1.47,1.47,0,0,0,.88.3,1.29,1.29,0,0,0,.88-0.3l18-13.08L50,60.68a1.55,1.55,0,0,0,1.76,0,1.39,1.39,0,0,0,.51-1.61l-6.9-21.14,18-13A1.45,1.45,0,0,0,63.92,23.25ZM42.75,36.18a1.39,1.39,0,0,0-.51,1.61l5.81,18L32.85,44.69a1.41,1.41,0,0,0-1.67,0L15.92,55.74l5.81-18a1.39,1.39,0,0,0-.51-1.61L6,25.12H24.7a1.49,1.49,0,0,0,1.39-1L32,6.17l5.81,18a1.5,1.5,0,0,0,1.39,1H58Z "></path>
									</svg>
								</span>
								<span class="icon__star--filled ">
									<svg version="1.1 " xmlns="https://www.w3.org/2000/svg " width="64 " height="60.9 " viewBox="0 0 64 64 ">
										<path d="M63.92,23.25a1.5,1.5,0,0,0-1.39-1H40.3L33.39,1.08A1.5,1.5,0,0,0,32,0h0a1.49,1.49,0,0,0-1.39,1L23.7,22.22H1.47a1.49,1.49,0,0,0-1.39,1A1.39,1.39,0,0,0,.6,24.85l18,13L11.65,59a1.39,1.39,0,0,0,.51,1.61,1.47,1.47,0,0,0,.88.3,1.29,1.29,0,0,0,.88-0.3l18-13.08L50,60.68a1.55,1.55,0,0,0,1.76,0,1.39,1.39,0,0,0,.51-1.61l-6.9-21.14,18-13A1.45,1.45,0,0,0,63.92,23.25Z "></path>
									</svg>
								</span>
							</div>
							<span class="wk-label ">위시리스트에 추가</span>
						</button>
						<!-- end: include 'wishlist-button-collection' with '6067114770583' -->
					</div>
				</a>
			</div>
			<div class=" custom-module__content custom-module__content--section-1 custom-module__content--col-8 ">
				<a class="product-card product-card--has-hover-text " href="/products/alpaca-wrap-coat-chocolate-brown " data-cy="productCard " js-product-link=" ">
					<div class="product-card__thumbnail-container ">
						<div class="responsive-card-image__wrapper product-card__thumbnail product-card__thumbnail--primary " data-image-id="27049722970263 " js-responsive-image=" ">
							<img class="responsive-card-image__image" alt="Alpaca wrap coat chocolate brown " 
								src="../assets/col3_2.jpg">
						</div>
					</div>
					<div class="product-card__footer ">
						<span class="product-card__title " js-product-link="product-title ">
						알파카 랩 코트 초콜렛 브라운
						</span>
						<div class="product-card__details ">
							<div class="product-price " js-recommended-products="productPrices ">
								<span data-product-id="6373663080599 " data-variant-id="38856764784791 " data-price="112000 " js-product-form="price " js-currency="price ">
								<span class="money notranslate " data-gip-price-id="EY6dyHv6ecgpkLrL " data-gip-original-value="1120 " data-gip-converted="true ">1,576,000 원</span>
								</span>
							</div>
							<div class="product-card__sizes " js-recommended-products="productSizes ">
								사이즈 :
								36
							</div>
						</div>
					</div>
					<div class="product-card__wishlist ">
						<!-- start: include 'wishlist-button-collection' with '6373663080599' -->
						<button type="button " class="wk-button-collection wk-add-product " title="위시리스트에 추가 " data-wk-add-product="6373663080599 ">
							<div class="wk-icon ">
								<span class="icon__star ">
									<svg version="1.1 " xmlns="https://www.w3.org/2000/svg " width="64 " height="60.9 " viewBox="0 0 64 64 ">
										<path d="M63.92,23.25a1.5,1.5,0,0,0-1.39-1H40.3L33.39,1.08A1.5,1.5,0,0,0,32,0h0a1.49,1.49,0,0,0-1.39,1L23.7,22.22H1.47a1.49,1.49,0,0,0-1.39,1A1.39,1.39,0,0,0,.6,24.85l18,13L11.65,59a1.39,1.39,0,0,0,.51,1.61,1.47,1.47,0,0,0,.88.3,1.29,1.29,0,0,0,.88-0.3l18-13.08L50,60.68a1.55,1.55,0,0,0,1.76,0,1.39,1.39,0,0,0,.51-1.61l-6.9-21.14,18-13A1.45,1.45,0,0,0,63.92,23.25ZM42.75,36.18a1.39,1.39,0,0,0-.51,1.61l5.81,18L32.85,44.69a1.41,1.41,0,0,0-1.67,0L15.92,55.74l5.81-18a1.39,1.39,0,0,0-.51-1.61L6,25.12H24.7a1.49,1.49,0,0,0,1.39-1L32,6.17l5.81,18a1.5,1.5,0,0,0,1.39,1H58Z "></path>
									</svg>
								</span>
								<span class="icon__star--filled ">
									<svg version="1.1 " xmlns="https://www.w3.org/2000/svg " width="64 " height="60.9 " viewBox="0 0 64 64 ">
										<path d="M63.92,23.25a1.5,1.5,0,0,0-1.39-1H40.3L33.39,1.08A1.5,1.5,0,0,0,32,0h0a1.49,1.49,0,0,0-1.39,1L23.7,22.22H1.47a1.49,1.49,0,0,0-1.39,1A1.39,1.39,0,0,0,.6,24.85l18,13L11.65,59a1.39,1.39,0,0,0,.51,1.61,1.47,1.47,0,0,0,.88.3,1.29,1.29,0,0,0,.88-0.3l18-13.08L50,60.68a1.55,1.55,0,0,0,1.76,0,1.39,1.39,0,0,0,.51-1.61l-6.9-21.14,18-13A1.45,1.45,0,0,0,63.92,23.25Z "></path>
									</svg>
								</span>
							</div>
							<span class="wk-label ">위시리스트에 추가</span>
						</button>
						<!-- end: include 'wishlist-button-collection' with '6373663080599' -->
					</div>
				</a>
			</div>
			<div class=" custom-module__content custom-module__content--section-1 custom-module__content--col-8 ">
				<a class="product-card product-card--has-hover-text " href="/products/alpaca-wrap-coat-black " data-cy="productCard " js-product-link=" ">
					<div class="product-card__thumbnail-container ">
						<div class="responsive-card-image__wrapper product-card__thumbnail product-card__thumbnail--primary " data-image-id="28261628772503 " js-responsive-image=" ">
							<img class="responsive-card-image__image" alt="Alpaca wrap coat black " 
								src="../assets/col3_3.jpg" tabindex="-1 " >
						</div>
					</div>
					<div class="product-card__footer ">
						<span class="product-card__title " js-product-link="product-title ">
						알파카 랩 코트 블랙
						</span>
						<div class="product-card__details ">
							<div class="product-price " js-recommended-products="productPrices ">
								<span data-product-id="6373565890711 " data-variant-id="38856445067415 " data-price="112000 " js-product-form="price " js-currency="price ">
								<span class="money notranslate " data-gip-price-id="7NMtRr5ohE9tK4It " data-gip-original-value="1120 " data-gip-converted="true ">1,576,000원</span>
								</span>
							</div>
							<div class="product-card__sizes " js-recommended-products="productSizes ">
								사이즈 :
								34,
								36,
								38
							</div>
						</div>
					</div>
					<div class="product-card__wishlist ">
						<!-- start: include 'wishlist-button-collection' with '6373565890711' -->
						<button type="button " class="wk-button-collection wk-add-product " title="위시리스트에 추가 " data-wk-add-product="6373565890711 ">
							<div class="wk-icon ">
								<span class="icon__star ">
									<svg version="1.1 " xmlns="https://www.w3.org/2000/svg " width="64 " height="60.9 " viewBox="0 0 64 64 ">
										<path d="M63.92,23.25a1.5,1.5,0,0,0-1.39-1H40.3L33.39,1.08A1.5,1.5,0,0,0,32,0h0a1.49,1.49,0,0,0-1.39,1L23.7,22.22H1.47a1.49,1.49,0,0,0-1.39,1A1.39,1.39,0,0,0,.6,24.85l18,13L11.65,59a1.39,1.39,0,0,0,.51,1.61,1.47,1.47,0,0,0,.88.3,1.29,1.29,0,0,0,.88-0.3l18-13.08L50,60.68a1.55,1.55,0,0,0,1.76,0,1.39,1.39,0,0,0,.51-1.61l-6.9-21.14,18-13A1.45,1.45,0,0,0,63.92,23.25ZM42.75,36.18a1.39,1.39,0,0,0-.51,1.61l5.81,18L32.85,44.69a1.41,1.41,0,0,0-1.67,0L15.92,55.74l5.81-18a1.39,1.39,0,0,0-.51-1.61L6,25.12H24.7a1.49,1.49,0,0,0,1.39-1L32,6.17l5.81,18a1.5,1.5,0,0,0,1.39,1H58Z "></path>
									</svg>
								</span>
								<span class="icon__star--filled ">
									<svg version="1.1 " xmlns="https://www.w3.org/2000/svg " width="64 " height="60.9 " viewBox="0 0 64 64 ">
										<path d="M63.92,23.25a1.5,1.5,0,0,0-1.39-1H40.3L33.39,1.08A1.5,1.5,0,0,0,32,0h0a1.49,1.49,0,0,0-1.39,1L23.7,22.22H1.47a1.49,1.49,0,0,0-1.39,1A1.39,1.39,0,0,0,.6,24.85l18,13L11.65,59a1.39,1.39,0,0,0,.51,1.61,1.47,1.47,0,0,0,.88.3,1.29,1.29,0,0,0,.88-0.3l18-13.08L50,60.68a1.55,1.55,0,0,0,1.76,0,1.39,1.39,0,0,0,.51-1.61l-6.9-21.14,18-13A1.45,1.45,0,0,0,63.92,23.25Z "></path>
									</svg>
								</span>
							</div>
							<span class="wk-label ">위시리스트에 추가</span>
						</button>
						<!-- end: include 'wishlist-button-collection' with '6373565890711' -->
					</div>
				</a>
			</div>
		</div>
	</section>
	<section class="custom-module custom-module--text-and-navigation custom-module--border-inner-dark custom-module--border-outer-dark custom-module--no-crop " data-section-id=" " data-section-type="custom-module " data-header-theme="light " data-header-transparent="false " js-custom-module="container ">
		<div class="custom-module__container ">
			<div class="custom-module__text-column custom-module__text-column--nav ">
				<ul class="custom-module__navlist navlist ">
					<li class=" navlist__item ">
						<a class=" navlist__link text-link " href="/pages/our-story ">
						About us
						</a>
					</li>
					<li class=" navlist__item ">
						<a class=" navlist__link text-link " href="/pages/stores ">
						Stores
						</a>
					</li>
					<li class=" navlist__item ">
						<a class=" navlist__link text-link " href="/pages/sustainability ">
						Sustainability
						</a>
					</li>
					<li class=" navlist__item ">
						<a class=" navlist__link text-link " href="/pages/careers ">
						Careers
						</a>
					</li>
				</ul>
				<div class="custom-module__nav-dropdown select__container ">
					<div class="custom-select__wrapper ">
						<select class="custom-module__nav-select select--center custom-select__select " style="background-image: url(../assets/icon-small-arrow-down.svg); " role="navigation " js-custom-module="navigation ">
							<option value="/pages/our-story ">
								About us
							</option>
							<option value="/pages/stores ">
								Stores
							</option>
							<option value="/pages/sustainability ">
								Sustainability
							</option>
							<option value="/pages/careers ">
								Careers
							</option>
						</select>
						<span class="custom-select__label text-small ">
						About us
						</span>
					</div>
					<span class="select__current-title "></span>
				</div>
			</div>
			<div class="custom-module__text-column custom-module__text-column--content rte" style='padding-top:50px;'>
				<p>Totême 은 독특한 미적감각을 살린 스타일 유니버스입니다. 스톡홀름에 기반을 둔 이 레이블은 뚜렷한 디자인, 꼼꼼한 장인정신, 그리고 체계적인 반복을 통해 모던 유니폼의 매력을 탐구합니다. 여성의 삶과 필요에 영감을 받아, 그들이 목표로 하는 것을 서포트 하는 드레스코드와 옷장을 정의할 야망을 품고있습니다.</p>
				<div style="text-align: center; "><img src="../assets/about1.jpg" alt="Elin Kling &amp; Karl Lindman "></div>
				<h6 style="text-align: center; ">엘린 클링과 칼 린드먼 (Elin Kling and Karl Lindman)</h6>
				<p>확실한 관점 및 디자인 DNA를 통해 진행된 에딧은, 시그니쳐 스타일과 조명된 옵션들을 중심으로 이루어집니다. 그것은 각기 다른 경우에 맞게 스타일링되고 제안되는 강한 정체성을 지닌 상징적인 작품들입니다. 이 룩은 꼼꼼하게 세심하게 제작되며, 뚜렷한 실루엣, 완벽한 재단, 고급 패브릭 등으로 확인 가능합니다. 유행을 초월한 옷장을 선보일 수 있게끔, 시간이 지남에 따라 제품들은 미묘하게 세련되고 변형될 겁니다.</p>
				<l>Totême 2014년 엘린 클링과 칼 린드먼에 의해 설립되었습니다.</l>
			</div>
		</div>
	</section>
</main>
<!-- END content_for_index -->