<div class="container">
  <div class='wrapper'>

   <div class="template-account__text_hdtype_1 alert title">
      <div class="rte">
         <p class="error">기존 비밀번호를 입력해 주세요.<br>새 비밀번호를 입력해 주세요.<br>새 비밀번호를 동일하게  입력해 주세요.<br>기존 비밀번호를 입력해 주세요.<br>새 비밀번호를 입력해 주세요.<br>새 비밀번호를 동일하게  입력해 주세요.<br></p>
       </div>
   </div>
     <!-- -->

     <div class="example-description">
        <div class="rte" style='text-align: center;'>
           [ 보통 ] Usage > 입력박스 : input-valid / 버튼 : is-active
        </div>
     </div>

     <div class='example'>
         <div class="input-wrap">
            <div class="input-block">
               <label class="form-group__label subtitle-2 is-hidden" for="CustomerEmail">
               Email
               </label>
               <input id="CustomerEmail" autocapitalize="off" autocomplete="off" autofocus="" name="customer[email]" placeholder="Email" required="" spellcheck="false" type="email">
            </div>
            <div class="input-block">
               <label class="form-group__label subtitle-2 is-hidden" for="CustomerPassword">
               Password
               </label>
               <input id="CustomerPassword" name="customer[password]" placeholder="Password" required="" type="password">
            </div>
            <div class="button-block">
               <input class="button button--primary button--block button--large is-valid" type="submit" value="Log in">
            </div>
         </div>
     </div>

     <!-- -->

     <div  class="example-description">
        <div class="rte" style='text-align: center;'>
           [ 완료됨 ] Usage > 입력박스 : input-valid / 버튼 : is-active
        </div>
     </div>
     <div class='example'>
        <div class="input-wrap">
           <div class="input-block">
              <label class="form-group__label subtitle-2 is-hidden" for="CustomerEmail">
              Email
              </label>
              <input id="CustomerEmail" autocapitalize="off" autocomplete="off" autofocus="" name="customer[email]" placeholder="Email" required="" spellcheck="false" type="email" class="input-valid">
           </div>
           <div class="input-block">
              <label class="form-group__label subtitle-2 is-hidden" for="CustomerPassword">
              Password
              </label>
              <input id="CustomerPassword" name="customer[password]" placeholder="Password" required="" type="password" class="input-valid">
           </div>
           <div class="button-block">
              <input class="button button--primary button--block button--large is-valid is-active" type="submit" value="Log in">
           </div>
        </div>
     </div>

     <!-- -->

     <div class="example-description">
        <div class="rte" style='text-align: center;'>
           [ 에러 발생 ] 
        </div>
     </div>
     <div  class='example'>
        <div class="input-wrap">
           <div class="input-block">
              <label class="form-group__label subtitle-2 is-hidden" for="CustomerEmail">
              Email
              </label>
              <input id="CustomerEmail" autocapitalize="off" autocomplete="off" autofocus="" name="customer[email]" placeholder="Email" required="" spellcheck="false" type="email" class="input-error">
           </div>
           <div class="input-block">
              <label class="form-group__label subtitle-2 is-hidden" for="CustomerPassword">
              Password
              </label>
              <input id="CustomerPassword" name="customer[password]" placeholder="Password" required="" type="password" class="input-error">
           </div>
           <div class="button-block">
              <input class="button button--primary button--block button--large is-error" disabled="true" type="submit" value="Log in">
           </div>
        </div>
     </div>

     <!-- -->

     <div class="example-description">
        <div class="rte" style='text-align: center;'>
           [ 에러 텍스트 ]
        </div>
     </div>
     <div class='example'>
        <div class="input-wrap">
           <div class="input-block">
              <label class="form-group__label subtitle-2 is-hidden" for="CustomerEmail">
              Email
              </label>
              <input id="CustomerEmail" autocapitalize="off" autocomplete="off" autofocus="" name="customer[email]" placeholder="Email" required="" spellcheck="false" type="email" class="input-error">
              <p class="error comment">계좌번호 입력시(-)를 제외하고 입력해주세요.</p>
           </div>
           <div class="button-block">
              <input class="button button--primary button--block button--large is-valid is-error" type="submit" value="Confirm">
           </div>
        </div>
     </div>

     <!-- -->

     <div  class="example-description">
      <div class="rte" style='text-align: center;'>
         [ 하단 체크 박스 ]
      </div>
   </div>
   <div class='example'>
      <div class="input-wrap">
         <div class="input-block">
            <input id="CustomerId" autocapitalize="off" autocomplete="off" autofocus="" placeholder="아이디 또는 이메일" required="" spellcheck="false" type="email">
         </div>
         <div class="checkbox-block">
            <div class="checkbox_custom_box">
               <input id="checkEmail" class='checkbox' value="1" type="checkbox"></input>
               <label for="checkEmail">위 이메일 주소를 아이디로 사용</label>
            </div>
         </div>
      </div>
   </div>
   <!-- -->


        <!-- -->

        <div  class="example-description">
          <div class="rte" style='text-align: center;'>
            [ 드랍다운 박스 ]
          </div>
       </div>
       <div class='example'>
          <div class="inpur-wrap">
             <div class="input-block">
              <select class="toteme-select-style toteme-button-style">
                <option value="AF">naver.com</option>
                <option value="AX">gmail.com</option>
                <option value="AX">직접입력</option>
             </select>
             </div>
          </div>
       </div>
       <!-- -->


        <!-- -->

        <div  class="example-description">
        <div class="rte" style='text-align: center;'>
          드랍다운 박스 (애니메이션)
        </div>
      </div>
      <div class='example'>
        <div class="form-group">
            <div class="input-block form-group__field">
            <select  class="toteme-select-style toteme-button-style animation" >
              <option value="AF">naver.com</option>
              <option value="AX">gmail.com</option>
              <option value="AX">직접입력</option>
            </select>
            </div>
        </div>
      </div>
      <!-- -->

      <div class="example-description">
         <div class="rte" style='text-align: center;'>
           [ 모달 팝업 ]
         </div>
       </div>
       <div class='example'>
         <div class="button-block">
            <button type="button" class="button button--large button--block modal_trigger" data-modal="verify-modal">팝업</button>
         </div>
       </div>
       <div id="verify-modal" class="modal modal--light verify-modal" role="dialog" tabindex="-1">
         <div class="modal__overlay" tabindex="-1">
            <div class="verify-modal">
               <div class="modal__card">
                  <div class="modal__header">
                     <h5 class="modal__title  preorder-modal__title">본인인증방법 선택</h5>
                     <button class="modal__close">
                        <span class="visually-hidden">
                           Close
                        </span> <svg class="icon icon--large icon__close" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M23 12c0-6.075-4.925-11-11-11S1 5.925 1 12s4.925 11 11 11 11-4.925 11-11zM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12zm6.593-2.7l.707-.707 2.7 2.7 2.7-2.7.707.707-2.7 2.7 2.7 2.7-.707.707-2.7-2.7-2.7 2.7-.707-.707 2.7-2.7-2.7-2.7z"></path>
                        </svg> </button>
                  </div>
                  <div class="modal__body">
                     <div class="verify_container checkout">
                        <div class="button-block pcs2">
                           <input class="btn white" type="button" value="휴대폰 인증">
                           <input class="btn white" type="button" value="I-PIN 인증">
                       </div>
                       <div class="verify_txt_box">
                           <h6 class="payment_tit1">본인인증 시 유의사항</h6>
                           <p>본인인증 서비스는 신용정보 취급정식 인가 업체인 (주)드림시큐리티 / (주)서울신용평가 정보에서 제공합니다.</p>
                           <h6 class="payment_tit1">본인인증에 문제가 있는 경우</h6>
                           <p>(주)드림시큐리티 02-1899-4134 / (주)서울신용평가정보 1577-1006 으로 문의하여 주시기 바랍니다.</p>
                           <p>위 인증방법이 모두 실패하셨을 경우, 더현대 고객센터 [0000-0000]로 문의하여 주시기 바랍니다.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="example-description">
         <div class="rte" style='text-align: center;'>
           [ 모달 팝업 small ]
         </div>
       </div>
       <div class='example'>
         <div class="button-block">
            <button type="button" class="button button--large button--block modal_trigger" data-modal="small-modal">팝업</button>
         </div>
       </div>
       <div id="small-modal" class="modal modal--light sm-modal small-modal" role="dialog" tabindex="-1">
         <div class="modal__overlay" tabindex="-1">
            <div class="verify-modal">
               <div class="modal__card">
                  <div class="modal__header">
                     <h5 class="modal__title  preorder-modal__title">Title</h5>
                     <button class="modal__close">
                        <span class="visually-hidden">
                           Close
                        </span> <svg class="icon icon--large icon__close" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M23 12c0-6.075-4.925-11-11-11S1 5.925 1 12s4.925 11 11 11 11-4.925 11-11zM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12zm6.593-2.7l.707-.707 2.7 2.7 2.7-2.7.707.707-2.7 2.7 2.7 2.7-.707.707-2.7-2.7-2.7 2.7-.707-.707 2.7-2.7-2.7-2.7z"></path>
                        </svg> </button>
                  </div>
                  <div class="modal__body">
                     <p class="ta_c">Contents</p>
                     <div class="button-block pcs2_vertical">
                        <div class="loading-wrap">
                           <input class="button button--primary button--block button--large" type="button" value="확인">
                           <div class="loader">
                              <div class="smiley-spin">
                                 <svg class="icon icon--medium icon__smiley" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 15.5a7.5 7.5 0 110-15 7.5 7.5 0 010 15zm0-1a6.5 6.5 0 100-13 6.5 6.5 0 000 13zM4.947 9.776l-.894.448a4.413 4.413 0 007.894 0l-.894-.448a3.413 3.413 0 01-6.106 0zM9.5 5h1v2h-1V5zm-3 0h-1v2h1V5z"></path></svg>
                              </div>
                           </div>
                        </div>
      
                        <div class="loading-wrap">
                           <input class="button button--primary button--block button--large" type="button" value="취소">
                           <div class="loader">
                              <div class="smiley-spin">
                                 <svg class="icon icon--medium icon__smiley" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 15.5a7.5 7.5 0 110-15 7.5 7.5 0 010 15zm0-1a6.5 6.5 0 100-13 6.5 6.5 0 000 13zM4.947 9.776l-.894.448a4.413 4.413 0 007.894 0l-.894-.448a3.413 3.413 0 01-6.106 0zM9.5 5h1v2h-1V5zm-3 0h-1v2h1V5z"></path></svg>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      
      <div class="example-description">
         <div class="rte" style='text-align: center;'>
           [ 로그인 팝업 ]
         </div>
       </div>
      <div class='example'>
         <div class="button-block">
            <button type="button" class="button button--large button--block modal_trigger" data-modal="login-modal">로그인 팝업</button>
         </div>
       </div>
       <div id="login-modal" class="modal modal--light login-modal" role="dialog" tabindex="-1">
         <div class="modal__overlay" tabindex="-1">
            <div class="verify-modal">
               <div class="modal__card">
                  <div class="modal__header">
                     <h5 class="modal__title  preorder-modal__title">로그인</h5>
                     <button class="modal__close">
                        <span class="visually-hidden">
                           Close
                        </span> <svg class="icon icon--large icon__close" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M23 12c0-6.075-4.925-11-11-11S1 5.925 1 12s4.925 11 11 11 11-4.925 11-11zM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12zm6.593-2.7l.707-.707 2.7 2.7 2.7-2.7.707.707-2.7 2.7 2.7 2.7-.707.707-2.7-2.7-2.7 2.7-.707-.707 2.7-2.7-2.7-2.7z"></path>
                        </svg> </button>
                  </div>
                  <div class="modal__body">
                     <div class="section login_join login_page">
                        <form method="post">
                             <input type="hidden" name="form_type" value="customer_login"><input type="hidden" name="utf8" value="✓">
                             <div class="idoremail label-block input-block">
                                <label class="form-group__label subtitle-2 is-hidden" for="customerId">
                                ID 또는 이메일
                                </label>
                                <input id="customerId" autocapitalize="off" autocomplete="off" autofocus="" name="customer[id]" placeholder="ID 또는 이메일" required="" spellcheck="false" type="text" data-need="id" data-need-length="8">
                                <p class="error comment" style='display: none;'>아이디를 확인해주세요.</p>
                             </div>
                             <div class="password label-block input-block">
                                <label class="form-group__label subtitle-2 is-hidden" for="CustomerPassword">
                                비밀번호
                                </label>
                                <input id="CustomerPassword" name="customer[password]" placeholder="비밀번호" required="" type="password" data-need="password" data-need-length="8">
                                <p class="error comment" style='display: none;'>비밀번호를 확인해주세요.</p>
                             </div>
     
                             <div class="login button-block loading-wrap">
                                <input class="button button--primary button--block button--large" type="submit" data-form-submit="doLogin" value="로그인">
                                <div class="loader">
                                   <div class="smiley-spin">
                                      <svg class="icon icon--medium icon__smiley" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 15.5a7.5 7.5 0 110-15 7.5 7.5 0 010 15zm0-1a6.5 6.5 0 100-13 6.5 6.5 0 000 13zM4.947 9.776l-.894.448a4.413 4.413 0 007.894 0l-.894-.448a3.413 3.413 0 01-6.106 0zM9.5 5h1v2h-1V5zm-3 0h-1v2h1V5z"></path></svg>
                                   </div>
                                </div>
                             </div>
                             <div class="defaultblock sns-buttons label-block input-block">
                              <div>
                                 <a class='link-text-type'>
                                    <span>아이디 찾기</span>
                                 </a class='link-text-type'>
                                 
                                 <a class='link-text-type'>
                                    <span>회원가입</span>
                                 </a>
   
                              </div>
                              <div>
                                 <a class='link-text-type'>
                                    <span>비밀번호 찾기</span>
                                 </a>
                                 <a class='link-text-type'>
                                    <span>비회원 주문조회</span>
                                 </a>   
                              </div>
            
                           </div>
                             <div class="defaultblock sns-buttons label-block input-block">
                                <div>
                                   <label class="radiobutton naver">
                                      <input type="radio" name="test_radio" value="옵션1">
                                      <span>네이버</span>
                                   </label>
                                   
                                   <label class="radiobutton kakao last" style="clear:both">
                                      <input type="radio" name="test_radio" value="옵션1">
                                      <span>카카오톡</span>
                                   </label>
     
                                </div>
                                <div>
                                   <label class="radiobutton facebook">
                                      <input type="radio" name="test_radio" value="옵션1">
                                      <span>페이스북</span>
                                   </label>
                                   <label class="radiobutton google last">
                                      <input type="radio" name="test_radio" value="옵션1">
                                      <span>구글</span>
                                   </label>   
                                </div>
              
                             </div>
                        </form>
     
                  </div>
                  </div>
                  
                  <div class="modal__footer">
                     <p>Totême 온라인스토어는 더현대닷컴이 운영·제공하는 사이트로 기존 회원은 더현대닷컴 아이디와 비밀번호로 바로 이용 가능합니다.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>




      <div class="example-description">
         <div class="rte" style='text-align: center;'>
           [ 국가선택 팝업 팝업 ]
         </div>
       </div>
      <div class='example'>
         <div class="button-block">
            <button type="button" class="button button--large button--block modal_trigger" data-modal="country-modal">국가선택 팝업</button>
         </div>
       </div>
       <style>
         .country-modal .modal__card{ width:600px;}
         @media (max-width:787px){
            .country-modal .modal__card{ width:100%;}
         }
            .country-modal .modal__card .section{ width:100%;}
            .country-modal .modal__footer p{text-align: center; padding: 22px;}
       </style>
       <div id="country-modal" class="modal modal--light country-modal common-modal" role="dialog" tabindex="-1">
         <div class="modal__overlay" tabindex="-1">
            <div class="verify-modal">
               <div class="modal__card">
                  <div class="modal__header">
                     <h5 class="modal__title  preorder-modal__title">배송국가를 선택하세요</h5>
                     <button class="modal__close">
                        <span class="visually-hidden">
                           Close
                        </span> <svg class="icon icon--large icon__close" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M23 12c0-6.075-4.925-11-11-11S1 5.925 1 12s4.925 11 11 11 11-4.925 11-11zM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12zm6.593-2.7l.707-.707 2.7 2.7 2.7-2.7.707.707-2.7 2.7 2.7 2.7-.707.707-2.7-2.7-2.7 2.7-.707-.707 2.7-2.7-2.7-2.7z"></path>
                        </svg> </button>
                  </div>
                  <div class="modal__body">
                     <div class="section">

                        <div class="input-block">
                           <select class="toteme-select-style toteme-button-style">
                                 <option value="AF">Afghanistan</option>
                                 <option value="AX">Aland Islands</option>
                                 <option value="AL">Albania</option>
                                 <option value="DZ">Algeria</option>
                                 <option value="AS">American Samoa</option>
                                 <option value="AD">Andorra</option>
                                 <option value="AO">Angola</option>
                                 <option value="AI">Anguilla</option>
                                 <option value="AQ">Antarctica</option>
                                 <option value="AG">Antigua and Barbuda</option>
                                 <option value="AR">Argentina</option>
                                 <option value="AM">Armenia</option>
                                 <option value="AW">Aruba</option>
                                 <option value="AU">Australia</option>
                                 <option value="AT">Austria</option>
                                 <option value="AZ">Azerbaijan</option>
                                 <option value="BS">Bahamas</option>
                                 <option value="BH">Bahrain</option>
                                 <option value="BD">Bangladesh</option>
                                 <option value="BB">Barbados</option>
                                 <option value="BY">Belarus</option>
                                 <option value="BE">Belgium</option>
                                 <option value="BZ">Belize</option>
                                 <option value="BJ">Benin</option>
                                 <option value="BM">Bermuda</option>
                                 <option value="BT">Bhutan</option>
                                 <option value="BO">Bolivia</option>
                                 <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                                 <option value="BA">Bosnia and Herzegovina</option>
                                 <option value="BW">Botswana</option>
                                 <option value="BR">Brazil</option>
                                 <option value="IO">British Indian Ocean Territory</option>
                                 <option value="BN">Brunei Darussalam</option>
                                 <option value="BG">Bulgaria</option>
                                 <option value="BF">Burkina Faso</option>
                                 <option value="BI">Burundi</option>
                                 <option value="KH">Cambodia</option>
                                 <option value="CM">Cameroon</option>
                                 <option value="CA">Canada</option>
                                 <option value="CV">Cape Verde</option>
                                 <option value="KY">Cayman Islands</option>
                                 <option value="CF">Central African Republic</option>
                                 <option value="TD">Chad</option>
                                 <option value="CL">Chile</option>
                                 <option value="CN">China</option>
                                 <option value="CX">Christmas Island (Australia)</option>
                                 <option value="CC">Cocos (Keeling) Islands</option>
                                 <option value="CO">Colombia</option>
                                 <option value="KM">Comoros</option>
                                 <option value="CG">Congo</option>
                                 <option value="CK">Cook Islands</option>
                                 <option value="CR">Costa Rica</option>
                                 <option value="CI">Cote d'Ivoire</option>
                                 <option value="HR">Croatia</option>
                                 <option value="CW">Curacao</option>
                                 <option value="CY">Cyprus</option>
                                 <option value="CZ">Czech Republic</option>
                                 <option value="CD">Democratic Republic of the Congo</option>
                                 <option value="DK">Denmark</option>
                                 <option value="DJ">Djibouti</option>
                                 <option value="DM">Dominica</option>
                                 <option value="DO">Dominican Republic</option>
                                 <option value="EC">Ecuador</option>
                                 <option value="EG">Egypt</option>
                                 <option value="SV">El Salvador</option>
                                 <option value="GQ">Equatorial Guinea</option>
                                 <option value="ER">Eritrea</option>
                                 <option value="EE">Estonia</option>
                                 <option value="ET">Ethiopia</option>
                                 <option value="FK">Falkland Islands (Malvinas)</option>
                                 <option value="FO">Faroe Islands</option>
                                 <option value="FJ">Fiji</option>
                                 <option value="FI">Finland</option>
                                 <option value="FR">France</option>
                                 <option value="GF">French Guiana</option>
                                 <option value="PF">French Polynesia</option>
                                 <option value="TF">French Southern Territories</option>
                                 <option value="GA">Gabon</option>
                                 <option value="GM">Gambia</option>
                                 <option value="GE">Georgia</option>
                                 <option value="DE">
                                   Germany
                                 </option>
                                 <option value="GH">Ghana</option>
                                 <option value="GI">Gibraltar</option>
                                 <option value="GR">Greece</option>
                                 <option value="GL">Greenland</option>
                                 <option value="GD">Grenada</option>
                                 <option value="GP">Guadeloupe</option>
                                 <option value="GU">Guam</option>
                                 <option value="GT">Guatemala</option>
                                 <option value="GN">Guinea</option>
                                 <option value="GW">Guinea-Bissau</option>
                                 <option value="GY">Guyana</option>
                                 <option value="HT">Haiti</option>
                                 <option value="VA">Holy See (Vatican City State)</option>
                                 <option value="HN">Honduras</option>
                                 <option value="HK">Hong Kong</option>
                                 <option value="HU">Hungary</option>
                                 <option value="IS">Iceland</option>
                                 <option value="IN">India</option>
                                 <option value="ID">Indonesia</option>
                                 <option value="IQ">Iraq</option>
                                 <option value="IE">Ireland, Republic of</option>
                                 <option value="IL">Israel</option>
                                 <option value="IT">Italy</option>
                                 <option value="JM">Jamaica</option>
                                 <option value="JP">Japan</option>
                                 <option value="JO">Jordan</option>
                                 <option value="KZ">Kazakhstan</option>
                                 <option value="KE">Kenya</option>
                                 <option value="KI">Kiribati</option>
                                 <option value="KR">Korea, Republic of (South Korea)</option>
                                 <option value="XK">Kosovo</option>
                                 <option value="KW">Kuwait</option>
                                 <option value="KG">Kyrgyzstan</option>
                                 <option value="LA">Lao People's Democratic Republic</option>
                                 <option value="LV">Latvia</option>
                                 <option value="LB">Lebanon</option>
                                 <option value="LS">Lesotho</option>
                                 <option value="LR">Liberia</option>
                                 <option value="LI">Liechtenstein</option>
                                 <option value="LT">Lithuania</option>
                                 <option value="LU">Luxembourg</option>
                                 <option value="MO">Macao</option>
                                 <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                                 <option value="MG">Madagascar</option>
                                 <option value="MW">Malawi</option>
                                 <option value="MY">Malaysia</option>
                                 <option value="MV">Maldives</option>
                                 <option value="ML">Mali</option>
                                 <option value="MT">Malta</option>
                                 <option value="MH">Marshall Islands</option>
                                 <option value="MQ">Martinique</option>
                                 <option value="MR">Mauritania</option>
                                 <option value="MU">Mauritius</option>
                                 <option value="YT">Mayotte</option>
                                 <option value="MX">Mexico</option>
                                 <option value="FM">Micronesia, Federated States of</option>
                                 <option value="MD">Moldova, Republic of</option>
                                 <option value="MC">Monaco</option>
                                 <option value="MN">Mongolia</option>
                                 <option value="ME">Montenegro</option>
                                 <option value="MS">Montserrat</option>
                                 <option value="MA">Morocco</option>
                                 <option value="MZ">Mozambique</option>
                                 <option value="MM">Myanmar</option>
                                 <option value="NA">Namibia</option>
                                 <option value="NR">Nauru</option>
                                 <option value="NP">Nepal</option>
                                 <option value="NL">Netherlands</option>
                                 <option value="NC">New Caledonia</option>
                                 <option value="NZ">New Zealand</option>
                                 <option value="NI">Nicaragua</option>
                                 <option value="NE">Niger</option>
                                 <option value="NG">Nigeria</option>
                                 <option value="NU">Niue</option>
                                 <option value="NF">Norfolk Island</option>
                                 <option value="MP">Northern Mariana Islands</option>
                                 <option value="NO">Norway</option>
                                 <option value="OM">Oman</option>
                                 <option value="PK">Pakistan</option>
                                 <option value="PW">Palau</option>
                                 <option value="PS">Palestine</option>
                                 <option value="PA">Panama</option>
                                 <option value="PG">Papua New Guinea</option>
                                 <option value="PY">Paraguay</option>
                                 <option value="PE">Peru</option>
                                 <option value="PH">Philippines</option>
                                 <option value="PN">Pitcairn</option>
                                 <option value="PL">Poland</option>
                                 <option value="PT">Portugal</option>
                                 <option value="PR">Puerto Rico</option>
                                 <option value="QA">Qatar</option>
                                 <option value="RE">Reunion</option>
                                 <option value="RO">Romania</option>
                                 <option value="RU">Russia</option>
                                 <option value="RW">Rwanda</option>
                                 <option value="BL">Saint Barthelemy</option>
                                 <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                                 <option value="KN">Saint Kitts and Nevis</option>
                                 <option value="LC">Saint Lucia</option>
                                 <option value="MF">Saint Martin (French part)</option>
                                 <option value="PM">Saint Pierre and Miquelon</option>
                                 <option value="VC">Saint Vincent and the Grenadines</option>
                                 <option value="WS">Samoa</option>
                                 <option value="SM">San Marino</option>
                                 <option value="ST">Sao Tome and Principe</option>
                                 <option value="SA">Saudi Arabia</option>
                                 <option value="SN">Senegal</option>
                                 <option value="RS">Serbia</option>
                                 <option value="SC">Seychelles</option>
                                 <option value="SL">Sierra Leone</option>
                                 <option value="SG">Singapore</option>
                                 <option value="SX">Sint Maarten (Dutch part)</option>
                                 <option value="SK">Slovakia</option>
                                 <option value="SI">Slovenia</option>
                                 <option value="SB">Solomon Islands</option>
                                 <option value="ZA">South Africa</option>
                                 <option value="GS">South Georgia and the South Sandwich Islands</option>
                                 <option value="SS">South Sudan</option>
                                 <option value="ES">Spain</option>
                                 <option value="LK">Sri Lanka</option>
                                 <option value="SD">Sudan</option>
                                 <option value="SR">Suriname</option>
                                 <option value="SJ">Svalbard and Jan Mayen</option>
                                 <option value="SZ">Swaziland</option>
                                 <option value="SE">
                                   Sweden
                                 </option>
                                 <option value="CH">Switzerland</option>
                                 <option value="TW">Taiwan</option>
                                 <option value="TJ">Tajikistan</option>
                                 <option value="TZ">Tanzania, United Republic of</option>
                                 <option value="TH">Thailand</option>
                                 <option value="TL">Timor-Leste</option>
                                 <option value="TG">Togo</option>
                                 <option value="TK">Tokelau</option>
                                 <option value="TO">Tonga</option>
                                 <option value="TT">Trinidad and Tobago</option>
                                 <option value="TN">Tunisia</option>
                                 <option value="TR">Turkey</option>
                                 <option value="TM">Turkmenistan</option>
                                 <option value="TC">Turks and Caicos Islands</option>
                                 <option value="TV">Tuvalu</option>
                                 <option value="UG">Uganda</option>
                                 <option value="UA">Ukraine</option>
                                 <option value="AE">United Arab Emirates</option>
                                 <option value="GB">United Kingdom</option>
                                 <option value="US" selected="selected">
                                   United States
                                 </option>
                                 <option value="UM">United States Minor Outlying Islands</option>
                                 <option value="UY">Uruguay</option>
                                 <option value="UZ">Uzbekistan</option>
                                 <option value="VU">Vanuatu</option>
                                 <option value="VN">Vietnam</option>
                                 <option value="VG">Virgin Islands, British</option>
                                 <option value="VI">Virgin Islands, U.S.</option>
                                 <option value="WF">Wallis and Futuna</option>
                                 <option value="EH">Western Sahara</option>
                                 <option value="ZM">Zambia</option>
                                 <option value="ZW">Zimbabwe</option>
                           </select>
                        </div>
                        
                        <div class="button-block loading-wrap">
                           <input class="button button--primary button--block button--large" type="submit" value="확인">
                           <div class="loader">
                              <div class="smiley-spin">
                                 <svg class="icon icon--medium icon__smiley" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 15.5a7.5 7.5 0 110-15 7.5 7.5 0 010 15zm0-1a6.5 6.5 0 100-13 6.5 6.5 0 000 13zM4.947 9.776l-.894.448a4.413 4.413 0 007.894 0l-.894-.448a3.413 3.413 0 01-6.106 0zM9.5 5h1v2h-1V5zm-3 0h-1v2h1V5z"></path></svg>
                              </div>
                           </div>
                        </div>

                     </div>
                  </div>
                  
                  <div class="modal__footer">
                     <p>상품 가격과 배송비는 국가별 정책 및 세금에 따라 변경될 수 있는 점에 유의하세요.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>






      
      <div class="example-description">
         <div class="rte" style='text-align: center;'>
           [ 공지 팝업 팝업 ]
         </div>
       </div>
      <div class='example'>
         <div class="button-block">
            <button type="button" class="button button--large button--block modal_trigger" data-modal="notice-modal">공지 팝업</button>
         </div>
       </div>
       <div id="notice-modal" class="modal modal--light notice-modal common-modal" role="dialog" tabindex="-1">
         <div class="modal__overlay" tabindex="-1">
            <div class="verify-modal">
               <div class="modal__card">
                  <div class="modal__body">
                     <div class="section">

                        
                        <div class='image-area'>
                           <img src="../assets/no_image.jpg">
                        </div>
                     </div>
                  </div>
                  
                  <div class="modal__footer">
                     <div class="button-block loading-wrap">
                        <input class="button button--primary button--block button--large" type="submit" value="오늘 하루 보이지 않기">
                        <div class="loader">
                           <div class="smiley-spin">
                              <svg class="icon icon--medium icon__smiley" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 15.5a7.5 7.5 0 110-15 7.5 7.5 0 010 15zm0-1a6.5 6.5 0 100-13 6.5 6.5 0 000 13zM4.947 9.776l-.894.448a4.413 4.413 0 007.894 0l-.894-.448a3.413 3.413 0 01-6.106 0zM9.5 5h1v2h-1V5zm-3 0h-1v2h1V5z"></path></svg>
                           </div>
                        </div>
                     </div>
                     <div class="button-block loading-wrap modal__close">
                        <input class="button button--primary button--block button--large" type="submit" value="닫기">
                        <div class="loader">
                           <div class="smiley-spin">
                              <svg class="icon icon--medium icon__smiley" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 15.5a7.5 7.5 0 110-15 7.5 7.5 0 010 15zm0-1a6.5 6.5 0 100-13 6.5 6.5 0 000 13zM4.947 9.776l-.894.448a4.413 4.413 0 007.894 0l-.894-.448a3.413 3.413 0 01-6.106 0zM9.5 5h1v2h-1V5zm-3 0h-1v2h1V5z"></path></svg>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>


      <div class="example-description">
         <div class="rte" style='text-align: center;'>
           [ 뉴스레터 팝업 ]
         </div>
       </div>
      <div class='example'>
         <div class="button-block">
            <button type="button" class="button button--large button--block modal_trigger" data-modal="newsletter-modal">뉴스레터 팝업</button>
         </div>
       </div>
       <div id="newsletter-modal" class="modal modal--light newsletter-modal common-modal" role="dialog" tabindex="-1">
         <div class="modal__overlay" tabindex="-1">
            <div class="verify-modal">
               <div class="modal__card">
                  <div class="modal__header">
                     <h5 class="modal__title  preorder-modal__title">뉴스레터 구독</h5>
                     <button class="modal__close">
                        <span class="visually-hidden">
                           Close
                        </span> <svg class="icon icon--large icon__close" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M23 12c0-6.075-4.925-11-11-11S1 5.925 1 12s4.925 11 11 11 11-4.925 11-11zM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12zm6.593-2.7l.707-.707 2.7 2.7 2.7-2.7.707.707-2.7 2.7 2.7 2.7-.707.707-2.7-2.7-2.7 2.7-.707-.707 2.7-2.7-2.7-2.7z"></path>
                        </svg> </button>
                  </div>
                  <div class="modal__body">
                     <div class="section">

                        <div class="text-block newsletter-header-description" style='display: none;'>
                           <p>
                              첫 구매시 사용 가능한 10% 할인 코드를 드립니다.
                           </p>
                        </div>
                        
                        <div class="idoremail label-block input-block">
                           <label class="form-group__label subtitle-2 is-hidden" for="customerId">
                           이메일
                           </label>
                           <input id="customerId" autocapitalize="off" autocomplete="off" autofocus="" name="customer[id]" placeholder="이메일" required="" spellcheck="false" type="text" data-need="id" data-need-length="8">
                        </div>
                        <div class="text-block description checkEmail sub-description input-block">
                           <p class='newsletter-sub-checkbox-description'>
                              <input class="checkbox" value="1" type="checkbox">개인정보 <u>제3자 (Totême) 정보제공 및 국외 이전</u>에 동의합니다.
                           </p>
                           <p class='newsletter-sub-description'>
                              뉴스레터 구독(마케팅) 신청에 동의하신 것으로 간주합니다.
                           </p>
                        </div>
                        
                        <div class="button-block loading-wrap">
                           <input class="button button--primary button--block button--large" type="submit" value="구독하기">
                           <div class="loader">
                              <div class="smiley-spin">
                                 <svg class="icon icon--medium icon__smiley" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 15.5a7.5 7.5 0 110-15 7.5 7.5 0 010 15zm0-1a6.5 6.5 0 100-13 6.5 6.5 0 000 13zM4.947 9.776l-.894.448a4.413 4.413 0 007.894 0l-.894-.448a3.413 3.413 0 01-6.106 0zM9.5 5h1v2h-1V5zm-3 0h-1v2h1V5z"></path></svg>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  
               </div>
            </div>
         </div>
      </div>


      <div class="example-description">
         <div class="rte" style='text-align: center;'>
           [ 토스트 사용법, toteme.layout.js 참고 ] <br>
           <p style='text-align:left'>
            <b>alertToast</b>({<br>
               message:"토스트 메시지입니다. 테스트1", // 메시지 <br>
               timming:1000 // 유지 시간<br>
            })<br>
            </p>

         </div>
       </div>
      <div class='example'>
         <div class="button-block">
            <button type="button" class="button button--large button--block toastTest">토스트 테스트</button>
            <script>
               setTimeout(function(){
                  $(document).on("click",".toastTest",function(){
                     alertToast({
                        message:"토스트 메시지입니다.",
                        timming:5000
                     })
                  })
               },1)
            </script>
         </div>
       </div>

      <script src="https://image.thehyundai.com/pc/js/jquery-1.11.3.min.js"></script>
       <script>
          
          //modal toggle
         $('.modal_trigger').on('click', function(){
            var modal_name = $(this).attr('data-modal');
            $('.'+modal_name).addClass("is-active");
            $('body').css('overflow','hidden');
         });
         // modal close
         $('.modal__close').on('click', function(){
            $(this).parents('.modal').removeClass("is-active");
            $('body').css('overflow','');
         });
         $(document).on('mouseup', function (e){
            var modal = $(".modal__card");
            if(modal.has(e.target).length === 0){
                  modal.parents('.modal').removeClass("is-active");
                  $('body').css('overflow','');
            }
         });
       </script>

  </div>
</div>