<div class="container">
  <div class='wrapper'>

     <!-- -->

     <div class="example-description">
        <div class="rte" style='text-align: center;'>
           [ 보통 ] Usage > 입력박스 : input-valid / 버튼 : is-active
        </div>
     </div>

     <div class='example'>
        <div class="form-group">
           <div class="input-block form-group__field">
              <label class="form-group__label subtitle-2 is-hidden" for="CustomerEmail">
              Email
              </label>
              <input id="CustomerEmail" autocapitalize="off" autocomplete="off" autofocus="" name="customer[email]" placeholder="Email" required="" spellcheck="false" type="email">
           </div>
           <div class="input-block form-group__field">
              <label class="form-group__label subtitle-2 is-hidden" for="CustomerPassword">
              Password
              </label>
              <input id="CustomerPassword" name="customer[password]" placeholder="Password" required="" type="password">
           </div>
           <div class="input-block form-group__footer">
              <input class="button button--primary button--block button--large is-valid" type="submit" value="Log in">
           </div>
        </div>
     </div>

     <!-- -->

     <div  class="example-description">
        <div class="rte" style='text-align: center;'>
           [ 완료됨 ] Usage > 입력박스 : input-valid / 버튼 : is-active
        </div>
     </div>
     <div class='example'>
        <div class="input-wrap form-group">
           <div class="input-block form-group__field">
              <label class="form-group__label subtitle-2 is-hidden" for="CustomerEmail">
              Email
              </label>
              <input id="CustomerEmail" autocapitalize="off" autocomplete="off" autofocus="" name="customer[email]" placeholder="Email" required="" spellcheck="false" type="email" class="input-valid">
           </div>
           <div class="input-block form-group__field">
              <label class="form-group__label subtitle-2 is-hidden" for="CustomerPassword">
              Password
              </label>
              <input id="CustomerPassword" name="customer[password]" placeholder="Password" required="" type="password" class="input-valid">
           </div>
           <div class="input-block form-group__footer">
              <input class="button button--primary button--block button--large is-valid is-active" type="submit" value="Log in">
           </div>
        </div>
     </div>

     <!-- -->

     <div class="example-description">
        <div class="rte" style='text-align: center;'>
           [ 에러 발생 ] 
        </div>
     </div>
     <div  class='example'>
        <div class="input-wrap form-group">
           <div class="input-block form-group__field">
              <label class="form-group__label subtitle-2 is-hidden" for="CustomerEmail">
              Email
              </label>
              <input id="CustomerEmail" autocapitalize="off" autocomplete="off" autofocus="" name="customer[email]" placeholder="Email" required="" spellcheck="false" type="email" class="input-error">
           </div>
           <div class="input-block form-group__field">
              <label class="form-group__label subtitle-2 is-hidden" for="CustomerPassword">
              Password
              </label>
              <input id="CustomerPassword" name="customer[password]" placeholder="Password" required="" type="password" class="input-error">
           </div>
           <div class="input-block form-group__footer">
              <input class="button button--primary button--block button--large is-error" disabled="true" type="submit" value="Log in">
           </div>
        </div>
     </div>

     <!-- -->

     <div class="example-description">
        <div class="rte" style='text-align: center;'>
           이메일 에러
        </div>
     </div>
     <div class='example'>
        <div class="form-group">
           <div class="input-block form-group__field">
              <label class="form-group__label subtitle-2 is-hidden" for="CustomerEmail">
              Email
              </label>
              <input id="CustomerEmail" autocapitalize="off" autocomplete="off" autofocus="" name="customer[email]" placeholder="Email" required="" spellcheck="false" type="email" class="input-error">
              <p class="error comment">계좌번호 입력시(-)를 제외하고 입력해주세요.</p>
           </div>
           <div class="input-block form-group__footer">
              <input class="button button--primary button--block button--large is-valid is-active" type="submit" value="Confirm">
           </div>
        </div>
     </div>

     <!-- -->

     <div  class="example-description">
      <div class="rte" style='text-align: center;'>
         하단 체크 박스
      </div>
   </div>
   <div class='example'>
      <div class="form-group">
         <div class="input-block form-group__field">
            <input id="CustomerId" autocapitalize="off" autocomplete="off" autofocus="" placeholder="아이디 또는 이메일" required="" spellcheck="false" type="email">
         </div>
         <div class="text-block description form-group__field">
            <div class="checkbox_custom_box">
               <input id="checkEmail" class='checkbox' value="1" type="checkbox"></input>
               <label for="checkEmail">위 이메일 주소를 아이디로 사용</label>
            </div>
         </div>
      </div>
   </div>
   <!-- -->


        <!-- -->

        <div  class="example-description">
          <div class="rte" style='text-align: center;'>
            드랍다운 박스
          </div>
       </div>
       <div class='example'>
          <div class="form-group">
             <div class="input-block form-group__field">
              <select  class="toteme-select-style toteme-button-style no-animation" >
                <option value="AF">naver.com</option>
                <option value="AX">gmail.com</option>
                <option value="AX">직접입력</option>
             </select>
             </div>
          </div>
       </div>
       <!-- -->


        <!-- -->

        <div  class="example-description">
        <div class="rte" style='text-align: center;'>
          드랍다운 박스 (애니메이션)
        </div>
      </div>
      <div class='example'>
        <div class="form-group">
            <div class="input-block form-group__field">
            <select  class="toteme-select-style toteme-button-style" >
              <option value="AF">naver.com</option>
              <option value="AX">gmail.com</option>
              <option value="AX">직접입력</option>
            </select>
            </div>
        </div>
      </div>
      <!-- -->

      <div  class="example-description">
         <div class="rte" style='text-align: center;'>
           모달
         </div>
       </div>
       <div class='example'>
         <button type="button" class="button button--large button--block modal_trigger" data-modal="verify-modal">팝업</button>
       </div>
       <div id="verify-modal" class="modal modal--light verify-modal" role="dialog" tabindex="-1">
         <div class="modal__overlay" tabindex="-1">
            <div class="verify-modal">
               <div class="modal__card">
                  <div class="modal__header">
                     <h5 class="modal__title  preorder-modal__title">본인인증방법 선택</h5>
                     <button class="modal__close">
                        <span class="visually-hidden">
                           Close
                        </span> <svg class="icon icon--large icon__close" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path fill-rule="evenodd" clip-rule="evenodd" d="M23 12c0-6.075-4.925-11-11-11S1 5.925 1 12s4.925 11 11 11 11-4.925 11-11zM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12zm6.593-2.7l.707-.707 2.7 2.7 2.7-2.7.707.707-2.7 2.7 2.7 2.7-.707.707-2.7-2.7-2.7 2.7-.707-.707 2.7-2.7-2.7-2.7z"></path>
                        </svg> </button>
                  </div>
                  <div class="modal__body">
                     <div class="verify_container">
                        <div class="input-block form-group__footer">
                           <input class="button button--primary button--block button--large is-valid" type="button" value="휴대폰 인증">
                           <input class="button button--primary button--block button--large is-valid" type="button" value="I-PIN 인증">
                       </div>
                       <div class="verify_txt_box">
                           <h6 class="payment_tit1">본인인증 시 유의사항</h6>
                           <p>본인인증 서비스는 신용정보 취급정식 인가 업체인 (주)드림시큐리티 / (주)서울신용평가 정보에서 제공합니다.</p>
                           <h6 class="payment_tit1">본인인증에 문제가 있는 경우</h6>
                           <p>(주)드림시큐리티 02-1899-4134 / (주)서울신용평가정보 1577-1006 으로 문의하여 주시기 바랍니다.</p>
                           <p>위 인증방법이 모두 실패하셨을 경우, 더현대 고객센터 [0000-0000]로 문의하여 주시기 바랍니다.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script src="https://image.thehyundai.com/pc/js/jquery-1.11.3.min.js"></script>
       <script>
          //modal toggle
         $('.modal_trigger').on('click', function(){
            var modal_name = $(this).attr('data-modal');
            $('.'+modal_name).addClass("is-active");
            $('body').css('overflow','hidden');
         });
         // modal close
         $('.modal__close').on('click', function(){
            $(this).parents('.modal').removeClass("is-active");
            $('body').css('overflow','');
         });
         $(document).on('mouseup', function (e){
            var modal = $(".modal__card");
            if(modal.has(e.target).length === 0){
                  modal.parents('.modal').removeClass("is-active");
                  $('body').css('overflow','');
            }
         });
       </script>

  </div>
</div>