<div id="shopify-section-collection-template-custom-template" class="shopify-section">
	<div class="template-collection__container">
		<div class="template-collection__custom-modules">
			<section class="custom-module custom-module--image-full custom-module--no-crop">
				<div class="custom-module__container">
					<div class="custom-module__content custom-module__content--section-1">
						<div class="custom-module__content-wrapper">
							<div class="responsive-image__wrapper custom-module__content-image-wrapper">
								<span style="display: block; padding-top:140.0%;" aria-hidden="true"></span>
								<img class="responsive-image__image custom-module__content-image" alt=""
									src="../assets/col2_1.jpg">
							</div>
						</div>
					</div>
					<div class="custom-module__content custom-module__content--section-2">
						<div class="custom-module__content-wrapper">
							<div class="responsive-image__wrapper custom-module__content-image-wrapper">
								<span style="display: block; padding-top:140.0%;" aria-hidden="true"></span>
								<img class="responsive-image__image custom-module__content-image" alt=""
									src="../assets/col2_2.jpg">
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="custom-module custom-module--product-list-section custom-module--no-crop">
				<div class="custom-module__container">
					<div
						class="custom-module__content custom-module__content--section-1 custom-module__content--sm-col-12 custom-module__content--col-6">
						<a class="product-card product-card--small product-card--has-hover-text" href="">
							<div class="product-card__badge-listing">
								<div class="product-card__badge badge badge--secondary">
									<span>Exclusive</span>
								</div>
							</div>
							<div class="product-card__thumbnail-container">
								<div class="responsive-card-image__wrapper product-card__thumbnail product-card__thumbnail--primary">
									<img class="responsive-card-image__image" alt="Centered monogram silk scarf black"
										src="../assets/col4_1.jpg">
								</div>
							</div>
							<div class="product-card__footer">
								<span class="product-card__title">
									센터드 모노그램 실크 스카프 블랙
								</span>
								<div class="product-card__details">
									<div class="product-price">
										<span>
											<span class="money">281,000원</span>
										</span>
									</div>
									<div class="product-card__sizes">
										사이즈 : 원 사이즈
									</div>
								</div>
							</div>
							<div class="product-card__wishlist">
								<button type="button" class="wk-button-collection wk-add-product" title="Add to Wishlist">
									<div class="wk-icon">
										<span class="icon__star">
											<svg version="1.1" xmlns="https://www.w3.org/2000/svg" width="64" height="60.9"
												viewBox="0 0 64 64">
												<path
													d="M63.92,23.25a1.5,1.5,0,0,0-1.39-1H40.3L33.39,1.08A1.5,1.5,0,0,0,32,0h0a1.49,1.49,0,0,0-1.39,1L23.7,22.22H1.47a1.49,1.49,0,0,0-1.39,1A1.39,1.39,0,0,0,.6,24.85l18,13L11.65,59a1.39,1.39,0,0,0,.51,1.61,1.47,1.47,0,0,0,.88.3,1.29,1.29,0,0,0,.88-0.3l18-13.08L50,60.68a1.55,1.55,0,0,0,1.76,0,1.39,1.39,0,0,0,.51-1.61l-6.9-21.14,18-13A1.45,1.45,0,0,0,63.92,23.25ZM42.75,36.18a1.39,1.39,0,0,0-.51,1.61l5.81,18L32.85,44.69a1.41,1.41,0,0,0-1.67,0L15.92,55.74l5.81-18a1.39,1.39,0,0,0-.51-1.61L6,25.12H24.7a1.49,1.49,0,0,0,1.39-1L32,6.17l5.81,18a1.5,1.5,0,0,0,1.39,1H58Z">
												</path>
											</svg>
										</span>
										<span class="icon__star--filled">
											<svg version="1.1" xmlns="https://www.w3.org/2000/svg" width="64" height="60.9"
												viewBox="0 0 64 64">
												<path
													d="M63.92,23.25a1.5,1.5,0,0,0-1.39-1H40.3L33.39,1.08A1.5,1.5,0,0,0,32,0h0a1.49,1.49,0,0,0-1.39,1L23.7,22.22H1.47a1.49,1.49,0,0,0-1.39,1A1.39,1.39,0,0,0,.6,24.85l18,13L11.65,59a1.39,1.39,0,0,0,.51,1.61,1.47,1.47,0,0,0,.88.3,1.29,1.29,0,0,0,.88-0.3l18-13.08L50,60.68a1.55,1.55,0,0,0,1.76,0,1.39,1.39,0,0,0,.51-1.61l-6.9-21.14,18-13A1.45,1.45,0,0,0,63.92,23.25Z">
												</path>
											</svg>
										</span>
									</div>
									<span class="wk-label">장바구니 담기</span>
								</button>
							</div>
						</a>
					</div>
					<div
						class="custom-module__content custom-module__content--section-1 custom-module__content--sm-col-12 custom-module__content--col-6">
						<a class="product-card product-card--small product-card--has-hover-text" href="">
							<div class="product-card__badge-listing">
								<div class="product-card__badge badge badge--secondary">
									<span>Exclusive</span>
								</div>
							</div>
							<div class="product-card__thumbnail-container">
								<div class="responsive-card-image__wrapper product-card__thumbnail product-card__thumbnail--primary">
									<img class="responsive-card-image__image" alt="Centered monogram silk scarf creme"
										src="../assets/col4_2.jpg">
								</div>
							</div>
							<div class="product-card__footer">
								<span class="product-card__title">
									센터드 모노그램 실크 스카프 크림
								</span>
								<div class="product-card__details">
									<div class="product-price">
										<span>
											<span class="money">281,000원</span>
										</span>
									</div>
									<div class="product-card__sizes">
										사이즈 : 원 사이즈
									</div>
								</div>
							</div>
							<div class="product-card__wishlist">
								<button type="button" class="wk-button-collection wk-add-product" title="Add to Wishlist">
									<div class="wk-icon">
										<span class="icon__star">
											<svg version="1.1" xmlns="https://www.w3.org/2000/svg" width="64" height="60.9"
												viewBox="0 0 64 64">
												<path
													d="M63.92,23.25a1.5,1.5,0,0,0-1.39-1H40.3L33.39,1.08A1.5,1.5,0,0,0,32,0h0a1.49,1.49,0,0,0-1.39,1L23.7,22.22H1.47a1.49,1.49,0,0,0-1.39,1A1.39,1.39,0,0,0,.6,24.85l18,13L11.65,59a1.39,1.39,0,0,0,.51,1.61,1.47,1.47,0,0,0,.88.3,1.29,1.29,0,0,0,.88-0.3l18-13.08L50,60.68a1.55,1.55,0,0,0,1.76,0,1.39,1.39,0,0,0,.51-1.61l-6.9-21.14,18-13A1.45,1.45,0,0,0,63.92,23.25ZM42.75,36.18a1.39,1.39,0,0,0-.51,1.61l5.81,18L32.85,44.69a1.41,1.41,0,0,0-1.67,0L15.92,55.74l5.81-18a1.39,1.39,0,0,0-.51-1.61L6,25.12H24.7a1.49,1.49,0,0,0,1.39-1L32,6.17l5.81,18a1.5,1.5,0,0,0,1.39,1H58Z">
												</path>
											</svg>
										</span>
										<span class="icon__star--filled">
											<svg version="1.1" xmlns="https://www.w3.org/2000/svg" width="64" height="60.9"
												viewBox="0 0 64 64">
												<path
													d="M63.92,23.25a1.5,1.5,0,0,0-1.39-1H40.3L33.39,1.08A1.5,1.5,0,0,0,32,0h0a1.49,1.49,0,0,0-1.39,1L23.7,22.22H1.47a1.49,1.49,0,0,0-1.39,1A1.39,1.39,0,0,0,.6,24.85l18,13L11.65,59a1.39,1.39,0,0,0,.51,1.61,1.47,1.47,0,0,0,.88.3,1.29,1.29,0,0,0,.88-0.3l18-13.08L50,60.68a1.55,1.55,0,0,0,1.76,0,1.39,1.39,0,0,0,.51-1.61l-6.9-21.14,18-13A1.45,1.45,0,0,0,63.92,23.25Z">
												</path>
											</svg>
										</span>
									</div>
									<span class="wk-label">위시리스트에 추가</span>
								</button>
							</div>
						</a>
					</div>
					<div
						class="custom-module__content custom-module__content--section-1 custom-module__content--sm-col-12 custom-module__content--col-6">
						<a class="product-card product-card--small product-card--has-hover-text" href="">
							<div class="product-card__thumbnail-container">
								<div class="responsive-card-image__wrapper product-card__thumbnail product-card__thumbnail--primary">
									<img class="responsive-card-image__image" alt="Centered monogram silk scarf dark brown"
										src="../assets/col4_3.jpg">
								</div>
							</div>
							<div class="product-card__footer">
								<span class="product-card__title">
									센터드 모노그램 실크 스카프 다크브라운
								</span>
								<div class="product-card__details">
									<div class="product-price">
										<span>
											<span class="money">281,000원</span>
										</span>
									</div>
									<div class="product-card__sizes">
										Coming Soon
									</div>
								</div>
							</div>
							<div class="product-card__wishlist">
								<button type="button" class="wk-button-collection wk-add-product" title="Add to Wishlist">
									<div class="wk-icon">
										<span class="icon__star">
											<svg version="1.1" xmlns="https://www.w3.org/2000/svg" width="64" height="60.9"
												viewBox="0 0 64 64">
												<path
													d="M63.92,23.25a1.5,1.5,0,0,0-1.39-1H40.3L33.39,1.08A1.5,1.5,0,0,0,32,0h0a1.49,1.49,0,0,0-1.39,1L23.7,22.22H1.47a1.49,1.49,0,0,0-1.39,1A1.39,1.39,0,0,0,.6,24.85l18,13L11.65,59a1.39,1.39,0,0,0,.51,1.61,1.47,1.47,0,0,0,.88.3,1.29,1.29,0,0,0,.88-0.3l18-13.08L50,60.68a1.55,1.55,0,0,0,1.76,0,1.39,1.39,0,0,0,.51-1.61l-6.9-21.14,18-13A1.45,1.45,0,0,0,63.92,23.25ZM42.75,36.18a1.39,1.39,0,0,0-.51,1.61l5.81,18L32.85,44.69a1.41,1.41,0,0,0-1.67,0L15.92,55.74l5.81-18a1.39,1.39,0,0,0-.51-1.61L6,25.12H24.7a1.49,1.49,0,0,0,1.39-1L32,6.17l5.81,18a1.5,1.5,0,0,0,1.39,1H58Z">
												</path>
											</svg>
										</span>
										<span class="icon__star--filled">
											<svg version="1.1" xmlns="https://www.w3.org/2000/svg" width="64" height="60.9"
												viewBox="0 0 64 64">
												<path
													d="M63.92,23.25a1.5,1.5,0,0,0-1.39-1H40.3L33.39,1.08A1.5,1.5,0,0,0,32,0h0a1.49,1.49,0,0,0-1.39,1L23.7,22.22H1.47a1.49,1.49,0,0,0-1.39,1A1.39,1.39,0,0,0,.6,24.85l18,13L11.65,59a1.39,1.39,0,0,0,.51,1.61,1.47,1.47,0,0,0,.88.3,1.29,1.29,0,0,0,.88-0.3l18-13.08L50,60.68a1.55,1.55,0,0,0,1.76,0,1.39,1.39,0,0,0,.51-1.61l-6.9-21.14,18-13A1.45,1.45,0,0,0,63.92,23.25Z">
												</path>
											</svg>
										</span>
									</div>
									<span class="wk-label">위시리스트에 추가</span>
								</button>
							</div>
						</a>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>