<!-- 1. Block Style (첫번쨰 스타일)-->
<section class="videosection custom-module custom-module--video-section custom-module--border-inner-dark custom-module--border-outer-dark custom-module--has-video ">
    <!--- class = custom-module--border-inner-light custom-module--border-inner-dark (2-안쪽 라인) custom-module--border-inner-dark custom-module--border-outer-dark (3-바깥쪽 라인) 
                  only_pc only_mo (4-모바일 / 5-PC에서 숨기기) 
                  * custom-module--no-crop (4.4-배경 크롭 선택)
                  custom-module__content--text-color-dark custom-module__content--text-color-light (1-텍스트 스타일)
                  
                  ---> 
    <!-- // 1. Block Style -->
      <div class="custom-module__container ">
          <div class=" custom-module__content custom-module__content--section-1 custom-module__content--col-24 ">
              <a class="custom-module__content-link " href="https://0sunman.github.io/toteme-korea-publish/dist/04_page_question/07_page_comingsoon.ejs">
                  <div class="custom-module__content-wrapper ">
                      <div class="custom-module__video-wrapper ">
                          <video class="custom-module__video " autoplay="1 " loop="1 " muted="1 " playsinline="1 " preload="1 " js-video-hero="video ">
                              <source src="../assets/col1.mp4" type="video/mp4 ">
                          </video>
                      </div>
                  </div>
              </a>
          </div>
      </div>
  </section>







 <!-- 2. Block Style (두번쨰 스타일)-->
  <section class="videosection custom-module custom-module--1-bkgd-1-section custom-module--has-background custom-module--text-color-dark custom-module--border-inner-dark custom-module--border-outer-dark ">
    <!--- class = custom-module--border-inner-light custom-module--border-inner-dark (2-안쪽 라인) custom-module--border-inner-dark custom-module--border-outer-dark (3-바깥쪽 라인) 
                  only_pc only_mo (4-모바일 / 5-PC에서 숨기기) 
                  * custom-module--no-crop (4.4-배경 크롭 선택)
                  custom-module__content--text-color-dark custom-module__content--text-color-light (1-텍스트 스타일)
                  
                  ---> 
    <!-- // 2. Block Style -->
      <div class="custom-module__background custom-module__background--is-full ">
       <!--
            class= custom-module__background--is-full custom-module__background--is-half custom-module__background--is-quarter ( 배경 사이즈 ) 
       -->
          <div class="custom-module__video-wrapper ">
          <!-- 비디오 - 파일 -->
              <video class="custom-module__video " autoplay="1 " loop="1 " muted="1 " playsinline="1 " preload="1 " js-video-hero="video ">
                  <source src="../assets/col1.mp4" type="video/mp4 ">
              </video>
         <!-- // 비디오 - 파일 -->

          <!-- 비메오 및 아이프레임 경우 // 그냥 해당 영역은 freeHTML 타입으로 진행하시죠.  -->
          </div>
      </div>
      <div class="custom-module__container ">
          <div class=" custom-module__content custom-module__content--section-1 custom-module__content--col-24 ">
              <a class="custom-module__content-link " href="https://0sunman.github.io/toteme-korea-publish/dist/04_page_question/07_page_comingsoon.ejs"> <!-- 링크 -->
                  <div class="custom-module__content-wrapper ">
                      <div class=" custom-module__content-description is-bottom is-left "><!-- 상세설명 -->
                   <!-- is-top is-middle is-bottom is-left is-right is-center ( 텍스트 위치 ) 
                        custom-module__content--pinned-description (상세설명 항상 보이기) -->
                          <span class="custom-module__content-description-text text-large ">
                      <!--- class= text-medium text-large text-mini -->
                          Comming Soon<!-- 텍스트, 링크는 a태그 활용, 색상은 span 태그의 인라인으로 진행요-->
                          </span>
                      </div>
                      <div class=" custom-module__content-title is-bottom is-left "><!-- 타이틀 -->
                          <span class="custom-module__text-link ">
                   <!--- class= text-medium text-large text-mini -->
                              <svg class="icon icon--small icon__arrow--right " viewBox="0 0 8 8 " fill="none " xmlns="http://www.w3.org/2000/svg ">
                                  <path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z "></path>
                              </svg>
                              Look 01<!-- 텍스트, 링크는 a태그 활용, 색상은 span 태그의 인라인으로 진행요-->
                          </span>
                      </div>
                  </div>
              </a>
          </div>
      </div>
  </section>