<section class="pageheader custom-module custom-module--page-header custom-module--border-inner-dark custom-module--border-outer-dark custom-module--no-crop">
    <!--- class = custom-module--border-inner-light custom-module--border-inner-dark (안쪽 라인) custom-module--border-inner-dark custom-module--border-outer-dark (바깥쪽 라인) 
                  only_pc only_mo (모바일 / PC에서 숨기기) 
                  custom-module__content--text-color-dark custom-module__content--text-color-light (텍스트 스타일)
                  ---> 
      <div class="custom-module__header">
          <h1 class="custom-module__title text-small">
              무료배송, 무료반품으로 쇼핑할 수 있습니다.
          </h1>
      </div>
  </section>