<!-- 1. Block Style -->
<section class="twosectionwithmedia custom-module custom-module--image-full custom-module--border-inner-dark custom-module--border-outer-dark custom-module--no-crop">
    <!--- class = custom-module--border-inner-light custom-module--border-inner-dark (안쪽 라인) custom-module--border-inner-dark custom-module--border-outer-dark (바깥쪽 라인) 
                  only_pc only_mo (모바일 / PC에서 숨기기) 
                  custom-module--no-crop (배경 크롭 선택)
                  custom-module__content--text-color-dark custom-module__content--text-color-light (텍스트 스타일)
                  ---> 
 <!-- // 1. Block Style -->
      <div class="custom-module__container">
       <!-- Section 1-->
          <div class="custom-module__content custom-module__content--section-1 custom-module__content--text-color-dark">
          <!--- only_pc only_mo  custom-module--no-crop (crop : 아직 구현이 안되서 그냥 class만 추가 부탁드립니다. )
               custom-module__content--text-color-dark custom-module__content--text-color-light (1-텍스트 스타일)
          -->
              <div class="custom-module__content-wrapper">

             <!-- 이미지 -->
                  <div class="responsive-image__wrapper custom-module__content-image-wrapper">
                <span style="display: block; padding-top:56.25%;" aria-hidden="true">
                      </span>
                      <img class="responsive-image__image blur-up custom-module__content-image" alt="" src="../assets/col2_1.jpg">
                  </div>
             <!-- // 이미지 -->
             <!-- 텍스트 -->
                  <div class="custom-module__content-description is-bottom is-left"> <!-- 상세설명 -->
                <!-- is-top is-middle is-bottom is-left is-right is-center ( 텍스트 위치 ) 
                     custom-module__content--pinned-description (상세설명 항상 보이기) -->
                <span class="custom-module__content-description-text text-large">
                   <!--- class= text-medium text-large text-mini -->
                      Preorder<!-- 텍스트, 링크는 a태그 활용, 색상은 span 태그의 인라인으로 진행요-->
                      </span>
                  </div>



                  <div class="custom-module__content-title is-bottom is-left"><!-- 타이틀-->
                <!-- is-top is-middle is-bottom is-left is-right is-center ( 텍스트 위치 ) -->
                      <span class="custom-module__text-link">
                   <!--- class= text-medium text-large text-mini -->
                          <svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
                          </svg>
                          Look 01<!-- 텍스트, 링크는 a태그 활용, 색상은 span 태그의 인라인으로 진행요-->
                      </span>
                  </div>
             <!--// 텍스트 -->

              </div>
          </div>
       <!-- // Section 1-->

       
       <!-- Section 2-->
          <div class="custom-module__content custom-module__content--section-2 custom-module__content--text-color-dark">
          <!--- only_pc only_mo  custom-module--no-crop (crop : 아직 구현이 안되서 그냥 class만 추가 부탁드립니다. )
               custom-module__content--text-color-dark custom-module__content--text-color-light (1-텍스트 스타일)
          -->
              <div class="custom-module__content-wrapper">
             <!-- 이미지 -->
                  <div class="responsive-image__wrapper custom-module__content-image-wrapper"> 
                <span style="display: block; padding-top:140.0%;" aria-hidden="true">
                      </span>
                      <img class="responsive-image__image blur-up custom-module__content-image" alt="" src="../assets/col2_2.jpg">
                  </div>
             <!-- // 이미지 -->


             <!-- 텍스트 -->
             <!-- 상세설명 -->
                  <div class="custom-module__content-description is-bottom is-left"> 
                <!-- custom-module__content--pinned-description (상세설명 항상 보이기) 
                     is-top is-middle is-bottom is-left is-right is-center ( 텍스트 위치 ) -->
                <span class="custom-module__content-description-text text-large">
                   <!--- class= text-medium text-large text-mini -->
                      Coming soon<!-- 텍스트, 링크는 a태그 활용, 색상은 span 태그의 인라인으로 진행요-->
                      </span>
                  </div>

             <!-- 타이틀-->
                  <div class="custom-module__content-title is-bottom is-left">
                <!-- is-top is-middle is-bottom is-left is-right is-center ( 텍스트 위치 ) -->
                      <span class="custom-module__text-link">
                   <!--- class= text-medium text-large text-mini -->
                          <svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
                          </svg>
                          Look 02<!-- 텍스트, 링크는 a태그 활용, 색상은 span 태그의 인라인으로 진행요-->
                      </span>
                  </div>
             
             <!-- // 텍스트 -->
              </div>
          </div>
       <!-- // Section 2-->
      </div>
  </section>