	<!-- 1. Block Style -->
	<section class="manualproductlist custom-module custom-module--product-list-section custom-module--border-inner-dark custom-module--border-outer-dark custom-module--no-crop">
        <!--- class = custom-module--border-inner-light custom-module--border-inner-dark (안쪽 라인) custom-module--border-inner-dark custom-module--border-outer-dark (바깥쪽 라인) 
                      only_pc only_mo (모바일 / PC에서 숨기기) 
                      custom-module__content--text-color-dark custom-module__content--text-color-light (텍스트 스타일)
                      ---> 
     <!-- // 1. Block Style -->
          <div class="custom-module__container ">
           <!-- 상품 -->
              <div class=" custom-module__content custom-module__content--section-1 custom-module__content--col-8 "> 
              <!-- 4컬럼 전환시 custom-module__content--col-6으로 전환 필요-->
                  <a class="product-card product-card--has-hover-text " href="https://0sunman.github.io/toteme-korea-publish/dist/03_product/01_product_detail.ejs.html"> <!-- 링크 -->
                      <div class="product-card__thumbnail-container ">
                          <div class="responsive-card-image__wrapper product-card__thumbnail product-card__thumbnail--primary ">
                              <img class="responsive-card-image__image" alt="Alpaca knit top black " src="../assets/col3_1.jpg" > <!-- 사진 -->
                          </div>
                      </div>
                      <div class="product-card__footer ">
                          <span class="product-card__title "> <!-- 상품이름 -->
                              알파카 니트 탑 블랙
                          </span>
                          <div class="product-card__details ">
                              <div class="product-price ">
                                  <span data-product-id="6067114770583 " >
                                  <span class="money notranslate ">465,000원</span> <!-- 가격 -->
                                  </span>
                              </div>
                              <div class="product-card__sizes "> <!-- 사이즈 -->
                                  사이즈:
                                  M,
                                  L
                              </div>
                          </div>
                      </div>
                      <div class="product-card__wishlist "><!-- 위시리스트 -->
                          <button type="button " class="wk-button-collection wk-add-product " title="위시리스트에 추가 ">
                              <div class="wk-icon ">
                                  <span class="icon__star ">
                                      <svg version="1.1 " xmlns="https://www.w3.org/2000/svg " width="64 " height="60.9 " viewBox="0 0 64 64 ">
                                          <path d="M63.92,23.25a1.5,1.5,0,0,0-1.39-1H40.3L33.39,1.08A1.5,1.5,0,0,0,32,0h0a1.49,1.49,0,0,0-1.39,1L23.7,22.22H1.47a1.49,1.49,0,0,0-1.39,1A1.39,1.39,0,0,0,.6,24.85l18,13L11.65,59a1.39,1.39,0,0,0,.51,1.61,1.47,1.47,0,0,0,.88.3,1.29,1.29,0,0,0,.88-0.3l18-13.08L50,60.68a1.55,1.55,0,0,0,1.76,0,1.39,1.39,0,0,0,.51-1.61l-6.9-21.14,18-13A1.45,1.45,0,0,0,63.92,23.25ZM42.75,36.18a1.39,1.39,0,0,0-.51,1.61l5.81,18L32.85,44.69a1.41,1.41,0,0,0-1.67,0L15.92,55.74l5.81-18a1.39,1.39,0,0,0-.51-1.61L6,25.12H24.7a1.49,1.49,0,0,0,1.39-1L32,6.17l5.81,18a1.5,1.5,0,0,0,1.39,1H58Z "></path>
                                      </svg>
                                  </span>
                                  <span class="icon__star--filled ">
                                      <svg version="1.1 " xmlns="https://www.w3.org/2000/svg " width="64 " height="60.9 " viewBox="0 0 64 64 ">
                                          <path d="M63.92,23.25a1.5,1.5,0,0,0-1.39-1H40.3L33.39,1.08A1.5,1.5,0,0,0,32,0h0a1.49,1.49,0,0,0-1.39,1L23.7,22.22H1.47a1.49,1.49,0,0,0-1.39,1A1.39,1.39,0,0,0,.6,24.85l18,13L11.65,59a1.39,1.39,0,0,0,.51,1.61,1.47,1.47,0,0,0,.88.3,1.29,1.29,0,0,0,.88-0.3l18-13.08L50,60.68a1.55,1.55,0,0,0,1.76,0,1.39,1.39,0,0,0,.51-1.61l-6.9-21.14,18-13A1.45,1.45,0,0,0,63.92,23.25Z "></path>
                                      </svg>
                                  </span>
                              </div>
                              <span class="wk-label ">위시리스트에 추가</span>
                          </button>
                      </div>
                  </a>
              </div>
           <!-- // 상품 -->
           <!-- 기타 하단 상동 -->
              <div class="custom-module__content custom-module__content--section-1 custom-module__content--col-8">
                  <a class="product-card product-card--has-hover-text " href="https://0sunman.github.io/toteme-korea-publish/dist/03_product/01_product_detail.ejs.html">
                      <div class="product-card__thumbnail-container ">
                          <div class="responsive-card-image__wrapper product-card__thumbnail product-card__thumbnail--primary ">
                              <img class="responsive-card-image__image" alt="Alpaca wrap coat chocolate brown " src="../assets/col3_2.jpg">
                          </div>
                      </div>
                      <div class="product-card__footer ">
                          <span class="product-card__title ">
                          알파카 랩 코트 초콜렛 브라운
                          </span>
                          <div class="product-card__details ">
                              <div class="product-price ">
                                  <span class="money notranslate ">1,576,000 원</span>
                              </div>
                              <div class="product-card__sizes ">
                                  사이즈 :
                                  36
                              </div>
                          </div>
                      </div>
                      <div class="product-card__wishlist ">
                          <button type="button " class="wk-button-collection wk-add-product " title="위시리스트에 추가 ">
                              <div class="wk-icon ">
                                  <span class="icon__star ">
                                      <svg version="1.1 " xmlns="https://www.w3.org/2000/svg " width="64 " height="60.9 " viewBox="0 0 64 64 ">
                                          <path d="M63.92,23.25a1.5,1.5,0,0,0-1.39-1H40.3L33.39,1.08A1.5,1.5,0,0,0,32,0h0a1.49,1.49,0,0,0-1.39,1L23.7,22.22H1.47a1.49,1.49,0,0,0-1.39,1A1.39,1.39,0,0,0,.6,24.85l18,13L11.65,59a1.39,1.39,0,0,0,.51,1.61,1.47,1.47,0,0,0,.88.3,1.29,1.29,0,0,0,.88-0.3l18-13.08L50,60.68a1.55,1.55,0,0,0,1.76,0,1.39,1.39,0,0,0,.51-1.61l-6.9-21.14,18-13A1.45,1.45,0,0,0,63.92,23.25ZM42.75,36.18a1.39,1.39,0,0,0-.51,1.61l5.81,18L32.85,44.69a1.41,1.41,0,0,0-1.67,0L15.92,55.74l5.81-18a1.39,1.39,0,0,0-.51-1.61L6,25.12H24.7a1.49,1.49,0,0,0,1.39-1L32,6.17l5.81,18a1.5,1.5,0,0,0,1.39,1H58Z "></path>
                                      </svg>
                                  </span>
                                  <span class="icon__star--filled ">
                                      <svg version="1.1 " xmlns="https://www.w3.org/2000/svg " width="64 " height="60.9 " viewBox="0 0 64 64 ">
                                          <path d="M63.92,23.25a1.5,1.5,0,0,0-1.39-1H40.3L33.39,1.08A1.5,1.5,0,0,0,32,0h0a1.49,1.49,0,0,0-1.39,1L23.7,22.22H1.47a1.49,1.49,0,0,0-1.39,1A1.39,1.39,0,0,0,.6,24.85l18,13L11.65,59a1.39,1.39,0,0,0,.51,1.61,1.47,1.47,0,0,0,.88.3,1.29,1.29,0,0,0,.88-0.3l18-13.08L50,60.68a1.55,1.55,0,0,0,1.76,0,1.39,1.39,0,0,0,.51-1.61l-6.9-21.14,18-13A1.45,1.45,0,0,0,63.92,23.25Z "></path>
                                      </svg>
                                  </span>
                              </div>
                              <span class="wk-label ">위시리스트에 추가</span>
                          </button>
                      </div>
                  </a>
              </div>
              <div class="custom-module__content custom-module__content--section-1 custom-module__content--col-8">
                  <a class="product-card product-card--has-hover-text " href="https://0sunman.github.io/toteme-korea-publish/dist/03_product/01_product_detail.ejs.html" data-cy="productCard " js-product-link=" ">
                      <div class="product-card__thumbnail-container ">
                          <div class="responsive-card-image__wrapper product-card__thumbnail product-card__thumbnail--primary " data-image-id="28261628772503 " js-responsive-image=" ">
                              <img class="responsive-card-image__image" alt="Alpaca wrap coat black " src="../assets/col3_3.jpg" tabindex="-1 ">
                          </div>
                      </div>
                      <div class="product-card__footer ">
                          <span class="product-card__title " js-product-link="product-title ">
                          알파카 랩 코트 블랙
                          </span>
                          <div class="product-card__details ">
                              <div class="product-price " js-recommended-products="productPrices ">
                                  <span data-product-id="6373565890711 " data-variant-id="38856445067415 " data-price="112000 " js-product-form="price " js-currency="price ">
                                  <span class="money notranslate " data-gip-price-id="7NMtRr5ohE9tK4It " data-gip-original-value="1120 " data-gip-converted="true ">1,576,000원</span>
                                  </span>
                              </div>
                              <div class="product-card__sizes " js-recommended-products="productSizes ">
                                  사이즈 :
                                  34,
                                  36,
                                  38
                              </div>
                          </div>
                      </div>
                      <div class="product-card__wishlist ">
                          <button type="button " class="wk-button-collection wk-add-product ">
                              <div class="wk-icon ">
                                  <span class="icon__star ">
                                      <svg version="1.1 " xmlns="https://www.w3.org/2000/svg " width="64 " height="60.9 " viewBox="0 0 64 64 ">
                                          <path d="M63.92,23.25a1.5,1.5,0,0,0-1.39-1H40.3L33.39,1.08A1.5,1.5,0,0,0,32,0h0a1.49,1.49,0,0,0-1.39,1L23.7,22.22H1.47a1.49,1.49,0,0,0-1.39,1A1.39,1.39,0,0,0,.6,24.85l18,13L11.65,59a1.39,1.39,0,0,0,.51,1.61,1.47,1.47,0,0,0,.88.3,1.29,1.29,0,0,0,.88-0.3l18-13.08L50,60.68a1.55,1.55,0,0,0,1.76,0,1.39,1.39,0,0,0,.51-1.61l-6.9-21.14,18-13A1.45,1.45,0,0,0,63.92,23.25ZM42.75,36.18a1.39,1.39,0,0,0-.51,1.61l5.81,18L32.85,44.69a1.41,1.41,0,0,0-1.67,0L15.92,55.74l5.81-18a1.39,1.39,0,0,0-.51-1.61L6,25.12H24.7a1.49,1.49,0,0,0,1.39-1L32,6.17l5.81,18a1.5,1.5,0,0,0,1.39,1H58Z "></path>
                                      </svg>
                                  </span>
                                  <span class="icon__star--filled ">
                                      <svg version="1.1 " xmlns="https://www.w3.org/2000/svg " width="64 " height="60.9 " viewBox="0 0 64 64 ">
                                          <path d="M63.92,23.25a1.5,1.5,0,0,0-1.39-1H40.3L33.39,1.08A1.5,1.5,0,0,0,32,0h0a1.49,1.49,0,0,0-1.39,1L23.7,22.22H1.47a1.49,1.49,0,0,0-1.39,1A1.39,1.39,0,0,0,.6,24.85l18,13L11.65,59a1.39,1.39,0,0,0,.51,1.61,1.47,1.47,0,0,0,.88.3,1.29,1.29,0,0,0,.88-0.3l18-13.08L50,60.68a1.55,1.55,0,0,0,1.76,0,1.39,1.39,0,0,0,.51-1.61l-6.9-21.14,18-13A1.45,1.45,0,0,0,63.92,23.25Z "></path>
                                      </svg>
                                  </span>
                              </div>
                              <span class="wk-label ">위시리스트에 추가</span>
                          </button>
                      </div>
                  </a>
              </div>
          </div>
      </section>
  


      <!-- 커스텀에 대한 정의 3컬럼-->
      <section class="manualproductlist three-column-type custom-module custom-module--product-list-section custom-module--border-inner-dark custom-module--border-outer-dark custom-module--no-crop">
        <!--- class = custom-module--border-inner-light custom-module--border-inner-dark (안쪽 라인) custom-module--border-inner-dark custom-module--border-outer-dark (바깥쪽 라인) 
                      only_pc only_mo (모바일 / PC에서 숨기기) 
                      custom-module__content--text-color-dark custom-module__content--text-color-light (텍스트 스타일)
                      ---> 
     <!-- // 1. Block Style -->
          <div class="custom-module__container ">
           <!-- 상품 -->
              <div class=" custom-module__content custom-module__content--section-1 custom-module__content--col-8 product "><!-- 상품 -->
              <!-- 4컬럼 전환시 custom-module__content--col-6으로 전환 필요-->
                  <a class="product-card product-card--has-hover-text " href="https://0sunman.github.io/toteme-korea-publish/dist/03_product/01_product_detail.ejs.html"> <!-- 링크 -->
                      <div class="product-card__thumbnail-container ">
                          <div class="responsive-card-image__wrapper product-card__thumbnail product-card__thumbnail--primary ">
                              <img class="responsive-card-image__image" alt="Alpaca knit top black " src="../assets/col3_1.jpg"> <!-- 사진 -->
                          </div>
                      </div>
                      <div class="product-card__footer ">
                          <span class="product-card__title "> <!-- 상품이름 -->
                              알파카 니트 탑 블랙
                          </span>
                          <div class="product-card__details ">
                              <div class="product-price ">
                                  <span data-product-id="6067114770583 ">
                                  <span class="money notranslate ">465,000원</span> <!-- 가격 -->
                                  </span>
                              </div>
                              <div class="product-card__sizes "> <!-- 사이즈 -->
                                  사이즈:
                                  M,
                                  L
                              </div>
                          </div>
                      </div>
                      <div class="product-card__wishlist "><!-- 위시리스트 -->
                          <button type="button " class="wk-button-collection wk-add-product " title="위시리스트에 추가 ">
                              <div class="wk-icon ">
                                  <span class="icon__star ">
                                      <svg version="1.1 " xmlns="https://www.w3.org/2000/svg " width="64 " height="60.9 " viewBox="0 0 64 64 ">
                                          <path d="M63.92,23.25a1.5,1.5,0,0,0-1.39-1H40.3L33.39,1.08A1.5,1.5,0,0,0,32,0h0a1.49,1.49,0,0,0-1.39,1L23.7,22.22H1.47a1.49,1.49,0,0,0-1.39,1A1.39,1.39,0,0,0,.6,24.85l18,13L11.65,59a1.39,1.39,0,0,0,.51,1.61,1.47,1.47,0,0,0,.88.3,1.29,1.29,0,0,0,.88-0.3l18-13.08L50,60.68a1.55,1.55,0,0,0,1.76,0,1.39,1.39,0,0,0,.51-1.61l-6.9-21.14,18-13A1.45,1.45,0,0,0,63.92,23.25ZM42.75,36.18a1.39,1.39,0,0,0-.51,1.61l5.81,18L32.85,44.69a1.41,1.41,0,0,0-1.67,0L15.92,55.74l5.81-18a1.39,1.39,0,0,0-.51-1.61L6,25.12H24.7a1.49,1.49,0,0,0,1.39-1L32,6.17l5.81,18a1.5,1.5,0,0,0,1.39,1H58Z "></path>
                                      </svg>
                                  </span>
                                  <span class="icon__star--filled ">
                                      <svg version="1.1 " xmlns="https://www.w3.org/2000/svg " width="64 " height="60.9 " viewBox="0 0 64 64 ">
                                          <path d="M63.92,23.25a1.5,1.5,0,0,0-1.39-1H40.3L33.39,1.08A1.5,1.5,0,0,0,32,0h0a1.49,1.49,0,0,0-1.39,1L23.7,22.22H1.47a1.49,1.49,0,0,0-1.39,1A1.39,1.39,0,0,0,.6,24.85l18,13L11.65,59a1.39,1.39,0,0,0,.51,1.61,1.47,1.47,0,0,0,.88.3,1.29,1.29,0,0,0,.88-0.3l18-13.08L50,60.68a1.55,1.55,0,0,0,1.76,0,1.39,1.39,0,0,0,.51-1.61l-6.9-21.14,18-13A1.45,1.45,0,0,0,63.92,23.25Z "></path>
                                      </svg>
                                  </span>
                              </div>
                              <span class="wk-label ">위시리스트에 추가</span>
                          </button>
                      </div>
                  </a>
              </div>
           <!-- // 상품 -->
           <!-- 기타 하단 상동 -->
              <div class="custom-module__content custom-module__content--section-1 custom-module__content--col-8 image"><!-- 이미지 -->
                  <a class="product-card product-card--has-hover-text " href="https://0sunman.github.io/toteme-korea-publish/dist/03_product/01_product_detail.ejs.html"><!--링크 영역 -->
                      <div class="product-card__thumbnail-container ">
                          <div class="responsive-card-image__wrapper product-card__thumbnail product-card__thumbnail--primary ">
                              <img class="responsive-card-image__image" alt="Alpaca wrap coat chocolate brown " src="../assets/col3_2.jpg"><!--이미지 영역 -->
                          </div>
                      </div>
                      <div class="product-card__footer ">
                          <span class="product-card__title ">
                            <span class="custom-module__text-link">
                

                                <svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
                                </svg>
                            
                              
                                제목
                                          </span>
                            </span> <!--제목 영역 -->
                          <div class="product-card__details "><!--상세 영역 -->
                              상세내역
                              
                          </div>
                      </div>
                  </a>
              </div>
              <div class="custom-module__content custom-module__content--section-1 custom-module__content--col-8 html"><!-- HTML -->
                  HTML

              </div>
          </div>
      </section>



      <!-- 커스텀에 대한 정의 4컬럼-->
      <section class="manualproductlist four-column-type custom-module custom-module--product-list-section custom-module--border-inner-dark custom-module--border-outer-dark custom-module--no-crop">
        <!--- class = custom-module--border-inner-light custom-module--border-inner-dark (안쪽 라인) custom-module--border-inner-dark custom-module--border-outer-dark (바깥쪽 라인) 
                      only_pc only_mo (모바일 / PC에서 숨기기) 
                      custom-module__content--text-color-dark custom-module__content--text-color-light (텍스트 스타일)
                      ---> 
     <!-- // 1. Block Style -->
          <div class="custom-module__container ">
               <!-- 상품 -->
               <div class=" custom-module__content custom-module__content--section-1 custom-module__content--col-6 product "><!-- 상품 -->
                <!-- 4컬럼 전환시 custom-module__content--col-6으로 전환 필요-->
                    <a class="product-card product-card--has-hover-text " href="https://0sunman.github.io/toteme-korea-publish/dist/03_product/01_product_detail.ejs.html"> <!-- 링크 -->
                        <div class="product-card__thumbnail-container ">
                            <div class="responsive-card-image__wrapper product-card__thumbnail product-card__thumbnail--primary ">
                                <img class="responsive-card-image__image" alt="Alpaca knit top black " src="../assets/col3_1.jpg"> <!-- 사진 -->
                            </div>
                        </div>
                        <div class="product-card__footer ">
                            <span class="product-card__title "> <!-- 상품이름 -->
                                알파카 니트 탑 블랙
                            </span>
                            <div class="product-card__details ">
                                <div class="product-price ">
                                    <span data-product-id="6067114770583 ">
                                    <span class="money notranslate ">465,000원</span> <!-- 가격 -->
                                    </span>
                                </div>
                                <div class="product-card__sizes "> <!-- 사이즈 -->
                                    사이즈:
                                    M,
                                    L
                                </div>
                            </div>
                        </div>
                        <div class="product-card__wishlist "><!-- 위시리스트 -->
                            <button type="button " class="wk-button-collection wk-add-product " title="위시리스트에 추가 ">
                                <div class="wk-icon ">
                                    <span class="icon__star ">
                                        <svg version="1.1 " xmlns="https://www.w3.org/2000/svg " width="64 " height="60.9 " viewBox="0 0 64 64 ">
                                            <path d="M63.92,23.25a1.5,1.5,0,0,0-1.39-1H40.3L33.39,1.08A1.5,1.5,0,0,0,32,0h0a1.49,1.49,0,0,0-1.39,1L23.7,22.22H1.47a1.49,1.49,0,0,0-1.39,1A1.39,1.39,0,0,0,.6,24.85l18,13L11.65,59a1.39,1.39,0,0,0,.51,1.61,1.47,1.47,0,0,0,.88.3,1.29,1.29,0,0,0,.88-0.3l18-13.08L50,60.68a1.55,1.55,0,0,0,1.76,0,1.39,1.39,0,0,0,.51-1.61l-6.9-21.14,18-13A1.45,1.45,0,0,0,63.92,23.25ZM42.75,36.18a1.39,1.39,0,0,0-.51,1.61l5.81,18L32.85,44.69a1.41,1.41,0,0,0-1.67,0L15.92,55.74l5.81-18a1.39,1.39,0,0,0-.51-1.61L6,25.12H24.7a1.49,1.49,0,0,0,1.39-1L32,6.17l5.81,18a1.5,1.5,0,0,0,1.39,1H58Z "></path>
                                        </svg>
                                    </span>
                                    <span class="icon__star--filled ">
                                        <svg version="1.1 " xmlns="https://www.w3.org/2000/svg " width="64 " height="60.9 " viewBox="0 0 64 64 ">
                                            <path d="M63.92,23.25a1.5,1.5,0,0,0-1.39-1H40.3L33.39,1.08A1.5,1.5,0,0,0,32,0h0a1.49,1.49,0,0,0-1.39,1L23.7,22.22H1.47a1.49,1.49,0,0,0-1.39,1A1.39,1.39,0,0,0,.6,24.85l18,13L11.65,59a1.39,1.39,0,0,0,.51,1.61,1.47,1.47,0,0,0,.88.3,1.29,1.29,0,0,0,.88-0.3l18-13.08L50,60.68a1.55,1.55,0,0,0,1.76,0,1.39,1.39,0,0,0,.51-1.61l-6.9-21.14,18-13A1.45,1.45,0,0,0,63.92,23.25Z "></path>
                                        </svg>
                                    </span>
                                </div>
                                <span class="wk-label ">위시리스트에 추가</span>
                            </button>
                        </div>
                    </a>
                </div>
             <!-- // 상품 -->
           <!-- 상품 -->
              <div class=" custom-module__content custom-module__content--section-1 custom-module__content--col-6 product "><!-- 상품 -->
              <!-- 4컬럼 전환시 custom-module__content--col-6으로 전환 필요-->
                  <a class="product-card product-card--has-hover-text " href="https://0sunman.github.io/toteme-korea-publish/dist/03_product/01_product_detail.ejs.html"> <!-- 링크 -->
                      <div class="product-card__thumbnail-container ">
                          <div class="responsive-card-image__wrapper product-card__thumbnail product-card__thumbnail--primary ">
                              <img class="responsive-card-image__image" alt="Alpaca knit top black " src="../assets/col3_1.jpg"> <!-- 사진 -->
                          </div>
                      </div>
                      <div class="product-card__footer ">
                          <span class="product-card__title "> <!-- 상품이름 -->
                              알파카 니트 탑 블랙
                          </span>
                          <div class="product-card__details ">
                              <div class="product-price ">
                                  <span data-product-id="6067114770583 ">
                                  <span class="money notranslate ">465,000원</span> <!-- 가격 -->
                                  </span>
                              </div>
                              <div class="product-card__sizes "> <!-- 사이즈 -->
                                  사이즈:
                                  M,
                                  L
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
           <!-- // 상품 -->
           <!-- 기타 하단 상동 -->
           <!-- 이미지 -->
              <div class="custom-module__content custom-module__content--section-1 custom-module__content--col-6 image"><!-- 이미지 -->
                  <a class="product-card product-card--has-hover-text " href="https://0sunman.github.io/toteme-korea-publish/dist/03_product/01_product_detail.ejs.html"><!--링크 영역 -->
                      <div class="product-card__thumbnail-container ">
                          <div class="responsive-card-image__wrapper product-card__thumbnail product-card__thumbnail--primary ">
                              <img class="responsive-card-image__image" alt="Alpaca wrap coat chocolate brown " src="../assets/col3_2.jpg"><!--이미지 영역 -->
                          </div>
                      </div>
                      <div class="product-card__footer ">
                          <span class="product-card__title ">
                            
                            <span class="custom-module__text-link">
                

                                <svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
                                </svg>
                            
                              
                                제목
                                          </span> <!--제목 영역 -->
                          <div class="product-card__details "><!--상세 영역 -->
                              상세내역
                              
                          </div>
                      </div>
                  </a>
              </div>
              <!-- // 이미지 -->

              <!-- HTML -->
              <div class="custom-module__content custom-module__content--section-1 custom-module__content--col-6 html"><!-- HTML -->
                  HTML

              </div>
              <!-- //HTML -->
          </div>
      </section>