<!-- 1. Block Style -->
<section class="freeHTML">
   <!-- 
      0. COS에 있는 freeHTML Component를 참고해주세요.
      1. 절대로 TIS 내부에 있는 텍스트 에디터(다음에디터)를 사용해선 안됩니다. (운영 불가합니다.)
      2. 그냥 텍스트 영역에 저장할 수 있게 해주세요.
      3. 밑에 HTML을 제작할 수 있도록 처리해주세요.
      4. 뺄수있다면 해당 section태그도 빠졌으면 좋겠습니다. 차라리  ain 쪽에 free영역으로 두시면 감사드리겠습니다.
   -->
   <marquee>FREEHTML</marquee>
</section>
