<!-- 1. Block Style -->
<section class="onebackgroundtwosection custom-module custom-module--1-bkgd-2-sections custom-module--has-background custom-module--text-color-dark custom-module--border-inner-dark custom-module--border-outer-dark ">
    <!--- class = custom-module--border-inner-light custom-module--border-inner-dark (2-안쪽 라인) custom-module--border-inner-dark custom-module--border-outer-dark (3-바깥쪽 라인) 
                  only_pc only_mo (4-모바일 / 5-PC에서 숨기기) 
                  * custom-module--no-crop (4.4-배경 크롭 선택)
                  custom-module__content--text-color-dark custom-module__content--text-color-light (1-텍스트 스타일)
                  ---> 
    <!-- // 1. Block Style -->
 
 
     <!-- 4. 배경 ( Block Background ) -->
 
          <!-- 1- 배경 이미지 선택 
          <div class="custom-module__background custom-module__background--is-full">
               class = custom-module__background--is-full custom-module__background--is-half custom-module__background--is-quarter (3-배경 사이즈) 
    
                <span style="display: block; padding-top:56.25%;" aria-hidden="true"></span>
                <div class="responsive-image__wrapper custom-module__background-image-wrapper"> 
                   <img class="responsive-image__image blur-up custom-module__background-image" src="../assets/col1_pc2.jpg"> 
                </div>
             </div>
             < /// 1- 배경 이미지 선택 -->
             
             <!-- 2- 배경 영상 선택 - 비디오 (코드 참고)-->
             <div class="custom-module__background custom-module__background--is-full">
                 <!--class = custom-module__background--is-full custom-module__background--is-half custom-module__background--is-quarter (3-배경 사이즈) --->
                <div class="custom-module__video-wrapper">
                   <video class="custom-module__video" autoplay="1" loop="1" muted="1" playsinline="1" preload="1">
                      <source src="../assets/col1.mp4" type="video/mp4">
                   </video>
                </div>
             </div>
          <!-- // 배경 -->
 
 
          
         <div class="custom-module__container">
          <!-- 5 Section 1-->
             <div class="custom-module__content custom-module__content--section-1">
             <!-- custom-module__content--pinned-description (5-6.Section1 상세설명 항상 보이기)
                  only_pc only_mo  custom-module--no-crop (crop : 아직 구현이 안되서 그냥 class만 추가 부탁드립니다. )
                  custom-module__content--text-color-dark custom-module__content--text-color-light (1-텍스트 스타일)
             -->
                 <div class="custom-module__content-wrapper">
                     <div class="responsive-image__wrapper custom-module__content-image-wrapper is-center"> 
                   <!--- class= is-left is-right is-center (* 이미지 위치)-->
                   <span style="display: block; padding-top:140.0%;"></span>
                         <img class="responsive-image__image blur-up custom-module__content-image" alt="" src="../assets/col2_inside1.jpg"> <!-- * 이미지 선택 -->
                     </div>
                     <div class="custom-module__content-description is-bottom is-left"> 
                   <!--- class= is-top is-middle is-bottom is-left is-right is-center (5-3- 텍스트 위치)-->
                   <span class="custom-module__content-description-text text-large">
                   <!--- class= text-medium text-large text-mini (5-4 텍스트 크기)-->
                   <!-- 5-1 a태그 활용 / 5-4 상세설명 / 색상은 span 태그의 인라인으로 진행요-->
                         Preorder
                         </span>
                     </div>
                     <div class="custom-module__content-title is-bottom is-left">
                   <!--- class= is-top is-middle is-bottom is-left is-right is-center (5-5- 텍스트 위치)-->
                         <span class="custom-module__text-link">
                      <!--- class= text-medium text-large text-mini (5- 텍스트 크기)-->
                             <svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
                             </svg>
                      <!-- 5-1 a태그 활용 / 5-2 타이틀 / 색상은 span 태그의 인라인으로 진행요-->
                             Look 01
                         </span>
                     </div>
                 </div>
             </div>
          <!-- // 5 Section 1-->
          <!-- 5 Section 2-->
             <div class="custom-module__content custom-module__content--section-2">
             <!-- custom-module__content--pinned-description (6-6.Section1 상세설명 항상 보이기)
                  only_pc only_mo  custom-module--no-crop (crop : 아직 구현이 안되서 그냥 class만 추가 부탁드립니다. )
                  custom-module__content--text-color-dark custom-module__content--text-color-light (1-텍스트 스타일) -->
                 <div class="custom-module__content-wrapper">
                     <div class="responsive-image__wrapper custom-module__content-image-wrapper is-center"> 
                   <!--- class= is-left is-right is-center (* 이미지 위치)-->
                   <span style="display: block; padding-top:140.0%;"></span>
                         <img class="responsive-image__image blur-up custom-module__content-image lazyautosizes lazyloaded" alt="" src="../assets/col2_inside2.jpg"> <!-- * 이미지 선택 -->
                     </div>
                     <div class="custom-module__content-description is-bottom is-left"> 
                   <!--- class= is-top is-middle is-bottom is-left is-right is-center (6-3- 텍스트 위치)-->
                   <span class="custom-module__content-description-text text-large">
                      <!--- class= text-medium text-large text-mini (6-4 텍스트 크기)-->
                      <!-- 6-1 a태그 활용 / 6-4 상세설명 / 색상은 span 태그의 인라인으로 진행요-->
                            Coming Soon
                         </span>
                     </div>
                     <div class="custom-module__content-title is-bottom is-left">
                   <!--- class= is-top is-middle is-bottom is-left is-right is-center (6-5- 텍스트 위치)-->
                         <span class="custom-module__text-link">
                             <svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
                             </svg>
                      <!-- 6-1 a태그 활용 / 6-2 타이틀 / 색상은 span 태그의 인라인으로 진행요-->
                             Look 02
                         </span>
                     </div>
                 </div>
             </div>
          <!-- // 5 Section 2-->
 
         </div>
     </section>
     <!-- // 1. Block Style (끝) -->