<script>
	//header, footer hide
	setTimeout(function(){
		$('#shopify-section-site-footer, .site-header-wrapper, .hyundai-footer').hide();
		$('body').css('padding-top','0');
	},50)
</script>
<div class="browser_error_wrap">
	<div class="browser_error_con">
		<p>현재 사용 중이신 브라우저는 본 사이트와 호환이 되지 않습니다. <br> 최신 브라우저를 통해 빠르고 안정적인 서비스를 이용해 보세요.</p>
		<div class="button-block pcs2_vertical">
			<button type="button" class="button button--block button--large button--primary">Chrome 으로 보기</button>
			<button type="button" class="button button--block button--large button--primary">Edge 로 보기</button>
		</div>
	</div>
</div>