<div class="container login_join login_page">
    <div class="template-account__header">
       로그인
    </div>
    <div class="template-account__wrapper">
       <div class="template-account__left"></div>
       <%- include ("./menu/index.ejs",{state:1}) %>
       <div class="template-account__content">
          <div class="template-login__content">
 
             <div class="template-account__text_hdtype_1 alert title" style='display:none'>
                <div class="rte">
                   안내문구 출력 영역
                </div>
             </div>
             <div class="section">
                   <form method="post">
                        <input type="hidden" name="form_type" value="customer_login"><input type="hidden" name="utf8" value="✓">
                        <div class="idoremail label-block input-block">
                           <label class="form-group__label subtitle-2 is-hidden" for="customerId">
                           ID 또는 이메일
                           </label>
                           <input id="customerId" autocapitalize="off" autocomplete="off" autofocus="" name="customer[id]" placeholder="ID 또는 이메일" required="" spellcheck="false" type="email">
                        </div>
                        <div class="password label-block input-block">
                           <label class="form-group__label subtitle-2 is-hidden" for="CustomerPassword">
                           비밀번호
                           </label>
                           <input id="CustomerPassword" name="customer[password]" placeholder="비밀번호" required="" type="password">
                        </div>

                        <div class="login button-block">
                           <input class="button button--primary button--block button--large" type="submit" value="로그인">
                        </div>

                        <div class='defaultblock sns-buttons label-block input-block'>
                           <label class='radiobutton naver'>
                              <input type="radio" name="test_radio" value="옵션1" checked/>
                              <span>네이버</span>
                           </label>
                           <label class='radiobutton kakao' style='clear:both'>
                              <input type="radio" name="test_radio" value="옵션1"/>
                              <span>카카오톡</span>
                           </label>
                           <div class='newline only_mo'></div>
                           <label class='radiobutton facebook'>
                              <input type="radio" name="test_radio" value="옵션1"/>
                              <span>페이스북</span>
                           </label>
                           <label class='radiobutton google'>
                              <input type="radio" name="test_radio" value="옵션1"/>
                              <span>구글</span>
                           </label>
         
                        </div>
                   </form>

             </div>

             <div class='line-block content-line'>
            </div>

             <div class="section">
                <div class="rte">
                   Toteme 온라인스토어에는 더현대닷컴이 운영 제공하는 사이트로 기존 회원은 더현대닷컴 아이디와 비밀번호로 바로 이용 가능합니다.
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>