<div class="container">
   <div class="template-account__header">
      회원가입
   </div>
   <div class="template-account__wrapper join_page">




      <div class="template-account__left"></div>
      <%- include ("./menu/index.ejs",{state:2}) %>
      <div class="template-account__content">
         <div class="template-login__content">

            <div class="template-account__text_hdtype_1 alert">
               <div class="rte">
                  안내문구 출력 영역
               </div>
            </div>
            <div class=" template-login__form-wrapper" js-password-form="customerLoginForm">
               <div class='text-block align-center'>
                  <h2>회원가입</h2>
               </div>

               </div>
               <div class="progress template-login__form">
                  <div class='progressbar'>
                     <div class='line'></div>
                     <ul>
                        <li>
                           <p>
                              <span class='circle'></span><br>
                              <span class='text'>간편인증</span>   
                           </p>
                        </li>
                        <li class='active'>
                           <p>
                              <span class='circle'></span><br>
                              <span class='text'>가입정보 입력</span>   
                           </p> 
                        </li>
                        <li>
                           <p>
                              <span class='circle'></span><br>
                              <span class='text'>개인정보 동의</span>   
                           </p>
                        </li>
                     </ul>
                  </div>
               </div>
               <div class='line-block top-m15 top-d15'>
               </div>

               <div class='text-block left-m15 top-m15 bottom-m30 left-d15 top-d15 bottom-d30'>
                  <h2>가입정보 입력</h2>
                  <p>[Google] 계정으로 인증이 완료되었습니다.</p>
               </div>
                              <div class="join template-login__form">
                  <form method="post" action="/account/login" id="customer_login" accept-charset="UTF-8">
                     <input type="hidden" name="form_type" value="customer_login"><input type="hidden" name="utf8" value="✓">
                     <div class="input-wrap form-group">
                        <div class="input-block form-group__field">
                           <input id="CustomerId" autocapitalize="off" autocomplete="off" autofocus="" placeholder="아이디 또는 이메일" required="" spellcheck="false" type="email">
                        </div>

                        <div class="text-block description form-group__field">
                           <p>
                              <input class='checkbox' value="1" type="checkbox"></input>위 이메일 주소를 아이디로 사용
                           </p>
                        </div>

                        <div class="input-table form-group__field">
                           <div style='width:70%;'>
                              <input id="CustomerPassword" name="customer[password]" placeholder="아이디 또는 이메일" required="" type="password">
                           </div>
                           <div style='width:30%;'>
                              <input type='button' class='button duplicatebtn' value='중복확인' ></button>
                           </div>
                        </div>

                        <div class="input-block form-group__field">
                           <input id="CustomerPassword" autocapitalize="off" autocomplete="off" autofocus="" placeholder="비밀번호" required="" spellcheck="false" type="email">
                        </div>

                        <div class="input-block form-group__field">
                           <input id="CustomerPasswordComfirm" autocapitalize="off" autocomplete="off" autofocus="" placeholder="비밀번호 확인" required="" spellcheck="false" type="email">
                        </div>

                        <div class="input-block form-group__field">
                           <input id="CustomerPasswordComfirm" autocapitalize="off" autocomplete="off" autofocus="" placeholder="이름" required="" spellcheck="false" type="email">
                        </div>

                        <div class="input-block form-group__field">
                           <input id="CustomerBirthday" autocapitalize="off" autocomplete="off" autofocus="" placeholder="생년월일" required="" spellcheck="false" type="email">
                        </div>

                        <div class="text-block description form-group__field">
                           <p>생년월일 8자리를 입력해주세요 (예. 20150115)</p>
                        </div>

                        <div class="input-block form-group__field">
                           <input id="CustomerPhonenumber" autocapitalize="off" autocomplete="off" autofocus="" placeholder="휴대폰번호" required="" spellcheck="false" type="email">
                        </div>

                        <div class="text-block description form-group__field">
                           <p>'-'를 빼고 휴대폰 번호를 입력해주세요.</p>
                        </div>


                        <!--div class="input-block form-group__field">
                           <input class="button button--primary button--block button--large" disabled="true" type="submit" value="Log in">
                         </div-->


                     </div>
                  </form>
               </div>
            </div>

         </div>
      </div>





   </div>
</div>