<div class="container login_join findpassword">
   <div class="template-account__header">
      회원가입
   </div>
   <div class="template-account__wrapper findpassword">
      <div class="template-account__left"></div>
      <%- include ("./menu/index.ejs",{state:11}) %>
      <div class="template-account__content">
         <div class="template-login__content">
            <div class='section'>
               <div class="template-account__text_hdtype_1 alert" style='display:none'>
                  <div class="rte">
                     안내문구 출력 영역
                  </div>
               </div>
               <form method="post" action="/account/login" id="customer_login" accept-charset="UTF-8">
                  <div class=" label-block input-block id">
                     <label class="form-group__label subtitle-2 is-hidden" for="CustomerId">
                     </label>
                     <input id="CustomerId" autocapitalize="off" autocomplete="off" autofocus="" name="customer[id]" placeholder="아이디" required="" spellcheck="false" type="email">
                  </div>
                  <div class=" label-block input-block name">
                     <label class="form-group__label subtitle-2 is-hidden" for="CustomerEmail">
                     </label>
                     <input id="CustomerName"  autocapitalize="off" autocomplete="off" autofocus="" name="customer[email]" placeholder="이름" required="" spellcheck="false" type="email">
                  </div>
                  <div class=" label-block input-block birthday">
                     <label class="form-group__label subtitle-2 is-hidden" for="CustomerPassword">
                     </label>
                     <input id="CustomerBirthday"  autocapitalize="off" autocomplete="off" autofocus="" name="customer[password]" placeholder="생년월일" required="" spellcheck="false" type="email">
                  </div>
                  <div class="text-block sub-description ">
                     <p class='m-font-13'>생년월일 8자리를 입력해주세요 (예. 20150115)</p>
                  </div>
                  <div class="button-block auth-button">
                     <input class="button button--primary button--block button--large m-font-14" type="submit" value="인증하기">
                  </div>

               </form>
            </div>



            <div class='line-block content-line'>
            </div>

            <div class='section'>
               <div class="text-block sub-description ">
                  <p>휴대폰으로 인증하신 경우, <a href="#" style='text-decoration: underline;'>여기</a>를 눌러주세요.</p>
               </div>
               <div class="table-block input-table">
                  <div >
                     <input id="CustomerPassword" name="customer[password]" placeholder="휴대폰번호 입력" required="" type="password">
                  </div>
                  <div >
                     <input type="button" class="button duplicatebtn" value="인증번호 받기">
                  </div>
               </div>
               <div class="table-block input-table">
                  <div>
                     <input id="CustomerPassword" name="customer[password]" placeholder="인증번호 입력" required="" type="password">
                  </div>
                  <div>
                     <input type="button" class="button duplicatebtn" value="휴대폰 인증">
                  </div>
               </div>
               <div class="text-block sub-description time">
                  <p class='m-font-13'>유효시간 <span>03:00</span></p>
               </div>
               <div class="text-block sub-description ">
                  <ul>
                     <li>휴대폰으로 발송된 인증번호를 유효시간 내에 입력해주시고, 인증번호가 도착하지 않을 시 재발송을 해주세요.</li>
                     <li>입력한 휴대폰번호는 보안 시스템을 통해 안전하게 관리됩니다.</li>
                  </ul>
               </div>
            </div>

         </div>
      </div>
   </div>
</div>