<div class="container">
   <div class="template-account__header">
      회원가입
   </div>
   <div class="template-account__wrapper findpassword findpassword_complete">
      <div class="template-account__left"></div>
      <%- include ("./menu/index.ejs",{state:11}) %>
      <div class="template-account__content">
         <div class="template-login__content">

            <div class="template-account__text_hdtype_1 alert" style='display:none'>
               <div class="rte">
                  안내문구 출력 영역
               </div>
            </div>
            <div class="template-login__form-wrapper" js-password-form="customerLoginForm">
               <div class="template-login__form">
                  <form method="post" action="/account/login" id="customer_login" accept-charset="UTF-8">
                     <input type="hidden" name="form_type" value="customer_login"><input type="hidden" name="utf8" value="✓">
                     <div class="form-group">
                        <div class="text-block  bottom-m10 bottom-d10 form-group__field ">
                          <p class='m-font-15 text'>고객님의 비밀번호 변경이 완료되었습니다.<br>변경하신 비밀번호로 다시 로그인 해주세요.</p>
                       </div>
                        <div class="form-group__field">
                           <input class="button button--primary button--block button--large m-font-14" type="submit" value="인증하기">
                         </div>

                     </div>
                  </form>
               </div>

            </div>
            <div class="template-login__form-wrapper is-hidden" js-password-form="recoverPasswordForm">
               <div class="template-login__form">
                  <form method="post" action="/account/recover" accept-charset="UTF-8">
                     <input type="hidden" name="form_type" value="recover_customer_password"><input type="hidden" name="utf8" value="✓">
                     <div class="form-errors">
                     </div>
                     <div class="form-group">
                        <div class="form-group__field">
                           <label for="RecoverEmail" class="form-group__label subtitle-2 is-hidden">
                              ID 또는 이메일
                           </label>
                           <input id="RecoverEmail" autocapitalize="off" autocomplete="off" name="email" placeholder="Email" required="" spellcheck="false" tabindex="-1" type="email">
                        </div>
                        <div class="form-group__footer">
                           <input class="button button--primary button--block button--large" disabled="true" tabindex="-1" type="submit" value="Reset password">
                        </div>
                     </div>
                     <div class="template-account__footer">
                        <div class="rte">
                           Forgot your password? Enter your username or email address and you’ll receive an email to change it.
                        </div>
                     </div>
                  </form>
               </div>
            </div>




         </div>
      </div>
   </div>
</div>