
<div class="container login_join newpassword">
   <div class="template-account__header">
      회원가입
   </div>
   <div class="template-account__wrapper findpassword newpassword">
      <div class="template-account__left"></div>
      <%- include ("./menu/index.ejs",{state:11}) %>
      <div class="template-account__content">
         <div class="template-login__content">

            <div class="template-account__text_hdtype_1 alert" style='display:none'>
               <div class="rte">
                  안내문구 출력 영역
               </div>
            </div>
            <div class='section'>
               <div class="text-block password-modify-header">
                  <h2>비밀번호 변경하기</h2>
                  <p>비밀번호를 변경하시려면 기존의 비밀번호와 새 비밀번호를 차례대로 입력해주세요.<br>기존에 사용하셨던 비밀번호는 사용하실 수 없습니다.</p>
               </div>
               <form method="post">
                  <input type="hidden" name="form_type" value="customer_login"><input type="hidden" name="utf8" value="✓">
                  <div class="label-block input-block password">
                     <label class="subtitle-2 is-hidden" for="password">
                     </label>
                     <input id="password" autocapitalize="off" autocomplete="off" autofocus="" name="customer[password]" placeholder="기존 비밀번호" required="" spellcheck="false" type="password">
                  </div>
                  
                  <div class="text-block sub-description ">
                     <p class='m-font-13'>10-30자 이내로 영문자, 숫자, 특수문자 등 2가지 이상 포함</p>
                  </div>
                  
                  <div class="label-block input-block newpassword">
                     <label class="subtitle-2 is-hidden" for="newpassowrd">
                     </label>
                     <input id="newpassowrd" autocapitalize="off" autocomplete="off" autofocus="" name="customer[newpassword]" placeholder="새 비밀번호" required="" spellcheck="false" type="password">
                  </div>
                  
                  <div class="label-block input-block newpasswordconfirm">
                     <label class="form-group__label subtitle-2 is-hidden" for="CustomerEmail">
                     </label>
                     <input id="CustomerEmail" autocapitalize="off" autocomplete="off" autofocus="" name="customer[newpasswordconfirm]" placeholder="새 비밀번호 확인" required="" spellcheck="false" type="password">
                  </div>
                  <div class="text-block sub-description ">
                     <p>비밀번호를 다시 입력해 주세요.</p>
                  </div>
                  <div class="button-block button-password-modify">
                     <input class="button button--primary button--block button--large m-font-14" type="submit" value="비밀번호 변경하기">
                  </div>
                  <div class="button-block button-password-skip">
                     <input class="button button--primary button--block button--large m-font-14" type="submit" value="다음에 변경하기">
                  </div>

               </form>

         </div>





         </div>
      </div>
   </div>
</div>