
<div class="container login_join newpassword complete">
   <div class="template-account__header">
      회원가입
   </div>
   <div class="template-account__wrapper findpassword newpassword">
      <div class="template-account__left"></div>
      <%- include ("./menu/index.ejs",{state:11}) %>
      <div class="template-account__content">
         <div class="template-login__content">

            <div class="template-account__text_hdtype_1 alert" style='display:none'>
               <div class="rte">
                  안내문구 출력 영역
               </div>
            </div>
            <div class='text section'>
               <div class="text-block password-modify-header">
                  <h2>고객님의 비밀번호 변경이 완료되었습니다.</h2>
                  <p>변경하신 비밀번호로 다시 로그인 해주세요.<br><br>
                     안전한 비밀번호 관리를 위해서 비밀번호는 반드시 정기적으로 변경을 해주시고 다른사람이 비밀번호를 알 수 없도록 관리해주세요.<br><br>
                     비밀번호를 다시 변경하고자 하신다면, 로그인 후 마이페이지 > 나의정보 > 회원정보변경 메뉴를 통하여 변경해주시기 바랍니다.<br>
                     아이디 찾기에 더 궁금하신 사항이 있다면 Toteme 고객센터[1234-000]로 문의하여 주십시오.<br>
                  </p>
               </div>
            </div>
            <div class='section'>
               
               <div class="button-block login-button">
                  <input class="button button--primary button--block button--large" type="submit" value="로그인 하기">
               </div>

         </div>





         </div>
      </div>
   </div>
</div>