<div class="container login_join email_confirm_and_resend">
   <div class="template-account__header">
      회원가입
   </div>
   <div class="template-account__wrapper findpassword email_confirm_and_resend">
      <div class="template-account__left"></div>
      <%- include ("./menu/index.ejs",{state:11}) %>
      <div class="template-account__content">

         <div class="template-account__text_hdtype_1 alert title" style='display:none'>
            <div class="rte">
              <p class='error'></p>
            </div>
         </div>
         <div class='text section'>

            <div class="text-block title">
               <h2>이메일 인증</h2>
               <p>parkhyundai@thehyundai.com으로<br>인증메일이 발송되었습니다.<br>인증 완료 후 비밀번호를 재설정 하실 수 있습니다.</p>
            </div>

         </div>

         <div class='section'>
            <div class="button-block confirm loading-wrap">
               <input class="button button--primary button--block button--large" type="submit" value="확인" data-form-submit="doConfirm">
               <div class="loader">
                  <div class="smiley-spin">
                     <svg class="icon icon--medium icon__smiley" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 15.5a7.5 7.5 0 110-15 7.5 7.5 0 010 15zm0-1a6.5 6.5 0 100-13 6.5 6.5 0 000 13zM4.947 9.776l-.894.448a4.413 4.413 0 007.894 0l-.894-.448a3.413 3.413 0 01-6.106 0zM9.5 5h1v2h-1V5zm-3 0h-1v2h1V5z"></path></svg>
                  </div>
               </div>
            </div>

         </div>
           





      </div>
   </div>
</div>