<div class="container login_join join_complete">
   <div class="template-account__header">
      회원가입
   </div>
   <div class="template-account__wrapper">
      <div class="template-account__left"></div>
      <%- include ("./menu/index.ejs",{state:2}) %>
      <div class="template-account__content">
         <div class="template-login__content">

            <div class="template-account__text_hdtype_1 alert title" style='display:none'>
               <div class="rte">
                  <p class='error'></p>
                </div>
            </div>
            <div class="section">
               <form method="post">
                  <input type="hidden" name="form_type" value="customer_login"><input type="hidden" name="utf8" value="✓">
                     <div class="text-block text-complete align-center">
                        <p class='text'>Totême 회원가입을 축하합니다.<br><br>아이디 hyundaipark으로<br>고객님의 회원가입이 완료되었습니다.</p>
                     </div>
                     <div class="button-block do-join-done loading-wrap">
                        <input class="button button--primary button--block button--large" type="submit" value="Totême 메인으로" data-form-submit="doJoinDone">
                        <div class="loader">
                           <div class="smiley-spin">
                              <svg class="icon icon--medium icon__smiley" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 15.5a7.5 7.5 0 110-15 7.5 7.5 0 010 15zm0-1a6.5 6.5 0 100-13 6.5 6.5 0 000 13zM4.947 9.776l-.894.448a4.413 4.413 0 007.894 0l-.894-.448a3.413 3.413 0 01-6.106 0zM9.5 5h1v2h-1V5zm-3 0h-1v2h1V5z"></path></svg>
                           </div>
                        </div>
                     </div>
               </form>

            </div>




         </div>
      </div>
   </div>
</div>