
<div class="container login_join newpassword complete">
   <div class="template-account__header">
      회원가입
   </div>
   <div class="template-account__wrapper findpassword newpassword">
      <div class="template-account__left"></div>
      <%- include ("./menu/index.ejs",{state:11}) %>
      <div class="template-account__content">
         <div class="template-login__content">

            <div class="template-account__text_hdtype_1 alert title" style='display:none'>
               <div class="rte">
                  <p class='error'></p>
                </div>
            </div>
            <div class='text section'>
               <div class="text-block password-modify-header">
                  <h2>고객님의 비밀번호 변경이 완료되었습니다.</h2>
                  <p>변경하신 비밀번호로 다시 로그인 해주세요.<br><br>
                     안전한 비밀번호 관리를 위해서 비밀번호는 반드시 정기적으로 변경을 해주시고 다른사람이 비밀번호를 알 수 없도록 관리해주세요.<br><br>
                     비밀번호를 다시 변경하고자 하신다면, 로그인 후 마이페이지 > 나의정보 > 회원정보변경 메뉴를 통하여 변경해주시기 바랍니다.<br>
                     아이디 찾기에 더 궁금하신 사항이 있다면 Totême 고객센터[1234-000]로 문의하여 주십시오.<br>
                  </p>
               </div>
            </div>
            <div class='section'>
               
               <div class="button-block login-button loading-wrap">
                  <input class="button button--primary button--block button--large" type="submit" value="로그인 하기" data-form-submit="doLogin_lj14">
                  <div class="loader">
                     <div class="smiley-spin">
                        <svg class="icon icon--medium icon__smiley" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 15.5a7.5 7.5 0 110-15 7.5 7.5 0 010 15zm0-1a6.5 6.5 0 100-13 6.5 6.5 0 000 13zM4.947 9.776l-.894.448a4.413 4.413 0 007.894 0l-.894-.448a3.413 3.413 0 01-6.106 0zM9.5 5h1v2h-1V5zm-3 0h-1v2h1V5z"></path></svg>
                     </div>
                  </div>
               </div>

         </div>





         </div>
      </div>
   </div>
</div>