<div class="container login_join join_page dormant_id_select">
	<div class="template-account__header">회원가입</div>
	<div class="template-account__wrapper join_page">
		<div class="template-account__left"></div>
		<%- include ( "./menu/index.ejs",{state:2}) %>


			<div class="template-account__content">
            <div class="template-account__text_hdtype_1 alert title" style='display:none'>
               <div class="rte">
                  <p class='error'></p>
                </div>
            </div>
            <div class='section text'>
               <div class='text-block title'>
                  <h2>아이디 찾기 결과</h2>
                  <p>다음 정보로 가입된 아이디가 총 <span class='idcnt'>3</span>개 있습니다</p>
               </div>
            </div>
            <div class="text section">
   
               <div class="text-block information-table username">
                  <table>
                     <tbody><tr>
                        <td>박현대</td>
                        <td style='text-align: right;'>2000-10-01</td>
                     </tr>
                     </tbody>
                  </table>
               </div>

            </div>

            <div class='line-block content-line'></div>
            <div class="text section select_id">
               <div class="radio-block">
                  <div class="radio_custom_box mypage_radio_box">
                     <input id="info_gender1" class="radio_input" value="10" type="radio" name="info_gender">
                     <label for="info_gender1"><span class='id'>thehyun***</span> (가입 일시 : <span class='date'>2021-04-05</span>)</label>
                  </div>
                  <div class="radio_custom_box mypage_radio_box">
                     <input id="info_gender2" class="radio_input" value="10" type="radio" name="info_gender">
                     <label for="info_gender2"><span class='id'>thehyun***</span> (가입 일시 : <span class='date'>2021-04-05</span>)</label>
                  </div>
                  <div class="radio_custom_box mypage_radio_box">
                     <input id="info_gender3" class="radio_input" value="10" type="radio" name="info_gender">
                     <label for="info_gender3"><span class='id'>thehyun***</span> (가입 일시 : <span class='date'>2021-04-05</span>)</label>
                  </div>
               </div> 
            </div>
            <div class='line-block content-line margin-bottom-15'></div>
            <div class='text section'>
               <div class='text-block title description1'>
                  <p>전체 아이디가 기억나지 않으신다면 인증을 이용해주세요</p>
               </div>
            </div>
            <div class='section'>
               
               <div class="button-block button-join-auth loading-wrap">
                  <input class="button button--primary button--block button--large" type="submit" value="인증하기 찾기" data-form-submit="doJoin">
                  <div class="loader">
                     <div class="smiley-spin">
                        <svg class="icon icon--medium icon__smiley" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 15.5a7.5 7.5 0 110-15 7.5 7.5 0 010 15zm0-1a6.5 6.5 0 100-13 6.5 6.5 0 000 13zM4.947 9.776l-.894.448a4.413 4.413 0 007.894 0l-.894-.448a3.413 3.413 0 01-6.106 0zM9.5 5h1v2h-1V5zm-3 0h-1v2h1V5z"></path></svg>
                     </div>
                  </div>
               </div>
            </div>
            <div class='text section'>
               <div class='text-block title'>
                  <p>아이디 찾기에 더 궁금하신 사항이 있다면 Totême 온라인 스토어 1522-0274로 문의하여 주십시오.</p>
               </div>
            </div>
            <div class='section'>
               
               <div class="button-block button-join-find-password loading-wrap">
                  <input class="button button--primary button--block button--large" type="submit" value="비밀번호 찾기" data-form-submit="doJoin">
                  <div class="loader">
                     <div class="smiley-spin">
                        <svg class="icon icon--medium icon__smiley" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 15.5a7.5 7.5 0 110-15 7.5 7.5 0 010 15zm0-1a6.5 6.5 0 100-13 6.5 6.5 0 000 13zM4.947 9.776l-.894.448a4.413 4.413 0 007.894 0l-.894-.448a3.413 3.413 0 01-6.106 0zM9.5 5h1v2h-1V5zm-3 0h-1v2h1V5z"></path></svg>
                     </div>
                  </div>
               </div>
               <div class="button-block button-join-login loading-wrap">
                  <input class="button button--primary button--block button--large" type="submit" value="로그인" data-form-submit="doJoin">
                  <div class="loader">
                     <div class="smiley-spin">
                        <svg class="icon icon--medium icon__smiley" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 15.5a7.5 7.5 0 110-15 7.5 7.5 0 010 15zm0-1a6.5 6.5 0 100-13 6.5 6.5 0 000 13zM4.947 9.776l-.894.448a4.413 4.413 0 007.894 0l-.894-.448a3.413 3.413 0 01-6.106 0zM9.5 5h1v2h-1V5zm-3 0h-1v2h1V5z"></path></svg>
                     </div>
                  </div>
               </div>
               </form>
            </div>
			</div>






	</div>
</div>