<div class="container login_join join_page">
	<div class="template-account__header">회원가입</div>
	<div class="template-account__wrapper join_page">
		<div class="template-account__left"></div>
		<%- include ( "./menu/index.ejs",{state:2}) %>


			<div class="template-account__content">
            <div class="template-account__text_hdtype_1 alert" style='display: none;'>
               <div class="rte">안내문구 출력 영역</div>
            </div>
            <div class="text section" js-password-form="customerLoginForm">
               <div class='text-block align-center'>
                  <h2>회원가입</h2>
               </div>
            </div>
            <div class="progress section">
               <div class='progressbar'>
                  <div class='line'></div>
                  <ul>
                     <li>
                        <p> <span class='circle'></span>
                           <br> <span class='text'>간편인증</span> 
                        </p>
                     </li>
                     <li class='active'>
                        <p> <span class='circle'></span>
                           <br> <span class='text'>가입정보 입력</span> 
                        </p>
                     </li>
                     <li>
                        <p> <span class='circle'></span>
                           <br> <span class='text'>개인정보 동의</span> 
                        </p>
                     </li>
                  </ul>
               </div>
            </div>
            <div class='line-block content-line'></div>
            <div class='section text'>
               <div class='text-block title'>
                  <h2>가입정보 입력</h2>
                  <p>[Google] 계정으로 인증이 완료되었습니다.</p>
               </div>
            </div>
            <div class='section'>
               <form method="post">
                  <input type="hidden" name="form_type" value="customer_login">
                  <input type="hidden" name="utf8" value="✓">
                  <div class="input-block idorpassword input-block">
                     <input id="CustomerId" autocapitalize="off" autocomplete="off" autofocus="" placeholder="아이디 또는 이메일" required="" spellcheck="false" type="email">
                  </div>
                  <div class="text-block description checkEmail sub-description input-block">
                     <p>
                        <input class='checkbox' value="1" type="checkbox"></input>위 이메일 주소를 아이디로 사용</p>
                  </div>
                  <div class="input-table idorpasswordCheck input-block table-block">
                     <div>
                        <input id="CustomerPassword" name="customer[password]" placeholder="아이디 또는 이메일" required="" type="password">
                     </div>
                     <div>
                        <input type='button' class='button duplicatebtn' value='중복확인'>
                        </button>
                     </div>
                  </div>
                  <div class="input-block password">
                     <input id="CustomerPassword" autocapitalize="off" autocomplete="off" autofocus="" placeholder="비밀번호" required="" spellcheck="false" type="email">
                  </div>
                  <div class="input-block confirmPassword">
                     <input id="CustomerPasswordComfirm" autocapitalize="off" autocomplete="off" autofocus="" placeholder="비밀번호 확인" required="" spellcheck="false" type="email">
                  </div>
                  <div class="input-block name">
                     <input id="CustomerPasswordComfirm" autocapitalize="off" autocomplete="off" autofocus="" placeholder="이름" required="" spellcheck="false" type="email">
                  </div>
                  <div class="input-block birthday">
                     <input id="CustomerBirthday" autocapitalize="off" autocomplete="off" autofocus="" placeholder="생년월일" required="" spellcheck="false" type="email">
                  </div>
                  <div class="text-block description sub-description">
                     <p>생년월일 8자리를 입력해주세요 (예. 20150115)</p>
                  </div>
                  <div class="input-block phoneNumber">
                     <input id="CustomerPhonenumber" autocapitalize="off" autocomplete="off" autofocus="" placeholder="휴대폰번호" required="" spellcheck="false" type="email">
                  </div>
                  <div class="text-block description  sub-description">
                     <p>'-'를 빼고 휴대폰 번호를 입력해주세요.</p>
                  </div>
                  <div class="button-block button-join">
                     <input class="button button--primary button--block button--large" type="submit" value="회원가입">
                  </div>
               </form>
            </div>
			</div>






	</div>
</div>