<main id="MainContent" class="main-content critical-clear">
	<section class="custom-module custom-module--page-header custom-module--border-inner-dark custom-module--border-outer-dark">
		<div class="custom-module__header">
			<h1 class="custom-module__title text-small">
				Careers
			</h1>
		</div>
	</section>
	<section class="custom-module custom-module--text-and-navigation custom-module--border-inner-dark custom-module--border-outer-dark custom-module--no-crop">
		<div class="custom-module__container">
			<div class="custom-module__text-column custom-module__text-column--nav">
				<ul class="custom-module__navlist navlist">
					<li class="navlist__item">
						<a class="navlist__link text-link" href="/pages/our-story">
							About
						</a>
					</li>
					<li class="navlist__item">
						<a class="navlist__link text-link" href="/pages/stores">
							Stores
						</a>
					</li>
					<li class="navlist__item">
						<a class="navlist__link text-link" href="/pages/sustainability">
							Sustainability
						</a>
					</li>
					<li class="navlist__item">
						<a class="navlist__link text-link text-link--static" href="/pages/careers">
							Careers
						</a>
					</li>
				</ul>
				<div class="custom-module__nav-dropdown select__container">
					<div class="custom-select__wrapper">
						<select class="custom-module__nav-select select--center custom-select__select"
							style="background-image: url(//cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/icon-small-arrow-down.svg?v=9521334029086756349);">
							<option value="/pages/our-story">
								About
							</option>
							<option value="/pages/stores">
								Stores
							</option>
							<option value="/pages/sustainability">
								Sustainability
							</option>
							<option value="/pages/careers" selected="selected">
								Careers
							</option>
						</select><span class="custom-select__label text-small">
							Stores
						</span></div>
					<span class="select__current-title"></span>
				</div>
			</div>
			<div class="custom-module__text-column custom-module__text-column--content rte">
				<meta charset="utf-8">
				<div id="block-ae4b171d-28e0-49d2-bdb6-a5322679e497"
					class="wp-block editor-block-list__block block-editor-block-list__block is-selected">
					<div class="editor-block-list__block-edit block-editor-block-list__block-edit">
						<div data-block="ae4b171d-28e0-49d2-bdb6-a5322679e497">
							<div class="wp-block-heading editor-rich-text block-editor-rich-text">
								<div class="components-autocomplete">
									<meta charset="utf-8">
									<!-- wp:heading -->
									<p>스톡홀름 스튜디오 또는 Totême 오프라인 스토어에 방문해 주세요.</p>
									<!-- /wp:heading -->
									<!-- wp:separator -->
									<hr class="wp-block-separator">
									<!-- /wp:separator -->
									<!-- wp:heading {"level":3} -->
									<h3>
										<br>채용 정보 확인</h3>
									<ul>
										<li><a href="https://int.toteme-studio.com/pages/art-director" title="Art Director | Totême">Art
												Director</a></li>
										<li><a href="https://int.toteme-studio.com/pages/studio-associate-part-time"
												title="Studio Associate (part time) | Totême">Studio Associate (part time)</a></li>
										<li><a href="https://int.toteme-studio.com/pages/creative-producer"
												title="Creative Producer |&nbsp;Totême">Creative Producer</a></li>
									</ul>
									<meta charset="utf-8">
									<meta charset="utf-8">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div data-root-client-id=""
						class="wp-block editor-default-block-appender block-editor-default-block-appender"></div>
				</div>
			</div>
		</div>
	</section>
</main>