<!--  is-sticky -->
<header class="site-header-wrapper is-sticky" js-site-header="wrapper">
    <div id="shopify-section-site-header" class="shopify-section">
    <section class="site-header" data-section-id="site-header" data-section-type="site-header" js-site-header="container" data-theme="light" data-transparent="false">

        <!-- 상단 디재스터 배너  is-active-->
        <div class="site-header__announcement announcement-bar" role="dialog" js-site-header="announcementBar">
            <a class="announcement-bar__text announcement-bar__link subtitle-2 is-active" href="/collections/new-in" js-site-header="announcementMessage">
            New in
            </a>
            <a class="announcement-bar__text announcement-bar__link subtitle-2" href="/collections/new-in" js-site-header="announcementMessage">
            Spring edit
            </a>
            <p class="announcement-bar__text subtitle-2" js-site-header="announcementMessage">
                Taxes and duties included
            </p>
            <!-- 클로즈 버튼-->
            <button class="announcement-bar__close" js-site-header="announcementBarClose">
                <svg class="icon icon--large icon__close" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M23 12c0-6.075-4.925-11-11-11S1 5.925 1 12s4.925 11 11 11 11-4.925 11-11zM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12zm6.593-2.7l.707-.707 2.7 2.7 2.7-2.7.707.707-2.7 2.7 2.7 2.7-.707.707-2.7-2.7-2.7 2.7-.707-.707 2.7-2.7-2.7-2.7z"></path>
                </svg>
            </button>
            <!-- // 클로즈 버튼-->
        </div>
        <!-- // 상단 디재스터 배너 -->

        <div class="site-header__masthead">
            <!-- 
            제목 : 메뉴 
            -->
            <header class="container">
                <div class="site-header__inner">
                <div class="site-header__hamburger">
                    <button id="mobileMenu" class="site-header__icon site-header__icon--menu">
                        <span class="visually-hidden">
                        Menu
                        </span>
                        <svg class="icon icon--medium icon__hamburger" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 2.5h16v-1H0v1zm0 6h16v-1H0v1zm16 6H0v-1h16v1z"></path>
                        </svg>
                        <svg class="icon icon--large icon__close" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M23 12c0-6.075-4.925-11-11-11S1 5.925 1 12s4.925 11 11 11 11-4.925 11-11zM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12zm6.593-2.7l.707-.707 2.7 2.7 2.7-2.7.707.707-2.7 2.7 2.7 2.7-.707.707-2.7-2.7-2.7 2.7-.707-.707 2.7-2.7-2.7-2.7z"></path>
                        </svg>
                    </button>
                    <button id="mobileClose" class="site-header__icon site-header__icon--search" tabindex="0" type="submit" data-target="searchBarHeader" js-toggle="searchBarHeader">
                        <span class="icon-fallback-text">
                        Search
                        </span>
                        <svg class="icon icon--medium icon__search" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.598 10.131c1.655-1.9 1.553-4.811-.289-6.652-1.92-1.922-5.007-1.95-6.894-.064-1.886 1.887-1.858 4.973.064 6.895 1.757 1.757 4.49 1.93 6.387.503l3.34 3.34.706-.708-3.314-3.314zm-.921-.454c-1.509 1.509-3.978 1.486-5.515-.05-1.537-1.538-1.56-4.007-.05-5.516 1.508-1.509 3.977-1.486 5.514.05 1.537 1.538 1.56 4.007.051 5.516z"></path>
                            </g>
                            <defs>
                            <clipPath id="clip0">
                                <path fill="#fff" d="M0 0h16v16H0z"></path>
                            </clipPath>
                            </defs>
                        </svg>
                        <svg class="icon icon--large icon__close" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M23 12c0-6.075-4.925-11-11-11S1 5.925 1 12s4.925 11 11 11 11-4.925 11-11zM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12zm6.593-2.7l.707-.707 2.7 2.7 2.7-2.7.707.707-2.7 2.7 2.7 2.7-.707.707-2.7-2.7-2.7 2.7-.707-.707 2.7-2.7-2.7-2.7z"></path>
                        </svg>
                    </button>
                </div>
                <div class="site-header__brand">
                    <h1 class="site-header__logo">
                        <a href="https://int.toteme-studio.com">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56.69 56.69" class="site-logo">
                            <g>
                                <title>Totême</title>
                                <path d="M1.58 29.11h5.08v20.84h43.37V29.11h5.08v25.98H1.58V29.11zM42.75 8.34h5.7V27.5h-5.7V8.34zm-5.28 20.77h10.98v8.75H37.47v-8.75zm0 10.35h10.98v8.88H37.47v-8.88zm-7.82-11.95c4.66-.65 8.25-4.69 8.25-9.59 0-4.88-3.56-8.91-8.19-9.58h11.31V27.5H29.65zm-8.72 4.35l6.45 12.62h1.94l6.45-12.62v16.48H20.93V31.86zm14.35-2.75l-6.94 13.56-6.94-13.56h13.88zM28.35 9.85c4.38 0 7.94 3.61 7.94 8.07 0 4.46-3.56 8.07-7.94 8.07-4.39 0-7.94-3.61-7.94-8.07 0-4.45 3.55-8.07 7.94-8.07M15.64 27.51V8.34h11.34c-4.63.67-8.19 4.7-8.19 9.58 0 4.9 3.59 8.94 8.25 9.59h-11.4zM8.24 8.34h5.67V27.5H8.24V8.34zm10.99 40.01H8.24v-8.88h10.99v8.88zM8.24 29.11h10.99v8.75H8.24v-8.75zM1.58 1.6h53.53v25.91h-5.08V6.75H6.66v20.76H1.58V1.6zM0 56.69h56.69V0H0v56.69z"></path>
                            </g>
                            </svg>
                        </a>
                    </h1>
                </div>
                <nav class="site-header__navbar" aria-label="Main navigation">
                    <ul class="site-nav">
                        <li class="site-nav__item site-nav__item--has-meganav">
                            <button class="site-nav__link">
                            Shop
                            </button>
                            <div class="site-nav__meganav critical-hide">
                            <div class="site-nav__meganav-inner">
                                <div class="site-nav__meganav-col">
                                    <a class="site-nav__subtitle text-link site-nav__subtitle--hidden" href="/">
                                    test
                                    </a>
                                    <ul class="navlist navlist--block">
                                        <li class="navlist__item">
                                        <a class="navlist__link text-link" href="/collections/new-in"> 
                                        New in
                                        </a>
                                        </li>
                                        <li class="navlist__item">
                                        <a class="navlist__link text-link" href="/collections/coming-soon"> 
                                        Coming soon
                                        </a>
                                        </li>
                                        <li class="navlist__item">
                                        <a class="navlist__link text-link" href="/pages/uniforms"> 
                                        Uniforms
                                        </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="site-nav__meganav-col">
                                    <a class="site-nav__subtitle text-link site-nav__subtitle--hidden" href="/">
                                    Categories
                                    </a>
                                    <ul class="navlist navlist--block">
                                        <li class="navlist__item">
                                        <a class="navlist__link text-link" href="/collections/product"> 
                                            Soft accessories
                                        </a>
                                        </li>
                                        <li class="navlist__item">
                                        <a class="navlist__link text-link" href="/collections/product"> 
                                            니트 &amp; 스웨터
                                        </a>
                                        </li>
                                        
                                        <li class="navlist__item">
                                        <a class="navlist__link text-link" href="/collections/product"> 
                                            아웃웨어
                                        </a>
                                        </li>
                                        
                                        <li class="navlist__item">
                                        <a class="navlist__link text-link" href="/collections/product"> 
                                            블레이저
                                        </a>
                                        </li>
                                        
                                        <li class="navlist__item">
                                        <a class="navlist__link text-link" href="/collections/product"> 
                                            상의
                                        </a>
                                        </li>
                                        
                                        <li class="navlist__item">
                                        <a class="navlist__link text-link" href="/collections/product"> 
                                            셔츠 &amp; 블라우스
                                        </a>
                                        </li>

                                        
                                        <li class="navlist__item">
                                            <a class="navlist__link text-link" href="/collections/product"> 
                                                데님
                                            </a>
                                        </li>

                                        
                                        <li class="navlist__item">
                                            <a class="navlist__link text-link" href="/collections/product"> 
                                                트라우저
                                            </a>
                                        </li>

                                        
                                        <li class="navlist__item">
                                            <a class="navlist__link text-link" href="/collections/product"> 
                                                드레스 &amp; 셔츠
                                            </a>
                                        </li>

                                        
                                        <li class="navlist__item">
                                            <a class="navlist__link text-link" href="/collections/product"> 
                                                신발
                                            </a>
                                        </li>

                                        
                                        <li class="navlist__item">
                                            <a class="navlist__link text-link" href="/collections/product"> 
                                                액세서리
                                            </a>
                                        </li>

                                        
                                        <li class="navlist__item">
                                            <a class="navlist__link text-link" href="/collections/product"> 
                                                T-clutch
                                            </a>
                                        </li>

                                          
                                        <li class="navlist__item">
                                            <a class="navlist__link text-link" href="/collections/product"> 
                                                스카프
                                            </a>
                                        </li>

                                        

                                        
                                        <li class="navlist__item">
                                            <a class="navlist__link text-link" href="/collections/product"> 
                                                스윔웨어
                                            </a>
                                        </li>

                                        
                                        <li class="navlist__item">
                                            <a class="navlist__link text-link" href="/collections/product"> 
                                                선글라스
                                            </a>
                                        </li>

                                        
                                    </ul>
                                </div>
                                <div class="site-nav__meganav-col">
                                    <a class="site-nav__meganav-link" href="/collections/scarves">
                                        <div class="responsive-image__wrapper site-nav__meganav-image-wrapper">
                                        <span style="display: block; padding-top:140.0%;" aria-hidden="true">
                                        </span>
                                        <img class="responsive-image__image blur-up site-nav__meganav-image lazypreload lazyautosizes lazyloaded" alt="" src="https://cdn.shopify.com/s/files/1/0480/1141/1607/files/99_Toteme_FW20_Venezia_Black_193-853-801_010_900x.jpg">
                                        </div>
                                        <span class="site-nav__meganav-link-text text-large">Silk scarves</span>
                                    </a>
                                </div>
                                <div class="site-nav__meganav-col">
                                    <a class="site-nav__meganav-link" href="/collections/shoes">
                                        <div class="responsive-image__wrapper site-nav__meganav-image-wrapper">
                                        <span style="display: block; padding-top:125.0%;" aria-hidden="true">
                                        </span>
                                        <img class="responsive-image__image blur-up site-nav__meganav-image lazypreload lazyautosizes lazyloaded" 
                                        alt="" src="https://cdn.shopify.com/s/files/1/0480/1141/1607/files/05_201023_Toteme_-_Store_Shoot_015_720x.jpg?v=1611183861">
                                        </div>
                                        <noscript>
                                        <img class="site-nav__meganav-image lazypreload" src="https://cdn.shopify.com/s/files/1/0480/1141/1607/files/05_201023_Toteme_-_Store_Shoot_015_2048x2048.jpg?v=1611183861">
                                        </noscript>
                                        <span class="site-nav__meganav-link-text text-large">Shoe rack</span>
                                    </a>
                                </div>
                            </div>
                            </div>
                        </li>

                        <li class="site-nav__item" js-site-header="siteNavItem">
                            <a class="site-nav__link" href="/collections/new-in" aria-haspopup="false" js-site-header="siteNavLink">
                            New in
                            </a>
                        </li>
                        <li class="site-nav__item site-nav__item--has-meganav" js-site-header="siteNavItem" js-site-dropdown="dropdownParent">
                            <button class="site-nav__link" js-site-header="siteNavLink" js-site-dropdown="dropdownTrigger">
                            Uniforms
                            </button>
                            <div class="site-nav__meganav critical-hide" js-site-header="megaNav">
                            <div class="site-nav__meganav-inner">
                                <div class="site-nav__meganav-col">
                                    <a class="site-nav__subtitle text-link site-nav__subtitle--hidden" href="/" js-site-header="navLink">
                                    test
                                    </a>
                                    <ul class="navlist navlist--block">
                                        <li class="navlist__item">
                                        <a class="navlist__link text-link" href="/pages/uniforms" js-site-header="navLink"> 
                                        전체보기
                                        </a>
                                        </li>
                                        <li class="navlist__item">
                                        <a class="navlist__link text-link" href="/pages/spring-uniforms" js-site-header="navLink"> 
                                        Spring uniforms
                                        </a>
                                        </li>
                                        <li class="navlist__item">
                                        <a class="navlist__link text-link" href="/pages/summer-uniforms" js-site-header="navLink"> 
                                        Summer uniforms
                                        </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="site-nav__meganav-col">
                                    <a class="site-nav__subtitle text-link site-nav__subtitle--hidden" href="/" js-site-header="navLink">
                                    Uniforms
                                    </a>
                                </div>
                                <div class="site-nav__meganav-col">
                                    <a class="site-nav__meganav-link" href="/pages/spring-uniforms" js-site-header="navLink">
                                        <div class="responsive-image__wrapper site-nav__meganav-image-wrapper" data-image-id="471089119383">
                                        <span style="display: block; padding-top:131.11111111111114%;" aria-hidden="true">
                                        </span>
                                        <img class="responsive-image__image blur-up site-nav__meganav-image lazypreload lazyautosizes lazyloaded" alt="" src="https://cdn.shopify.com/s/files/1/0480/1141/1607/files/110221_2_720x.jpg?v=1613146300">
                                        </div>
                                        <span class="site-nav__meganav-link-text text-large">Spring uniforms</span>
                                    </a>
                                </div>
                                <div class="site-nav__meganav-col">
                                    <a class="site-nav__meganav-link" href="/pages/summer-uniforms" js-site-header="navLink">
                                        <div class="responsive-image__wrapper site-nav__meganav-image-wrapper" data-image-id="471089152151">
                                        <span style="display: block; padding-top:131.11111111111114%;" aria-hidden="true">
                                        </span>
                                        <img class="responsive-image__image blur-up site-nav__meganav-image lazypreload lazyautosizes lazyloaded" alt="" src="https://cdn.shopify.com/s/files/1/0480/1141/1607/files/110221_1_720x.jpg?v=1613146300">
                                        </div>
                                        <span class="site-nav__meganav-link-text text-large">Summer uniforms</span>
                                    </a>
                                </div>
                            </div>
                            </div>
                        </li>
                        <li class="site-nav__item" js-site-header="siteNavItem">
                            <a class="site-nav__link" href="/pages/our-story" aria-haspopup="false" js-site-header="siteNavLink">
                            About
                            </a>
                        </li>
                        <li class="site-nav__item" js-site-header="siteNavItem">
                            <a class="site-nav__link" href="/pages/questions-1" aria-haspopup="false" js-site-header="siteNavLink">
                            Questions?
                            </a>
                        </li>
                    </ul>
                </nav>

                <!--- 상품 외 기타 기능 헤더 -->
                <%- include("./sub_action_menu.ejs") %>
                <!--- // 상품 외 기타 기능 헤더 -->
                
                </div>
            </header>

            <!-- 
            제목 : 메뉴 
            -->


        </div>
    </section>



    <div id="shopify-section-site-search" class="shopify-section">
    <div id="searchBarHeader" class="site-header__search critical-hide" data-section-id="site-search" data-section-type="site-search" data-search-min-chars="3" js-site-header="searchBar" js-search-bar-active="false">
        <div class="search-bar ">
            <div class="search-bar__input-wrapper">
                <form class="search-bar__form" action="/search" autocomplete="off" method="get" role="search" js-site-search="form">
                <div class="search-bar__container">
                    <div class="search-bar__field">
                        <label class="visually-hidden" for="Search-site-search">
                        Search for products on our site
                        </label>
                        <input id="Search-site-search" class="search-bar__input text-medium" name="q" placeholder="Type your search" type="search" js-site-search="input">
                        <button type="submit" class="button search-bar__submit">
                            <span class="icon-fallback-text">
                            Search
                            </span>
                            <svg class="icon icon__search" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.838 10.131c1.656-1.9 1.553-4.811-.288-6.652-1.922-1.922-5.008-1.95-6.894-.064-1.887 1.887-1.858 4.973.063 6.895 1.757 1.757 4.49 1.93 6.387.503l3.34 3.34.707-.708-3.315-3.314zm-.92-.454c-1.51 1.509-3.98 1.486-5.516-.05-1.537-1.538-1.56-4.007-.05-5.516 1.508-1.509 3.978-1.486 5.515.05 1.537 1.538 1.56 4.007.05 5.516z"></path>
                            </svg>
                        </button>
                        <button class="search-bar__close" tabindex="0" type="button" data-target="searchBarHeader" js-toggle="searchBarHeader">
                            <span class="icon-fallback-text">Search</span>
                            <svg class="icon icon--large icon__close" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M23 12c0-6.075-4.925-11-11-11S1 5.925 1 12s4.925 11 11 11 11-4.925 11-11zM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12zm6.593-2.7l.707-.707 2.7 2.7 2.7-2.7.707.707-2.7 2.7 2.7 2.7-.707.707-2.7-2.7-2.7 2.7-.707-.707 2.7-2.7-2.7-2.7z"></path>
                            </svg>
                        </button>
                    </div>
                </div>
                </form>
            </div>
            <div class="search-bar__inner suggestions" js-site-search="suggestions" style="height: calc(1371px);">
                <div class="search-bar__suggested-searches" js-drag-scroll="container">
                <span class="search-bar__suggested-searches-label">
                Suggested searches:
                </span>
                <ul class="search-bar__suggested-searches-list">
                    <li class="search-bar__suggested-searches-item">
                        <button class="search-bar__suggested-searches-term button" data-term="Scarf" js-site-search="suggestedSearch">
                        Scarf
                        </button>
                    </li>
                    <li class="search-bar__suggested-searches-item">
                        <button class="search-bar__suggested-searches-term button" data-term="Trench" js-site-search="suggestedSearch">
                        Trench
                        </button>
                    </li>
                    <li class="search-bar__suggested-searches-item">
                        <button class="search-bar__suggested-searches-term button" data-term="Sale" js-site-search="suggestedSearch">
                        Sale
                        </button>
                    </li>
                    <li class="search-bar__suggested-searches-item">
                        <button class="search-bar__suggested-searches-term button" data-term="Coat" js-site-search="suggestedSearch">
                        Coat
                        </button>
                    </li>
                    <li class="search-bar__suggested-searches-item">
                        <button class="search-bar__suggested-searches-term button" data-term="Leggings" js-site-search="suggestedSearch">
                        Leggings
                        </button>
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</header>