@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    font-size : 34px;
    src: url(https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
} 


@font-face {
    font-family: 'Noto Sans KR3';
    font-style: normal;
    src: url(https://0sunman.github.io/toteme-korea-publish/public/css/NotoSansCJKKRRegular_reduce.ttf) format('truetype')
} 

@font-face {
    font-family: 'MonumentGrotesk';
    font-style: normal;
    src: url(https://0sunman.github.io/toteme-korea-publish/public/css/MonumentGrotesk-Regular.woff2) format('woff2')
} 


@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');} @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');} @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');} @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');} @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}


body#toteme-official-online-store.has-announcement-bar{padding-top:51px;}


/* 2-1 회원가입 로그인 초기*/
.sns-buttons{ margin:0 auto; text-align: center;}
.sns-buttons input[type='button']{ font-size:15px; line-height: 20px;}
.template-account__text_hdtype_1 { padding: 15px 20px;}
.template-account__text_hdtype_1.alert { border-bottom:1px solid #000;}

.no-margin-top{margin-top:0px}
.no-padding-bottom{padding-bottom:0px}

.template-login__form .form-group__field.margin-50{margin-top:50px;margin-bottom:50px}
.template-login__form .form-group{padding-bottom:0px !important}


.no-margin-bottom{margin-bottom:0px}
.no-margin{ margin-top:0px !important; margin-bottom:0px !important; }
.no-padding{ padding-top:0px !important; padding-bottom:0px !important; }
/* // 2-1 회원가입 로그인 초기 */

html,body,div,p,h1,h2,h3,span,*{font-family: 'MonumentGrotesk','Noto Sans KR3','Noto Sans KR',-apple-system,blinkmacsystemfont,San Francisco,Helvetica,sans-serif !important;}


/* 2-2 회원가입 페이지 */
.input-table{display: table; width: 100%;}
.input-table > div{display: table-cell;vertical-align: top; }
.input-table > div input.duplicatebtn{height: 33px; margin-right: 0px; width: calc(100% - 8px); float: right}
.input-table > div.w70{width:70%;}
.input-table > div.w30{width:70%;text-align: right;clear:right}
.input-table > div.w30::after{content:""}
.blockType{display:block;}
.text-block{display: block; margin:10px 0px; text-align: left;}
.text-block.m15{margin:15px 0px;}
.text-block.m15-left{margin-left:15px;}
.text-block.description{font-size: 12px; color:#171616; font-family: 'Noto Sans KR', sans-serif;}
.text-block .checkbox{width:10px; height:10px; margin-right:9px; border: 1px solid #171616}
.text-block .checkbox:checked{background-color: #171616;}
.text-block h2{font-size: 14px;margin-bottom:10px}
.input-block{display: block; margin:10px 0px; text-align: center;}

.line-block{display: block; height:1px; background-color: #171616;}

.m-font-12{font-size:12px !important;}
.font-14{font-size:14px !important;}
.m-font-15{font-size:15px !important;}
@media(max-width:767px){
    .top-m10{margin-top:10px}
    .top-m15{margin-top:15px}
    .top-m20{margin-top:20px}
    .top-m30{margin-top:30px}
    .left-m10{margin-left:10px}
    .left-m15{margin-left:15px}
    .left-m20{margin-left:20px}
    .left-m30{margin-left:30px}
    .bottom-m10{margin-bottom:10px}
    .bottom-m15{margin-bottom:15px}
    .bottom-m20{margin-bottom:20px}
    .bottom-m30{margin-bottom:30px}
    .right-m10{margin-right:10px;}
    .right-m15{margin-right:15px;}
    .right-m20{margin-right:20px;}
    .right-m30{margin-right:30px;}
    
    .m-font-12{font-size:12px !important;}
    .m-font-14{font-size:14px !important;}
    .m-font-15{font-size:15px !important;}
}
@media(min-width:768px){
    .top-d10{margin-top:10px}
    .top-d15{margin-top:15px}
    .top-d20{margin-top:30px}
    .top-d30{margin-top:30px}
    .left-d10{margin-left:10px}
    .left-d15{margin-left:15px}
    .left-d20{margin-left:20px}
    .left-d30{margin-left:30px}
    .bottom-d10{margin-bottom:10px}
    .bottom-d15{margin-bottom:15px}
    .bottom-d20{margin-bottom:20px}
    .bottom-d30{margin-bottom:30px}
    .right-d10{margin-right:10px;}
    .right-d15{margin-right:15px;}
    .right-d20{margin-right:20px;}
    .right-d30{margin-right:30px;}

    
    .d-font-12{font-size:12px !important;}
    .d-font-14{font-size:14px !important;}
    .d-font-15{font-size:15px !important;}
 }
 .align-center{text-align: center;}
 .align-left{text-align: left;}
 .align-right{text-align: right;}
 




.progressbar{width:100%;padding: 15px 90px;;margin: 0 auto;font-size: 0px;letter-spacing: -1px;}
.progressbar .line{background: black;height:1px;width: 99%;top:8px;position: relative;z-index: -1; margin: 0 auto;}
.progressbar .circle{display: inline-block; width:15px;height:15px;border-radius: 50%;background: white;border:1px solid #171616;}
.progressbar ul{list-style-type: none;}
.progressbar ul li.active .circle{background: #171616;}
.progressbar ul{display:table;width: 100%; list-style-type: none;padding:0;margin:0}
.progressbar ul li{display: table-cell; width: 33.33%;line-height: 15px; text-align: center; float:left}
.progressbar ul li p{text-align: center; display: inline-block;}
.progressbar ul li:first-child{text-align: left;}
.progressbar ul li:first-child p{text-align: left;}
.progressbar ul li:first-child p span.text{text-align: left;transform:translateX(-36%);}
.progressbar ul li:last-child{text-align: right;}
.progressbar ul li:last-child p{text-align: right;}
.progressbar ul li:last-child p span.text{text-align: left;transform:translateX(36%);}
.progressbar ul li span.text{display: inline-block;font-size: 14px;}

.join.template-login__form .input-wrap{padding-top:0px;margin-top:0px}


input[type=email], input[type=password], input[type=search], input[type=tel], input[type=text], select, textarea{padding:0px 11px}
/* // 2-2 회원가입 페이지*/

@media (max-width:767px){
    .container .template-account__navlist {padding-top:20px; padding-bottom:20px;}
    .container .template-login__form .form-group{padding-top:20px; padding-bottom:20px;}    
}

.defaultblock{display: block;}
.sns-buttons::after{display:table;content:"";clear:both}
.newline{display: block;}
/* 라디오 버튼 */
.radiobutton input[type='radio']{display:none;}
.radiobutton input[type='radio']:checked + span{ background:#171616; color:#fff}
.radiobutton input + span{
   
   -ms-flex-align: center;  align-items: center; -webkit-appearance: none; -moz-appearance: none;
   appearance: none; background-color: #fff; border: 1px solid #171616; border-radius: 33px;
   box-shadow: none; color: #171616; display: -ms-inline-flexbox; display: inline-flex;
   font-size: 14px; -ms-flex-pack: center; justify-content: center; letter-spacing: .04px; line-height: 15px;
   margin:5px 8px;min-height: 33px; padding: 0 18px; text-align: center; text-decoration: none; -webkit-user-select: none;
   -moz-user-select: none; -ms-user-select: none; user-select: none; vertical-align: middle; white-space: nowrap; width: auto;
   cursor : pointer; letter-spacing:0px;
}
/* // 라디오 버튼 */
/* 셀렉트 버튼 */
/* .input-table input,.input-table select{font-size: 14px;} */
input.toteme-button-style{ font-size: 14px; margin:5px 8px; min-height: 33px; padding: 0 18px; line-height: 15px;}
input.toteme-button-style.big{width:67%;}
select.select--center{background-image: url(//cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/icon-small-arrow-down.svg?v=9521334029086756349);}
select.toteme-select-style{ 
 background-image: url(//cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/icon-small-arrow-down.svg?v=9521334029086756349);

 }
 .select-wrap{ display: inline-block;}
 /* // 라디오 버튼 */


 /* 토템 요구사항 */
/* 1. 로그인 부분 상단 60px = 45px + 50px (데스크탑)*/
@media (min-width:768px){
    #MainContent .template-account__navlist { padding:0px; }
    #MainContent .template-account__navlist ul.navlist { padding:0px; margin:60px 0px; }  /* 상단 60px로 요청 */
    #MainContent .navlist__item.navlist__item--margin { margin-bottom: 30px; } /* 공백은 30px */
    #MainContent .template-login__form .form-group { padding:0px; margin: 30px 15px; }
    #MainContent .text-block.description{font-size:11px;}
}

 /* //토템 요구사항 */


 @media (max-width:767px){
    .only_pc{display:none;}

 }
 @media (min-width:768px){
    .only_mo{display:none;}
 }

 #MainContent .navlist__link {
    font-size:initial
 }

 /* 인풋 가이드 */
 .form-group .error.comment {font-size:12px;margin-top:5px;color:#ff0000;text-align: left;}
 .checkbox_custom_box{font-size: 12px; position: relative; padding-left: 15px;}
 .checkbox_custom_box .checkbox{width:10px; height:10px; border: 1px solid #171616; vertical-align: middle; position: absolute; top: 0.46em; left: 0;}
 .checkbox_custom_box .checkbox:after{content: ''; display: block; width: 6px; height: 6px; background: #000; opacity: 0; position: absolute; top: 1px; left: 1px; box-sizing: border-box; transform: scale(0); transition: all 0.2s ease-in-out; z-index: 1;}
 .checkbox_custom_box .checkbox:checked{background: #fff;}
 .checkbox_custom_box .checkbox:checked:after{opacity: 1; transform: scale(1);}
 .checkbox_custom_box label{vertical-align: top;}

 
.radio_custom_box{font-size: 15px; position: relative; padding-left: 15px;}
.radio_custom_box .radio_input{width:10px; height:10px; border: 1px solid #171616; border-radius: 50%; vertical-align: middle; position: absolute; top: 0.4em; left: 0;}
.radio_custom_box .radio_input:after{content: ''; display: block; width: 6px; height: 6px; background: #000; border-radius: 50%; opacity: 0; position: absolute; top: 1px; left: 1px; box-sizing: border-box; transform: scale(0); transition: all 0.2s ease-in-out; z-index: 1;}
.radio_custom_box .radio_input:checked{background: #fff;}
.radio_custom_box .radio_input:checked:after{opacity: 1; transform: scale(1);}
.radio_custom_box label{vertical-align: top;}

 
.container .form-group .form-group__field{margin-bottom:10px;}
.container .form-group .form-group__footer{padding-top:0px;}
.form-group p.error.comment {font-size:12px;margin-top:5px;color:#ff0000}
@media(min-width:767px){
  .container .wrapper{width:30%; margin:0 auto}
}
.example{display: block;padding:15px;margin:0 auto;border: 1px solid;margin-top: 10px;margin-bottom: 50px;}
.example-description{background-color: #e2e2e2; margin-top:10px; padding:20px; border-radius: 10px;}

input.button--block:hover,input.template-login input.AAI_submit:hover, select:focus, select:hover { margin-left: 0; width: 100% }
.no-animation:hover, .no-animation:focus{margin-left: 0; width: 100% }


body.drawer--open--blur .site-header-wrapper{z-index:25;}
body.overflow-hidden {overflow: hidden;}


@media (max-width: 767px){
    .site-footer__action { width: 80%; }
    .custom-module__nav-dropdown{ width:80%; }
    .custom-select__wrapper{ width:80%; }
    .custom-module__text-column.custom-module__text-column--content{border-top:0}
}


/* 테이블 */
.table_type1{border-spacing: 0; min-width: 100%; table-layout: fixed; border-top: 1px solid #171616; border-left: 1px solid #171616;}
.table_type1 th, .table_type1 td{min-width: 3rem; padding: .25rem; border-bottom: 1px solid #171616; border-right: 1px solid #171616; font-weight: 400;}
.table_type1 th{text-align: center;}
.table_type1 td{text-align: left;}