body#toteme-official-online-store.has-announcement-bar{padding-top:51px;}


/* 2-1 회원가입 로그인 초기*/
.sns-buttons{ margin:0 auto; text-align: center;}
.sns-buttons input[type='button']{ font-size:15px; line-height: 20px;}
.template-account__text_hdtype_1 { padding: 1rem 20px;}
.template-account__text_hdtype_1.alert { border-bottom:1px solid #000;}

.no-margin-top{margin-top:0px}
.no-padding-bottom{padding-bottom:0px}

.template-login__form .form-group__field.margin-50{margin-top:50px;margin-bottom:50px}
.template-login__form .form-group{padding-bottom:0px !important}


.no-margin-bottom{margin-bottom:0px}
.no-margin{ margin-top:0px !important; margin-bottom:0px !important; }
.no-padding{ padding-top:0px !important; padding-bottom:0px !important; }
/* // 2-1 회원가입 로그인 초기 */

html,body,div,p,h1,h2,h3,span,*{font-family: 'Noto Sans KR', sans-serif}