
@font-face {
    font-family: 'Noto Sans Toteme';
    font-style: normal;
    src: url(../font/NotoSans_Hyundai_ForToteme.ttf) format('truetype')
} 

@font-face {
    font-family: 'MonumentGrotesk';
    font-style: normal;
    src: url(../font/MonumentGrotesk-Regular.woff2) format('woff2')
} 


body#toteme-official-online-store.has-announcement-bar{padding-top:51px;}


/* 2-1 회원가입 로그인 초기*/
.sns-buttons{ margin:0 auto; text-align: center;}
.sns-buttons input[type='button']{ font-size:15px; line-height: 20px;}
.template-account__text_hdtype_1 { padding: 15px 20px;}
.template-account__text_hdtype_1.alert { border-bottom:1px solid #000;}

.no-margin-top{margin-top:0px}
.no-padding-bottom{padding-bottom:0px}

.template-login__form .form-group__field.margin-50{margin-top:50px;margin-bottom:50px}
.template-login__form .form-group{padding-bottom:0px !important}


.no-margin-bottom{margin-bottom:0px}
.no-margin{ margin-top:0px !important; margin-bottom:0px !important; }
.no-padding{ padding-top:0px !important; padding-bottom:0px !important; }
/* // 2-1 회원가입 로그인 초기 */

html,body,div,p,h1,h2,h3,span,*{font-family: 'MonumentGrotesk','Noto Sans Toteme',-apple-system,blinkmacsystemfont,San Francisco,Helvetica,sans-serif !important;}


/* 2-2 회원가입 페이지 */
.input-table{display: table; width: 100%;}
.input-table > div{display: table-cell;vertical-align: top; }
.input-table > div input.duplicatebtn{height: 33px; margin-right: 0px; width: calc(100% - 8px); float: right}
.input-table > div.w70{width:70%;}
.input-table > div.w30{width:70%;text-align: right;clear:right}
.input-table > div.w30::after{content:""}
.blockType{display:block;}
.text-block{display: block; margin:10px 0px; text-align: left;}
.text-block.m15{margin:15px 0px;}
.text-block.m15-left{margin-left:15px;}
.text-block.description{font-size: 12px; color:#171616; font-family: 'Noto Sans KR', sans-serif;}
.text-block .checkbox{width:10px; height:10px; margin-right:9px; border: 1px solid #171616}
.text-block .checkbox:checked{background-color: #171616;}
.text-block h2{font-size: 14px;margin-bottom:10px}
.input-block{display: block; margin:10px 0px; text-align: center;}

.line-block{display: block; height:1px; background-color: #171616;}

.m-font-12{font-size:12px !important;}
.font-14{font-size:14px !important;}
.m-font-15{font-size:15px !important;}
@media(max-width:767px){
    .top-m10{margin-top:10px}
    .top-m15{margin-top:15px}
    .top-m20{margin-top:20px}
    .top-m30{margin-top:30px}
    .left-m10{margin-left:10px}
    .left-m15{margin-left:15px}
    .left-m20{margin-left:20px}
    .left-m30{margin-left:30px}
    .bottom-m10{margin-bottom:10px}
    .bottom-m15{margin-bottom:15px}
    .bottom-m20{margin-bottom:20px}
    .bottom-m30{margin-bottom:30px}
    .right-m10{margin-right:10px;}
    .right-m15{margin-right:15px;}
    .right-m20{margin-right:20px;}
    .right-m30{margin-right:30px;}
    
    .m-font-12{font-size:12px !important;}
    .m-font-14{font-size:14px !important;}
    .m-font-15{font-size:15px !important;}
}
@media(min-width:768px){
    .top-d10{margin-top:10px}
    .top-d15{margin-top:15px}
    .top-d20{margin-top:20px}
    .top-d30{margin-top:30px}
    .left-d10{margin-left:10px}
    .left-d15{margin-left:15px}
    .left-d20{margin-left:20px}
    .left-d30{margin-left:30px}
    .bottom-d10{margin-bottom:10px}
    .bottom-d15{margin-bottom:15px}
    .bottom-d20{margin-bottom:20px}
    .bottom-d30{margin-bottom:30px}
    .right-d10{margin-right:10px;}
    .right-d15{margin-right:15px;}
    .right-d20{margin-right:20px;}
    .right-d30{margin-right:30px;}

    
    .d-font-12{font-size:12px !important;}
    .d-font-14{font-size:14px !important;}
    .d-font-15{font-size:15px !important;}
 }
 .align-center{text-align: center;}
 .align-left{text-align: left;}
 .align-right{text-align: right;}
 






/* h2.title{font-size:15px; color:#171616}
table, tr, th, td{border:1px #000 solid; border-collapse: collapse;padding:10px;text-align: center; font-size:13px;}
th{font-weight: normal;} */
.agree_radio{margin-bottom:10px;}
.agree_radio > input{margin-right:9px !important;}
.agree_radio > label{font-size:15px}
input.button--block.small_button.agreement{ width: auto; padding: 0px 18px; font-size: 13px; line-height: 13px; min-height: 23px; float: right; padding-bottom: 0px; }

input.button--block:hover.small_button { width:auto;  }
input.button--block.agreement.button-padding-52 {width:54px; }


.progressbar{width:100%;padding: 15px 90px;;margin: 0 auto;font-size: 0px;letter-spacing: -1px;}
.progressbar .line{background: black;height:1px;width: 99%;top:8px;position: relative;z-index: -1; margin: 0 auto;}
.progressbar .circle{display: inline-block; width:15px;height:15px;border-radius: 50%;background: white;border:1px solid #171616;}
.progressbar ul{list-style-type: none;}
.progressbar ul li.active .circle{background: #171616;}
.progressbar ul{display:table;width: 100%; list-style-type: none;padding:0;margin:0}
.progressbar ul li{display: table-cell; width: 33.33%;line-height: 15px; text-align: center; float:left}
.progressbar ul li p{text-align: center; display: inline-block;}
.progressbar ul li:first-child{text-align: left;}
.progressbar ul li:first-child p{text-align: left;}
.progressbar ul li:first-child p span.text{text-align: left;transform:translateX(-36%);}
.progressbar ul li:last-child{text-align: right;}
.progressbar ul li:last-child p{text-align: right;}
.progressbar ul li:last-child p span.text{text-align: left;transform:translateX(36%);}
.progressbar ul li span.text{display: inline-block;font-size: 14px;}

.join.template-login__form .input-wrap{padding-top:0px;margin-top:0px}


input[type=email], input[type=password], input[type=search], input[type=tel], input[type=text], select, textarea{padding:0px 11px}
/* // 2-2 회원가입 페이지*/

@media (max-width:767px){
    .container .template-account__navlist {padding-top:20px; padding-bottom:20px;}
    .container .template-login__form .form-group{padding-top:20px; padding-bottom:20px;}    
}

.defaultblock{display: block;}
.sns-buttons::after{display:table;content:"";clear:both}
.newline{display: block;}
/* 라디오 버튼 */
.radiobutton input[type='radio']{display:none;}
.radiobutton input[type='radio']:checked + span{ background:#171616; color:#fff}
.radiobutton input + span{
   
   -ms-flex-align: center;  align-items: center; -webkit-appearance: none; -moz-appearance: none;
   appearance: none; background-color: #fff; border: 1px solid #171616; border-radius: 33px;
   box-shadow: none; color: #171616; display: -ms-inline-flexbox; display: inline-flex;
   font-size: 14px; -ms-flex-pack: center; justify-content: center; letter-spacing: .04px; line-height: 15px;
   margin:5px 8px;min-height: 33px; padding: 0 18px; text-align: center; text-decoration: none; -webkit-user-select: none;
   -moz-user-select: none; -ms-user-select: none; user-select: none; vertical-align: middle; white-space: nowrap; width: auto;
   cursor : pointer; letter-spacing:0px;
}
/* // 라디오 버튼 */
/* 셀렉트 버튼 */
/* .input-table input,.input-table select{font-size: 14px;} */
input.toteme-button-style{ font-size: 14px; margin:5px 8px; min-height: 33px; padding: 0 18px; line-height: 15px;}
input.toteme-button-style.big{width:67%;}
select.select--center{background-image: url(../assets/icon-small-arrow-down.svg);}
select.toteme-select-style{ 
 background-image: url(../assets/icon-small-arrow-down.svg);

 }
 .select-wrap{ display: inline-block;}
 /* // 라디오 버튼 */


 /* 토템 요구사항 */
/* 1. 로그인 부분 상단 60px = 45px + 50px (데스크탑)*/
@media (min-width:768px){
    #MainContent .template-account__navlist { padding:0px; }
    #MainContent .template-account__navlist ul.navlist { padding:0px; margin:60px 0px; }  /* 상단 60px로 요청 */
    #MainContent .navlist__item.navlist__item--margin { margin-bottom: 30px; } /* 공백은 30px */
    #MainContent .template-login__form .form-group { padding:0px; margin: 30px 15px; }
    #MainContent .text-block.description{font-size:11px;}
}

 /* //토템 요구사항 */


 @media (max-width:767px){
    .only_pc{display:none;}

 }
 @media (min-width:768px){
    .only_mo{display:none;}
 }

 #MainContent .navlist__link {
    font-size:initial
 }

 /* 인풋 가이드 */
.form-group .error.comment {font-size:12px;margin-top:5px;color:#ff0000;text-align: left;}
.checkbox_custom_box{font-size: 15px; position: relative; padding-left: 19px;}
.checkbox_custom_box .checkbox{width:10px; height:10px; border: 1px solid #171616; vertical-align: middle; position: absolute; top: 6px; left: 0;}
.checkbox_custom_box .checkbox:after{content: ''; display: block; width: 6px; height: 6px; background: #000; opacity: 0; position: absolute; top: 1px; left: 1px; box-sizing: border-box; transform: scale(0); transition: all 0.2s ease-in-out; z-index: 1;}
.checkbox_custom_box .checkbox:checked{background: #fff;}
.checkbox_custom_box .checkbox:checked:after{opacity: 1; transform: scale(1);}
.checkbox_custom_box label{vertical-align: top;}

 
.radio_custom_box{font-size: 15px; position: relative; padding-left: 19px;}
.radio_custom_box .radio_input{width:10px; height:10px; border: 1px solid #171616; border-radius: 50%; vertical-align: middle; position: absolute; top: 0.4em; left: 0;}
.radio_custom_box .radio_input:after{content: ''; display: block; width: 6px; height: 6px; background: #000; border-radius: 50%; opacity: 0; position: absolute; top: 1px; left: 1px; box-sizing: border-box; transform: scale(0); transition: all 0.2s ease-in-out; z-index: 1;}
.radio_custom_box .radio_input:checked{background: #fff;}
.radio_custom_box .radio_input:checked:after{opacity: 1; transform: scale(1);}
.radio_custom_box label{vertical-align: top;}

 
.container .form-group .form-group__field{margin-bottom:10px;}
.container .form-group .form-group__footer{padding-top:0px;}
.form-group p.error.comment {font-size:12px;margin-top:5px;color:#ff0000}
@media(min-width:767px){
  .container .wrapper{width:30%; margin:0 auto}
}
.example{display: block;padding:15px;margin:0 auto;border: 1px solid;margin-top: 10px;margin-bottom: 50px;}
.example-description{background-color: #e2e2e2; margin-top:10px; padding:20px; border-radius: 10px;}

input.button--block:hover,input.template-login input.AAI_submit:hover, select:focus, select:hover { margin-left: 0; width: 100% }
.no-animation:hover, .no-animation:focus{margin-left: 0; width: 100% }


body.drawer--open--blur .site-header-wrapper{z-index:25;}
body.overflow-hidden {overflow: hidden;}


@media (max-width: 767px){
    .site-footer__action { width: 80%; }
    .custom-module__nav-dropdown{ width:80%; }
    .custom-select__wrapper{ width:80%; }
    .custom-module__text-column.custom-module__text-column--content{border-top:0}
}


/* 테이블 */
.table_type1{border-spacing: 0; min-width: 100%; table-layout: fixed; border-top: 1px solid #171616; border-left: 1px solid #171616;}
.table_type1 th, .table_type1 td{min-width: 3rem; padding: .25rem; font-size: 13px; border-bottom: 1px solid #171616; border-right: 1px solid #171616; font-weight: 400;}
.table_type1 th{text-align: center;}
.table_type1 td{text-align: left;}
.table_type1 p{font-size: inherit;}
/* //테이블 */

/* 상품 */
.boost-pfs-container-default .boost-pfs-filter-refine-by-wrapper-h .boost-pfs-filter-clear-all.boost-pfs-filter-clear-all{display: none;}
@media screen and (min-width: 62em){
    .boost-pfs-container-default .boost-pfs-filter-refine-by-wrapper-h .boost-pfs-filter-clear-all.boost-pfs-filter-clear-all.is-active{display: inline-block;}
}
#MainContent .mo_only{display: none;}
@media screen and (max-width: 720px){
    #MainContent .pc_only{display: none;}
    #MainContent .mo_only{display: block;}
}
.modal__body.preorder-modal__body {padding: 100px 1rem 3rem;}
.preorder-modal__button-wrapper {margin: auto; max-width: 240px;}
.preorder-modal__button:first-child {margin-bottom: 1rem;}
.preorder-modal__footer {padding: 20px 2rem; text-align: center;}
.modal__header .modal__close{padding: 13px;}
.modal__header .modal__close svg{width: 22px; height: 22px;}
@media (max-width: 61.99em) {
    .preorder-modal .modal__card {width:calc(100% - 75px);}
}
@media (min-width: 62em) {
    .preorder-modal__body {padding-bottom:70px; padding-top: 110px;}
    .preorder-modal__button-wrapper {max-width: none; width: 280px;}
    .preorder-modal__footer {padding: 20px 80px;}
}
.product-form__add-to-cart>button.button.is-active:hover .label-atc{display: block;}
/* //상품 */

/* 주문 */
.checkout__content.content{height: 100%;}
.email_form>div:first-child{width: 60%;}
.email_form>div:last-child{width: 40%;}
.email_form .select-wrap{display: block; margin-left: 7px;}
@media (max-width: 47.99em){.checkout input{font-size: 15px}}
.phone_form{display: table; width: 100%;}
.phone_form>div:last-child{width: 41px;}
.phone_form .btn_plus{display: block; font-size: 0; width: 34px; height: 34px; margin-left: 7px; border: 1px solid #171616; border-radius: 50%; position: relative;}
.phone_form .btn_plus svg{transform: rotate(45deg);}
.input_phone_plus{display: none; margin-top: 10px;}
.phone_form.active+.input_phone_plus{display: block;}
.phone_form.active .btn_plus svg{display: none;}
.phone_form.active .btn_plus:before{content: ''; display: block; width: 8px; height: 1px; background: #171616; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.phone_addr .button{width: calc(100% - 7px); min-height: 34px; margin-left: 7px;}
.product-table:not(.stock-problem-table) .product__quantity .visually-hidden, .checkout .order-summary__section--discount .field__input-btn .visually-hidden-on-mobile{overflow: visible;}
.discount-trigger{display: block; max-width: 500px; margin: 0 auto; padding-right: 0; padding-left: 0;}
.order-summary__section--discount{text-align: center;}
.deposit_attr_box{display: table; width: 100%; font-size: 15px; text-align: left;}
.deposit_attr_box>div{display: table-cell;}
.deposit_attr_box>div:last-child{text-align: right;}
.deposit_attr_box .field__message--error{display: inline-block;}
.deposit_attr_box .btn_deposit{position: relative; font-size: 13px;}
.deposit_attr_box .btn_deposit:after{content: ''; height: 1px; position: absolute; bottom: 0; left: 0; right: 0; background: #444;}
.deposit_result_box{display: none;}
.deposit_active .deposit_result_box{display: table; text-align: left;}
.order-summary__sections .deposit_active [data-deposit], .deposit_active>*{display: none;}
.direct_input{display: none;}
.direct_input.active{display: block;}
/* 주문-주소모달 */
.checkout .modal{background: transparent; box-shadow: unset;}
.checkout .modal .modal__header{display: flex;}
.checkout .modal .modal__body{justify-content: normal;}
.address-modal .address_modal_container{width: 100%; max-width: 600px;}
.address-modal .btn{float: none;}
.address-modal .comment{text-align: left; font-size: 13px; line-height: 17px; margin-top: 0.5714285714em;}
.address_find_content .input-table>div{width: 50%;}
.address_find_content .select-wrap{display: block;}
.address_find_content .select-wrap:last-child{margin-left: 7px;}
.verify-modal .verify_txt_box{text-align: left;}
.verify-modal .verify_container{max-width: 560px;}
.verify-modal .verify_container .button{margin-left: 7px;}
.verify-modal .verify_container .button:first-of-type{margin-left: 0;}
.bank_account-modal .bank_account_container{max-width: 560px;}
.bank_account-modal .bank_account_container .button{margin-left: 7px;}
.bank_account-modal .bank_account_container .button:first-of-type{margin-left: 0;}
.bank_account-modal .bank_account_container .bank_account_txt_box p{margin-top: 0.5714285714em; text-align: left; word-break: keep-all;}
.payment_tit1{display: block; margin-bottom: 7px;}
.addr_list{padding: 0;}
@media screen and (max-width: 999px) {
    .addr_list{font-size: 13px;}
}
.addr_list .addr_btn{display: table; width: 100%; padding: 10px; border-collapse: separate; border-top: 1px solid #171616;}
.addr_list .addr-line-wrap{display: table-cell; width: calc(100% - 60px);}
.addr_list .addr-line{display: block; text-align: left;}
.addr_list .addr-line:first-child{margin-bottom: 7px;}
.addr_list .addr-line span{display: table-cell;}
.addr_list .addr-mark-name, .addr_list .addr-mark-num{display: inline-block; width: 50px;}
.addr_list .zipcode{display: table-cell; width: 60px; text-align: center; vertical-align: middle;}
.addr_list .radio_custom_box{text-align: left;}
/* 주문-버튼2개 */
.input-block.pcs2:after{content: ''; display: block; clear: both;}
.input-block.pcs2 .btn{width: calc(50% - 4px); float: left;}
.input-block.pcs2 .btn:hover{margin-left: 0; margin-right: 0; width: calc(50% - 4px);}
.input-block.pcs2 .btn.white{background: #fff; color: #171616;}
.input-block.pcs2 .btn:last-child{margin-left: 7px;}
.input-block.pcs2 .btn:last-child:hover{margin-left: 7px;}
/* 결제 */
.breadcrumb__item--completed .breadcrumb__link{color: #171616;}
.checkout .comment{font-size: 13px; line-height: 17px;}
.payment_guaranty{font-size: 15px;}
.a_link{display: inline-block; position: relative;}
.a_link:after{content: ''; width: 100%; height: 1px; background: #171616; position: absolute; bottom: 0; left: 0;}
.nm_payment_attr{padding-top: 0; margin-top: 1.25rem;}
.nm_payment_attr .checkbox_custom_box{font-size: 15px; margin-bottom: 7px;}
.nm_payment_attr .checkbox_custom_box .checkbox{top: 0.36em;}
.checkbox_custom_box .a_link{vertical-align: top;}

.non_member_info{display: table; width: 100%;}
.non_member_info .info_box{display: table-cell;}
.non_member_info .info_box p{margin-bottom: 0;}
.non_member_info .btn_box{display: table-cell; width: 50px; text-align: right;}

.payment_con_box{text-align: left;}
.payment_con_box>div{display: none;}
.payment_con_box>.active{display: block; margin-top: 1.25rem;}
.payment_radio_wrap{font-size: 0; letter-spacing: -1px;}
.payment_radio_wrap:before, .payment_radio_wrap:after{display: none;}
.payment_radio_wrap>*{font-size: 15px; letter-spacing: 0;}
.payment_radio_wrap .radio_custom_box{display: inline-block; width: 33.33%; font-size: 15px;}
@media screen and (max-width: 1300px){
    .payment_radio_wrap .radio_custom_box{width: 50%;}
}
@media screen and (max-width: 510px){
    .payment_type>br{display: none;}
}
.card_type_box>div{display: none;}
.card_type_box>.active{display: block; margin-top: 1.25rem;}
.card_type_box .input-block{margin: 0;}
.tlist{padding: 0;}
.tlist>li{position: relative; padding-left: 1.2em;}
.tlist>li:before{content: "※"; position: absolute; top: 0; left: 0;}
.cash_receipt_box{margin-top: 1.25rem;}

.receipt_type_box>div{display: none;}
.receipt_type_box>.active{display: block;}
.table_type1{border-spacing: 0; min-width: 100%; table-layout: fixed; border-top: 1px solid #171616; border-left: 1px solid #171616;}
.table_type1 th, .table_type1 td{min-width: 3rem; padding: .25rem; border-bottom: 1px solid #171616; border-right: 1px solid #171616; font-weight: 400;}
.table_type1 th{text-align: center;}
.table_type1 td{text-align: left;}
.ly_guarantee_container:after{content: ''; display: block; clear: both;}
.ly_guarantee_container img{float: left; width: 50%;}

/* .member_infomation{border-bottom: 1px solid #171616;} */
.checkout [data-step=shipping_method] .section:first-of-type{border-width: 0;}
.checkout .review-block__label{flex: 0 1 15em; -webkit-flex: 0 1 15em;}
.member_info_change_box{padding: 1.75rem 2.5rem;}
.address_btn_box{margin-top: 4px;}
.a_link + .a_link{margin-left: 7px;}
.address_wrap>div{display: none;}
.address_wrap>div.active{display: block;}
/* .address_add_box, .address_select_box{padding: 0 2.5rem;} */
.address_info_change_box{padding: .5rem 2.5rem};
.address_add_box .input-block{text-align: left;}
.address_add_box .checkbox_custom_box+.comment{margin-top: .5rem;}
.checkout .step__sections .section.section--contact-information .section__title:before, .checkout [data-step=shipping_method] .step__sections .section.section--shipping-method .section__title:before{display: none;}
.checkout .step__sections .section.section--contact-information>.section__content{border-bottom-width: 0;}
.checkout .step__sections .section.section--shipping-address .section__header{border-bottom: 1px solid #171616;}

.checkout .review-block.review-block{padding: 0;}
.checkout .checkbox__label, .checkout .field__message, .checkout .reduction-code__text, .checkout .review-block, .checkout .review-block__link, .checkout .section__header p, .checkout__breadcrumbs, .checkout__breadcrumbs .breadcrumb__item, .page--thank-you .checkout .os-step__description, .text-xsmall{ font-size: 13px; line-height: 17px;}
.checkout .step__footer.btn_padding{display: block; text-align: center; padding-left: 15px; padding-right: 15px; margin: 0;}
.checkout .step__footer.btn_padding .btn{max-width: 500px; float: none;}
@media screen and (max-width: 767px){
    .checkout .step__footer.btn_padding{padding: 0 52px;}
    .checkout .step__footer.btn_padding .btn{max-width: 426px;}
}
.checkout .order-summary__section--discount .edit_checkout{padding: 0;}
.content-box__row.non_member_info{padding-left: 15px; padding-right: 15px;}
.checkout .section.section--payment-method .payment_type.sns-buttons{padding-top: 15px; padding-bottom: 20px;}
/* //주문 */





/* 한국 사이트 메뉴 변경 */
/* height 50px */
#menuDrawer .menu-drawer__body > .container .menu-drawer__item .menu-drawer__menu button.menu-drawer__button,
#menuDrawer .menu-drawer__body > .container .menu-drawer__item .menu-drawer__menu a.menu-drawer__link{height:50px;}
#menuDrawer > div > div.menu-drawer__body > div > ul > li > button,
#menuDrawer > div > div.menu-drawer__body > div > ul > li > a {height:50px; padding:20px 15px 20px 15px; line-height: 10px;}
/*// height 50px */


/* 활성화 시, 상단생략 및 우측 30px */
#menuDrawer > div > div.menu-drawer__body ul > li:nth-child(1) > a{padding-top:0px}
#menuDrawer > div > div.menu-drawer__body ul.is-active > li a{padding-left:30px;}

/* 줄 크기 */
#menuDrawer .menu-drawer__bordered-menu>li:not(:last-child):after{margin: 20px 1.75rem 20px;}
#menuDrawer .responsive-image__wrapper.menu-drawer__image-wrapper{margin:20px 15px 10px 30px;}

/* 화살표 크기 */
#menuDrawer .icon.icon__chevron.icon__chevron--right{transform: rotate(270deg);}

/* 버튼 활성화시 상하 20px*/
#menuDrawer button.menu-drawer__button.is-active{padding-top:20px; padding-bottom:20px;}

/* // 한국 사이트 메뉴 변경 */

/* 한국 애로우 변경 */
li > a.navlist__link.text-link{padding-left:15px}
/* // 한국 애로우 변경 */
/* //테이블 */


#MainContent .template-account__wrapper .custom-module__text-column{border-right: 0px;}
#MainContent .template-account__wrapper .custom-module__text-column.custom-module__text-column--content{border-top:0px;}

/* 4번 개인정보보호 */
.privacy_agreement .verify-modal .verify_container .button {
   margin-left: 0;
   padding: 0px 18px;
   width: auto;
   margin-right: 12px;
   height: 23px !important;
   min-height: auto;
   font-size: 13px;
}

.privacy_agreement .modal__header{
   justify-content: left;
   padding: 15px;
   font-size: 14px;
   border-bottom: 0px;
}
.privacy_agreement .modal__close{ padding: 13px;}
.privacy_agreement .icon__close{ width: 22px; height: 22px; }
.privacy_agreement .modal__body{ padding: 0px 15px; }
.privacy_agreement .input-block.form-group__footer{ padding-top: 0px; margin-top: 0px; text-align: left; justify-content: left; margin-bottom: 30px;}
.privacy_agreement .payment_tit1{ font-weight: bold; }
.privacy_agreement .verify_container{ max-width: 100%; }
.privacy_agreement .modal__body{ margin-bottom:30px; }
/* // 4번 개인정보보호 */

/* 5번 패스워드 찾기 */
.findpassword .input-table.two-cols{ width:70%; margin:0 auto; margin-bottom:10px; }
.findpassword .input-table.two-cols input{ font-size: 13px !important; }
.findpassword .input-table.two-cols input[type='button']{ width:100px; }
.findpassword .text-block.time{ margin-bottom: 10px; }
.findpassword .text-block.time p{ width: 70%; margin:0 auto; font-size:13px !important}
.findpassword .text-block li{ font-size: 13px !important; }
.findpassword .text-block li::marker{font-size: 1px;}
.findpassword.findpassword_complete .text{ text-align: center; margin-bottom: 30px;}
.findpassword.email_send table{width:100%; margin:15px;}
/* // 5번 패스워드 찾기 */


/* 마이페이지 - 회원정보변경 */
.template-mypage__form-wrapper ul, .template-mypage__form-wrapper li{list-style: none; padding: 0;}
.template-mypage__form{padding: 20px 15px;}
.template-mypage__form+.template-mypage__form{border-top: 1px solid #171616;}
#MainContent .form_padding{max-width: 500px; margin-left: auto; margin-right: auto;}
@media screen and (max-width: 767px){
    #MainContent .form_padding{padding: 0 37px;}
    #MainContent .field__input-btn-wrapper.form_padding{padding: 0;}
    .checkout .order-summary__section--discount.enable-form .edit_checkout{padding: 0;}
}
.p_small{font-size: 13px;}
.mypage_each{margin-bottom: 30px;}
.mypage_each2{margin-bottom: 20px;}
.mypage_each .mypage_name{margin-bottom: 10px;}
.mypage_btn_box{margin: 30px 37px; text-align: center;}
.mypage_btn_box .button{max-width: 500px;}
.mypage_tit2{margin-bottom: 15px;}
.radio_custom_box.mypage_radio_box{margin-bottom: 10px;}
.radio_two_col:after{content: ''; display: block; clear: both;}
.radio_two_col .radio_custom_box{float: left; width: 50%; word-break: keep-all;}
.radio_two_col .radio_custom_box:nth-of-type(2n+1){clear: both;}
@media screen and (max-width: 1000px) {
    .radio_two_col .radio_custom_box{float: none; width: 100%;}
}

/* 마이페이지 - 비밀번호 변경 */
.template-mypage__form-wrapper .mypage_toggle_menu{margin: 30px 15px; border-bottom: 1px solid #171616;}
.mypage_toggle_menu>li{border-top: 1px solid #171616;}
.mypage_toggle_menu .toggle_tit{display: block; width: 100%; padding: 15px 40px 15px 0; text-align: left; position: relative;}
.mypage_toggle_menu .toggle_tit:before{content: ''; display: block; width: 22px; height: 22px; border: 1px solid #171616; border-radius: 50%; position: absolute; top: 50%; right: 15px; transform: translateY(-50%);}
.mypage_toggle_menu .toggle_tit .ico{position: absolute; top: 50%; right: 14px; transform: translateY(-50%);}
.mypage_toggle_menu .toggle_tit .ico .icon.icon--large{width: 22px; height: 22px;}
.mypage_toggle_menu .toggle_con_box{display: none; padding: 15px 0;}
.mypage_toggle_menu>li.is-active .toggle_tit .ico{display: none;}
.mypage_toggle_menu>li.is-active .toggle_tit:after{content: ''; display: block; width: 9px; height: 1px; background: #171616; position: absolute; top: 50%; right: 21px; transform: translateY(-50%);}
.mypage_toggle_menu>li.is-active .toggle_con_box{display: block;}
.mypage_each2 .txt_btn_box{display: table; width: 100%;}
.mypage_each2 .txt_btn_box .mypage_tit2{display: table-cell; vertical-align: middle;}
.mypage_each2 .txt_btn_box>div{display: table-cell; vertical-align: middle; text-align: right;}
.mypage_each2 .txt_btn_box .button{font-size: 13px; padding: 0 18px; line-height: 21px;}
.mypage_each2 .txt_btn_box+p{margin-top: 15px;}

.dot_list{margin-top: 15px;}
.dot_list>li{margin-bottom: 10px; padding-left: 12px; word-break: keep-all; position: relative;}
.dot_list>li:last-child{margin-bottom: 0;}
.dot_list>li:before{content: ''; display: block; width: 2px; height: 2px; background: #171616; position: absolute; top: 9px; left: 0;}

.custom_textarea label{margin-bottom: 15px;}
.custom_textarea textarea{border-radius: 0; resize: none;}

.form-group input[type="text"][readonly]{background-color: #ddd; cursor: not-allowed;}
.refund-modal .modal__body, .account-modal .modal__body, .receipt1-modal .modal__body, .receipt2-modal .modal__body{padding: 15px 15px 40px;}
.refund-modal .modal__body form, .account-modal .modal__body form, .receipt1-modal .modal__body form, .receipt2-modal .modal__body form, .login-modal .modal__body form{width: 100%;}
.withdrawal-modal .modal__body{padding: 15px 15px 40px; text-align: left;}
.withdrawal-modal form{width: 100%;}
.withdrawal_list{list-style: none; padding: 0; margin-bottom: 15px;}
.withdrawal_list>li{list-style: none; padding: 0; margin-bottom: 10px;}
.withdrawal_list>li:after{content: ''; display: block; clear: both;}
.withdrawal_list>li:last-child{margin-bottom: 0;}
.withdrawal_list>li span{float: left; width: calc(100% - 140px);}
.withdrawal_list>li span:first-child{width: 140px;}
.mypage-modal__button-wrapper{margin: 0 12px;}
.mypage-modal__button-wrapper .button{margin-bottom: 10px;}
.mypage-modal__button-wrapper .button:last-of-type{margin-bottom: 0;}
.text-link+.text-link{margin-left: 15px;}
/* //마이페이지 - 회원정보변경 */

figure.containerZoom{position: absolute; top: 0; left: 0; z-index: 5;}
.containerZoom.active{cursor: zoom-out;}


/* header, footer hide */
/*.site-header-wrapper, #shopify-section-site-footer{display: none;}*/
/* //header, footer hide */
.orderpage .table_type1 td:first-child, .orderpage .table_type1 th:first-child{padding-left: .25rem; text-align: inherit;}
.orderpage .table_type1 td:last-child, .orderpage .table_type1 th:last-child{text-align: left;}
.orderpage .payment_account_info{margin-top: 1.25rem;}
.orderpage .payment_account_info ul .tit{display: inline-block; min-width: 80px;}
.orderpage .address_change_box{display: none;}
.orderpage .address_select_box .content-box__row .address_change_box{display: block;}


.uniform-page .custom-module__content{background: #fff;}


/* 
    2-0-0 로그인 & 회원가입 공통 

        1. 버튼 공통
        2. 하단설명 공통
        3. 라인
*/

/* 1. 버튼 공통 */
.table-block {display:table}
.input-block, .button-block{text-align: center;}
.input-block input[type=email], .input-block input[type=text], .input-block input[type=password], 
.button-block input[type=submit], .button-block input[type=button]{max-width:500px}
/* // 1. 버튼 공통 */

/* 2. 하단 설명 */
.input-block.sub-description p, .text-block.sub-description p{max-width: 500px; margin: 0 auto; text-align: left;}
/* 2. 하단 설명 공통 */

/* 3. 라인 */
.content-line.line-block{margin-top:30px; margin-bottom:20px;}
@media (min-width:768px){      
    .content-line.line-block {margin-top:15px; margin-bottom:15px;}
}
/* // 3. 라인 */

/* // 공통*/

/* 2-1-0 로그인 & 회원가입 페이지 1 */
.login_join.login_page .idoremail.input-block{margin-bottom:10px;}
.login_join.login_page .sns-block.input-block{margin-top:30px; margin-bottom:15px;}   
.login_join.login_page .content-line.line-block{margin-top:30px; margin-bottom:20px;}
.login_join.login_page .idoremail.input-block input, .login_join.login_page .idoremail.input-block label, 
.login_join.login_page .password.input-block input, .login_join.login_page .password.input-block label, 
.login_join.login_page .login.button-block, .login_join.login_page .div-block.sub-description{font-size:14px}
/* 아이디 입력창, 비밀번호 입력창, 로그인버튼, 하단 설명 */
@media (min-width:768px){      
    .login_join.login_page .content-line.line-block, 
    .login_join.login_page .sns-buttons.label-block{margin-top:15px; margin-bottom:15px;}
    /* 중간 라인선, sns 버튼*/
}
/* // 로그인 & 회원가입 페이지 */


/* 2-1-1 로그인 & 회원가입 아이디 체크 */   
.login_join.id_check .name.input-block{margin-bottom:10px;}
.login_join.id_check .birthday.input-block{margin-bottom:10px;}

.login_join.id_check .sns-block.input-block{margin-top:30px; margin-bottom:15px;}   
.login_join.id_check .content-line.line-block{margin-top:30px; margin-bottom:20px;}
.login_join.id_check .name.input-block input, .login_join.id_check .name.input-block label, 
.login_join.id_check .birthday.input-block input, .login_join.id_check .birthday.input-block label, 
.login_join.id_check .findid.button-block, .login_join.id_check .div-block.sub-description{font-size:14px}

/* // 로그인 페이지 1-1 : 아이디 체크  */


/* 2-1-2 로그인 & 회원가입 아이디 체크 */   

.login_join.no_member_login .orderNumber.input-block{margin-bottom:10px;}
.login_join.no_member_login .password.input-block{margin-bottom:10px;}
.login_join.no_member_login .orderNumber.input-block input, .login_join.no_member_login .orderNumber.input-block label
.login_join.no_member_login .password.input-block input, .login_join.no_member_login .password.input-block label
.findOrder.button-block input {font-size:14px}

/* // 2-1-2 로그인 & 회원가입 아이디 체크 */   


/* 2-1-3 로그인 & 회원가입 아이디 체크 */   
.login_join.join_page .joinInfoHeader.text-block{margin:15px; margin-bottom:30px}
.login_join.join_page .idorpasswordCheck.table-block{max-width: 500px; margin: 0 auto;}
.login_join.join_page .idorpasswordCheck.table-block > div:nth-child(1){width:70%; }
.login_join.join_page .idorpasswordCheck.table-block > div:nth-child(2){width:30%; }
@media (min-width:768px){      
}
/* // 2-1-3 로그인 & 회원가입 아이디 체크 */   