<section class="custom-module custom-module--image-full custom-module--3-sections custom-module--no-crop uniform-page">
	<div class="custom-module__container">
		<div class="custom-module__content custom-module__content--col-8 custom-module__content--section-1">
			<a class="custom-module__content-link" href="/pages/uniform-4">
				<div class="custom-module__content-wrapper">
					<div class="responsive-image__wrapper custom-module__content-image-wrapper">
						<span style="display: block; padding-top:140.0%;" aria-hidden="true"></span>
						<img class="responsive-image__image custom-module__content-image" alt=""
							src="https://cdn.shopify.com/s/files/1/0475/3067/2294/files/TOTEME_UNIFORMS_02_TOTEME_UNIFORMS_139_M_1512x.jpg?v=1613079373">
					</div>
					<div class="custom-module__content-title is-bottom is-left">
						<span class="custom-module__text-link">
							<svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
							</svg>
							School run
						</span>
					</div>
				</div>
			</a>
		</div>
		<div class="custom-module__content custom-module__content--col-8 custom-module__content--section-2">
			<a class="custom-module__content-link" href="/pages/uniform-7">
				<div class="custom-module__content-wrapper">
					<div class="responsive-image__wrapper custom-module__content-image-wrapper">
						<span style="display: block; padding-top:140.0%;" aria-hidden="true"></span>
						<img class="responsive-image__image custom-module__content-image" alt=""
							src="https://cdn.shopify.com/s/files/1/0475/3067/2294/files/TOTEME_UNIFORMS_03_TOTEME_UNIFORMS_133_M_1512x.jpg?v=1613079375">
					</div>
					<div class="custom-module__content-title is-bottom is-left">
						<span class="custom-module__text-link">
							<svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
							</svg>
							Lunch
						</span>
					</div>
				</div>
			</a>
		</div>
		<div class="custom-module__content custom-module__content--col-8 custom-module__content--section-3">
			<a class="custom-module__content-link" href="/pages/uniform-1">
				<div class="custom-module__content-wrapper">
					<div class="responsive-image__wrapper custom-module__content-image-wrapper">
						<span style="display: block; padding-top:140.0%;" aria-hidden="true"></span>
						<img class="responsive-image__image custom-module__content-image" alt=""
							src="https://cdn.shopify.com/s/files/1/0475/3067/2294/files/TOTEME_UNIFORMS_01_132_M_1512x.jpg?v=1613079373">
					</div>
					<div class="custom-module__content-title is-bottom is-left">
						<span class="custom-module__text-link">
							<svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
							</svg>
							Video call
						</span>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>
<section class="custom-module custom-module--image-full custom-module--3-sections custom-module--no-crop">
	<div class="custom-module__container">
		<div class="custom-module__content custom-module__content--col-8 custom-module__content--section-1">
			<a class="custom-module__content-link" href="/pages/uniform-4">
				<div class="custom-module__content-wrapper">
					<div class="responsive-image__wrapper custom-module__content-image-wrapper">
						<span style="display: block; padding-top:140.0%;" aria-hidden="true"></span>
						<img class="responsive-image__image custom-module__content-image" alt=""
							src="https://cdn.shopify.com/s/files/1/0475/3067/2294/files/TOTEME_UNIFORMS_11_TOTEME_UNIFORMS_034_M_1512x.jpg?v=1613079374">
					</div>
					<div class="custom-module__content-title is-bottom is-left">
						<span class="custom-module__text-link">
							<svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
							</svg>
							Boat trip
						</span>
					</div>
				</div>
			</a>
		</div>
		<div class="custom-module__content custom-module__content--col-8 custom-module__content--section-2">
			<a class="custom-module__content-link" href="/pages/uniform-7">
				<div class="custom-module__content-wrapper">
					<div class="responsive-image__wrapper custom-module__content-image-wrapper">
						<span style="display: block; padding-top:140.0%;" aria-hidden="true"></span>
						<img class="responsive-image__image custom-module__content-image" alt=""
							src="https://cdn.shopify.com/s/files/1/0475/3067/2294/files/TOTEME_UNIFORMS_13_TOTEME_UNIFORMS_079_2_1_1512x.jpg?v=1615198036">
					</div>
					<div class="custom-module__content-title is-bottom is-left">
						<span class="custom-module__text-link">
							<svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
							</svg>
							Delicatessen
						</span>
					</div>
				</div>
			</a>
		</div>
		<div class="custom-module__content custom-module__content--col-8 custom-module__content--section-3">
			<a class="custom-module__content-link" href="/pages/uniform-1">
				<div class="custom-module__content-wrapper">
					<div class="responsive-image__wrapper custom-module__content-image-wrapper">
						<span style="display: block; padding-top:140.0%;" aria-hidden="true"></span>
						<img class="responsive-image__image custom-module__content-image" alt=""
							src="https://cdn.shopify.com/s/files/1/0475/3067/2294/files/TOTEME_UNIFORMS_06_TOTEME_UNIFORMS_020_M_1512x.jpg?v=1613079374">
					</div>
					<div class="custom-module__content-title is-bottom is-left">
						<span class="custom-module__text-link">
							<svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
							</svg>
							Appointment
						</span>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>