<section class="custom-module custom-module--has-2-backgrounds custom-module--no-crop uniform-page">
	<div class="custom-module__container">
		<div class="custom-module__content custom-module__content--section-1">
			<div class="custom-module__background custom-module__background--">
				<div class="responsive-image__wrapper custom-module__background-image-wrapper">
					<span style="display: block; padding-top:125.0%;" aria-hidden="true"></span>
					<img class="responsive-image__image custom-module__background-image" alt=""
						src="../assets/col2_1.jpg">
				</div>
			</div>
			<div class="custom-module__content-wrapper"></div>
		</div>
		<div class="custom-module__content custom-module__content--section-2">
			<div class="custom-module__background custom-module__background--">
				<div class="custom-module__video-wrapper">
					<video class="custom-module__video" autoplay="1" loop="1" muted="1" playsinline="1" preload="1">
						<source
							src="../assets/col2.mp4"
							type="video/mp4">
					</video>
				</div>
			</div>
			<div class="custom-module__content-wrapper"></div>
		</div>
	</div>
</section>
<section class="custom-module custom-module--image-full custom-module--no-crop">
	<div class="custom-module__container">
		<div class="custom-module__content custom-module__content--section-1">
			<div class="custom-module__content-wrapper">
				<div class="responsive-image__wrapper custom-module__content-image-wrapper">
					<span style="display: block; padding-top:140.0%;" aria-hidden="true"></span>
					<img class="responsive-image__image custom-module__content-image" alt=""
						src="../assets/col2_1.jpg">
				</div>
				<div class="custom-module__content-title is-bottom is-left">
					<span class="custom-module__text-link">
						<svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none"
							xmlns="http://www.w3.org/2000/svg">
							<path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
						</svg>
						Suede blazer
					</span>
				</div>
			</div>
		</div>
		<div class="custom-module__content custom-module__content--section-2">
			<div class="custom-module__content-wrapper">
				<div class="responsive-image__wrapper custom-module__content-image-wrapper">
					<span style="display: block; padding-top:140.0%;" aria-hidden="true"></span>
					<img class="responsive-image__image custom-module__content-image" alt=""
						src="../assets/col2_2.jpg">
				</div>
				<div class="custom-module__content-title is-bottom is-left">
					<span class="custom-module__text-link">
						<svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none"
							xmlns="http://www.w3.org/2000/svg">
							<path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
						</svg>
						Signature stripe turtleneck
					</span>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="custom-module custom-module--has-2-backgrounds">
	<div class="custom-module__container">
		<div class="custom-module__content custom-module__content--section-1">
			<a class="custom-module__content-link" href="/pages/spring-uniforms">
				<div class="custom-module__content-wrapper">
					<div class="responsive-image__wrapper custom-module__content-image-wrapper is-center">
						<span style="display: block; padding-top:140.0%;" aria-hidden="true"></span>
						<img class="responsive-image__image custom-module__content-image" alt=""
							src="../assets/col2_inside1.jpg">
					</div>
					<div class="custom-module__content-title is-bottom is-left">
						<span class="custom-module__text-link">
							<svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
							</svg>
							Spring uniforms
						</span>
					</div>
				</div>
			</a>
		</div>
		<div class="custom-module__content custom-module__content--section-2">
			<a class="custom-module__content-link" href="/pages/summer-uniforms">
				<div class="custom-module__content-wrapper">
					<div class="responsive-image__wrapper custom-module__content-image-wrapper is-center">
						<span style="display: block; padding-top:140.0%;" aria-hidden="true"></span>
						<img class="responsive-image__image custom-module__content-image" alt=""
							src="../assets/col2_inside2.jpg">
					</div>
					<div class="custom-module__content-title is-bottom is-left">
						<span class="custom-module__text-link">
							<svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
							</svg>
							Summer uniforms
						</span>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>