<section class="custom-module custom-module--has-2-backgrounds custom-module--no-crop">
	<div class="custom-module__container">
		<div class="custom-module__content custom-module__content--section-1">
			<div class="custom-module__background custom-module__background--">
				<div class="responsive-image__wrapper custom-module__background-image-wrapper">
					<span style="display: block; padding-top:125.0%;" aria-hidden="true"></span>
					<img class="responsive-image__image custom-module__background-image" alt=""
						src="//cdn.shopify.com/s/files/1/0480/1141/1607/files/TOTEME_UNIFORMS_03_TOTEME_UNIFORMS_133_0427970a-a401-431c-92e6-6ec60017c251_2048x2048.jpg?v=1613089576">
				</div>
			</div>
			<div class="custom-module__content-wrapper"></div>
		</div>
		<div class="custom-module__content custom-module__content--section-2">
			<div class="custom-module__background custom-module__background--">
				<div class="custom-module__video-wrapper">
					<video class="custom-module__video" autoplay="1" loop="1" muted="1" playsinline="1" preload="1">
						<source
							src="https://player.vimeo.com/external/511492851.hd.mp4?s=72afa5323691e573ad1348fa8987d3eb7017f98d&profile_id=174"
							type="video/mp4">
					</video>
				</div>
			</div>
			<div class="custom-module__content-wrapper"></div>
		</div>
	</div>
</section>
<section class="custom-module custom-module--image-full custom-module--no-crop">
	<div class="custom-module__container">
		<div class="custom-module__content custom-module__content--section-1">
			<div class="custom-module__content-wrapper">
				<div class="responsive-image__wrapper custom-module__content-image-wrapper">
					<span style="display: block; padding-top:140.0%;" aria-hidden="true"></span>
					<img class="responsive-image__image custom-module__content-image" alt=""
						src="//cdn.shopify.com/s/files/1/0480/1141/1607/files/Toteme_SS21_outerwear_212-101-730_Suede_Blazer_nougat-9_2048x2048.jpg?v=1613051108">
				</div>
				<div class="custom-module__content-title is-bottom is-left">
					<span class="custom-module__text-link">
						<svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none"
							xmlns="http://www.w3.org/2000/svg">
							<path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
						</svg>
						Suede blazer
					</span>
				</div>
			</div>
		</div>
		<div class="custom-module__content custom-module__content--section-2">
			<div class="custom-module__content-wrapper">
				<div class="responsive-image__wrapper custom-module__content-image-wrapper">
					<span style="display: block; padding-top:140.0%;" aria-hidden="true"></span>
					<img class="responsive-image__image custom-module__content-image" alt=""
						src="//cdn.shopify.com/s/files/1/0480/1141/1607/files/Toteme_SS21_knit_212-562-758_Siganutre_Stripe_Turtleneck_black_stripe5_2048x2048.jpg?v=1613051180">
				</div>
				<div class="custom-module__content-title is-bottom is-left">
					<span class="custom-module__text-link">
						<svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none"
							xmlns="http://www.w3.org/2000/svg">
							<path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
						</svg>
						Signature stripe turtleneck
					</span>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="custom-module custom-module--has-2-backgrounds">
	<div class="custom-module__container">
		<div class="custom-module__content custom-module__content--section-1">
			<a class="custom-module__content-link" href="/pages/spring-uniforms">
				<div class="custom-module__content-wrapper">
					<div class="responsive-image__wrapper custom-module__content-image-wrapper is-center">
						<span style="display: block; padding-top:140.0%;" aria-hidden="true"></span>
						<img class="responsive-image__image custom-module__content-image" alt=""
							src="//cdn.shopify.com/s/files/1/0480/1141/1607/files/TOTEME_UNIFORMS_03_TOTEME_UNIFORMS_133_5024618a-aa1b-4040-b7f1-de45c947ba87_2048x2048.jpg?v=1613057699">
					</div>
					<div class="custom-module__content-title is-bottom is-left">
						<span class="custom-module__text-link">
							<svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
							</svg>
							Spring uniforms
						</span>
					</div>
				</div>
			</a>
		</div>
		<div class="custom-module__content custom-module__content--section-2">
			<a class="custom-module__content-link" href="/pages/summer-uniforms">
				<div class="custom-module__content-wrapper">
					<div class="responsive-image__wrapper custom-module__content-image-wrapper is-center">
						<span style="display: block; padding-top:140.0%;" aria-hidden="true"></span>
						<img class="responsive-image__image custom-module__content-image" alt=""
							src="//cdn.shopify.com/s/files/1/0480/1141/1607/files/TOTEME_UNIFORMS_11_TOTEME_UNIFORMS_034_2048x2048.jpg?v=1612960173">
					</div>
					<div class="custom-module__content-title is-bottom is-left">
						<span class="custom-module__text-link">
							<svg class="icon icon--small icon__arrow--right" viewBox="0 0 8 8" fill="none"
								xmlns="http://www.w3.org/2000/svg">
								<path d="M2.008 1.238L2.705.5 6 3.996 2.697 7.5 2 6.762l2.608-2.766-2.6-2.758z"></path>
							</svg>
							Summer uniforms
						</span>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>