<link rel="stylesheet" href="https://cdn.shopify.com/app/services/47530672294/assets/122613563558/checkout_stylesheet/v2-ltr-2021-01-25-1dd58b0ad54342536b141709174f812a-5607" media="all">
<link type="text/css" href="https://cdn.shopify.com/s/files/1/0475/3067/2294/t/44/assets/layout.checkout.css?v=981295653317797159" rel="stylesheet">
<style>
	/* header, footer hide */
	.site-header-wrapper, #shopify-section-site-footer{display: none;}
	/* //header, footer hide */
	.table_type1 td:first-child, .table_type1 th:first-child{padding-left: .25rem; text-align: inherit;}
	.table_type1 td:last-child, .table_type1 th:last-child{text-align: left;}
	.payment_account_info{margin-top: 1.25rem;}
	.payment_account_info ul .tit{display: inline-block; min-width: 80px;}
</style>

<div class="checkout js display-table container anyflexbox">
	<a href="#main-header" class="skip-to-content">
		Skip to content
	</a>
	<header class="checkout__header">
		<a class="checkout__return-link" href="/">
			<svg class="icon icon--small icon__arrow--left" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M5.992 6.762l-.697.738L2 4.004 5.303.5 6 1.238 3.392 4.004l2.6 2.758z"></path>
			</svg>
			뒤로 가기
		</a>
		<a class="checkout__header-logo" href="/">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56.69 56.69" class="site-logo">
				<g>
					<title>Totême</title>
					<path d="M1.58 29.11h5.08v20.84h43.37V29.11h5.08v25.98H1.58V29.11zM42.75 8.34h5.7V27.5h-5.7V8.34zm-5.28 20.77h10.98v8.75H37.47v-8.75zm0 10.35h10.98v8.88H37.47v-8.88zm-7.82-11.95c4.66-.65 8.25-4.69 8.25-9.59 0-4.88-3.56-8.91-8.19-9.58h11.31V27.5H29.65zm-8.72 4.35l6.45 12.62h1.94l6.45-12.62v16.48H20.93V31.86zm14.35-2.75l-6.94 13.56-6.94-13.56h13.88zM28.35 9.85c4.38 0 7.94 3.61 7.94 8.07 0 4.46-3.56 8.07-7.94 8.07-4.39 0-7.94-3.61-7.94-8.07 0-4.45 3.55-8.07 7.94-8.07M15.64 27.51V8.34h11.34c-4.63.67-8.19 4.7-8.19 9.58 0 4.9 3.59 8.94 8.25 9.59h-11.4zM8.24 8.34h5.67V27.5H8.24V8.34zm10.99 40.01H8.24v-8.88h10.99v8.88zM8.24 29.11h10.99v8.75H8.24v-8.75zM1.58 1.6h53.53v25.91h-5.08V6.75H6.66v20.76H1.58V1.6zM0 56.69h56.69V0H0v56.69z"></path>
				</g>
			</svg>
		</a>
	</header>
	<aside role="complementary">
		<button class="order-summary-toggle order-summary-toggle--show shown-if-js">
			<span class="wrap">
				<span class="order-summary-toggle__inner">
					<span class="order-summary-toggle__icon-wrapper">
						<svg width="20" height="19" xmlns="http://www.w3.org/2000/svg" class="order-summary-toggle__icon">
							<path d="M17.178 13.088H5.453c-.454 0-.91-.364-.91-.818L3.727 1.818H0V0h4.544c.455 0 .91.364.91.818l.09 1.272h13.45c.274 0 .547.09.73.364.18.182.27.454.18.727l-1.817 9.18c-.09.455-.455.728-.91.728zM6.27 11.27h10.09l1.454-7.362H5.634l.637 7.362zm.092 7.715c1.004 0 1.818-.813 1.818-1.817s-.814-1.818-1.818-1.818-1.818.814-1.818 1.818.814 1.817 1.818 1.817zm9.18 0c1.004 0 1.817-.813 1.817-1.817s-.814-1.818-1.818-1.818-1.818.814-1.818 1.818.814 1.817 1.818 1.817z"></path>
						</svg>
					</span>
					<span class="order-summary-toggle__text order-summary-toggle__text--show">
						<span>주문 상품 상세보기</span>
						<svg width="11" height="6" xmlns="http://www.w3.org/2000/svg" class="order-summary-toggle__dropdown" fill="#000">
							<path d="M.504 1.813l4.358 3.845.496.438.496-.438 4.642-4.096L9.504.438 4.862 4.534h.992L1.496.69.504 1.812z"></path>
						</svg>
					</span>
					<span class="order-summary-toggle__text order-summary-toggle__text--hide">
						<span>주문 상품 상세보기</span>
						<svg width="11" height="7" xmlns="http://www.w3.org/2000/svg" class="order-summary-toggle__dropdown" fill="#000">
							<path d="M6.138.876L5.642.438l-.496.438L.504 4.972l.992 1.124L6.138 2l-.496.436 3.862 3.408.992-1.122L6.138.876z"></path>
						</svg>
					</span>
					<dl class="order-summary-toggle__total-recap total-recap">
						<dt class="visually-hidden"><span>Sale price</span></dt>
						<dd>
							<span class="order-summary__emphasis total-recap__final-price skeleton-while-loading">669,000원</span>
						</dd>
					</dl>
				</span></span></button>
	</aside>
	<div class="checkout__content content">
		<div class="wrap">
			<div class="checkout__main main">
				<header class="checkout__main-header main__header">
					<div class="checkout__breadcrumbs">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb__item breadcrumb__item--completed">
									<a class="breadcrumb__link" href="https://int.toteme-studio.com/">장바구니</a>
									<svg class="icon-svg icon-svg--color-adaptive-light icon-svg--size-10 breadcrumb__chevron-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><path d="M2 1l1-1 4 4 1 1-1 1-4 4-1-1 4-4"></path></svg>
								</li>
								<li class="breadcrumb__item breadcrumb__item--completed">
									<a class="breadcrumb__link" href="#">주문정보</a>
									<svg class="icon-svg icon-svg--color-adaptive-light icon-svg--size-10 breadcrumb__chevron-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><path d="M2 1l1-1 4 4 1 1-1 1-4 4-1-1 4-4"></path></svg>
								</li>
								<li class="breadcrumb__item breadcrumb__item--current">
									<span class="breadcrumb__text">결제</span>
								</li>
							</ol>
						</nav>
					</div>
				</header>
				<main class="main__content">
					<div class="step" data-step="shipping_method">
						<form class="edit_checkout animate-floating-labels" action="#" method="post">
							<div class="step__sections">
								<div class="section section--contact-information">
									<div class="content-box__row non_member_info">
										<div class="review-block">
											<div class="review-block__inner">
												<div class="review-block__label">
													이현대
												</div>
												<div class="review-block__content">
													<address class="address address--tight">
														010-1234-5678<br>
														서울특별시 강남구 강남대로1길 1층
													</address>
												</div>
											</div>
											<div role="cell" class="review-block__link">
												<a class="link--small" href="#">
													<span aria-hidden="true">수정</span>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="section section--shipping-method section--payment section--payment-method">
									<div class="section__header">
										<h2 class="section__title" id="section-delivery-title">
											결제
										</h2>
									</div>
									<div class="section__content sns-buttons payment_type">
										<label class="radiobutton">
											<input type="radio" name="test_radio" value="1" data-type="payment_type1">
											<span>신용카드</span>
										</label>
										<label class="radiobutton" style="clear:both">
											<input type="radio" name="test_radio" value="2" data-type="payment_type2">
											<span>무통장입금</span>
										</label>
										<br>
										<label class="radiobutton">
											<input type="radio" name="test_radio" value="3" data-type="payment_type3">
											<span>휴대폰결제</span>
										</label>
										<label class="radiobutton">
											<input type="radio" name="test_radio" value="4" data-type="payment_type4">
											<span>실시간계좌이체</span>
										</label>
										<label class="radiobutton">
											<input type="radio" name="test_radio" value="5" data-type="payment_type5">
											<span>네이버페이</span>
										</label>

										<div class="payment_con_box">
											<div class="payment_type1">
												<h5 class="payment_tit1">카드선택</h5>
												<div class="payment_radio_wrap">
													<div class="radio_custom_box">
														<input id="credit_card1" class="radio_input" value="1" type="radio" name="credit_card">
														<label for="credit_card1">KB국민카드</label>
													</div>
													<div class="radio_custom_box">
														<input id="credit_card2" class="radio_input" value="2" type="radio" name="credit_card" data-card-attr="add_plan">
														<label for="credit_card2">삼성카드</label>
													</div>
													<div class="radio_custom_box">
														<input id="credit_card3" class="radio_input" value="3" type="radio" name="credit_card" data-card-attr="add_plan">
														<label for="credit_card3">현대카드</label>
													</div>
													<div class="radio_custom_box">
														<input id="credit_card4" class="radio_input" value="4" type="radio" name="credit_card" data-card-attr="add_plan">
														<label for="credit_card4">신한카드</label>
													</div>
													<div class="radio_custom_box">
														<input id="credit_card5" class="radio_input" value="5" type="radio" name="credit_card" data-card-attr="add_bc">
														<label for="credit_card5">BC카드</label>
													</div>
													<div class="radio_custom_box">
														<input id="credit_card6" class="radio_input" value="6" type="radio" name="credit_card" data-card-attr="add_plan">
														<label for="credit_card6">롯데카드</label>
													</div>
													<div class="radio_custom_box">
														<input id="credit_card7" class="radio_input" value="7" type="radio" name="credit_card" data-card-attr="add_plan">
														<label for="credit_card7">KEB하나카드</label>
													</div>
													<div class="radio_custom_box">
														<input id="credit_card8" class="radio_input" value="8" type="radio" name="credit_card" data-card-attr="add_plan">
														<label for="credit_card8">NH농협카드</label>
													</div>
													<div class="radio_custom_box">
														<input id="credit_card9" class="radio_input" value="9" type="radio" name="credit_card">
														<label for="credit_card9">카카오뱅크</label>
													</div>
													<div class="radio_custom_box">
														<input id="credit_card10" class="radio_input" value="10" type="radio" name="credit_card">
														<label for="credit_card10">케이뱅크</label>
													</div>
													<div class="radio_custom_box">
														<input id="credit_card11" class="radio_input" value="11" type="radio" name="credit_card" data-card-attr="add_hpoint">
														<label for="credit_card11">H.point KB 국민카드</label>
													</div>
												</div>
												
												<div class="card_type_box">
													<div class="add_plan">
														<div class="input-block form-group__field">
															<select id="payment_plan" class="field__input field__input--select toteme-select-style toteme-button-style no-animation" title="할부 선택">
																<option value="" selected="">일시불</option>
																<option value="">2개월</option>
															</select>
														</div>
													</div>
													<div class="add_bc">
														<h6 class="payment_tit1">BC카드종류</h6>
														교보증권, 유진투자증권, 미래에셋증권, 유안타증권, DB금융투자, SK증권, NH투자증권, 코나카드, 토스카드, 산림조합, 한국투자증권, 은행카드
													</div>
													<div class="add_hpoint">
														<h6 class="payment_tit1">H.Point 추가적립</h6>
														결제금액 최대 1.5% H.Point 추가적립 (기본적립율 포함 최대 1.65% 적립)
														카드대금 결제일 다음주 첫 영업일 적립
													</div>
												</div>
											</div>
											<div class="payment_type2">
												<h5 class="payment_tit1">은행선택</h5>
												<div class="payment_radio_wrap">
													<div class="radio_custom_box">
														<input id="bank1" class="radio_input" value="1" type="radio" name="bank">
														<label for="bank1">NH농협은행</label>
													</div>
													<div class="radio_custom_box">
														<input id="bank2" class="radio_input" value="2" type="radio" name="bank">
														<label for="bank2">KB국민은행</label>
													</div>
													<div class="radio_custom_box">
														<input id="bank3" class="radio_input" value="3" type="radio" name="bank">
														<label for="bank3">우리은행</label>
													</div>
													<div class="radio_custom_box">
														<input id="bank4" class="radio_input" value="4" type="radio" name="bank">
														<label for="bank4">신한은행</label>
													</div>
													<div class="radio_custom_box">
														<input id="bank5" class="radio_input" value="5" type="radio" name="bank">
														<label for="bank5">IBK기업은행</label>
													</div>
													<div class="radio_custom_box">
														<input id="bank6" class="radio_input" value="6" type="radio" name="bank">
														<label for="bank6">대구은행</label>
													</div>
													<div class="radio_custom_box">
														<input id="bank7" class="radio_input" value="7" type="radio" name="bank">
														<label for="bank7">부산은행</label>
													</div>
													<div class="radio_custom_box">
														<input id="bank8" class="radio_input" value="8" type="radio" name="bank">
														<label for="bank8">우체국</label>
													</div>
													<div class="radio_custom_box">
														<input id="bank9" class="radio_input" value="9" type="radio" name="bank">
														<label for="bank9">KEB하나은행</label>
													</div>
													<div class="radio_custom_box">
														<input id="bank10" class="radio_input" value="10" type="radio" name="bank">
														<label for="bank10">경남은행</label>
													</div>
												</div>
												
												<div class="bank_type_box form-group">
													<div class="input-block form-group__field">
														<input placeholder="입금자명" value="이현대" class="field__input" size="30" type="text" name="payment[name]" id="payment_name" title="입금자명">
													</div>
													<ul class="comment tlist">
														<li>무통장입금 정보는 결제 시 보여집니다.</li>
														<li>무통장입금계좌번호는 주문접수 후 즉시 주문하시는 분의 휴대폰 번호와 이메일로 자동 발송됩니다.</li>
													</ul>
													<div class="payment_account_info">
													<!-- 회원일 경우 -->
														<ul>
															<li><span class="tit">입금금액</span><span>1,000,000원</span></li>
															<li><span class="tit">입금은행</span><span>국민 1234-1234-1234</span></li>
															<li><span class="tit">입금자명</span><span>김선호</span></li>
														</ul>
													</div>
												</div>
												<div class="cash_receipt_box">
													<h5 class="payment_tit1">현금영수증 발급 신청</h5>
													<div class="payment_radio_wrap">
														<div class="radio_custom_box">
															<input id="receipt1" class="radio_input" value="1" type="radio" name="receipt" data-receipt="receipt_type1">
															<label for="receipt1">소득공제용</label>
														</div>
														<div class="radio_custom_box">
															<input id="receipt2" class="radio_input" value="2" type="radio" name="receipt" data-receipt="receipt_type2">
															<label for="receipt2">지출증빙용</label>
														</div>
														<div class="radio_custom_box">
															<input id="receipt3" class="radio_input" value="3" type="radio" name="receipt" checked>
															<label for="receipt3">신청안함</label>
														</div>
													</div>
													<div class="receipt_type_box">
														<div class="receipt_type1">
															<div class="bank_type_box form-group">
																<div class="input-block form-group__field">
																	<input placeholder="휴대폰번호(필수)" class="field__input" size="30" type="text" name="receipt[phone]" id="receipt_phone" title="휴대폰번호 필수입력">
																</div>
																<p class="comment">'-' 없이 숫자만 입력하세요.</p>
															</div>
														</div>
														<div class="receipt_type2">
															<div class="bank_type_box form-group">
																<div class="input-block form-group__field">
																	<input placeholder="사업자등록번호(필수)" class="field__input" size="30" type="text" name="receipt[num]" id="receipt_num" title="사업자등록번호 필수입력">
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="payment_type3">
												<p>결제금액 1,000,000원</p>
												<ul class="tlist">
													<li>휴대폰으로 결제하신 금액은 다음달 휴대폰 요금에 함께 청구됩니다.<br>(한도 : 이동통신사 및 개인마다 다름)</li>
												</ul>
											</div>
											<div class="payment_type4">
												<p>결제금액 1,000,000원</p>
												<ul class="tlist">
													<li>폰뱅킹, 인터넷 뱅킹에 가입하신 고객만 사용 가능합니다. 계좌이체 수수료는 더현대에서 부담합니다.</li>
													<li>[결제하기] 버튼을 선택하시면 온라인 계좌이체 화면으로 연결되어 결제를 진행할수 있습니다.</li>
												</ul>
											</div>
											<div class="payment_type5">
												<p>결제금액 1,000,000원</p>
												<ul class="tlist">
													<li>주문 변경 시 카드사 혜택 및 할부 적용 여부는 해당 카드사 정책에 따라 변경될 수 있습니다.</li>
													<li>네이버페이는 네이버ID로 별도 앱 설치 없이 신용카드 또는 은행계좌 정보를 등록하여 네이버페이 비밀번호로 결제할 수 있는 간편결제 서비스입니다.</li>
													<li>결제 가능한 신용카드: 신한, 삼성, 현대, BC, 국민, 하나, 롯데, NH농협, 씨티, 카카오뱅크</li>
													<li>결제 가능한 은행: NH농협, 국민, 신한, 우리, 기업, SC제일, 부산, 경남, 수협, 우체국, 미래에셋대우, 광주, 대구, 전북, 새마을금고, 제주은행, 신협, 하나은행, 케이뱅크, 카카오뱅크, 삼성증권, KDB산업은행,씨티은행, SBI은행, 유안타증권, 유진투자증권</li>
													<li>네이버페이 카드 간편결제는 네이버페이에서 제공하는 카드사 별 무이자, 청구할인 혜택을 받을 수 있습니다.</li>
												</ul>
											</div>
									 </div>
								 </div>
								</div>
								<div class="section section--payment section--billing-address">
									<div class="section__content">
										<div class="form-group">
											<div class="input-block form-group__field">
												<input placeholder="비회원 주문조회 비밀번호" class="field__input" size="30" type="text" name="payment[pw]" id="payment_pw" title="비회원 주문조회 비밀번호 입력">
											</div>
											<ul class="comment tlist">
												<li>결제완료 후 주문내역 확인을 위해 사용하는 비밀번호입니다.</li>
												<li>8~10자리 영문, 숫자, 특수문자 중 2가지 이상 조합으로 입력해주세요.</li>
											</ul>
										</div>
										<div class="nm_payment_attr field">
											<p class="payment_guaranty">채무지급 보증안내 - 고객님의 안전거래를 위해 현금결제시 우리은행과 채무지급보증 계약을 체결하여 안전거래를 보장하고 있습니다. <a href="#" class="a_link modal_trigger" data-modal="ly_guarantee-modal">서비스 가입사실 확인</a></p>
											<div class="checkbox_custom_box">
												<input id="payment_agree1" class="checkbox" value="1" type="checkbox">
												<label for="payment_agree1">비회원 개인정보 수집 이용에 대한 내용을 확인하였으며, 이에 동의합니다. <a href="#" class="a_link modal_trigger" data-modal="nm_privacy-modal">내용보기</a></label>
											</div>
											<div class="checkbox_custom_box">
													<input id="payment_agree2" class="checkbox" value="2" type="checkbox">
													<label for="payment_agree2">주문하실 상품의 상품평, 가격, 배송정보를 확인하였으며, 이에 동의합니다.</label>
											</div>
										</div>
									</div>
								</div>
								<div class="step__footer">
									<button type="button" id="continue_button" class="step__footer__continue-btn btn payment_btn">
										<span class="btn__content">결제하기</span>
										<svg class="icon-svg icon-svg--size-18 btn__spinner icon-svg--spinner-button" aria-hidden="true" focusable="false">
											<use xlink:href="#spinner-button"></use>
										</svg></button>
										<a class="step__footer__previous-link" href="#"><svg focusable="false" aria-hidden="true" class="icon-svg icon-svg--color-accent icon-svg--size-10 previous-link__icon" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><path d="M8 1L7 0 3 4 2 5l1 1 4 4 1-1-4-4"></path></svg><span class="step__footer__previous-link-content">이전 단계로 돌아가기</span></a>
								</div>
							</div>
						</form>
					</div>
				</main>
				<div class="additional-content checkout__additional-content">
					<div class="additional-content__container">
						<p class="additional-content__title">
							고객안내사항
						</p>
						<div id="additionalContentAccordion-main" class="additional-content__accordion accordion"
							js-accordion="container">
							<div class="accordion__item" js-accordion="item">
								<h2 class="accordion__title">
									<button id="Accordion1" class="accordion__control text-small" aria-controls="content-1"
										aria-expanded="false" js-accordion="control">
										배송
									</button>
								</h2>
								<div id="content-1" class="accordion__content" role="region" aria-labelledby="Accordion1"
									js-accordion="content">
									<p>한국 내 무료 배송 서비스가 제공됩니다.<br><br>
										주문하신 상품은 네덜란드 물류 창고에서 출고되며, 모든 제품 가격에는 세금 및 관세가 포함되어 있습니다.</p>
								</div>
							</div>
							<div class="accordion__item" js-accordion="item">
								<h2 class="accordion__title">
									<button id="Accordion2" class="accordion__control text-small">
										반품 및 교환
									</button>
								</h2>
								<div id="content-2" class="accordion__content">
									<p>상품 수령일을 기준으로 14일 이내 반품 신청이 가능합니다.<br><br>
										다른 사이즈나 색상으로 교환을 원하실 경우 반품 후 새로 주문 해주시기 바랍니다.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="additional-content__container">
						<p class="additional-content__title">
							온라인 고객서비스센터 운영 시간 월요일 - 일요일: 09:00 - 21:00 KST
						</p>
						<ul class="additional-content__list">
							<li class="additional-content__item">
								<a class="additional-content__link text-link text-link--static" onclick="GorgiasChat.open();">
									고객상담
								</a>
							</li>
							<li class="additional-content__item">
								<a class="additional-content__link text-link text-link--static" href="mailto:shop@toteme-studio.com">
									shop@toteme-studio.com
								</a>
							</li>
							<li class="additional-content__item">
								<a class="additional-content__link text-link text-link--static" href="tel:+46 8 20 38 20">
									+46 8 20 38 20
								</a>
							</li>
							<li class="additional-content__item">
								<a class="additional-content__link text-link text-link--static" href="https://wa.me/46733922282">
									WhatsApp
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<aside class="checkout__sidebar sidebar" role="complementary">
				<div class="sidebar__content">
					<div id="order-summary" class="order-summary order-summary--is-collapsed">
						<div class="order-summary__sections">
							<div class="order-summary__section order-summary__section--product-list">
								<div class="order-summary__section__content">
									<table class="product-table">
										<caption class="visually-hidden">Shopping cart</caption>
										<thead class="product-table__header">
											<tr>
												<th scope="col"><span class="visually-hidden">Product image</span></th>
												<th scope="col"><span class="visually-hidden">Description</span></th>
												<th scope="col"><span class="visually-hidden">Quantity</span></th>
												<th scope="col"><span class="visually-hidden">Price</span></th>
											</tr>
										</thead>
										<tbody id="gip-product-table-processed">
											<tr class="product">
												<td class="product__image">
													<div class="product-thumbnail">
														<div class="product-thumbnail__wrapper">
															<img alt="Centered monogram silk scarf creme - One size" class="product-thumbnail__image"
																src="//cdn.shopify.com/s/files/1/0480/1141/1607/products/TOTEME_Flats_Core_Scarfs_4_GB_100x.jpg?v=1613490734">
														</div>
														<span class="product-thumbnail__quantity" aria-hidden="true">1</span>
													</div>
												</td>
												<th class="product__description" scope="row">
													<span class="product__description__name order-summary__emphasis">센터드 모노그램 실크 스카프 크림</span>
													<span class="product__description__variant order-summary__small-text">원 사이즈</span>
												</th>
												<td class="product__quantity">
													<span class="visually-hidden">
														1
													</span>
												</td>
												<td class="product__price">
													<span class="order-summary__emphasis skeleton-while-loading notranslate">279,000원</span>
												</td>
											</tr>
											<tr class="product">
												<td class="product__image">
													<div class="product-thumbnail ">
														<div class="product-thumbnail__wrapper">
															<img alt="The Regulars sunglasses black - One size" class="product-thumbnail__image"
																src="//cdn.shopify.com/s/files/1/0480/1141/1607/products/Toteme_SS21_212-802-900_SUNGLASSES_AcetateBlack0199_1_100x.jpg?v=1616001300">
														</div>
														<span class="product-thumbnail__quantity" aria-hidden="true">1</span>
													</div>
												</td>
												<th class="product__description" scope="row">
													<span class="product__description__name order-summary__emphasis">더 레귤러 선글래스 블랙</span>
													<span class="product__description__variant order-summary__small-text">원 사이즈</span>
												</th>
												<td class="product__quantity">
													<span class="visually-hidden">
														1
													</span>
												</td>
												<td class="product__price">
													<span class="order-summary__emphasis skeleton-while-loading notranslate">390,000원</span>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="order-summary__section order-summary__section--discount">
								<h3 class="visually-hidden">프로모션 코드 적용</h3>
								<form class="edit_checkout animate-floating-labels" action="#" method="post">
									<div class="fieldset">
										<div class="field"><!-- error시 .field--error 추가 -->
											<div class="field__input-btn-wrapper">
												<div class="field__input-wrapper">
													<label class="field__label field__label--visible" for="checkout_reduction_code">프로모션 코드</label>
													<input placeholder="프로모션 코드 입력" class="field__input" id="checkout_reduction_code" autocomplete="off" aria-required="true" size="30" type="text" name="checkout[reduction_code]">
												</div>
												<button name="button" type="button" class="field__input-btn btn btn--disabled" data-deposit="true">
													<span class="btn__content visually-hidden-on-mobile" aria-hidden="true">
														적용
													</span>
													<span class="visually-hidden">
														프로모션 코드 적용
													</span>
													<svg class="icon-svg icon-svg--size-16 btn__icon shown-on-mobile" aria-hidden="true" focusable="false">
														<use xlink:href="#arrow"></use>
													</svg>
													<svg class="icon-svg icon-svg--size-18 btn__spinner icon-svg--spinner-button" aria-hidden="true" focusable="false">
														<use xlink:href="#spinner-button"></use>
													</svg>
												</button>
												<div class="deposit_attr_box deposit_result_box">
													<div>
														<p class="field__message" id="">SALE20 (-10,000원)</p>
													</div>
													<div>
														<button type="button" class="btn_deposit">삭제</button>
													</div>
												</div>
											</div>
											<p class="field__message field__message--error" id="error-for-reduction_code">프로모션 코드가 정확하지 않습니다.</p>
										</div>
									</div>
								</form>
								<div class="discount-trigger"><button class="button button--large button--block">프로모션 코드 적용</button></div>
							</div>
							<div class="order-summary__section order-summary__section--discount">
								<h3 class="visually-hidden">예치금 사용</h3>
								<form class="edit_checkout animate-floating-labels" action="#" method="post">
									<div class="fieldset">
										<div class="field">
											<div class="field__input-btn-wrapper">
												<div class="field__input-wrapper">
													<label class="field__label field__label--visible" for="checkout_deposit_code">예치금 사용</label>
													<input placeholder="사용할 금액을 입력하세요" class="field__input" id="checkout_deposit_code" autocomplete="off" aria-required="true" size="30" type="text" name="checkout[deposit_code]">
												</div>
												<div class="deposit_attr_box">
													<div>
														<p class="field__message field__message--error" id="">예치금 : 50,000</p>
													</div>
													<div>
														<button type="button" class="btn_deposit">모두사용</button>
													</div>
												</div>
												<button name="button" type="button" class="field__input-btn btn btn--disabled" data-deposit="true">
													<span class="btn__content visually-hidden-on-mobile" aria-hidden="true">
														적용
													</span>
													<span class="visually-hidden">
														예치금 사용
													</span>
													<svg class="icon-svg icon-svg--size-16 btn__icon shown-on-mobile" aria-hidden="true" focusable="false">
														<use xlink:href="#arrow"></use>
													</svg>
													<svg class="icon-svg icon-svg--size-18 btn__spinner icon-svg--spinner-button" aria-hidden="true" focusable="false">
														<use xlink:href="#spinner-button"></use>
													</svg>
												</button>
												<div class="deposit_attr_box deposit_result_box">
													<div>
														<p class="field__message" id="">예치금 (-10,000원)</p>
													</div>
													<div>
														<button type="button" class="btn_deposit">삭제</button>
													</div>
												</div>
											</div>
											<p class="field__message field__message--error" id="error-for-reduction_code">예치금은 10원 단위로 사용할 수 있습니다.</p>
										</div>
									</div>
								</form>
								<div class="discount-trigger"><button class="button button--large button--block">예치금 사용</button></div>
							</div>
							<div class="order-summary__section order-summary__section--total-lines">
								<table class="total-line-table">
									<caption class="visually-hidden">Cost summary</caption>
									<thead>
										<tr>
											<th scope="col"><span class="visually-hidden">Description</span></th>
											<th scope="col"><span class="visually-hidden">Price</span></th>
										</tr>
									</thead>
									<tbody class="total-line-table__tbody">
										<tr class="total-line total-line--subtotal">
											<th class="total-line__name" scope="row">상품금액</th>
											<td class="total-line__price">
												<span class="order-summary__emphasis skeleton-while-loading notranslate">669,000원</span>
											</td>
										</tr>
										<tr class="total-line total-line--shipping">
											<th class="total-line__name" scope="row">
												<span>
													배송비
												</span>
											</th>
											<td class="total-line__price">
												<span class="skeleton-while-loading order-summary__small-text notranslate">
													무료배송
												</span>
											</td>
										</tr>
									</tbody>
									<tfoot class="total-line-table__footer">
										<tr class="total-line">
											<th class="total-line__name payment-due-label" scope="row">
												<span class="payment-due-label__total">합계</span>
											</th>
											<td class="total-line__price payment-due">
												<span class="payment-due__price skeleton-while-loading--lg notranslate">669,000원</span>
											</td>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</div>
					<div class="additional-content checkout__additional-content checkout__additional-content--sidebar">
						<div class="additional-content__container">
							<p class="additional-content__title">
								고객안내사항
							</p>
							<div id="additionalContentAccordion-sidebar" class="additional-content__accordion accordion"
								js-accordion="container">
								<div class="accordion__item" js-accordion="item">
									<h2 class="accordion__title">
										<button id="Accordion1" class="accordion__control text-small">
											배송
										</button>
									</h2>
									<div id="content-1" class="accordion__content">
										<p>한국 내 무료 배송 서비스가 제공됩니다.<br><br>
											주문하신 상품은 네덜란드 물류 창고에서 출고되며, 모든 제품 가격에는 세금 및 관세가 포함되어 있습니다.</p>
									</div>
								</div>
								<div class="accordion__item" js-accordion="item">
									<h2 class="accordion__title">
										<button id="Accordion2" class="accordion__control text-small">
											반품 및 교환
										</button>
									</h2>
									<div id="content-2" class="accordion__content">
										<p>상품 수령일을 기준으로 14일 이내 반품 신청이 가능합니다.<br><br>
											다른 사이즈나 색상으로 교환을 원하실 경우 반품 후 새로 주문 해주시기 바랍니다.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="additional-content__container">
							<p class="additional-content__title">
								온라인 고객서비스센터 운영 시간 월요일 - 일요일: 09:00 - 21:00 KST
							</p>
							<ul class="additional-content__list">
								<li class="additional-content__item">
									<a class="additional-content__link text-link text-link--static" onclick="GorgiasChat.open();">
										고객상담
									</a>
								</li>
								<li class="additional-content__item">
									<a class="additional-content__link text-link text-link--static" href="mailto:shop@toteme-studio.com">
										shop@toteme-studio.com
									</a>
								</li>
								<li class="additional-content__item">
									<a class="additional-content__link text-link text-link--static" href="tel:+46 8 20 38 20">
										+46 8 20 38 20
									</a>
								</li>
								<li class="additional-content__item">
									<a class="additional-content__link text-link text-link--static" href="https://wa.me/46733922282">
										WhatsApp
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</aside>
		</div>
	</div>

	<div id="bank_account-modal" class="modal modal--light bank_account-modal" role="dialog" tabindex="-1">
		<div class="modal__overlay" tabindex="-1">
			<div class="modal__card">
				<div class="modal__header">
					<h5 class="modal__title  preorder-modal__title">무통장 입금 전용계좌 안내</h5>
					<button class="modal__close">
						<span class="visually-hidden">
							Close
						</span> <svg class="icon icon--large icon__close" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M23 12c0-6.075-4.925-11-11-11S1 5.925 1 12s4.925 11 11 11 11-4.925 11-11zM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12zm6.593-2.7l.707-.707 2.7 2.7 2.7-2.7.707.707-2.7 2.7 2.7 2.7-.707.707-2.7-2.7-2.7 2.7-.707-.707 2.7-2.7-2.7-2.7z"></path>
						</svg> </button>
				</div>
				<div class="modal__body">
					<div class="bank_account_container">
						<div class="table-wrapper">
							<table class="table_type1">
								<colgroup>
									<col style="width: 20%;">
									<col>
								</colgroup>
								<tbody>
									<tr>
										<th scope="row">입금금액</th>
										<td>1,000,000원</td>
									</tr>
									<tr>
										<th scope="row">입금자명</th>
										<td>이현대</td>
									</tr>
									<tr>
										<th scope="row">입금은행</th>
										<td>우리은행 123456789000</td>
									</tr>
									<tr>
										<th scope="row">예금주명</th>
										<td>현대백화점몰</td>
									</tr>
									<tr>
										<th scope="row">입금기한</th>
										<td>2021년 04월 29일 <p>*기한 내 입금하지 못하면 주문이 자동으로 취소됩니다.</p></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="bank_account_txt_box">
							<p>* 상품대금은 1회성 계좌로 입금해야 하며, 비회원 무통장입금 결제의 경우 일회성 가상계좌로 운용되며 해당 주문 건에 한해서만 유효합니다. 입금완료 후 해당 계좌는 사용하실 수 없습니다.</p>
						</div>
						<div class="input-block pcs2">
							<input class="step__footer__continue-btn btn" type="submit" value="확인">
							<input class="step__footer__continue-btn btn white" type="submit" value="취소">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="ly_guarantee-modal" class="modal modal--light ly_guarantee-modal" role="dialog" tabindex="-1">
		<div class="modal__overlay" tabindex="-1">
			<div class="modal__card">
				<div class="modal__header">
					<h5 class="modal__title preorder-modal__title">지급보증서</h5>
					<button class="modal__close">
						<span class="visually-hidden">
							Close
						</span> <svg class="icon icon--large icon__close" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M23 12c0-6.075-4.925-11-11-11S1 5.925 1 12s4.925 11 11 11 11-4.925 11-11zM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12zm6.593-2.7l.707-.707 2.7 2.7 2.7-2.7.707.707-2.7 2.7 2.7 2.7-.707.707-2.7-2.7-2.7 2.7-.707-.707 2.7-2.7-2.7-2.7z"></path>
						</svg> </button>
				</div>
				<div class="modal__body">
					<div class="ly_guarantee_container">
						<img src="https://image.thehyundai.com/cos_cdn/images/cos/01/Payment/img_guarantee_01.jpg" alt="">
						<img src="https://image.thehyundai.com/cos_cdn/images/cos/01/Payment/img_guarantee_02.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="nm_privacy-modal" class="modal modal--light nm_privacy-modal" role="dialog" tabindex="-1">
		<div class="modal__overlay" tabindex="-1">
			<div class="modal__card">
				<div class="modal__header">
					<h5 class="modal__title preorder-modal__title">비회원 주문 정보수집 동의</h5>
					<button class="modal__close">
						<span class="visually-hidden">
							Close
						</span> <svg class="icon icon--large icon__close" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M23 12c0-6.075-4.925-11-11-11S1 5.925 1 12s4.925 11 11 11 11-4.925 11-11zM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12zm6.593-2.7l.707-.707 2.7 2.7 2.7-2.7.707.707-2.7 2.7 2.7 2.7-.707.707-2.7-2.7-2.7 2.7-.707-.707 2.7-2.7-2.7-2.7z"></path>
						</svg> </button>
				</div>
				<div class="modal__body">
					<div class="nm_privacy_conainter">
						약관 내용 표시
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="https://image.thehyundai.com/pc/js/jquery-1.11.3.min.js"></script>
<script src="https://0sunman.github.io/toteme-korea-publish/public/js/toteme.custom.order.js"></script>
<script>
	/* 꼼수 */
setTimeout(function(){
	$("body").css("paddingTop","0px")
},100);
	/* // 꼼수 */
</script>