<script>
	//header, footer hide
	setTimeout(function(){
		$('#shopify-section-site-footer, .site-header-wrapper, .hyundai-footer').hide();
		$('body').css('padding-top','0').removeClass('has-announcement-bar');
	},50)
</script>
<div class="checkout_isp_wrap">
	<div class="checkout_isp_con">
		<header class="checkout__header">
			<a class="checkout__return-link" href="/">
				<svg class="icon icon--small icon__arrow--left" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M5.992 6.762l-.697.738L2 4.004 5.303.5 6 1.238 3.392 4.004l2.6 2.758z"></path>
				</svg>
			</a>
			<h3 class="isp_tit1">결제처리 중</h3>
		</header>
		<div class="isp_box">
			<h4 class="isp_tit2">결제처리 중 입니다.</h4>
			<p class="isp_txt1">해당 카드로 결제 시 ISP 앱을 설치하셔야 합니다.</p>
			<div class="button-block">
				<button type="button" class="button button--block button--large button--primary">ISP 앱 다운로드</button>
			</div>
			<p class="isp_txt1">ISP 앱 설치 후 계속 진행을 클릭하여 주십시오.</p>
			<div class="button-block">
				<button type="button" class="button button--block button--large button--primary">계속 진행</button>
			</div>
			<p class="isp_txt1">ISP 앱이 설치되지 않은 상태에서 계속 진행을 하시면 오류 페이지가 뜰 수 있으니, ISP 앱 설치 여부를 먼저 확인하여 주세요.</p>
		</div>
	</div>
</div>