<script>
	//header, footer hide
	setTimeout(function(){
		$('#shopify-section-site-footer, .site-header-wrapper').hide();
		$('body').css('padding-top','0');
	},50)
</script>

<div class="checkout js display-table container anyflexbox">
	<a href="#main-header" class="skip-to-content">
		Skip to content
	</a>
	<header class="checkout__header">
		<a class="checkout__return-link" href="/">
			<svg class="icon icon--small icon__arrow--left" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M5.992 6.762l-.697.738L2 4.004 5.303.5 6 1.238 3.392 4.004l2.6 2.758z"></path>
			</svg>
			뒤로 가기
		</a>
		<a class="checkout__header-logo" href="/">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56.69 56.69" class="site-logo">
				<g>
					<title>Totême</title>
					<path d="M1.58 29.11h5.08v20.84h43.37V29.11h5.08v25.98H1.58V29.11zM42.75 8.34h5.7V27.5h-5.7V8.34zm-5.28 20.77h10.98v8.75H37.47v-8.75zm0 10.35h10.98v8.88H37.47v-8.88zm-7.82-11.95c4.66-.65 8.25-4.69 8.25-9.59 0-4.88-3.56-8.91-8.19-9.58h11.31V27.5H29.65zm-8.72 4.35l6.45 12.62h1.94l6.45-12.62v16.48H20.93V31.86zm14.35-2.75l-6.94 13.56-6.94-13.56h13.88zM28.35 9.85c4.38 0 7.94 3.61 7.94 8.07 0 4.46-3.56 8.07-7.94 8.07-4.39 0-7.94-3.61-7.94-8.07 0-4.45 3.55-8.07 7.94-8.07M15.64 27.51V8.34h11.34c-4.63.67-8.19 4.7-8.19 9.58 0 4.9 3.59 8.94 8.25 9.59h-11.4zM8.24 8.34h5.67V27.5H8.24V8.34zm10.99 40.01H8.24v-8.88h10.99v8.88zM8.24 29.11h10.99v8.75H8.24v-8.75zM1.58 1.6h53.53v25.91h-5.08V6.75H6.66v20.76H1.58V1.6zM0 56.69h56.69V0H0v56.69z"></path>
				</g>
			</svg>
		</a>
	</header>
	<aside role="complementary">
		<button class="order-summary-toggle order-summary-toggle--show shown-if-js">
			<span class="wrap">
				<span class="order-summary-toggle__inner">
					<span class="order-summary-toggle__icon-wrapper">
						<svg width="20" height="19" xmlns="http://www.w3.org/2000/svg" class="order-summary-toggle__icon">
							<path d="M17.178 13.088H5.453c-.454 0-.91-.364-.91-.818L3.727 1.818H0V0h4.544c.455 0 .91.364.91.818l.09 1.272h13.45c.274 0 .547.09.73.364.18.182.27.454.18.727l-1.817 9.18c-.09.455-.455.728-.91.728zM6.27 11.27h10.09l1.454-7.362H5.634l.637 7.362zm.092 7.715c1.004 0 1.818-.813 1.818-1.817s-.814-1.818-1.818-1.818-1.818.814-1.818 1.818.814 1.817 1.818 1.817zm9.18 0c1.004 0 1.817-.813 1.817-1.817s-.814-1.818-1.818-1.818-1.818.814-1.818 1.818.814 1.817 1.818 1.817z"></path>
						</svg>
					</span>
					<span class="order-summary-toggle__text order-summary-toggle__text--show">
						<span>주문 상품 상세보기</span>
						<svg width="11" height="6" xmlns="http://www.w3.org/2000/svg" class="order-summary-toggle__dropdown" fill="#000">
							<path d="M.504 1.813l4.358 3.845.496.438.496-.438 4.642-4.096L9.504.438 4.862 4.534h.992L1.496.69.504 1.812z"></path>
						</svg>
					</span>
					<span class="order-summary-toggle__text order-summary-toggle__text--hide">
						<span>주문 상품 상세보기</span>
						<svg width="11" height="7" xmlns="http://www.w3.org/2000/svg" class="order-summary-toggle__dropdown" fill="#000">
							<path d="M6.138.876L5.642.438l-.496.438L.504 4.972l.992 1.124L6.138 2l-.496.436 3.862 3.408.992-1.122L6.138.876z"></path>
						</svg>
					</span>
					<dl class="order-summary-toggle__total-recap total-recap">
						<dt class="visually-hidden"><span>Sale price</span></dt>
						<dd>
							<span class="order-summary__emphasis total-recap__final-price skeleton-while-loading">619,000원</span>
						</dd>
					</dl>
				</span></span></button>
	</aside>
	<div class="checkout__content content">
		<div class="wrap">
			<div class="checkout__main main">
				<div class="checkout_wrap order_summary">
					<div class="checkout_body">
						<div class="checkout_section order_summary_each1">
							<div class="text-block">
								<p><span class="payment_tit2">주문번호</span> 20210709087959</p>
								<p>주문해주셔서 감사합니다. <br>고객님의 주문이 정상적으로 접수되었습니다.</p>
							</div>
							<div class="button-block">
								<a href="#" class="button button--large button--block">주문/배송 조회</a>
							</div>
							<div class="text-block order_summary_text">
								<p>주문하신 상품의 배송현황이 궁금하시다면 마이페이지 &gt; 주문/배송조회에서 확인하실 수 있습니다.</p>
							</div>
						</div>
						<div class="checkout_section order_summary_each2">
							<div class="summary_content">
							<h5 class="checkout_tit1">주문 고객</h5>
								<div class="summary_text_block">
									<p>이현대<br>
										010-1234-5678<br>
										서울특별시 강남구 강남대로1길 1층</p>
								</div>
							</div>
							<div class="summary_content">
							<h5 class="checkout_tit1">배송 정보</h5>
								<div class="summary_text_block">
									<p>택배배송<br>
										이현대<br>
										010-1234-5678<br>
										서울특별시 강남구 강남대로1길 1층<br>
										부재 시 경비실에 맡겨주세요.</p>
								</div>
							</div>
							<div class="summary_content">
							<h5 class="checkout_tit1">결제 내역</h5>
								<div class="summary_text_block">
									<p><span class="payment_tit2">무통장입금</span> 105,000원<br>
										<span class="payment_tit2">입금계좌</span> 우리 (27820620718276)<br>
										<span class="payment_tit2">입금좌명</span> 이현대<br>
										2021년 06월 07일까지 입금하지 않으면 주문이 취소됩니다.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="additional-content checkout__additional-content">
					<div class="additional-content__container">
						<p class="additional-content__title">
							안내
						</p>
						<div id="additionalContentAccordion-sidebar" class="additional-content__accordion accordion" js-accordion="container">
							<div class="accordion__item" js-accordion="item">
								<h2 class="accordion__title">
									<button id="Accordion1" class="accordion__control text-small">
										배송 안내
									</button>
								</h2>
								<div id="content-1" class="accordion__content">
									<ul class="pdp_guide_ul dot_list">
										<li>배송비 무료  |  무료 반품</li>
										<li>영업일 기준 5~7일 내 배송</li>
										<li>유럽 물류센터 출고 | 국제 운송 및 국내 택배사 배송</li>
										<li>상품 통관 시 관부가세, 배송비를 비롯한 제반 비용을 포함한 금액으로 별도의 추가 비용 발생 없음</li>
										<li>배송에 대한 자세한 내용은 <a href="#" class="a_link">여기</a>를 참고하십시오.</li>
										<li>일부 군사지역은 배송이 불가능할 수 있습니다.</li>
									</ul>
									<p>상품 주문 후 2시간 내 취소가 가능하며, 상품 준비 중 이후 단계에서는 주문 취소가 불가합니다. (반품 절차로 진행)</p>
								</div>
							</div>
							<div class="accordion__item" js-accordion="item">
								<h2 class="accordion__title">
									<button id="Accordion2" class="accordion__control text-small">
										반품 안내
									</button>
								</h2>
								<div id="content-2" class="accordion__content">
									<ul class="pdp_guide_ul dot_list">
										<li>상품 수령 후 14일 이내 반품 신청 가능</li>
										<li>반품비 무료</li>
										<li>반품 및 환불에 자세한 내용은 <a href="#" class="a_link">여기</a>를 참고하십시오.</li>
										<li>반품 진행 시 상품이 깨끗하고, 흠이 없으며, 상품의 모든 택이 최초 수령 시와 동일하게 부착되어 있어야 합니다. 특히 수영복의 경우 위생 테이프의 손상없이 부착되어 있어야 합니다.</li>
										<li>위생상의 이유로 속옷 및 이어링 제품은 반품이 불가합니다. (결함의 경우 제외)</li>
										<li>교환은 불가능합니다. 반품 후 재주문 부탁드립니다.</li>
									</ul>
								</div>
							</div>
							<div class="accordion__item" js-accordion="item">
								<h2 class="accordion__title">
									<button id="Accordion2" class="accordion__control text-small">
										고객 문의
									</button>
								</h2>
								<div id="content-2" class="accordion__content">
									<p>Totême 온라인 고객 센터 운영 시간<br> 월요일 - 일요일 : 09:00 - 21:00 KST</p>
									<p>
										<a class="text-link text-link--static" href="mailto:shop.kr@toteme-studio.com">shop.kr@toteme-studio.com<br></a>
										<a class="text-link text-link--static" href="tel:+82-1522-0274">1522-0274 (유료)</a>
									</p>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			<aside class="checkout__sidebar sidebar" role="complementary">
				<div class="sidebar__content">
					<div id="order-summary" class="order-summary order-summary--is-collapsed">
						<div class="order-summary__sections">
							<div class="order-summary__section order-summary__section--product-list">
								<div class="order-summary__section__content">
									<table class="product-table">
										<caption class="visually-hidden">Shopping cart</caption>
										<thead class="product-table__header">
											<tr>
												<th scope="col"><span class="visually-hidden">Product image</span></th>
												<th scope="col"><span class="visually-hidden">Description</span></th>
												<th scope="col"><span class="visually-hidden">Quantity</span></th>
												<th scope="col"><span class="visually-hidden">Price</span></th>
											</tr>
										</thead>
										<tbody id="gip-product-table-processed">
											<tr class="product">
												<td class="product__image">
													<div class="product-thumbnail">
														<div class="product-thumbnail__wrapper">
															<img alt="Centered monogram silk scarf creme - One size" class="product-thumbnail__image"
																src="../assets/order1.jpg">
														</div>
														<span class="product-thumbnail__quantity" aria-hidden="true">1</span>
													</div>
												</td>
												<th class="product__description" scope="row">
													<span class="product__description__name order-summary__emphasis">센터드 모노그램 실크 스카프 크림</span>
													<span class="product__description__variant order-summary__small-text">원 사이즈</span>
												</th>
												<td class="product__quantity">
													<span class="visually-hidden">
														1
													</span>
												</td>
												<td class="product__price">
													<span class="order-summary__emphasis skeleton-while-loading notranslate">279,000원</span>
												</td>
											</tr>
											<tr class="product">
												<td class="product__image">
													<div class="product-thumbnail ">
														<div class="product-thumbnail__wrapper">
															<img alt="The Regulars sunglasses black - One size" class="product-thumbnail__image"
																src="../assets/order2.jpg">
														</div>
														<span class="product-thumbnail__quantity" aria-hidden="true">1</span>
													</div>
												</td>
												<th class="product__description" scope="row">
													<span class="product__description__name order-summary__emphasis">더 레귤러 선글래스 블랙</span>
													<span class="product__description__variant order-summary__small-text">원 사이즈</span>
												</th>
												<td class="product__quantity">
													<span class="visually-hidden">
														1
													</span>
												</td>
												<td class="product__price">
													<span class="order-summary__emphasis skeleton-while-loading notranslate">390,000원</span>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="order-summary__section order-summary__section--total-lines">
								<table class="total-line-table">
									<caption class="visually-hidden">Cost summary</caption>
									<thead>
										<tr>
											<th scope="col"><span class="visually-hidden">Description</span></th>
											<th scope="col"><span class="visually-hidden">Price</span></th>
										</tr>
									</thead>
									<tbody class="total-line-table__tbody">
										<tr class="total-line total-line--subtotal">
											<th class="total-line__name" scope="row">상품금액</th>
											<td class="total-line__price">
												<span class="order-summary__emphasis skeleton-while-loading notranslate">669,000원</span>
											</td>
										</tr>
										<tr class="total-line total-line--shipping">
											<th class="total-line__name" scope="row">
												<span>
													배송비
												</span>
											</th>
											<td class="total-line__price">
												<span class="skeleton-while-loading order-summary__small-text notranslate">
													무료배송
												</span>
											</td>
										</tr>
										<tr class="total-line total-line--shipping">
											<th class="total-line__name" scope="row">
												<span>
													총 할인금액
												</span>
											</th>
											<td class="total-line__price">
												<span class="skeleton-while-loading order-summary__small-text notranslate">
													-50,000원
												</span>
											</td>
										</tr>
									</tbody>
									<tfoot class="total-line-table__footer">
										<tr class="total-line">
											<th class="total-line__name payment-due-label" scope="row">
												<span class="payment-due-label__total">합계</span>
											</th>
											<td class="total-line__price payment-due">
												<span class="payment-due__price skeleton-while-loading--lg notranslate">619,000원</span>
											</td>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</div>
					<div class="additional-content checkout__additional-content checkout__additional-content--sidebar">
						<div class="additional-content__container">
							<p class="additional-content__title">
								안내
							</p>
							<div id="additionalContentAccordion-sidebar" class="additional-content__accordion accordion" js-accordion="container">
								<div class="accordion__item" js-accordion="item">
									<h2 class="accordion__title">
										<button id="Accordion1" class="accordion__control text-small">
											배송 안내
										</button>
									</h2>
									<div id="content-1" class="accordion__content">
										<ul class="pdp_guide_ul dot_list">
											<li>배송비 무료  |  무료 반품</li>
											<li>영업일 기준 5~7일 내 배송</li>
											<li>유럽 물류센터 출고 | 국제 운송 및 국내 택배사 배송</li>
											<li>상품 통관 시 관부가세, 배송비를 비롯한 제반 비용을 포함한 금액으로 별도의 추가 비용 발생 없음</li>
											<li>배송에 대한 자세한 내용은 <a href="#" class="a_link">여기</a>를 참고하십시오.</li>
											<li>일부 군사지역은 배송이 불가능할 수 있습니다.</li>
										</ul>
										<p>상품 주문 후 2시간 내 취소가 가능하며, 상품 준비 중 이후 단계에서는 주문 취소가 불가합니다. (반품 절차로 진행)</p>
									</div>
								</div>
								<div class="accordion__item" js-accordion="item">
									<h2 class="accordion__title">
										<button id="Accordion2" class="accordion__control text-small">
											반품 안내
										</button>
									</h2>
									<div id="content-2" class="accordion__content">
										<ul class="pdp_guide_ul dot_list">
											<li>상품 수령 후 14일 이내 반품 신청 가능</li>
											<li>반품비 무료</li>
											<li>반품 및 환불에 자세한 내용은 <a href="#" class="a_link">여기</a>를 참고하십시오.</li>
											<li>반품 진행 시 상품이 깨끗하고, 흠이 없으며, 상품의 모든 택이 최초 수령 시와 동일하게 부착되어 있어야 합니다. 특히 수영복의 경우 위생 테이프의 손상없이 부착되어 있어야 합니다.</li>
											<li>위생상의 이유로 속옷 및 이어링 제품은 반품이 불가합니다. (결함의 경우 제외)</li>
											<li>교환은 불가능합니다. 반품 후 재주문 부탁드립니다.</li>
										</ul>
									</div>
								</div>
								<div class="accordion__item" js-accordion="item">
									<h2 class="accordion__title">
										<button id="Accordion2" class="accordion__control text-small">
											고객 문의
										</button>
									</h2>
									<div id="content-2" class="accordion__content">
										<p>Totême 온라인 고객 센터 운영 시간<br> 월요일 - 일요일 : 09:00 - 21:00 KST</p>
										<p>
											<a class="text-link text-link--static" href="mailto:shop.kr@toteme-studio.com">shop.kr@toteme-studio.com<br></a>
											<a class="text-link text-link--static" href="tel:+82-1522-0274">1522-0274 (유료)</a>
										</p>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</aside>
		</div>
	</div>

</div>