<div class="checkout_loading_wrap">
	<div class="checkout_loading_con">
		<div class="loader checkout_loading">
			<div class="smiley-spin">
				<svg class="icon icon--medium icon__smiley" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 15.5a7.5 7.5 0 110-15 7.5 7.5 0 010 15zm0-1a6.5 6.5 0 100-13 6.5 6.5 0 000 13zM4.947 9.776l-.894.448a4.413 4.413 0 007.894 0l-.894-.448a3.413 3.413 0 01-6.106 0zM9.5 5h1v2h-1V5zm-3 0h-1v2h1V5z"></path></svg>
			</div>
		</div>
		<p>결제 진행 중입니다.<br>창을 닫거나, 새로 고침 시 주문오류가 발생할 수 있습니다.</p>
	</div>
</div>