<div class="container">
    <div class="template-account__header">
       상세정보를 입력하세요
    </div>
    <div class="template-account__wrapper">
       <div class="template-account__left"></div>
       <%- include ("./menu/index.ejs",{state:1}) %>
       <div class="template-account__content">
          
         <div class="custom-module__text-column custom-module__text-column--content rte">
            <meta charset="utf-8">
            <!--

               









            -->
            <!-- wp:list -->
            <ul>
               <li>상품이 안전하게 배송되고 있나요?</li>
            </ul>
            <!-- /wp:list --> <!-- wp:paragraph -->
            <p>현재 토템에서는 고객과 직원의 안전을 보장하기 위해 최선을 다하고 있습니다. 요청에 따라 쇼핑백에 스티커를 부탁하는 등의 추가 포장 옵션을 제공해드리고 있습니다.</p>
            <!-- /wp:paragraph --> <!-- wp:list -->
            <ul>
               <li>매장 근처에서 집 앞까지 주문 배송 및 교환 반품 신청을 할 수 있나요?</li>
            </ul>
            <!-- /wp:list --> <!-- wp:paragraph -->
            <p>스톡홀름이나 예테보리에 거주하시는 경우 Budbee 택배를 이용하실 것을 권장해드리고 있습니다. 반품을 원하시는 경우, UPS / DHL에 연락하시면 원활하게 제품을 수령하실 수 있도록 도와드리겠습니다.</p>
            <!-- /wp:paragraph --> <!-- wp:list -->
            <ul>
               <li>주문을 받을 수 있습니까?</li>
            </ul>
            <!-- /wp:list --> <!-- wp:paragraph -->
            <p>주문하신 상품을 빠르게 수령하실 수 있도록 도와드리겠습니다.</p>
            <!-- /wp:paragraph --> <!-- wp:list -->
            <ul>
               <li>주문이 지연되었을 경우 어떻게 하나요?</li>
            </ul>
            <!-- /wp:list --> <!-- wp:paragraph -->
            <p>
               현지에서 배송 지연으로 인해 기간이 더 소요될 수 있습니다.
               가입하신 이메일 주소를 통해 배송 상태에 대한 정보를 확인하실 수 있습니다.
               현재 영국 국경 폐쇄로 인해 영국으로의 UPS 및 DHL Standard 배송이 일시적으로 중단되었으며,
               미국을 제외한 모든 목적지로의 특급 배송이 지연 될 수 있습니다.</p>
            <!-- /wp:paragraph --> <!-- wp:list -->
            
         </div>

         



       </div>
    </div>
 </div>