<div class="container">
    <div class="template-account__header">
      Questions?
    </div>
    <div class="template-account__wrapper">
       <div class="template-account__left"></div>
       <%- include ("./menu/index.ejs",{state:3}) %>
       <div class="template-account__content">
          
         <div class="custom-module__text-column custom-module__text-column--content rte">
         
           
            
            
            


           <meta charset="utf-8"><!-- wp:paragraph -->
   <p><span>한국 내 무료 배송 서비스가 제공됩니다.<br><br>주문하신 상품은 네덜란드 물류 창고에서 출고되며, 모든 제품 가격에는 세금 및 관세가 포함되어 있습니다.</p>
   <!-- /wp:paragraph --> <!-- wp:paragraph -->
   
         
       </div>

         



       </div>
    </div>
 </div>