<div class="container">
    <div class="template-account__header">
       상세정보를 입력하세요
    </div>
    <div class="template-account__wrapper">
       <div class="template-account__left"></div>
       <%- include ("./menu/index.ejs",{state:1}) %>
       <div class="template-account__content">
          
         <div class="custom-module__text-column custom-module__text-column--content rte">
            (개인정보보호 정책 페이지 제작 예정)
         </div>

         



       </div>
    </div>
 </div>