<div class="container">
    <div class="template-account__header">
       상세정보를 입력하세요
    </div>
    <div class="template-account__wrapper">
       <div class="template-account__left"></div>
       <%- include ("./menu/index.ejs",{state:9}) %>
       <div class="template-account__content">
          
         <div class="custom-module__text-column custom-module__text-column--content rte">
            제3조 쿠키에 의한 개인정보 수집
            1) 온라인몰은 고객에 대한 정보를 저장하고 수시로 찾아내는 '쿠키(cookie)'를 사용합니다. 쿠키는 웹사이트가 고객의 컴퓨터 브라우저(넷스케이프, 인터넷 익스플로러 등)로 전송하는 소량의 정보입니다. 고객께서 웹사이트에 접속을 하면 온라인몰의 고객의 브라우저에 있는 쿠키의 내용을 읽고, 고객의 추가정보를 고객의 컴퓨터에서 찾아 접속에 따른 성명 등의 추가 입력 없이 컴퓨터는 서비스를 제공할 수 있습니다. 쿠키는 고객의 컴퓨터는 식별하지만 고객을 개인적으로 식별하지는 않습니다. 또한 고객께서는 쿠키에 대한 선택권이 있습니다. 웹브라우저 상단의 도구 > 인터넷옵션 탭(option tab)에서 모든 쿠키를 다 받아들이거나, 쿠키가 설치될 때 통지를 보내도록 하거나, 아니면 모든 쿠키를 거부할 수 있는 선택권을 가질 수 있습니다.
            2) 온라인몰의 쿠키(cookie) 운용 - 온라인몰은 이용자의 편의를 위하여 쿠키를 운영합니다. 온라인몰이 쿠키를 통해 수집하는 정보는 온라인몰 회원 ID에 한하며, 그 외의 다른 정보는 수집하지 않습니다. 온라인몰이 쿠키(cookie)를 통해 수집한 회원 ID는 다음의 목적을 위해 사용됩니다 .
            1. 개인의 관심 분야에 따라 차별화된 정보를 제공
            2. 회원과 비회원의 접속빈도 또는 머문 시간 등을 분석하여 이용자의 취향과 관심분야를 파악하여 타겟(target) 마케팅에 활용
            3. 쇼핑한 품목들에 대한 정보와 관심 있게 둘러 품목들에 대한 자취를 추적하여 다음번 쇼핑 때 개인 맞춤 서비스를 제공
            4. 회원들의 습관을 분석하여 서비스 개편 등의 척도
            5. 게시판 글 등록
            쿠키는 브라우저의 종료 시나 로그아웃 시 만료됩니다.
         </div>

         



       </div>
    </div>
 </div>