<div class="container">
   <div class="template-account__header">
      상세정보를 입력하세요
   </div>
   <div class="template-account__wrapper">
      <div class="template-account__left"></div>
      <%- include ("./menu/index.ejs",{state:11}) %>
      <div class="template-account__content">
         
        <div class="custom-module__text-column custom-module__text-column--content rte">
         
           
   
           <meta charset="utf-8">
   <h3>Shopping from Europe or ROW</h3>
   <p>온라인 주문에 대한 문의는 아래 번호나 이메일 주소로 연락해 주세요.</p>
   <p>0000-0000(유료)</p>
   <p>이메일 문의 :<br> customersevice.kr@toteme-studio.com</p>

   <p>온라인 고객서비스센터 운영 시간</p>
   <p>월요일 - 일요일 09:00 - 21:00 KST</p>
   
         
        </div>

        








      </div>
   </div>
</div>