<div class="container">
    <div class="template-account__header">
      Questions?
    </div>
    <div class="template-account__wrapper">
       <div class="template-account__left"></div>
       <%- include ("./menu/index.ejs",{state:3}) %>
       <div class='template-account__content'>

        <div class="template-mypage__form-wrapper">
          <div class="template-mypage__form">
            <div class="mypage_each">
              <h3 class="mypage_tit1">배송 정보</h3>
            </div>
            <p>배송정보</p>
          </div>
          <ul class="mypage_toggle_menu">
            <li class="accordion__item">
              <button type="button" class="toggle_tit accordion__control">배송정보1</button>
              <div class="toggle_con_box">
                <p>배송정보1</p> 
              </div>
            </li>
            <li class="accordion__item">
              <button type="button" class="toggle_tit accordion__control">배송정보2</button>
              <div class="toggle_con_box">
                <p>배송정보2</p>
              </div>
            </li>
          </ul>
        </div>
       </div>
    </div>
 </div>