<div class="container">
    <div class="template-account__header">
      Questions?
    </div>
    <div class="template-account__wrapper">
       <div class="template-account__left"></div>
       <%- include ("./menu/index.ejs",{state:7}) %>
       <div class='template-account__content'>
         <div class="template-mypage__form-wrapper">
            <div class="template-mypage__form">
            <div class="mypage_each">
               <h3 class="mypage_tit1">개인정보 처리방침</h3>
            </div>
            <p>Totême 은 고객님의 의견과 문의에 대해 항상 귀 기울이고 있습니다.</p>
            <p>온라인 주문 및 사이트 이용에 관한 문의는 아래 전화번호나 이메일 주소로 연락해주세요.</p>
            </div>
            <ul class="mypage_toggle_menu">
            <li class="accordion__item">
               <button type="button" class="toggle_tit accordion__control">고객센터</button>
               <div class="toggle_con_box">
                  <p>1522-0274 (유료)</p> 
               </div>
            </li>
            <li class="accordion__item">
               <button type="button" class="toggle_tit accordion__control">이메일 문의</button>
               <div class="toggle_con_box">
                  <p>shop.kr@toteme-studio.com</p>
               </div>
            </li>
            <li class="accordion__item">
               <button type="button" class="toggle_tit accordion__control">Totême 온라인 고객 센터 운영 시간</button>
               <div class="toggle_con_box">
                  <p>월요일 - 일요일 : 09:00 - 21:00 KST</p>
                  <p>문의 급증 시 답변에 많은 시간이 소요될 수 있습니다. 긴급한 사항은 이메일 보다 전화 문의를 권장합니다.</p>
               </div>
            </li>
            </ul>
         </div>
      </div>
    </div>
 </div>