<div class="container">
    <div class="template-account__header">
      Questions?
    </div>
    <div class="template-account__wrapper">
       <div class="template-account__left"></div>
       <%- include ("./menu/index.ejs",{state:1}) %>
       <div class="template-account__content">
          
         <div class="custom-module__text-column custom-module__text-column--content rte">
            <p>Totême 에서는 고객과 직원의 안전을 보장하기 위해 최선을 다하고 있습니다.</p>

            <p>주문하신 상품은 유럽 현지 물류센터에서 출발하여, 국제 운송과 한국 내 택배 배송을 거쳐 고객님께  한국 내 택배 배송을 통해 고객님께 전달됩니다.</p>
            
            <p>COVID-19 상황에서도 주문하신 상품을 빠르게 수령하실 수 있도록 최선을 다하고 있으나, 현지 물류센터의 처리 지연 및 국제 운송 상황에 따라 예상 대비 기간이 더 소요될 수 있습니다.</p>
            
            
         </div>

         



       </div>
    </div>
 </div>