<div class="container">
    <div class="template-account__header">
      Questions?
    </div>
    <div class="template-account__wrapper">
       <div class="template-account__left"></div>
       <%- include ("./menu/index.ejs",{state:3}) %>
       <div class='template-account__content'>

        <div class="template-mypage__form-wrapper">
          <div class="template-mypage__form">
            <div class="mypage_each">
              <h3 class="mypage_tit1">배송 정보</h3>
            </div>
            <p>고객님께서 주문하신 상품은 유럽 물류센터에서 출고되어, 국제 운송 및 국내 택배사 배송을 거쳐 고객님게 전달됩니다.</p>
            <ul class="dot_list">
              <li>주문 이후 영업일 기준 약 5~7일의 배송 기간이 소요됩니다.</li>
              <li>다만, 현지 물류 센터의 운영 상황, 주문량 증가, 국제 운송 상황에 따라 예상 대비 배송 기간이 늘어날 수 있습니다.</li>
              <li>배송비는 무료입니다.</li>
              <li>상품 통관시 발생하는 관세, 부가세, 국제 운송료, 국내 택배비를 비롯한 제반 비용을 포함한 금액으로 별도의 추가 비용은 발생하지 않습니다.</li>
              <li>일부 군사지역으로의 배송이 불가능할 수 있습니다.</li>
              <li>상품 주문 후 2시간 내 취소가 가능하며, 상품 준비 중 이후 단계에서는 주문 취소가 불가합니다. (이후 반품 절차로 진행)</li>
              <li>주문 상품 내역 및 현황을 '나의 쇼핑정보'의 '주문/배송'에서 확인할 수 있습니다.</li>
            </ul>
          </div>
          
        </div>
       </div>
    </div>
 </div>