<div class="container">
    <div class="template-account__header">
      Questions?
    </div>
    <div class="template-account__wrapper">
       <div class="template-account__left"></div>
       <%- include ("./menu/index.ejs",{state:2}) %>
       <div class='template-account__content'>

         <div class="template-mypage__form-wrapper">
           <div class="template-mypage__form">
              <div class="mypage_each">
                <h3 class="mypage_tit1">결제 정보</h3>
                <p>온라인 결제는 신용카드, 현금(무통장입금), 휴대폰결제, 네이버페이, 예치금을 통해서 가능합니다.<br><br>
                  Totême 온라인 스토어는 더현대닷컴(주식회사 현대백화점)의 결제 시스템을 통해 신용카드사와 직접 거래하고 있습니다.</p>
              </div>
              <div class="mypage_each">
                <h3 class="mypage_tit1">가격 정보</h3>
                <p>사용되는 통화는 한국 ‘원’(KRW)이며, 상품의 수입에 따른 관세, 부가세, 배송비 등 모든 비용을 포함한 금액으로써, 주문 금액 외 별도의 비용은 발생하지 않습니다.<br><br>
                  Totême 온라인 스토어의 상품 가격 및 정보는 변경될 수 있습니다.</p>
             </div>
           </div>
         </div>
        </div>
    </div>
 </div>