<!---

COVID-19 FAQ
Payments
Shipping
Returns
Order tracking
Store pick-up
Coming soon

Privacy policy
Cookie policy
Newsletter Club Terms & Conditions
Terms & Conditions

Contact

-->
<div class="template-account__navlist ">
    <div class="template-account__navlist--content">
       <div class="navlist__dropdown-wrapper">
          <div class="custom-select__wrapper">
             <select class="navlist__dropdown custom-select__select" style="background-image: url(../assets/icon-small-arrow-down.svg);">
                <option value="/pages/covid-19-faq"> <!-- selected=""-->
                     COVID-19 FAQ
                </option>
                <option value="/pages/payments">
                  결제 및 가격 정보
                </option>
                <option value="/pages/shipping">
                  배송정보
                </option>
                <option value="/pages/return">
                  반품 및 환불
                </option>
                <option value="/pages/order-tracking">
                  개인정보 처리방침
                </option>
                <option value="/pages/store-pick-up">
                  이용약관
                </option>
                <option value="/pages/coming-soon">
                  고객문의
                </option>
             </select>
             <span class="main-title custom-select__label text-small"></span>
          </div>
       </div>
       <ul class="navlist" js-account-nav="navlist">
         <li class="navlist__item navlist__item--margin">
            <a class="navlist__link text-link" href="/pages/covid-19-faq">COVID-19 FAQ</a>
         </li>
         <li class="navlist__item ">
            <a class="navlist__link text-link" href="/pages/payments">결제 및 가격 정보</a>
         </li>
         <li class="navlist__item ">
            <a class="navlist__link text-link" href="/pages/shipping">배송정보</a>
         </li>
         <li class="navlist__item navlist__item--margin">
            <a class="navlist__link text-link" href="/pages/return">반품 및 환불</a>
         </li>
          <li class="navlist__item">
             <a class="navlist__link text-link" href="/pages/privacy-policy" js-password-form="reactivateLink">개인정보 처리방침</a>
          </li>
          <li class="navlist__item navlist__item--margin">
             <a class="navlist__link text-link" href="/pages/terms-conditions" js-password-form="forgotPasswordLink">이용약관</a>
          </li>
          <li class="navlist__item">
             <a class="navlist__link text-link" href="/pages/contact" js-password-form="reactivateLink">고객문의</a>
          </li>
       </ul>
    </div>
 </div>
<!---
<option value="/pages/covid-19-faq">
   COVID-19 FAQ
</option>
<option value="/pages/payments">
  Payments
</option>
<option value="/pages/shipping">
  Shipping
</option>
<option value="/pages/return">
  Returns
</option>
<option value="/pages/order-tracking">
  Order tracking
</option>
<option value="/pages/store-pick-up">
  Store pick-up
</option>
<option value="/pages/coming-soon">
  Coming soon
</option>
<option value="/pages/privacy-policy">
  Privacy policy
</option>
<option value="/pages/cookie-policy">
  Cookie policy
</option>
<option value="/pages/newsletter-club-terms-conditions">
  Newsletter Club Terms & Conditions
</option>
<option value="/pages/terms-conditions">
  Terms & Conditions
</option>
<option value="/pages/contact">
  Contact
</option>
-->
 <% if(state == 1){%>
   <script>
      setTimeout(function(){
         $(".main-title.custom-select__label").text("COVID-19 FAQ");
         $("a[href='/pages/covid-19-faq']").addClass("is-active");
      },100)
      </script>
   <%}else if(state == 2){%>
   <script>
      setTimeout(function(){
         $(".main-title.custom-select__label").text("결제 및 가격 정보");
         $("a[href='/pages/payments']").addClass("is-active");
      },100)
      </script>
   <%}else if(state == 3){%>
   <script>
      setTimeout(function(){
         $(".main-title.custom-select__label").text("배송정보");
         $("a[href='/pages/shipping']").addClass("is-active");
      },100)
      </script>
   <%}else if(state == 4){%>
   <script>
      setTimeout(function(){
         $(".main-title.custom-select__label").text("반품 및 환불");
         $("a[href='/pages/return']").addClass("is-active");
      },100)
      </script>
   <%}else if(state == 5){%>
      <script>
      setTimeout(function(){
         $(".main-title.custom-select__label").text("개인정보 처리방침");
         $("a[href='/pages/privacy-policy']").addClass("is-active");
      },100)
      </script>
   <%}else if(state == 6){%>
      <script>
         setTimeout(function(){
            $(".main-title.custom-select__label").text("이용약관");
            $("a[href='/pages/terms-conditions']").addClass("is-active");
         },100)
         </script>
   <%}else if(state == 7){%>
   <script>
      setTimeout(function(){
         $(".main-title.custom-select__label").text("고객문의");
         $("a[href='/pages/contact']").addClass("is-active");
      },100)
      </script>
   <%}%>