<!---

COVID-19 FAQ
Payments
Shipping
Returns
Order tracking
Store pick-up
Coming soon

Privacy policy
Cookie policy
Newsletter Club Terms & Conditions
Terms & Conditions

Contact

-->
<div class="template-account__navlist ">
    <div class="template-account__navlist--content">
       <div class="navlist__dropdown-wrapper">
          <div class="custom-select__wrapper">
             <select class="navlist__dropdown custom-select__select m-font-14" style="background-image: url(//cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/icon-small-arrow-down.svg?v=9521334029086756349);">
                <option value="/pages/covid-19-faq"> <!-- selected=""-->
                     COVID-19 FAQ
                </option>
                <option value="/pages/payments">
                  Payments
                </option>
                <option value="/pages/shipping">
                  Shipping
                </option>
                <option value="/pages/return">
                  Returns
                </option>
                <option value="/pages/order-tracking">
                  Order tracking
                </option>
                <option value="/pages/store-pick-up">
                  Store pick-up
                </option>
                <option value="/pages/coming-soon">
                  Coming soon
                </option>
                <option value="/pages/privacy-policy">
                  Privacy policy
                </option>
                <option value="/pages/cookie-policy">
                  Cookie policy
                </option>
                <option value="/pages/terms-conditions">
                  Terms & Conditions
                </option>
                <option value="/pages/contact">
                  Contact
                </option>
             </select>
             <span class="main-title custom-select__label text-small"></span>
          </div>
       </div>
       <ul class="navlist" js-account-nav="navlist">
         <li class="navlist__item ">
            <a class="navlist__link text-link" href="/pages/covid-19-faq">COVID-19 FAQ</a>
         </li>
         <li class="navlist__item ">
            <a class="navlist__link text-link" href="/pages/payments">Payments</a>
         </li>
         <li class="navlist__item ">
            <a class="navlist__link text-link" href="/pages/shipping">Shipping</a>
         </li>
         <li class="navlist__item ">
            <a class="navlist__link text-link" href="/pages/return">Returns</a>
         </li>
         <li class="navlist__item ">
            <a class="navlist__link text-link" href="/pages/order-tracking">Order tracking</a>
         </li>
         <li class="navlist__item ">
            <a class="navlist__link text-link" href="/pages/store-pick-up">Store pick-up</a>
         </li>
          <li class="navlist__item navlist__item--margin">
             <a class="navlist__link text-link" href="/pages/coming-soon">Coming soon</a>
          </li>
          <li class="navlist__item">
             <a class="navlist__link text-link" href="/pages/privacy-policy" js-password-form="reactivateLink">Privacy policy</a>
          </li>
          <li class="navlist__item">
             <a class="navlist__link text-link" href="/pages/cookie-policy" js-password-form="reactivateLink">Cookie policy</a>
          </li>
          <li class="navlist__item navlist__item--margin">
             <a class="navlist__link text-link" href="/pages/terms-conditions" js-password-form="forgotPasswordLink">Terms & Conditions</a>
          </li>
          <li class="navlist__item">
             <a class="navlist__link text-link" href="/pages/contact" js-password-form="reactivateLink">Contact</a>
          </li>
       </ul>
    </div>
 </div>
<!---
<option value="/pages/covid-19-faq">
   COVID-19 FAQ
</option>
<option value="/pages/payments">
  Payments
</option>
<option value="/pages/shipping">
  Shipping
</option>
<option value="/pages/return">
  Returns
</option>
<option value="/pages/order-tracking">
  Order tracking
</option>
<option value="/pages/store-pick-up">
  Store pick-up
</option>
<option value="/pages/coming-soon">
  Coming soon
</option>
<option value="/pages/privacy-policy">
  Privacy policy
</option>
<option value="/pages/cookie-policy">
  Cookie policy
</option>
<option value="/pages/newsletter-club-terms-conditions">
  Newsletter Club Terms & Conditions
</option>
<option value="/pages/terms-conditions">
  Terms & Conditions
</option>
<option value="/pages/contact">
  Contact
</option>
-->
 <% if(state == 1){%>
   <script>
      setTimeout(function(){
         $(".main-title.custom-select__label").text("COVID-19 FAQ");
         $("a[href='/pages/covid-19-faq']").addClass("is-active");
      },100)
      </script>
   <%}else if(state == 2){%>
   <script>
      setTimeout(function(){
         $(".main-title.custom-select__label").text("Payments");
         $("a[href='/pages/payments']").addClass("is-active");
      },100)
      </script>
   <%}else if(state == 3){%>
   <script>
      setTimeout(function(){
         $(".main-title.custom-select__label").text("Shipping");
         $("a[href='/pages/shipping']").addClass("is-active");
      },100)
      </script>
   <%}else if(state == 4){%>
   <script>
      setTimeout(function(){
         $(".main-title.custom-select__label").text("Returns");
         $("a[href='/pages/return']").addClass("is-active");
      },100)
      </script>
   <%}else if(state == 5){%>
   <script>
      setTimeout(function(){
         $(".main-title.custom-select__label").text("Order tracking");
         $("a[href='/pages/order-tracking']").addClass("is-active");
      },100)
      </script>
   <%}else if(state == 6){%>
   <script>
      setTimeout(function(){
         $(".main-title.custom-select__label").text("Store pick-up");
         $("a[href='/pages/store-pick-up']").addClass("is-active");
      },100)
      </script>
   <%}else if(state == 7){%>
   <script>
      setTimeout(function(){
         $(".main-title.custom-select__label").text("Coming soon");
         $("a[href='/pages/coming-soon']").addClass("is-active");
      },100)
      </script>
   <%}else if(state == 8){%>
      <script>
      setTimeout(function(){
         $(".main-title.custom-select__label").text("Privacy policy");
         $("a[href='/pages/privacy-policy']").addClass("is-active");
      },100)
      </script>
   <%}else if(state == 9){%>
      <script>
         setTimeout(function(){
            $(".main-title.custom-select__label").text("Cookie policy");
            $("a[href='/pages/cookie-policy']").addClass("is-active");
         },100)
         </script>
   <%}else if(state == 100){%>
      <script>
         setTimeout(function(){
            $(".main-title.custom-select__label").text("Newsletter Club Terms & Conditions");
            $("a[href='/pages/newsletter-club-terms-conditions']").addClass("is-active");
         },100)
         </script>
   <%}else if(state == 10){%>
      <script>
         setTimeout(function(){
            $(".main-title.custom-select__label").text("Terms & Conditions");
            $("a[href='/pages/terms-conditions']").addClass("is-active");
         },100)
         </script>
   <%}else if(state == 11){%>
   <script>
      setTimeout(function(){
         $(".main-title.custom-select__label").text("Contact");
         $("a[href='/pages/contact']").addClass("is-active");
      },100)
      </script>
   <%}%>