
      <div class="cookie-banner critical-hide is-active" js-cookie-banner="container">
        <div class="cookie-banner__container">
           <p class="cookie-banner__text subtitle-2">
              We use cookies to improve your shopping experience at toteme-studio.com. <a href="/pages/cookie-policy">Read more</a>
           </p>
           <button class="cookie-banner__close" js-cookie-banner="close">
           <span class="cookie-banner__close-text">GOT IT</span>
           </button>
        </div>
     </div>