<div class="template-account__navlist ">
    <div class="template-account__navlist--content">
       <div class="navlist__dropdown-wrapper">
          <div class="custom-select__wrapper">
             <select class="navlist__dropdown custom-select__select m-font-14" style="background-image: url(../assets/icon-small-arrow-down.svg);">
                <option value=""> <!-- selected=""-->
                  나의 쇼핑정보
                </option>
                <option value="">
                  회원정보 변경
                </option>
                <option value="">
                  배송주소록
                </option>
                <option value="">
                  위시리스트
                </option>
                <option value="">
                  주문내역
                </option>
                <option value="">
                  반품신청
                </option>
                <option value="">
                  영수증/세금계산서
                </option>
                <option value="">
                  예치금
                </option>
                <option value="">
                  로그아웃
                </option>
             </select>
             <span class="main-title custom-select__label text-small">나의 쇼핑정보</span>
          </div>
       </div>
       <ul class="navlist mypage" js-account-nav="navlist">
          <li class="navlist__item navlist__item--margin">
             <a class="navlist__link text-link" href="#">나의 쇼핑정보</a>
          </li>
          <li class="navlist__item">
             <a class="navlist__link text-link" href="#">회원정보 변경</a>
          </li>
          <li class="navlist__item">
             <a class="navlist__link text-link" href="#">배송주소록</a>
          </li>
          <li class="navlist__item">
             <a class="navlist__link text-link" href="#">위시리스트</a>
          </li>
          <li class="navlist__item">
            <a class="navlist__link text-link" href="#">주문내역</a>
         </li>
         <li class="navlist__item">
            <a class="navlist__link text-link" href="#">반품신청</a>
         </li>
         <li class="navlist__item">
            <a class="navlist__link text-link" href="#">영수증/세금계산서</a>
         </li>
         <li class="navlist__item navlist__item--margin">
            <a class="navlist__link text-link" href="#">예치금</a>
         </li>
         <li class="navlist__item">
            <a class="navlist__link text-link" href="#">로그아웃</a>
         </li>
       </ul>
    </div>
 </div>

 <% if(state == 1){%>
   <script>
      setTimeout(function(){
         $(".main-title.custom-select__label").text("나의 쇼핑정보");
         $(".navlist.mypage>li:nth-child(1) a").addClass("is-active");
      },100)
      </script>
   <%}else if(state == 21){%>
   <script>
      setTimeout(function(){
         $(".main-title.custom-select__label").text("회원정보 변경");
         $(".navlist.mypage>li:nth-child(2) a").addClass("is-active");
      },100)
      </script>
   <%}else if(state == 22){%>
   <script>
      setTimeout(function(){
         $(".main-title.custom-select__label").text("배송주소록");
         $(".navlist.mypage>li:nth-child(3) a").addClass("is-active");
      },100)
      </script>
   <%}else if(state == 23){%>
   <script>
      setTimeout(function(){
         $(".main-title.custom-select__label").text("위시리스트");
         $(".navlist.mypage>li:nth-child(4) a").addClass("is-active");
      },100)
      </script>
   <%}else if(state == 24){%>
   <script>
      setTimeout(function(){
         $(".main-title.custom-select__label").text("주문내역");
         $(".navlist.mypage>li:nth-child(5) a").addClass("is-active");
      },100)
      </script>
   <%}else if(state == 25){%>
   <script>
      setTimeout(function(){
         $(".main-title.custom-select__label").text("반품신청");
         $(".navlist.mypage>li:nth-child(6) a").addClass("is-active");
      },100)
      </script>
   <%}else if(state == 26){%>
   <script>
      setTimeout(function(){
         $(".main-title.custom-select__label").text("영수증/세금계산서");
         $(".navlist.mypage>li:nth-child(7) a").addClass("is-active");
      },100)
      </script>
      <%}else if(state == 27){%>
         <script>
            setTimeout(function(){
               $(".main-title.custom-select__label").text("예치금");
               $(".navlist.mypage>li:nth-child(8) a").addClass("is-active");
            },100)
            </script>
   <%}else if(state == 3){%>
      <script>
         setTimeout(function(){
            $(".main-title.custom-select__label").text("로그아웃");
            $(".navlist.mypage>li:nth-child(9) a").addClass("is-active");
         },100)
         </script>
   <%}%>