<div class="container">
	<div class="template-account__header">
		안녕하세요, 이현대님
	</div>
	<div class="template-account__wrapper">
		 <div class="template-account__left"></div>
		 <%- include ("./menu/index.ejs",{state:1}) %>
		 <div class="template-account__content">
		 	<div id="shopify-section-account-summary" class="shopify-section">
		 		<div class="responsive-image__wrapper account-summary__background-image-wrapper" data-image-id="456610250903">
		 			<span style="display: block; padding-top:100.0%;" aria-hidden="true">
		 			</span>
		 			<img class="responsive-image__image account-summary__background-image" alt=""
		 				src="../assets/mypage.png">
		 		</div>
		 		<div class="template-account__block">
		 			<label class="template-account__block-title">주문내역</label>
		 			<div class="template-account__block-content"><a class="text-link is-active" href="#">주문/배송 조회
					 </a></div>
		 		</div>
		 		<div class="template-account__block">
		 			<label class="template-account__block-title">위시리스트</label>
		 			<div class="template-account__block-content">
						 <div class="text-error">위시리스트에 담긴 상품이 없습니다.</div>
		 				<div class="text-icon text-icon__tick">3개의 아이템이 있습니다.</div>
		 				<a class="text-link is-active" href="#">위시리스트 조회</a>
		 			</div>
		 		</div>
		 		<div class="template-account__block">
		 			<label class="template-account__block-title">배송지</label>
		 			<div class="template-account__block-content">
		 				<p>이현대<br>010-2222-2222<br>12345 서울 강남구 청담동 123-4 현대빌딩 3층</p>
		 				<a class="text-link is-active" href="#">수정</a>
		 			</div>
		 		</div>
				 <div class="template-account__block">
					<label class="template-account__block-title">영수증/세금계산서</label>
					<div class="template-account__block-content"><a class="text-link is-active" href="#">영수증/세금계산서 조회
					</a></div>
				</div>
		 	</div>
		 </div>
	</div>
</div>