<div class="container">
	<div class="template-account__header">
		안녕하세요, 이현대님
	</div>
	<div class="template-account__wrapper">
		 <div class="template-account__left"></div>
		 <%- include ("./menu/index.ejs",{state:21}) %>
		 <div class="template-account__content">
			<div class="template-account__text_hdtype_1 alert" style="display: none;">
				<div class="rte">
					회원정보
				</div>
			</div>
			<div class="template-mypage__form-wrapper">
				<div class="template-mypage__form">
					<div class="mypage_each">
						<h3 class="mypage_tit1">회원정보</h3>
					</div>
					<form method="post" action="#">
						<div class="form-group">
							<div class="form-group__field form_padding">
								<label class="form-group__label subtitle-2 is-hidden" for="CustomerName">이름</label>
								<input id="CustomerName" autocapitalize="off" autocomplete="off" autofocus="" name="customer[name]" placeholder="이름" required="" spellcheck="false" type="text">
							</div>
							<div class="form-group__field form_padding">
								<label class="form-group__label subtitle-2 is-hidden" for="CustomerLastName">성</label>
								<input id="CustomerLastName" autocapitalize="off" autocomplete="off" autofocus="" name="customer[lastname]" placeholder="성" required="" spellcheck="false" type="text">
							</div>
							<div class="form-group__field form_padding">
								<label class="form-group__label subtitle-2 is-hidden" for="CustomerEmail">이메일</label>
								<input id="CustomerEmail" autocapitalize="off" autocomplete="off" autofocus="" name="customer[email]" placeholder="이메일" required="" spellcheck="false" type="text">
							</div>
							<div class="form-group__field form_padding">
								<label class="form-group__label subtitle-2 is-hidden" for="CustomerBirthday">생년월일</label>
								<input id="CustomerBirthday" autocapitalize="off" autocomplete="off" autofocus="" name="customer[birthday]" placeholder="생년월일" required="" spellcheck="false" type="text">
							</div>
							<div class="form-group__field form_padding">
								<label class="form-group__label subtitle-2 is-hidden" for="CustomerPhone">휴대폰번호</label>
								<input id="CustomerPhone" autocapitalize="off" autocomplete="off" autofocus="" name="customer[phone]" placeholder="휴대폰번호" required="" spellcheck="false" type="text">
							</div>
							<!-- <div class="form-group__field form_padding">
								<input class="button button--primary button--block button--large" type="button" value="변경 사항 저장">
							</div> -->
						</div>
					</form>
				</div>
				<div class="template-mypage__form">
					<div class="mypage_each">
						<h3 class="mypage_tit1">부가정보(선택)</h3>
					</div>
					<form method="post" action="#">
						<div class="form-group">
							<div class="form-group__field">
								<p class="mypage_tit2">성별</p>
								<div class="mypage_each">
									<div class="radio_custom_box mypage_radio_box">
										<input id="info_gender1" class="radio_input" value="10" type="radio" name="info_gender">
										<label for="info_gender1">남</label>
									</div>
									<div class="radio_custom_box mypage_radio_box">
										<input id="info_gender2" class="radio_input" value="10" type="radio" name="info_gender">
										<label for="info_gender2">여</label>
									</div>
									<div class="checkbox_custom_box mypage_check_box">
										<input id="info_agree1" class="checkbox" value="2" type="checkbox">
										<label for="info_agree1">성별을 마케팅 정보로 활용하는 것에 동의 (선택)</label>
									</div>
								</div>
							</div>
							<div class="form-group__field">
								<h4 class="mypage_tit2">제3자 정보제공동의</h4>
								<div class="mypage_each">
									<div class="radio_custom_box mypage_radio_box">
										<input id="info_agree2_1" class="radio_input" value="10" type="radio" name="info_agree2">
										<label for="info_agree2_1">동의합니다</label>
									</div>
									<div class="radio_custom_box mypage_radio_box">
										<input id="info_agree2_2" class="radio_input" value="10" type="radio" name="info_agree2">
										<label for="info_agree2_2">동의하지 않습니다</label>
									</div>
								</div>
							</div>
							<div class="form-group__field form_padding">
								<input class="button button--primary button--block button--large" type="button" value="변경 사항 저장">
							</div>
						</div>
					</form>
				</div>
			</div>
					 
		 </div>
	</div>
</div>