<!-- <link rel="stylesheet" href="/css/toteme.custom.css"> -->

<div class="container">
	<div class="template-account__header">
		안녕하세요, 이현대님
	</div>
	<div class="template-account__wrapper template-wishlist">
		<div class="template-account__left"></div>
		<%- include ("./menu/index.ejs",{state:23}) %>
		<div class="template-account__content">
			<div class="wishlist-collection">
				<div class="wk-row">
					<div class="wk-item-column">
						<div class="wk-item">
							<div class="wk-image">
								<a href="#" class="wk-variant-link wk-content" title="View product">
									<img class="wk-variant-image" src="https://cdn.shopify.com/s/files/1/0480/1141/1607/products/Toteme_PF21_THESOFTPOUCHSMALL213-809-703LEATHERBLACK_0159_1000x.jpg?v=1620810239" alt="Small leather pouch">
								</a>
							</div>
							<div class="wk-item__content">
								<div class="wk-product-title">
									<a href="/products/small-leather-pouch?variant=39095646879895" class="wk-variant-link" title="View product">스몰 레더 파우치</a>
								</div>
								<div class="wk-purchase">
									<span class="wk-price wk-price-preview"><span><span class="money">389,000 원</span></span></span></div>
								<button type="button" class="wk-button-wishlist-page wk-remove-item wk-with-hover" title="Remove from Wishlist">
									<div class="">
										<svg class="icon icon--large icon__close" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd"
												d="M23 12c0-6.075-4.925-11-11-11S1 5.925 1 12s4.925 11 11 11 11-4.925 11-11zM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12zm6.593-2.7l.707-.707 2.7 2.7 2.7-2.7.707.707-2.7 2.7 2.7 2.7-.707.707-2.7-2.7-2.7 2.7-.707-.707 2.7-2.7-2.7-2.7z">
											</path>
										</svg>
									</div>
									<span class="wk-label">In Wishlist</span>
								</button>
								<form id="" action="#" method="post" class="wk-add-item-form">
									<!-- Begin product options -->
									<div class="wk-product-options">
										<div class="wk-select">
											<div class="selector-wrapper" style="display: none"><label>One size</label>
												<select class="single-option-selector" 
													style="background-image: url(&quot;//cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/icon-small-arrow-down.svg?v=9521334029086756349&quot;);">
													<option value="One size">One size</option>
												</select></div>
												<select class="wk-option-select" name="id" style="background-image: url(&quot;//cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/icon-small-arrow-down.svg?v=9521334029086756349&quot;); display: none;">
												<option value="39095646879895" selected="selected">
													One size - 380.00
												</option>
											</select>
										</div>
										<div class="wk-purchase-section">
											<button type="submit" class="wk-add-to-cart">
												<span class="wk-label-select-size">사이즈를 선택하세요</span>
												<span class="wk-label-atc">장바구니 담기</span>
											</button>
										</div>
									</div>
									<!-- End product options -->
								</form>
							</div>
						</div>
					</div>
					<div class="wk-item-column">
						<div class="wk-item">
							<div class="wk-image">
								<a href="#" class="wk-variant-link wk-content"
									title="View product">
									<img class="wk-variant-image"
										src="https://cdn.shopify.com/s/files/1/0480/1141/1607/products/Toteme_PF21_BOUCL_C9_TWEED_JACKET_213-109-728_COTTON_BLEND_CREME_105_1_1000x.jpg?v=1619002345"
										alt="Bouclé tweed jacket creme">
								</a>
							</div>
							<div class="wk-item__content">
								<div class="wk-product-title">
									<a href="#" class="wk-variant-link"
										title="View product">부 클레 트위드 자켓 크림</a>
								</div>
								<div class="wk-purchase">
									<span class="wk-price wk-price-preview"><span><span class="money">589,000 원</span></span></span></div>
								<button type="button" class="wk-button-wishlist-page wk-remove-item wk-with-hover" title="Remove from Wishlist">
									<div class="">
										<svg class="icon icon--large icon__close"  viewBox="0 0 24 24" fill="none"
											xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd"
												d="M23 12c0-6.075-4.925-11-11-11S1 5.925 1 12s4.925 11 11 11 11-4.925 11-11zM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12zm6.593-2.7l.707-.707 2.7 2.7 2.7-2.7.707.707-2.7 2.7 2.7 2.7-.707.707-2.7-2.7-2.7 2.7-.707-.707 2.7-2.7-2.7-2.7z">
											</path>
										</svg>
									</div>
									<span class="wk-label">In Wishlist</span>
								</button>
								<form action="#" method="post" class="wk-add-item-form">
									<!-- Begin product options -->
									<div class="wk-product-options ">
										<div class="wk-select">
											<div class="selector-wrapper"><label>Size</label><select class="single-option-selector"
													style="background-image: url(&quot;//cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/icon-small-arrow-down.svg?v=9521334029086756349&quot;);">
													<option value="" disabled="">사이즈 선택</option>
													<option value="32">32</option>
													<option value="34">34</option>
													<option value="36">36</option>
													<option value="38">38</option>
													<option value="40">40</option>
													<option value="42">42</option>
												</select></div>
												<select  class="wk-option-select" 
												style="background-image: url(&quot;//cdn.shopify.com/s/files/1/0480/1141/1607/t/2/assets/icon-small-arrow-down.svg?v=9521334029086756349&quot;); display: none;"
												disabled="">
												<option value="39885372063895">
													32 - 530.00
												</option>
												<option value="39885372391575" selected="selected">
													34 - 530.00
												</option>
												<option value="39885372752023">
													36 - 530.00
												</option>
												<option value="39885373046935">
													38 - 530.00
												</option>
												<option value="39885373341847">
													40 - 530.00
												</option>
												<option value="39885373702295">
													42 - 530.00
												</option>
											</select>
										</div>
										<div class="wk-purchase-section wk-multiple need-size">
											<button type="submit" class="wk-add-to-cart disabled" disabled="disabled">
												<span class="wk-label-select-size">사이즈를 선택하세요</span>
												<span class="wk-label-atc">장바구니 담기</span>
											</button>
										</div>
									</div>
									<!-- End product options -->
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>