<div class="container mypage">
	<div class="template-account__header">
		안녕하세요, 이현대님
	</div>
	<div class="template-account__wrapper template-wishlist">
		<div class="template-account__left"></div>
		<%- include ("./menu/index.ejs",{state:24}) %>
		<div class="template-account__content">
			<div class="wishlist-collection">
				<div class="wk-row">
					<p class="empty-orders">입고 알림을 신청한 상품이 없습니다.</p>
				</div>
			</div>
		</div>
		
	</div>
</div>