<div class="container mypage">
	<div class="template-account__header">
		안녕하세요, 이현대님
	</div>
	<div class="template-account__wrapper">
		 <div class="template-account__left"></div>
		 <%- include ("./menu/index.ejs",{state:21}) %>
		 <div class="template-account__content">
			<div class="template-account__text_hdtype_1 alert title" style="display: none;">
				<div class="rte">
					<p class="error">이름을 입력해 주세요.</p>
				</div>
			</div>
			<div class="template-mypage__form-wrapper">
				<div class="template-mypage__form">
					<div class="mypage_each">
						<h3 class="mypage_tit1">회원정보 변경 <a href="#" class="modal_trigger button button--primary" data-modal="mypage_hide-modal">가려진 정보 보기</a></h3>
					</div>
					<form method="post" action="#">
						<div class="input-block label-block">
							<label class="form-group__label" for="CustomerEmail">아이디</label>
							<input id="CustomerEmail" name="customer[email]" placeholder="이메일" value="hyu*@*********" type="text" readonly>
						</div>
						<div class="input-block label-block">
							<label class="form-group__label" for="CustomerName">이름</label>
							<input id="CustomerName" name="customer[name]" placeholder="이름" value="박*대" type="text" readonly>
						</div>
						<div class="input-block label-block">
							<label class="form-group__label" for="CustomerBirthday">생년월일</label>
							<input id="CustomerBirthday" name="customer[birthday]" placeholder="생년월일" value="1982-05-**" type="text" readonly>
						</div>
						<div class="input-block label-block email_form">
							<div>
								<label class="form-group__label" for="CustomerEmail">이메일</label>
								<input id="CustomerEmail" name="customer[email]" placeholder="이메일"  type="text">
							</div>
							<div>
								<input type="button" class="button button--block button--large modal_trigger" value="이메일 변경" data-modal="mypage_email-modal">
							</div>
						</div>
						<div class="checkbox-block mypage_email">
							<div class="checkbox_custom_box">
								<input id="mypage_email_chekbox1" class="checkbox" value="1" type="checkbox">
								<label for="mypage_email_chekbox1">Totême 상품/이벤트 정보 뉴스레터 수신 동의 (선택)	</label>
							</div>
						</div>
						<div class="input-block label-block email_form">
							<div>
								<label class="form-group__label" for="CustomerPhone">휴대폰</label>
								<input id="CustomerPhone" name="customer[Phone]" placeholder="휴대폰"  type="text">
							</div>
							<div>
								<input type="button" class="button button--block button--large modal_trigger" value="휴대폰 변경" data-modal="mypage_phone-modal">
							</div>
						</div>
						<div class="checkbox-block mypage_email">
							<div class="checkbox_custom_box">
								<input id="mypage_phone_chekbox1" class="checkbox" type="checkbox">
								<label for="mypage_phone_chekbox1">Totême 상품/이벤트 정보 SMS 수신 동의 (선택)</label>
							</div>
							<div class="checkbox_custom_box">
								<input id="mypage_phone_chekbox2" class="checkbox" type="checkbox">
								<label for="mypage_phone_chekbox2">전화 상담을 통한 상품/이벤트 정보 수신 동의 (선택)</label>
							</div>
						</div>
						<!-- <div class="button-block">
							<input class="button button--primary button--block button--large" type="button" value="변경 사항 저장">
						</div> -->
					</form>
				</div>
				<div class="template-mypage__form mypage_plus_info">
					<div class="mypage_each">
						<h3 class="mypage_tit1">부가정보(선택)</h3>
					</div>
					<form method="post" action="#">
						<div class="radio-block">
							<p class="mypage_tit2">성별</p>
							<div class="mypage_each">
								<div class="radio_custom_box mypage_radio_box">
									<input id="info_gender1" class="radio_input" value="10" type="radio" name="info_gender">
									<label for="info_gender1">남</label>
								</div>
								<div class="radio_custom_box mypage_radio_box">
									<input id="info_gender2" class="radio_input" value="10" type="radio" name="info_gender">
									<label for="info_gender2">여</label>
								</div>
								<div class="checkbox_custom_box mypage_check_box">
									<input id="info_agree1" class="checkbox" value="2" type="checkbox">
									<label for="info_agree1">성별을 마케팅 정보로 활용하는 것에 동의 (선택)</label>
								</div>
							</div>
						</div>
						<div class="radio-block">
							<h4 class="mypage_tit2">개인정보 제3자(Totême) 제공 및 국외 이전(스웨덴) 동의</h4>
							<div class="mypage_each">
								<div class="radio_custom_box mypage_radio_box">
									<input id="info_agree2_1" class="radio_input" value="10" type="radio" name="info_agree2">
									<label for="info_agree2_1">동의합니다</label>
								</div>
								<div class="radio_custom_box mypage_radio_box">
									<input id="info_agree2_2" class="radio_input" value="10" type="radio" name="info_agree2">
									<label for="info_agree2_2">동의하지 않습니다</label>
								</div>
							</div>
						</div>
						<div class="button-block">
							<input class="button button--primary button--block button--large" type="button" value="변경 사항 저장">
						</div>
					</form>
				</div>

				<div class="template-mypage__form">
					<div class="mypage_each">
						<h3 class="mypage_tit1">비밀번호 변경</h3>
					</div>
					<form method="post" action="#">
						<div class="form-group">
							<div class="input-block label-block">
								<label class="form-group__label" for="infoPassword1">현재 비밀번호</label>
								<input id="infoPassword1" name="info[password]" placeholder="현재 비밀번호"  type="text">
							</div>
							<div class="input-block label-block">
								<label class="form-group__label" for="infoPassword2">새 비밀번호</label>
								<input id="infoPassword2" name="info[password]" placeholder="새 비밀번호" type="text">
							</div>
							<div class="input-block label-block">
								<label class="form-group__label" for="infoPassword3">새 비밀번호 재확인</label>
								<input id="infoPassword3" name="info[password]" placeholder="새 비밀번호 재확인" type="text">
							</div>
							<div class="button-block">
								<input class="button button--primary button--block button--large" type="button" value="변경 사항 저장">
							</div>
							<div class="text-block sub-description">
								<p>고객님의 소중한 개인정보를 확인/변경하기 위해 비밀번호 재확인이 필요합니다.</p>
							</div>
						</div>
					</form>
				</div>

				<ul class="mypage_toggle_menu">
				<li class="accordion__item">
					<button type="button" class="toggle_tit accordion__control">
						환불계좌/현금영수증
					</button>
					<div class="toggle_con_box">
						<div class="mypage_each2">
							<div class="txt_btn_box">
								<h4 class="mypage_tit2">환불계좌 정보</h4>
								<div>
									<button type="button" class="modal_trigger button button--primary" data-modal="refund-modal">등록</button>
								</div>
							</div>
							<p>등록된 환불계좌가 없습니다. </p>
							<ul class="dot_list">
								<li>환불계좌는 본인 명의의 계좌번호만 등록/변경 가능합니다.</li>
								<li>환불계좌를 저장하시면, 추후 이용 시 별도의 계좌입력 없이 이용하실 수 있습니다.</li>
								<li>정보 입력 또는 수정일로부터 1년간 환불기록이 없을 경우, 금융정보보호정책에 따라 환불계좌 정보는 삭제됩니다.</li>
							</ul>
						</div>
						<div class="mypage_each2">
							<div class="txt_btn_box">
								<h4 class="mypage_tit2">기본 가상계좌 관리</h4>
								<div>
									<button type="button" class="modal_trigger button button--primary" data-modal="account-modal">등록</button>
								</div>
							</div>
							<p>등록된 가상계좌가 없습니다.</p>
							<ul class="mypage_tit_list">
								<li><span class="tit1">예금주명</span><span class="txt1">박현대</span></li>
								<li><span class="tit1">은행명</span><span class="txt1">우리은행</span></li>
								<li><span class="tit1">계좌번호</span><span class="txt1">25489563451225</span></li>
							</ul>
							<div class="edit_btn_box">
								<a href="#" class="a_link">수정</a>
								<a href="#" class="a_link">삭제</a>
							</div>
							<ul class="dot_list">
								<li>가상계좌가 없는 경우 은행을 선택하시면 가상계좌가 신규 발급됩니다.</li>
								<li>기존에 등록된 가상계좌를 변경하고 싶으시면 변경하시고자 하는 은행을 선택해 주세요.</li>
								<li>은행 변경 시 기존 가상계좌는 삭제됩니다.</li>
							</ul>
						</div>
						<div class="mypage_each2">
							<div class="txt_btn_box">
								<h4 class="mypage_tit2">소득공제용 현금영수증</h4>
								<div>
									<button type="button" class="modal_trigger button button--primary" data-modal="receipt1-modal">등록</button>
								</div>
							</div>
							<p>등록된 현금영수증 정보가 없습니다.</p>
							<span>소득공제용(일반개인)<br>123-1234-1234</span>
							<div class="edit_btn_box">
								<a href="#" class="a_link">수정</a>
								<a href="#" class="a_link">삭제</a>
							</div>
						</div>
						<div class="mypage_each2">
							<div class="txt_btn_box">
								<h4 class="mypage_tit2">지출증빙용 현금영수증</h4>
								<div>
									<button type="button" class="modal_trigger button button--primary" data-modal="receipt2-modal">등록</button>
								</div>
							</div>
							<p>등록된 현금영수증 정보가 없습니다.</p>
							<span>지출증빙용(사업자)<br>123-12-12312</span>
							<div class="edit_btn_box">
								<a href="#" class="a_link">수정</a>
								<a href="#" class="a_link">삭제</a>
							</div>
						</div>
					</div>
				</li>
				<li class="accordion__item">
					<button type="button" class="toggle_tit accordion__control">
						개인계정 연결관리
					</button>
					<div class="toggle_con_box">
						<div class="mypage_each2">
							<div class="txt_btn_box">
								<h4 class="mypage_tit2">NAVER</h4>
								<div>
									<button type="button" class="modal_trigger button button--primary" data-modal="login-modal">등록</button>
								</div>
							</div>
						</div>
						<div class="mypage_each2">
							<div class="txt_btn_box">
								<h4 class="mypage_tit2">Kakao</h4>
								<div>
									<button type="button" class="modal_trigger button button--primary" data-modal="login-modal">등록</button>
								</div>
							</div>
						</div>
						<div class="mypage_each2">
							<div class="txt_btn_box">
								<h4 class="mypage_tit2">Facebook</h4>
								<div>
									<button type="button" class="modal_trigger button button--primary" data-modal="login-modal">등록</button>
								</div>
							</div>
						</div>
						<div class="mypage_each2">
							<div class="txt_btn_box">
								<h4 class="mypage_tit2">Google + <p>hyundaipark21@gmail.com</p></h4>
								<div>
									<button type="button" class="button button--primary">해제</button>
								</div>
							</div>
							<ul class="dot_list">
								<li>SNS 및 네이버 계정과 연동하여 간편하게 로그인 할 수 있는 기능을 설정/해제 하실 수 있습니다.</li>
								<li>간편계정 연결의 해제는 단순히 간편계정 연동 로그인 기능만을 해제 하는 것이며, 회원탈퇴가 되는 것은 아닙니다.</li>
								<li>간편계정 연결을 해제 하셔도 기존의 아이디(이메일), 비밀번호로 로그인 하실 수 있습니다.</li>
								<li>회원탈퇴는 회원정보변경에서 회원탈퇴 메뉴를 통해 가능합니다.</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="accordion__item">
					<button type="button" class="toggle_tit accordion__control">
						회원탈퇴
					</button>
					<div class="toggle_con_box">
						<div class="mypage_each2">
							<h3 class="mypage_tit1">회원탈퇴를 진행하시겠습니까?</h3>
							<p>탈퇴를 진행하고자 하신다면 아래 사항을 확인해주시길 바랍니다.</p>
						</div>
						<div class="mypage_each2">
							<ul class="dot_list">
								<li>재가입하셔도 개인정보가 복원되지 않습니다. 더현대닷컴에 가지고 계신 더머니, 예치금, 할인쿠폰 등의 혜택이 자동 삭제되며, 재가입하실 경우에도 복원되지 않습니다.</li>
								<li>아이디를 재사용하실 수 없습니다.<br> 기존에 사용하셨던 ID는 재가입 시 사용하실 수 없습니다.</li>
							</ul>
						</div>
						<div class="mypage_each2">
							<h3 class="mypage_tit1">설문조사 (1개 항목만 선택해 주세요.)</h3>
							<div class="radio_two_col">
								<div class="radio_custom_box mypage_radio_box">
									<input id="withdrawal_survey1" class="radio_input" value="10" type="radio" name="withdrawal_survey">
									<label for="withdrawal_survey1">상품의 다양성/가격/품질/불만</label>
								</div>
								<div class="radio_custom_box mypage_radio_box">
									<input id="withdrawal_survey2" class="radio_input" value="10" type="radio" name="withdrawal_survey">
									<label for="withdrawal_survey2">사이트의 시스템 및 에러 불만</label>
								</div>
								<div class="radio_custom_box mypage_radio_box">
									<input id="withdrawal_survey3" class="radio_input" value="10" type="radio" name="withdrawal_survey">
									<label for="withdrawal_survey3">회원특혜/쇼핑 혜택의 부족</label>
								</div>
								<div class="radio_custom_box mypage_radio_box">
									<input id="withdrawal_survey4" class="radio_input" value="10" type="radio" name="withdrawal_survey">
									<label for="withdrawal_survey4">주문취소/반품/AS불만</label>
								</div>
								<div class="radio_custom_box mypage_radio_box">
									<input id="withdrawal_survey5" class="radio_input" value="10" type="radio" name="withdrawal_survey">
									<label for="withdrawal_survey5">상품의 선택, 주문 등의 사용이 어려움</label>
								</div>
								<div class="radio_custom_box mypage_radio_box">
									<input id="withdrawal_survey6" class="radio_input" value="10" type="radio" name="withdrawal_survey">
									<label for="withdrawal_survey6">자주 이용하지 않음</label>
								</div>
							</div>
						</div>
						<div class="mypage_each2">
							<div class="custom_textarea">
								<label for="withdrawal_text">위의 항목 이외에 기타 불만사항이나 의견이 있으시면 기재 부탁 드립니다. (0/1000byte)</label>
								<textarea name="" id="withdrawal_text"></textarea>
							</div>
						</div>
						<div class="mypage_each2">
							<ul class="dot_list">
								<li>진행중인 주문, 반품이 있을 시 회원 탈퇴가 불가능 합니다.  해당 사항을 완료 후 탈퇴를 하실 수 있습니다.</li>
							</ul>
						</div>
						<div class="mypage_btn_box">
							<input class="button button--primary button--block button--large modal_trigger" data-modal="withdrawal-modal" type="button" value="회원탈퇴">
						</div>
					</div>
				</li>
				</ul>
			</div>	 
		 </div>
	</div>

	<div id="refund-modal" class="modal modal--light refund-modal" role="dialog" tabindex="-1">
		<div class="modal__overlay" tabindex="-1">
			<div class="modal__card">
				<div class="modal__header">
					<h5 class="modal__title preorder-modal__title">환불계좌 정보</h5>
					<button class="modal__close">
						<span class="visually-hidden">
							Close
						</span> <svg class="icon icon--large icon__close" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M23 12c0-6.075-4.925-11-11-11S1 5.925 1 12s4.925 11 11 11 11-4.925 11-11zM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12zm6.593-2.7l.707-.707 2.7 2.7 2.7-2.7.707.707-2.7 2.7 2.7 2.7-.707.707-2.7-2.7-2.7 2.7-.707-.707 2.7-2.7-2.7-2.7z"></path>
						</svg> </button>
				</div>
				<div class="modal__body">
					<form method="post" action="#">
						<div class="input-block label-block">
							<label class="form-group__label is-hidden" for="refundName">이름</label>
							<input id="refundName" name="refund[name]" placeholder="이름" type="text" value="이현대" readonly>
						</div>
						<div class="input-block">
							<label class="form-group__label is-hidden" for="refundBank">은행선택</label>
							<select name="refund[bank]" id="refundBank" class="toteme-select-style">
								<option value="" selected disabled>은행선택</option>
								<option value="">NH농협은행</option>
								<option value="">KB국민은행 </option>
								<option value="">우리은행</option>
								<option value="">신한은행</option>
								<option value="">IBK기업은행</option>
								<option value="">대구은행</option>
								<option value="">부산은행</option>
								<option value="">우체국</option>
								<option value="">KEB하나은행</option>
								<option value="">경남은행</option>
							</select>
							<p class="comment error" style="display: none;">은행을 선택해주세요.</p>
						</div>
						<div class="input-block addr_form">
							<div>
								<input placeholder="계좌번호" size="30" type="text" name="refund[account]" id="refundAccount">
							</div>
							<div>
								<button type="button" class="button button--large modal_trigger" data-modal="refund-modal2">계좌인증</button>
							</div>
							<p class="comment error" style="display: none;">계좌번호 입력 시(-)를 제외하고 입력해주세요.</p>
						</div>
						<div class="button-block">
							<input class="button button--primary button--block button--large" type="button" value="등록">
						</div>
				 </form>
				</div>
			</div>
		</div>
	</div>
	<div id="refund-modal2" class="modal modal--light sm-modal refund-modal2" role="dialog" tabindex="-1">
		<div class="modal__overlay" tabindex="-1">
			<div class="modal__card">
				<div class="modal__header">
					<h5 class="modal__title preorder-modal__title">계좌인증</h5>
					<button class="modal__close">
						<span class="visually-hidden">
							Close
						</span> <svg class="icon icon--large icon__close" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M23 12c0-6.075-4.925-11-11-11S1 5.925 1 12s4.925 11 11 11 11-4.925 11-11zM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12zm6.593-2.7l.707-.707 2.7 2.7 2.7-2.7.707.707-2.7 2.7 2.7 2.7-.707.707-2.7-2.7-2.7 2.7-.707-.707 2.7-2.7-2.7-2.7z"></path>
						</svg> </button>
				</div>
				<div class="modal__body">
					<ul class="mypage_tit_list">
						<li><span class="tit1">예금주명</span><span class="txt1">박현대</span></li>
						<li><span class="tit1">은행명</span><span class="txt1">우리은행</span></li>
						<li><span class="tit1">계좌번호</span><span class="txt1">25489563451225</span></li>
						<li><span class="tit1">응답메세지</span><span class="txt1">계좌인증성공</span></li>
					</ul>
					<p>내 환불계좌로 등록하시겠습니까?</p>
					<div class="button-block pcs2_vertical">
						<div class="loading-wrap">
							<input class="button button--primary button--block button--large" type="button" value="확인">
							<div class="loader">
								<div class="smiley-spin">
									<svg class="icon icon--medium icon__smiley" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 15.5a7.5 7.5 0 110-15 7.5 7.5 0 010 15zm0-1a6.5 6.5 0 100-13 6.5 6.5 0 000 13zM4.947 9.776l-.894.448a4.413 4.413 0 007.894 0l-.894-.448a3.413 3.413 0 01-6.106 0zM9.5 5h1v2h-1V5zm-3 0h-1v2h1V5z"></path></svg>
								</div>
							</div>
						</div>

						<div class="loading-wrap">
							<input class="button button--primary button--block button--large" type="button" value="취소">
							<div class="loader">
								<div class="smiley-spin">
									<svg class="icon icon--medium icon__smiley" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 15.5a7.5 7.5 0 110-15 7.5 7.5 0 010 15zm0-1a6.5 6.5 0 100-13 6.5 6.5 0 000 13zM4.947 9.776l-.894.448a4.413 4.413 0 007.894 0l-.894-.448a3.413 3.413 0 01-6.106 0zM9.5 5h1v2h-1V5zm-3 0h-1v2h1V5z"></path></svg>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="account-modal" class="modal modal--light account-modal" role="dialog" tabindex="-1">
		<div class="modal__overlay" tabindex="-1">
			<div class="modal__card">
				<div class="modal__header">
					<h5 class="modal__title preorder-modal__title">기본 가상계좌 관리</h5>
					<button class="modal__close">
						<span class="visually-hidden">
							Close
						</span> <svg class="icon icon--large icon__close" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M23 12c0-6.075-4.925-11-11-11S1 5.925 1 12s4.925 11 11 11 11-4.925 11-11zM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12zm6.593-2.7l.707-.707 2.7 2.7 2.7-2.7.707.707-2.7 2.7 2.7 2.7-.707.707-2.7-2.7-2.7 2.7-.707-.707 2.7-2.7-2.7-2.7z"></path>
						</svg> </button>
				</div>
				<div class="modal__body">
					<form method="post" action="#">
						<div class="input-block label-block">
							<label class="form-group__label is-hidden" for="accountBank">은행선택</label>
							<select name="account[bank]" id="accountBank" class="toteme-select-style">
								<option value="" selected disabled>은행선택</option>
								<option value="">NH농협은행</option>
								<option value="">KB국민은행 </option>
								<option value="">우리은행</option>
								<option value="">신한은행</option>
								<option value="">IBK기업은행</option>
								<option value="">대구은행</option>
								<option value="">부산은행</option>
								<option value="">우체국</option>
								<option value="">KEB하나은행</option>
								<option value="">경남은행</option>
							</select>
						</div>
						<div class="input-block label-block">
							<label class="form-group__label is-hidden" for="accountNum">가상계좌</label>
							<input id="accountNum" name="account[num]" placeholder="가상계좌" type="text" value="1234567890" readonly>
						</div>
						<div class="button-block">
							<input class="button button--primary button--block button--large" type="button" value="등록">
						</div>
				 </form>
				</div>
			</div>
		</div>
	</div>
	<div id="receipt1-modal" class="modal modal--light receipt1-modal" role="dialog" tabindex="-1">
		<div class="modal__overlay" tabindex="-1">
			<div class="modal__card">
				<div class="modal__header">
					<h5 class="modal__title preorder-modal__title">소득공제용 현금영수증</h5>
					<button class="modal__close">
						<span class="visually-hidden">
							Close
						</span> <svg class="icon icon--large icon__close" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M23 12c0-6.075-4.925-11-11-11S1 5.925 1 12s4.925 11 11 11 11-4.925 11-11zM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12zm6.593-2.7l.707-.707 2.7 2.7 2.7-2.7.707.707-2.7 2.7 2.7 2.7-.707.707-2.7-2.7-2.7 2.7-.707-.707 2.7-2.7-2.7-2.7z"></path>
						</svg> </button>
				</div>
				<div class="modal__body">
					<form method="post" action="#">
						<div class="input-block label-block">
							<label class="form-group__label is-hidden" for="receipt1">소득공제용(일반개인)</label>
							<input id="receipt1" name="receipt1" placeholder="휴대폰번호" type="text">
						</div>
						<div class="button-block">
							<input class="button button--primary button--block button--large" type="button" value="등록">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="receipt2-modal" class="modal modal--light receipt2-modal" role="dialog" tabindex="-1">
		<div class="modal__overlay" tabindex="-1">
			<div class="modal__card">
				<div class="modal__header">
					<h5 class="modal__title preorder-modal__title">지출증빙용 현금영수증</h5>
					<button class="modal__close">
						<span class="visually-hidden">
							Close
						</span> <svg class="icon icon--large icon__close" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M23 12c0-6.075-4.925-11-11-11S1 5.925 1 12s4.925 11 11 11 11-4.925 11-11zM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12zm6.593-2.7l.707-.707 2.7 2.7 2.7-2.7.707.707-2.7 2.7 2.7 2.7-.707.707-2.7-2.7-2.7 2.7-.707-.707 2.7-2.7-2.7-2.7z"></path>
						</svg> </button>
				</div>
				<div class="modal__body">
					<form method="post" action="#">
						<div class="input-block label-block">
							<label class="form-group__label is-hidden" for="receipt2">지출증빙용(사업자)</label>
							<input id="receipt2" name="receipt2" placeholder="사업자등록번호" type="text">
						</div>
						<div class="button-block">
							<input class="button button--primary button--block button--large" type="button" value="등록">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="login-modal" class="modal modal--light login-modal" role="dialog" tabindex="-1">
		<div class="modal__overlay" tabindex="-1">
			<div class="modal__card">
				<div class="modal__header">
					<h5 class="modal__title preorder-modal__title">개인계정 로그인</h5>
					<button class="modal__close">
						<span class="visually-hidden">
							Close
						</span> <svg class="icon icon--large icon__close" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M23 12c0-6.075-4.925-11-11-11S1 5.925 1 12s4.925 11 11 11 11-4.925 11-11zM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12zm6.593-2.7l.707-.707 2.7 2.7 2.7-2.7.707.707-2.7 2.7 2.7 2.7-.707.707-2.7-2.7-2.7 2.7-.707-.707 2.7-2.7-2.7-2.7z"></path>
						</svg> </button>
				</div>
				<div class="modal__body">
					<form method="post" action="#">
						<!-- login field -->
						<div class="button-block pcs2_vertical">
							<div class="loading-wrap">
								<button class="button button--block button--large">로그인</button> 
								<div class="loader">
									<div class="smiley-spin">
										<svg class="icon icon--medium icon__smiley" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 15.5a7.5 7.5 0 110-15 7.5 7.5 0 010 15zm0-1a6.5 6.5 0 100-13 6.5 6.5 0 000 13zM4.947 9.776l-.894.448a4.413 4.413 0 007.894 0l-.894-.448a3.413 3.413 0 01-6.106 0zM9.5 5h1v2h-1V5zm-3 0h-1v2h1V5z"></path></svg>
									</div>
								</div>
							</div>
							<div class="loading-wrap">
								<button class="button button--block button--large">회원가입</button>
								<div class="loader">
									<div class="smiley-spin">
										<svg class="icon icon--medium icon__smiley" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 15.5a7.5 7.5 0 110-15 7.5 7.5 0 010 15zm0-1a6.5 6.5 0 100-13 6.5 6.5 0 000 13zM4.947 9.776l-.894.448a4.413 4.413 0 007.894 0l-.894-.448a3.413 3.413 0 01-6.106 0zM9.5 5h1v2h-1V5zm-3 0h-1v2h1V5z"></path></svg>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="withdrawal-modal" class="modal modal--light withdrawal-modal" role="dialog" tabindex="-1">
		<div class="modal__overlay" tabindex="-1">
			<div class="modal__card">
				<div class="modal__header">
					<h5 class="modal__title preorder-modal__title">회원탈퇴 재확인</h5>
					<button class="modal__close">
						<span class="visually-hidden">
							Close
						</span> <svg class="icon icon--large icon__close" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M23 12c0-6.075-4.925-11-11-11S1 5.925 1 12s4.925 11 11 11 11-4.925 11-11zM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12zm6.593-2.7l.707-.707 2.7 2.7 2.7-2.7.707.707-2.7 2.7 2.7 2.7-.707.707-2.7-2.7-2.7 2.7-.707-.707 2.7-2.7-2.7-2.7z"></path>
						</svg> </button>
				</div>
				<div class="modal__body">
					<form method="post" action="#">
						<div class="mypage_each">
							<p>‘이현대’님이 보유하고 있는 혜택입니다.<br>
								탈퇴 시 더현대닷컴에서 보유한 혜택이 소멸됩니다.<br>
								다시 한번 고객님의 혜택을 확인하시기 바랍니다.
							</p>
						</div>
						<div class="mypage_each">
							<ul class="withdrawal_list">
								<li><span>쿠폰</span><span>0개</span></li>
								<li><span>더머니</span><span>0점</span></li>
								<li><span>예치금</span><span>50,000원</span></li>
								<li><span>별</span><span>0별</span></li>
							</ul>
							<p>탈퇴하시겠습니까?</p>
						</div>
						<div class="button-block pcs2_vertical">
							<button class="button button--block button--large">확인</button> 
							<div class="loading-wrap">
								<div class="loader">
									<div class="smiley-spin">
										<svg class="icon icon--medium icon__smiley" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 15.5a7.5 7.5 0 110-15 7.5 7.5 0 010 15zm0-1a6.5 6.5 0 100-13 6.5 6.5 0 000 13zM4.947 9.776l-.894.448a4.413 4.413 0 007.894 0l-.894-.448a3.413 3.413 0 01-6.106 0zM9.5 5h1v2h-1V5zm-3 0h-1v2h1V5z"></path></svg>
									</div>
								</div>
							</div>
							<div class="loading-wrap">
								<button class="button button--block button--large">취소</button>
								<div class="loader">
									<div class="smiley-spin">
										<svg class="icon icon--medium icon__smiley" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 15.5a7.5 7.5 0 110-15 7.5 7.5 0 010 15zm0-1a6.5 6.5 0 100-13 6.5 6.5 0 000 13zM4.947 9.776l-.894.448a4.413 4.413 0 007.894 0l-.894-.448a3.413 3.413 0 01-6.106 0zM9.5 5h1v2h-1V5zm-3 0h-1v2h1V5z"></path></svg>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="mypage_hide-modal" class="modal modal--light sm-modal mypage_hide-modal" role="dialog" tabindex="-1">
		<div class="modal__overlay" tabindex="-1">
			<div class="modal__card">
				<div class="modal__header">
					<h5 class="modal__title preorder-modal__title">가려진 정보 보기</h5>
					<button class="modal__close">
						<span class="visually-hidden">
							Close
						</span> <svg class="icon icon--large icon__close" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M23 12c0-6.075-4.925-11-11-11S1 5.925 1 12s4.925 11 11 11 11-4.925 11-11zM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12zm6.593-2.7l.707-.707 2.7 2.7 2.7-2.7.707.707-2.7 2.7 2.7 2.7-.707.707-2.7-2.7-2.7 2.7-.707-.707 2.7-2.7-2.7-2.7z"></path>
						</svg> </button>
				</div>
				<div class="modal__body">
					<p>고객님의 생년월일을 입력해 주세요.<br>
						인증 성공 시, 회원정보 화면의 **** 표시가 해제됩니다.</p>
					<form method="post" action="#">
						<div class="input-block label-block">
							<label class="form-group__label is-hidden" for="birthday1">생년월일</label>
							<input id="birthday1" name="birthday1" placeholder="생년월일 (숫자 8자리 입력 / 예. 20150115)" type="text">
							<p class="comment error">생년월일 8자리를 입력해주세요. (예. 20150115)</p>
						</div>
						<div class="button-block">
							<input class="button button--primary button--block button--large" type="button" value="등록">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="mypage_email-modal" class="modal modal--light sm-modal mypage_email-modal" role="dialog" tabindex="-1">
		<div class="modal__overlay" tabindex="-1">
			<div class="modal__card">
				<div class="modal__header">
					<h5 class="modal__title preorder-modal__title">이메일 인증</h5>
					<button class="modal__close">
						<span class="visually-hidden">
							Close
						</span> <svg class="icon icon--large icon__close" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M23 12c0-6.075-4.925-11-11-11S1 5.925 1 12s4.925 11 11 11 11-4.925 11-11zM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12zm6.593-2.7l.707-.707 2.7 2.7 2.7-2.7.707.707-2.7 2.7 2.7 2.7-.707.707-2.7-2.7-2.7 2.7-.707-.707 2.7-2.7-2.7-2.7z"></path>
						</svg> </button>
				</div>
				<div class="modal__body">
					<form method="post" action="#">
						<div class="input-block email_form">
							<div>
								<input class="field__input" placeholder="이메일" type="text">
							</div>
							<div>
								<select class="toteme-select-style">
									<option value="">naver.com</option>
									<option value="">gmail.com</option>
									<option value="">직접입력</option>
								</select>
							</div>
						</div>
						<p class="comment error">이메일 주소 변경을 위해 입력하신 이메일 주소로 인증메일이 발송되었습니다. <br>인증완료 후 변경완료 버튼을 선택해 주세요.</p>
						<div class="button-block pcs2_vertical">
							<div class="loading-wrap">
								<input class="button button--primary button--block button--large" type="button" value="인증 메일 재발송">
								<div class="loader">
									<div class="smiley-spin">
										<svg class="icon icon--medium icon__smiley" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 15.5a7.5 7.5 0 110-15 7.5 7.5 0 010 15zm0-1a6.5 6.5 0 100-13 6.5 6.5 0 000 13zM4.947 9.776l-.894.448a4.413 4.413 0 007.894 0l-.894-.448a3.413 3.413 0 01-6.106 0zM9.5 5h1v2h-1V5zm-3 0h-1v2h1V5z"></path></svg>
									</div>
								</div>
							</div>
							<div class="loading-wrap">
								<input class="button button--primary button--block button--large" type="button" value="변경 완료">
								<div class="loader">
									<div class="smiley-spin">
										<svg class="icon icon--medium icon__smiley" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8 15.5a7.5 7.5 0 110-15 7.5 7.5 0 010 15zm0-1a6.5 6.5 0 100-13 6.5 6.5 0 000 13zM4.947 9.776l-.894.448a4.413 4.413 0 007.894 0l-.894-.448a3.413 3.413 0 01-6.106 0zM9.5 5h1v2h-1V5zm-3 0h-1v2h1V5z"></path></svg>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div id="mypage_phone-modal" class="modal modal--light sm-modal mypage_phone-modal" role="dialog" tabindex="-1">
		<div class="modal__overlay" tabindex="-1">
			<div class="modal__card">
				<div class="modal__header">
					<h5 class="modal__title preorder-modal__title">휴대폰 인증</h5>
					<button class="modal__close">
						<span class="visually-hidden">
							Close
						</span> <svg class="icon icon--large icon__close" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M23 12c0-6.075-4.925-11-11-11S1 5.925 1 12s4.925 11 11 11 11-4.925 11-11zM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12zm6.593-2.7l.707-.707 2.7 2.7 2.7-2.7.707.707-2.7 2.7 2.7 2.7-.707.707-2.7-2.7-2.7 2.7-.707-.707 2.7-2.7-2.7-2.7z"></path>
						</svg> </button>
				</div>
				<div class="modal__body">
					<form method="post" action="#" class="login_join findpassword">
						<div class="">
							<div class="table-block input-table">
								 <div>
										<input id="CustomerPassword" name="customer[password]" placeholder="휴대폰번호 입력" required="" type="text" data-need="phone" data-need-length="10" numberonly="">
								 </div>
								 <div>
										<input type="button" class="button duplicatebtn" value="인증번호 받기">
								 </div>
								<p class="comment error">휴대폰으로 발송된 인증번호를 입력하세요. (3분이내)<br>
								인증번호가 도착하지 않을 시에는 재발송을 해주세요</p>
							</div>
							<div class="table-block input-table">
								 <div>
										<input id="CustomerPassword" name="customer[password]" placeholder="인증번호 입력" required="" type="text" data-need="authnumber" data-need-length="6" numberonly="">
								 </div>
								 <div>
										<input type="button" class="button duplicatebtn" value="휴대폰 인증">
								 </div>
							</div>
							<div class="text-block sub-description time">
								 <p class="m-font-13">유효시간 <span>03:00</span></p>
							</div>
					 </div>
					 <div class="">
						<div class="text-block infolist">
							 <ul>
									<li>휴대폰으로 발송된 인증번호를 유효시간 내에 입력해주시고, 인증번호가 도착하지 않을 시 재발송을 해주세요.</li>
									<li>입력한 휴대폰번호는 보안 시스템을 통해 안전하게 관리됩니다.</li>
							 </ul>
						</div>
				 </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>