<div class="container mypage">
	<div class="template-account__header">
		안녕하세요, 이현대님
	</div>
	<div class="template-account__wrapper">
		 <div class="template-account__left"></div>
		 <%- include ("./menu/index.ejs",{state:26}) %>
		 <div class="template-account__content">
			<div class="template-account__text_hdtype_1 alert" style="display: none;">
				<div class="rte">
					반품 및 환불
				</div>
			</div>
			<div class="template-mypage__form-wrapper">
				<div class="template-mypage__form">
					<div class="mypage_each">
						<h3 class="mypage_tit1">반품 및 환불</h3>
					</div>
					<p>반품 및 환불 고객이 주문한 상품에 만족하기를 항상 바라지만, 마음에 들지 않을 경우 상품 수령 후 7일 이내의 경우 온라인 스토어 및 고객 센터를 통한 반품 신청이 가능하며 수령 후 7일 경과, 14일 이전의 기간에는 고객 센터를 통한 반품 신청만 가능합니다.</p>
					<p>결제 방식과 동일한 방법으로 전액이 환불됩니다. 반품 진행 시 상품이 깨끗하고 흠이 없고 모든 태그가 부착되어 있어야 합니다. 특히 수영복의 경우 위생 테이프의 손상없이 부착되어 있어야 합니다. </p>
					<p>위생상의 이유로 속옷 및 이어링 제품은 반품이 불가합니다. (결함의 경우 제외)</p>
					<p>온라인 구매 상품은 매장에서 환불이 불가합니다.</p>
					<p>모든 반품 비용은 무료이나, 위생상의 이유로 속옷 및 이어링 제품은 반품이 불가합니다.</p>
				</div>
				<ul class="mypage_toggle_menu">
					<li class="accordion__item">
						<button type="button" class="toggle_tit accordion__control">반품 방법</button>
						<div class="toggle_con_box">
							<p>상품 회수가 완료되면 14일 이내에 환불받을 수 있습니다. 현금으로 결제했다면 반품 완료 시 SMS가 전송됩니다.</p>
							<ul class="dot_list">
								<li>반품 회수 택배사는 CJ대한통운으로 진행되며, 타 택배사를 이용하는 경우 환불이 지연될 수 있습니다.</li>
								<li>기타 다른 방법으로 반품하는 경우 환불이 지연될 수 있습니다.</li>
							</ul>
						</div>
					</li>
					<li class="accordion__item">
						<button type="button" class="toggle_tit accordion__control">반품 시 유의사항</button>
						<div class="toggle_con_box">
							<p>반품은 상품이 완전한 상태여야 가능합니다. 다시 말해, 상품은 데오드란트나 향수 또는 화장 자국 등이 없이 깨끗해야 하고, 닳거나 빨래한 적도 없는 상태여야 합니다. 판매 불가 상태로 반환된 상품은 환불되지 않으며 고객에게 반송될 수 있습니다.</p>
							<p>신발은 바닥이 손상되지 않도록 표면이 부드러운 카펫이 깔린 곳에서 착용 바랍니다. 반품을 결심했으면 배송된 신발 상자에 상품을 넣어주세요. 상자도 상품의 일부입니다. 그리고 또 다른 두꺼운 상자에 넣어 포장해주세요. 배송 시 사용된 외부 포장 상자를 그대로 사용하는 것을 추천합니다.</p>
						</div>
					</li>
					<li class="accordion__item">
						<button type="button" class="toggle_tit accordion__control">환불</button>
						<div class="toggle_con_box">
							<p>카드 결제:<br>
								Totême에서 반품 처리 진행이 완료된 후 은행에서 환불 절차가 진행됩니다. 카드 환급은 은행 처리 시간에 따라 영업일 기준 최대 10일 정도 소요됩니다. 이러한 점은 Totême이 해결할 수 없는 점 양해 바랍니다.</p>
							<p>현금(무통장 입금) 결제:<br>
								9시-15시 사이에 접수된 환불은 당일에 처리되며, 15시 이후 또는 다음날 9시까지 접수된 환불은 다음날에 처리됩니다. 토/일요일 및 공휴일의 환불 접수는 마지막 공휴일 기준 다음날에 처리됩니다.
								</p>
							<p>현금(실시간 계좌 이체) 결제:<br>
								영업일 기준 다음날에 환불이 진행됩니다.
								</p>
							<p>간편결제:<br>
								등록된 카드사 또는 계좌에 따라 다르나, 계좌의 경우 영업일 기준 다음날에 환불 절차가 진행됩니다.</p>
							<p>휴대폰 결제:<br>
								주문 당월에 반품 신청 시 당월결제 내역에서 취소됩니다. 다음 달에 취소 시에는 현금 환불만 가능하며, 영업일 기준(토, 일, 공휴일 제외) 익일 환불이 진행됩니다.</p>
							<p>예치금:<br>
								Totême에서 반품 처리 진행이 완료된 후 바로 부여됩니다.</p>
						</div>
					</li>
				</ul>
				<div class="button-block">
					<input class="button button--primary button--block button--large" type="button" value="반품 하러 가기">
				</div>
			</div>
					 
		 </div>
	</div>
</div>