<div class="container mypage">
	<div class="template-account__header">
		안녕하세요, 이현대님
	</div>
	<div class="template-account__wrapper">
		 <div class="template-account__left"></div>
		 <%- include ("./menu/index.ejs",{state:22}) %>
		 <div class="template-account__content">
				<div class="template-mypage__form mypage_address_list">
					<div class="mypage_each">
						<p class="mypage_address_text">등록된 배송지가 없습니다.</p>
					</div>
					<div class="button-block">
						<button class="button button--large button--block" href="#" type="button">
							새 배송지 추가
						</button>
					</div>
				</div>
			</div>
		
	</div>
</div>