<div class="container mypage">
	<div class="template-account__header">
		안녕하세요, 이현대님
	</div>
	<div class="template-account__wrapper">
		 <div class="template-account__left"></div>
		 <%- include ("./menu/index.ejs",{state:21}) %>
		 <div class="template-account__content">
			<div class="template-account__text_hdtype_1 alert title" style="display: none;">
				<div class="rte">
					<p class="error">비밀번호를 입력해 주세요.</p>
				</div>
			</div>
			<div class="template-mypage__form-wrapper">
				<div class="template-mypage__form">
					<div class="mypage_each">
						<h3 class="mypage_tit1">회원정보</h3>
					</div>
					<div class="mypage_each">
						<ul class="mypage_tit_list">
							<li><span class="tit1">아이디</span> <span class="txt">hyu**@*************</span></li>
							<li><span class="tit1">이름</span> <span class="txt">박*대</span></li>
							<li><span class="tit1">이메일</span> <span class="txt">hyu**@*************</span></li>
							<li><span class="tit1">휴대폰</span> <span class="txt">010-****-2345</span></li>
						</ul>
					</div>
					<div class="mypage_each mypage_pw_input">
						<div class="input-block">
							<input placeholder="비밀번호" class="field__input" type="text" name="password" id="password" title="비밀번호 입력">
						</div>
						<div class="text-block sub-description">
							<p>고객님의 소중한 회원정보를 확인/변경 하기 위해 비밀번호 재확인이 필요합니다.</p>
							<p>카카오 로그인 등으로 가입하신 고객님은, 로그아웃 후 '비밀번호 찾기'를 통해 비밀번호 재설정이 필요합니다.</p>
						</div>
					</div>
					<div class="mypage_btn_box">
						<input class="button button--primary button--block button--large" type="button" value="회원정보 변경">
					</div>
				</div>

			</div>
					 
		 </div>
	</div>
</div>