<div class="container mypage checkout">
	<div class="template-account__header">
		안녕하세요, 이현대님
	</div>
	<div class="template-account__wrapper">
		 <div class="template-account__left"></div>
		 <%- include ("./menu/index.ejs",{state:26}) %>
		 <div class="template-account__content">
			<div class="template-account__text_hdtype_1 alert title" style="display: none;">
				<div class="rte">
					<p class="error">받는 사람을 입력해 주세요.</p>
				</div>
			</div>
			<div class="template-mypage__form-wrapper receipt_wrap">
				<div class="wk-row">
					<p class="empty-orders">발행 가능한 영수증 및 세금계산서가 없습니다.</p>
				</div>
			</div>
					 
		 </div>
	</div>

