<div class="container mypage">
	<div class="template-account__header">
		안녕하세요, 이현대님
	</div>
	<div class="template-account__wrapper">
		 <div class="template-account__left"></div>
		 <%- include ("./menu/index.ejs",{state:22}) %>
		 <div class="template-account__content">
				<div class="template-mypage__form mypage_address_list">
					<h3 class="mypage_tit1">배송지 목록</h3>
					<div class="mypage_each">
						<p class="mypage_address_text">이현대 [기본배송지]<br>010-0000-0000<br>12345 서울 강남구 청담동 123-4 현대빌딩 3층</p>
							<button class="a_link" type="button">
								수정
							</button>
					</div>
					<div class="mypage_each">
						<p class="mypage_address_text">이현대 <br>010-0000-0000<br>12345 서울 강남구 청담동 123-4 현대빌딩 3층</p>
							<button class="a_link" type="button">
								수정
							</button>
							<button class="a_link" type="button">
								삭제
							</button>
					</div>
					<div class="button-block">
						<button class="button button--large button--block" href="#" type="button">
							새 배송지 추가
						</button>
					</div>
				</div>
			</div>
		
	</div>
</div>