<div class="container mypage">
	<div class="template-account__header">
		안녕하세요, 이현대님
	</div>
	<div class="template-account__wrapper">
		 <div class="template-account__left"></div>
		 <%- include ("./menu/index.ejs",{state:22}) %>
		 <div class="template-account__content">
				<div class="template-addresses__list">
					<div class="template-addresses__item">
						<div class="row">
							<div class="col xs6">
								<h3>배송지 목록</h3>
							</div>
							<div class="col xs6">
								<p>이현대 [기본배송지]<br>010-0000-0000<br>12345 서울 강남구 청담동 123-4 현대빌딩 3층</p>
								<button class="text-link is-active" type="button">
									수정
								</button>
								<button class="text-link is-active" type="button">
									삭제
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="template-addresses__list template-addresses__list--additional">
					<div js-addresses="additionalToggle">
						<div class="row">
							<div class="col xs6">
								<!-- <h3>Additional addresses</h3> -->
							</div>
							<div class="col xs6">
								<div class="template-addresses__action">
									<button class="text-link is-active" href="javascript:;" type="button" js-addresses="newFormToggle">
										새 배송지 추가
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		
	</div>
</div>