<div class="container mypage">
	<div class="template-account__header">
		안녕하세요, 이현대님
	</div>
	<div class="template-account__wrapper template-wishlist">
		<div class="template-account__left"></div>
		<%- include ("./menu/index.ejs",{state:24}) %>
		<div class="template-account__content">
			<div class="wishlist-collection">
				<div class="wk-row">
					<div class="wk-item-column">
						<div class="wk-item">
							<div class="wk-image">
								<a href="#" class="wk-variant-link wk-content" title="View product">
									<img class="wk-variant-image" src="../assets/wishlist1.jpg" alt="Small leather pouch">
								</a>
							</div>
							<div class="wk-item__content">
								<div class="wk-product-title">
									<a href="/products/small-leather-pouch?variant=39095646879895" class="wk-variant-link" title="View product">스몰 레더 파우치</a>
								</div>
								<div class="wk-purchase">
									<span class="wk-price wk-price-preview"><span><span class="money">389,000 원</span></span></span></div>
								<button type="button" class="wk-button-wishlist-page wk-remove-item wk-with-hover" title="Remove from list">
									<div class="">
										<svg class="icon icon--large icon__close" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd"
												d="M23 12c0-6.075-4.925-11-11-11S1 5.925 1 12s4.925 11 11 11 11-4.925 11-11zM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12zm6.593-2.7l.707-.707 2.7 2.7 2.7-2.7.707.707-2.7 2.7 2.7 2.7-.707.707-2.7-2.7-2.7 2.7-.707-.707 2.7-2.7-2.7-2.7z">
											</path>
										</svg>
									</div>
								</button>
							</div>
						</div>
					</div>
					<div class="wk-item-column">
						<div class="wk-item">
							<div class="wk-image">
								<a href="#" class="wk-variant-link wk-content"
									title="View product">
									<img class="wk-variant-image"
										src="../assets/wishlist2.jpg"
										alt="Bouclé tweed jacket creme">
								</a>
							</div>
							<div class="wk-item__content">
								<div class="wk-product-title">
									<a href="#" class="wk-variant-link"
										title="View product">부 클레 트위드 자켓 크림</a>
								</div>
								<div class="wk-purchase">
									<span class="wk-price wk-price-preview"><span><span class="money">589,000 원</span></span></span></div>
								<button type="button" class="wk-button-wishlist-page wk-remove-item wk-with-hover" title="Remove from list">
									<div class="">
										<svg class="icon icon--large icon__close"  viewBox="0 0 24 24" fill="none"
											xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd"
												d="M23 12c0-6.075-4.925-11-11-11S1 5.925 1 12s4.925 11 11 11 11-4.925 11-11zM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12zm6.593-2.7l.707-.707 2.7 2.7 2.7-2.7.707.707-2.7 2.7 2.7 2.7-.707.707-2.7-2.7-2.7 2.7-.707-.707 2.7-2.7-2.7-2.7z">
											</path>
										</svg>
									</div>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>