<section class="custom-module custom-module--page-header custom-module--border-inner-dark custom-module--border-outer-dark custom-module--no-crop">
	<div class="custom-module__header">
		<h1 class="custom-module__title text-small">
			Totême
		</h1>
	</div>
</section>
<section class="custom-module custom-module--text-and-navigation custom-module--border-inner-dark custom-module--border-outer-dark custom-module--no-crop">
	<div class="custom-module__container">
		<div class="custom-module__text-column custom-module__text-column--nav">
			<ul class="custom-module__navlist navlist">
				<li class="navlist__item">
					<a class="navlist__link text-link text-link--static" href="/pages/our-story">
						About
					</a>
				</li>
				<li class="navlist__item">
					<a class="navlist__link text-link" href="/pages/stores">
						매장 안내
					</a>
				</li>
				<li class="navlist__item">
					<a class="navlist__link text-link " href="/pages/sustainability">
						지속 가능성
					</a>
				</li>
				<!-- <li class="navlist__item">
					<a class="navlist__link text-link" href="/pages/careers">
						Careers
					</a>
				</li> -->
			</ul>
			<div class="custom-module__nav-dropdown select__container">
				<div class="custom-select__wrapper">
					<select class="custom-module__nav-select select--center custom-select__select" style="background-image: url(../assets/icon-small-arrow-down.svg);">
						<option value="/pages/our-story" selected="selected">
							About
						</option>
						<option value="/pages/stores">
							매장 안내
						</option>
						<option value="/pages/sustainability">
							지속 가능성
						</option>
						<!-- <option value="/pages/careers">
							Careers
						</option> -->
					</select><span class="custom-select__label text-small">
						About
					</span></div>
				<span class="select__current-title"></span>
			</div>
		</div>
		<div class="custom-module__text-column custom-module__text-column--content rte about_toteme">
			<p>Totême 은 독특한 미적감각을 살린 스타일 유니버스입니다. 스톡홀름에 기반을 둔 이 레이블은 뚜렷한 디자인, 꼼꼼한 장인정신, 그리고 체계적인 반복을 통해 모던 유니폼의 매력을 탐구합니다. 여성의 삶과 필요에 영감을 받아, 그들이 목표로 하는 것을 서포트 하는 드레스코드와 옷장을 정의할 야망을 품고있습니다.</p>
			<div style="text-align: center;"><img
					src="../assets/about1.jpg"
					alt="Elin Kling &amp; Karl Lindman" style='width:240px; padding-bottom:0px !important'></div>
			<p style="font-size: 11px; line-height: 15px; padding-top: .25rem;text-align: center;">엘린 클링과 칼 린드먼 (Elin Kling and Karl Lindman)</p>
			<p>확실한 관점 및 디자인 DNA를 통해 진행된 에딧은, 시그니쳐 스타일과 조명된 옵션들을 중심으로 이루어집니다. 그것은 각기 다른 경우에 맞게 스타일링되고 제안되는 강한 정체성을 지닌 상징적인 작품들입니다. 이 룩은 꼼꼼하게 세심하게 제작되며,  뚜렷한 실루엣, 완벽한 재단, 고급 패브릭 등으로 확인 가능합니다. 유행을 초월한 옷장을 선보일 수 있게끔, 시간이 지남에 따라 제품들은 미묘하게 세련되고 변형될 겁니다.</p>
			<l>Totême 2014년 엘린 클링과 칼 린드먼에 의해 설립되었습니다.</l>
		</div>
	</div>
</section>
