<section class="custom-module custom-module--page-header custom-module--border-inner-dark custom-module--border-outer-dark">
	<div class="custom-module__header">
		<h1 class="custom-module__title text-small">
			Biblioteksgatan no.5
		</h1>
	</div>
</section>
<section class="custom-module custom-module--text-and-navigation custom-module--border-inner-dark custom-module--border-outer-dark custom-module--no-crop">
	<div class="custom-module__container">
		<div class="custom-module__text-column custom-module__text-column--nav">
			<ul class="custom-module__navlist navlist">
				<li class="navlist__item">
					<a class="navlist__link text-link" href="/pages/our-story">
						About
					</a>
				</li>
				<li class="navlist__item">
					<a class="navlist__link text-link" href="/pages/stores">
						매장안내
					</a>
				</li>
				<li class="navlist__item">
					<a class="navlist__link text-link text-link--static" href="/pages/biblioteksgatan-no-5">
						Biblioteksgatan no.5
					</a>
				</li>
				<li class="navlist__item navlist__item--margin">
					<a class="navlist__link text-link" href="/pages/nordiska-kompaniet">
						Nordiska Kompaniet
					</a>
				</li>
				<li class="navlist__item">
					<a class="navlist__link text-link" href="/pages/sustainability">
						지속가능성
					</a>
				</li>
				<!-- <li class="navlist__item">
					<a class="navlist__link text-link" href="/pages/careers">
						Careers
					</a>
				</li> -->
			</ul>
			<div class="custom-module__nav-dropdown select__container">
				<div class="custom-select__wrapper">
					<select class="custom-module__nav-select select--center custom-select__select"
						style="background-image: url(../assets/icon-small-arrow-down.svg);">
						<option value="/pages/our-story">
							About
						</option>
						<option value="/pages/stores">
							매장안내
						</option>
						<option value="/pages/stores" selected="selected">
							Biblioteksgatan no.5
						</option>
						<option value="/pages/stores">
							Nordiska Kompaniet
						</option>
						<option value="/pages/sustainability">
							지속가능성
						</option>
						<!-- <option value="/pages/careers">
							Careers
						</option> -->
					</select><span class="custom-select__label text-small">
						Biblioteksgatan no.5
					</span></div>
				<span class="select__current-title"></span>
			</div>
		</div>
		<div class="custom-module__text-column custom-module__text-column--content rte about_store">
			<p>스톡홀름 중심부에 위치한 Biblioteksgatan 5의 Totême 스토어는 Totême 여성의 세계를 실현했습니다. Upper East 타운 하우스에서 영감을 받은 이 공간은 7년 전 토템이 태어난 뉴욕을 기리는 공간입니다. 1층에서는 로비와 리셉션을 만나보실 수 있으며, 1층 홈은 도서관, 거실, 침실, 워크인 옷장 등 네개의 공간으로 나뉘어집니다.</p>
			<figure style="text-align: center;">
				<img src="../assets/about2.jpg"
					alt="Totême Biblioteksgatan no.5 store"><br>
					<figcaption>Interior by Halleroed</figcaption>
			</figure>
			<p>Biblioteksgatan 5의 Totême 스토어는 유명 건축가 Halleroed와의 긴밀한 협력을 통해 완성되었습니다.</p>
			<hr class="wp-block-separator">
			<h3>운영 시간</h3>
			<p>월 - 금 : 11am – 6pm<br>토 : 11am – 5pm<br>일 : 12pm – 4pm<br><br>Biblioteksgatan 5 스토어는 "안전한 쇼핑"을 위해 월요일부터 토요일까지는 오전 10시-11시에 문을 엽니다. 이 시간 동안 매장 내 방문 고객 수는 5명 이내로 제한되며, 입장 고객 전원 마스크를 착용하고, 손 세정제를 사용하며, 비접촉식 온도계를 통해 체온을 측정해야 합니다.</p>
			<hr class="wp-block-separator">
			<h3>매장 위치</h3>
			<p>Biblioteksgatan 5<br>111 44 Stockholm<br>Sweden</p>
			<div class="wp-block-button"><a class="wp-block-button__link" target="_blank" href="https://www.google.se/maps/place/Tot%C3%AAme/@59.3346233,18.0704652,17z/data=!3m1!4b1!4m5!3m4!1s0x465f9df0701b0e3f:0xd2d79ed18c314579!8m2!3d59.3346233!4d18.0726539">위치보기</a></div>
		</div>
	</div>
</section>
<section class="custom-module custom-module--1-bkgd-1-section custom-module--has-background custom-module--text-color-dark custom-module--border-inner-dark custom-module--border-outer-dark">
	<div class="custom-module__background custom-module__background--is-full">
		<div class="responsive-image__wrapper custom-module__background-image-wrapper" data-image-id="466981978263">
			<span style="display: block; padding-top:75.0%;" aria-hidden="true"></span>
			<img
				class="responsive-image__image custom-module__background-image" alt=""
				src="../assets/about3.jpg">
		</div>
	</div>
	<div class="custom-module__container">
		<div class="custom-module__content custom-module__content--section-1 custom-module__content--col-24">
			<div class="custom-module__content-wrapper">
			</div>
		</div>
	</div>
</section>
